<!-- https://www.ncbi.nlm.nih.gov/pubmed/16551711 et https://www.ncbi.nlm.nih.gov/pubmed/8232456-->
<p>MET = metabolic equivalent of task (équivalent métabolique) soit 3,5 mL O<sub>2</sub>/kg/min (= 1 kcal/kg/h.).</p>
<div class="data-table my-5" role="region" aria-labelledby="table-activite-intensite" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-activite-intensite" itemprop="about"><span class="font-weight-bold">Tableau.</span> Classification des niveaux d’intensité d’activités physiques et exemples d’après ESC 2021.</caption>
  <thead>
    <tr>
      <th scope="col">Intensité</th>
      <th scope="col" class="text-right">MET</th>
      <th scope="col">Exemple</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Légère</th>
      <td class="text-right">1,1-2,9</td>
      <td>Marche &lt; 4,7 km/h, activités quotidiennes</td>
    </tr>
    <tr>
      <th scope="row">Modérée</th>
      <td class="text-right">3-5,9</td>
      <td>Marche rapide (4,1-6,5 km/h), vélo détendu (15 km/h), peinture/décoration, aspirateur, jardinage, golf, tennis double, danse de salon, natation</td>
    </tr>
    <tr>
      <th scope="row">Intense</th>
      <td class="text-right">≥ 6</td>
      <td>Course à pied, vélo +15 km/h, jardinage intense (bêchage), nage rapide, tennis simple</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p>
    <a
      lang="en"
      href="https://academic.oup.com/eurheartj/article/42/34/3227/6358713"
      rel="external nofollow noopener"
      >Visseren F, et al. 2021 ESC Guidelines on
      cardiovascular disease prevention in clinical practice: Developed by the
      Task Force for cardiovascular disease prevention in clinical practice with
      representatives of the European Society of Cardiology and 12 medical
      societies With the special contribution of the European Association of
      Preventive Cardiology (EAPC). European Heart Journal. 2021.</a
    >
  </p>
</blockquote>