<ol>
  <li>
    Présence d'un ou plusieurs symptômes/signes parmi:
    <ol class="list-letters">
      <li>
        Cutanés: urticaire (localisée), érythème avec sensation de chaleur,
        prurit, picotements, démangeaisons des lèvres
      </li>
      <li>
        OU voies respiratoires supérieures: symptômes nasaux (ex. éternuements,
        rhinorrhée, prurit nasal et/ou congestion nasale), démangeaison de la
        gorge, toux non liée à un bronchospasme
      </li>
      <li>OU signes conjonctivaux : érythème, prurit ou larmoiement</li>
    </ol>
  </li>
  <li>Exanthème maculopapuleux sans atteinte d'organe</li>
  <li>
    OU autres: nausées, goût métallique, symptômes gastro-intestinaux (ex.
    douleurs abdominales de type crampes, vomissements répétés)
  </li>
  <li>OU tout autre symptôme non sévère</li>
</ol>