<ul>
  <li>Carence d’apports
  <ul>
  <li><a href="/recommandations/regime-vegetarien-vegetalien/">Régimes végétalien</a> (vegan) et végétarien sans lait</li>
  <li>Allergie aux œufs, lait ou poisson</li>
  <li>Régime alimentaire non diversifié</li>
  <li>Anorexie mentale</li>
  </ul>
  </li>
  <li>Antécédents familiaux de déficit en vitamine B12 ou de maladie auto-immune</li>
  <li>Comorbidités
  <ul>
  <li>Maladie de Biermer (gastrite auto-immune) ou autre gastrite atrophique</li>
  <li><a href="/recommandations/maladie-coeliaque/">Maladie cœliaque</a>, <a href="/tags/tsh/">dysthyroïdie</a> auto-immune (Hashimoto, Basedow), <a href="/recommandations/diabete-type-1/">diabète type 1</a></li>
  </ul>
  </li>
  <li>Médicament à risque<br>
  <strong>Metformine</strong>, IPP et antihistaminique H2, colchicine, phénobarbital, prégabaline, primidone, topiramate.</li>
  <li>Radiothérapie abdominale ou pelvienne</li>
  <li>Chirurgie gastro-intestinale<br>
  Chirurgie bariatrique, gastrectomie (<a href="/recommandations/cancer-estomac/">cancer de l’estomac</a>) ou résection de l’iléon terminal.</li>
  <li>Toxique: protoxyde d’azote</li>
</ul>