<ul>
  <li>Anémie ou macrocytose (VGM &gt; 100 fl) non expliquée</li>
  <li>Troubles de concentration, troubles de la mémoire à court terme</li>
  <li>Délire, démence</li>
  <li>Atteinte du nerf optique: vision floue, atrophie du nerf optique, scotome</li>
  <li>Glossite</li>
  <li>Neuropathie périphérique ou myélopathie</li>
  <li>Troubles de l’équilibre par déficit de la proprioception</li>
  <li>Troubles de la marche</li>
  <li>Paresthésies</li>
  <li><a href="/tags/fatigue/">Fatigue</a> inexpliquée</li>
</ul>