<div class="data-table" role="region" aria-labelledby="table-sarcopenie" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-sarcopenie" itemprop="about"><span class="font-weight-bold">Tableau. </span>Critères EWGSOP de définition de la sarcopenie</caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="text-right">Femme</th>
      <th scope="col" class="text-right">Homme</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3"><span class="font-weight-bold">Force musculaire</span> (≥ 1 critère)</td>
    </tr>
    <tr>
      <th scope="row">5 levers de chaise (secondes)</th>
      <td colspan="2" class="text-center">&gt; 15</td>
    </tr>
    <tr>
      <th scope="row"><a href="https://www.sfncm.org/images/stories/Outils/SFNCM-Fiche_handgrip_A5_HD.pdf" rel="external nofollow noopener">Force de préhension (kg)</a></th>
      <td class="text-right">&lt; 16</td>
      <td class="text-right">&lt; 27</td>
    </tr>
    <tr>
      <td colspan="3"><span class="font-weight-bold">ET réduction de la masse musculaire</span> (≥ 1 critère)</td>
    </tr>
    <tr>
      <th scope="row">Masse musculaire appendiculaire (kg)</th>
      <td class="text-right">&lt; 15</td>
      <td class="text-right">&lt; 20</td>
    </tr>
    <tr>
      <th scope="row">Index de masse musculaire appendiculaire (kg/m²)</th>
      <td class="text-right">&lt; 5,5</td>
      <td class="text-right">&lt; 7</td>
    </tr>
  </tbody>
  </table>
</div>
<p>Outils pour la mesure de la masse musculaire: DEXA et impédancemétrie.<br>
<strong>Tour de mollet &lt; 31 cm</strong> également valable.</p>
<blockquote>
  <p>EWGSOP 2019, FFN 2021</p>
</blockquote>