<p>Indications au dépistage du cancer du canal anal:</p>
<ul>
  <li>HSH VIH+ de plus de 30 ans</li>
  <li>Femme VIH+ (FVVIH) avec antécédents de lésions (pré)-cancéreuses de la vulve</li>
  <li>FVVIH transplantée d’organe solide depuis plus de 10 ans</li>
  <li>FVVIH de plus de 30 ans avec antécédent de dysplasie de haut grade ou cancer du col de l’utérus</li>
  <li>Antécédent de condylome</li>
  <li>Femme avec antécédent de dysplasie/cancer du col de l’utérus</li>
</ul>
<p>
  <strong>Méthode:</strong> en cas de VIH, test <strong>HPV 16</strong> tous les 5 ans avec avis spécialisé si positivité.<br>
  Sinon par examen de la marge anale, toucher rectal et anuscopie simple.<br>
  Examen répété au moins tous les 2 ans (ou plus fréquemment selon l’avis du proctologue).
</p>
<blockquote>
  <p>ANRS, CNS. Dépistage et prise en charge des cancers chez les personnes vivant avec le VIH. 2024.</p>
</blockquote>