<script type="application/ld+json">{"@context": "https://schema.org","@type": "Table","about": "Critères pour définir une grossesse extra-utérine (GEU) non active, peu active ou active. La progestéronémie est facultative"}</script>
<div class="data-table" tabindex="0" role="region" aria-labelledby="caption-ectopic-criteria">
<table class="table  table-wrap">
  <caption id="caption-ectopic-criteria">
    <strong>Tableau 1.</strong> Critères pour définir une grossesse extra-utérine (GEU) non active, peu active ou active. La progestéronémie est facultative.
  </caption>
  <thead>
      <tr>
          <th scope="col">Paramètre</th>
          <th scope="col">GEU non active</th>
          <th scope="col">GEU peu active</th>
          <th scope="col">GEU active</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row"><strong>Validité</strong></th>
          <td>Tous critères présents</td>
          <td>Par défaut</td>
          <td>≥ 1 critère</td>
      </tr>
      <tr>
          <th scope="row"><strong>ßhCG</strong> (mUI/mL)</th>
          <td>&lt; 1000</td>
          <td>1000 - 5000</td>
          <td>&gt; 5000</td>
      </tr>
      <tr>
          <th scope="row">Progestéronémie (nmol/mL)</th>
          <td>&lt; 2</td>
          <td>2-10</td>
          <td>&gt; 10</td>
      </tr>
      <tr>
          <th scope="row"><strong>Taille</strong> (mm)</th>
          <td>&lt; 35</td>
          <td>&lt; 35</td>
          <td>≥ 35</td>
      </tr>
      <tr>
          <th scope="row"><strong>Activité cardiaque</strong></th>
          <td>Non</td>
          <td>Non</td>
          <td>Oui</td>
      </tr>
      <tr>
          <th scope="row"><strong>Épanchement intra-abdominal</strong></th>
          <td>Non</td>
          <td>Non</td>
          <td>Oui</td>
      </tr>
  </tbody>
</table>
</div>
<blockquote>
  <p>
    <a
      lang="en"
      href="https://www.sciencedirect.com/science/article/pii/S2468718925003770"
      rel="external nofollow noopener"
      >Agostini A, Legendre G, Margueritte F, et al. Prise en charge thérapeutique des grossesses extra-utérines tubaires : recommandations pour la pratique clinique du Collège national des gynécologues et obstétriciens français et de la Société de chirurgie gynécologique et pelvienne. Gynecol Obstet Fertil Senol. 2026.</a
    >
  </p>
</blockquote>