<ul>
  <li>
    <strong>Facteur de risque majeur persistant</strong><br>
    L’évènement thromboembolique veineux (ETEV) est dit
    <strong>"provoqué"</strong> en présence de facteur de risque
    majeur.
    <ul>
      <li>Cancer actif</li>
    </ul>
  </li>
  <li>
    <strong>Facteur de risque majeur transitoire</strong>
    <ul>
      <li>Chirurgie sous AG &gt; 30 minutes dans les 90 jours</li>
      <li>Fracture des membres inférieurs dans les 90 jours</li>
      <li>
        Immobilisation &gt; 3 jours pour pathologie aiguë dans les 90 jours
      </li>
      <li>Contraception œstroprogestative et THM</li>
      <li>Grossesse et post-partum</li>
    </ul>
  </li>
  <li>
    <strong>Facteur de risque mineur persistant</strong><br>
    L’évènement thromboembolique veineux (ETEV) est dit
    <strong>"non provoqué"</strong> en présence de facteur de
    risque mineur.
    <ul>
      <li>MICI (Crohn, RCH)</li>
    </ul>
  </li>
  <li>
    <strong>Facteur de risque mineur transitoire</strong>
    <ul>
      <li>Chirurgie sous AG &lt; 30 minutes dans les 60 jours</li>
      <li>
        Traumatisme d’un membre inférieur non plâtré avec mobilité réduite ≥ 3
        jours
      </li>
      <li>
        Immobilisation &lt; 3 jours pour pathologie aiguë dans les 60 jours
      </li>
      <li>Voyage &gt; 6 heures</li>
    </ul>
  </li>
</ul>