<ul>
  <li><strong>Facteur de risque majeur transitoire</strong>
    <ul>
      <li>Chirurgie sous AG ≥ 30 minutes dans les 90 jours</li>
      <li>Hospitalisation pour pathologie aiguë ≥ 72 heures avec alitement dans les 90 jours</li>
      <li>Césarienne dans les 90 jours</li>
      <li>Fracture d’un membre inférieur dans les 90 jours</li>
    </ul>
  </li>
  <li>
    <strong>Facteur de risque mineur transitoire</strong>
    <ul>
      <li>Chirurgie sous AG &lt; 30 minutes dans les 60 jours</li>
      <li>Hospitalisation pour pathologie aiguë &lt; 3 jours dans les 60 jours</li>
      <li>Œstrogénothérapie (traitement hormonal ou contraceptif)</li>
      <li>Grossesse ou post-partum</li>
      <li>Alitement ambulatoire pour pathologie aiguë pendant ≥ 72 heures dans les 60 jours</li>
      <li>Traumatisme du membre inférieur avec mobilité réduite ≥ 72 heures</li>
    </ul>
  </li>
  <li>
    <strong>Facteur de risque persistant</strong>
    <ul>
      <li>MICI (Crohn, RCH)</li>
      <li>Cancer actif (absence de guérison)</li>
      <li>Maladie auto-immune (ex. polyarthrite rhumatoïde, lupus systémique</li>
      <li>Immobilité chronique</li>
    </ul>
  </li>
</ul>
<blockquote class="mt-4">
  <p><a href="https://www.ahajournals.org/doi/10.1161/CIR.0000000000001415" rel="external nofollow noopener">Writing Committee Members*, Creager MA, et al. 2026 AHA/ACC/ACCP/ACEP/CHEST/SCAI/SHM/SIR/SVM/SVN Guideline for the Evaluation and Management of Acute Pulmonary Embolism in Adults: A Report of the American College of Cardiology/American Heart Association Joint Committee on Clinical Practice Guidelines. Circulation. 2026.</a></p>
   citant <a href="https://www.jthjournal.org/article/S1538-7836(22)04659-1/fulltext" rel="external nofollow noopener">Kearon C, Ageno W, Cannegieter SC, et al. Categorization of patients as having provoked or unprovoked venous thromboembolism: guidance from the SSC of ISTH. J Thromb Haemost. 2016;14(7):1480-1483. doi:10.1111/jth.13336</a></p>
</blockquote>