<p>
  Signes et symptômes observés lors de l’atteinte du faisceau pyramidal
  (motricité volontaire):
</p>
<ul>
  <li>
    Signes déficitaires
    <ul>
      <li>Faiblesse motrice</li>
      <li>
        Claudication motrice intermittente (atteinte médullaire surtout)<br />
        Sensation de contracture ou raideur après un certain périmètre de
        marche, troubles de la phonation ou de la déglutition, mictions
        impérieuses.
      </li>
    </ul>
  </li>
</ul>
<p>Anomalies de l’examen moteur observées à l’examen clinique:</p>
<ul>
  <li>Bras: signe de barré</li>
</ul>