<div
  class="data-table"
  role="region"
  tabindex="0"
  aria-labelledby="table-caption-t-418326957"
>
  <table
    class="table table-wrap"
    id="t-418326957"
    itemscope=""
    itemtype="https://schema.org/Table"
  >
    <caption id="table-caption-t-418326957" itemprop="about">
      <b>Tableau.</b>
      Développement mammaire selon Tanner.
    </caption>
    <tbody>
      <tr>
        <th class="border-top-0" scope="row">S1</th>
        <td class="border-top-0">Absence de développement mammaire</td>
      </tr>
      <tr>
        <th scope="row">S2</th>
        <td>Petit bourgeon mammaire avec élargissement de l’aréole</td>
      </tr>
      <tr>
        <th scope="row">S3</th>
        <td>La glande mammaire dépasse la surface de l’aréole</td>
      </tr>
      <tr>
        <th scope="row">S4</th>
        <td>
          Développement maximal du sein (apparition d’un sillon
          sous-mammaire)<br>Saillie de l’aréole et du mamelon sur la glande
        </td>
      </tr>
      <tr>
        <th scope="row">S5</th>
        <td>Aspect adulte<br>Disparition de la saillie de l’aréole</td>
      </tr>
    </tbody>
  </table>
</div>