<script type="application/ld+json">
{{ if .IsHome }}
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ .Permalink }}", 
    "name": "{{ .Site.Title | markdownify }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
    "description": "{{ .Site.Params.description }}",
  }
{{ end }}
{{ if eq .Section "recommandations" }}
  {
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Site.BaseURL }}"
      },
    "articleSection" : "{{ .Section | humanize }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "author" : "{{with .Params.auteurs}}{{delimit . ", " }}{{ end }}",
    "creator" : "{{with .Params.auteurs}}{{delimit . ", " }}{{ end }}",
    "publisher": "{{ .Site.Params.Author }}",
    "copyrightHolder" : "{{ .Site.Params.Author }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .PublishDate }}",
    "dateModified" : "{{ .Lastmod }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} ]
  }
{{ end }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Title }},
  "url": {{ .Site.BaseURL }},
  "sameAs": [
    {{ .Site.Params.github }}
  ]
}
</script>

