{{ define "main" }}
<div class="container projet">
  <div class="row min-vh-100">
    <!-- CONTENT -->
    <div class="col-lg-9 offset-xl-2">
        <div class="row">
          <article class="col">
              <header class="projet__header">
                <h1 class="my-3 mt-md-5 my-xl-5">L'application mobile</h1>
                <h2 class="my-3 mt-md-5 my-xl-5">RecoMédicales</h2>
                <button id="app-install" type="button" class="btn btn-primary"><svg class="btn-icon-prepend" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 5v6h1.17L12 13.17 9.83 11H11V5h2m2-2H9v6H5l7 7 7-7h-4V3zm4 15H5v2h14v-2z"/></svg>Installer l'appli</button>
              </header>
              <div class="">
                {{ .Content }}
              </div>
          </article>
        </div>
      </div>
  </div>
</div>
{{ end }}