[
  "Ain", // Department
  "-10.5" // Var 2010-2022
],
[
  "Aisne",
  "-28.2"
],
[
  "Allier",
  "-25.3"
],
[
  "Alpes-Hte-Provence",
  "-18.2"
],
[
  "Alpes Maritimes",
  "-16"
],
[
  "Ardèche",
  "-19.6"
],
[
  "Ardennes",
  "-19"
],
[
  "Ariège",
  "-13.3"
],
[
  "Aube",
  "-15.3"
],
[
  "Aude",
  "-16.1"
],
[
  "Aveyron",
  "-20.9"
],
[
  "Bouches du Rhône",
  "-15"
],
[
  "Calvados",
  "-0.8"
],
[
  "Cantal",
  "-12.9"
],
[
  "Charente",
  "-20.8"
],
[
  "Charente Maritime",
  "3.5"
],
[
  "Cher",
  "-28.6"
],
[
  "Corrèze",
  "-19.7"
],
[
  "Côte d'Or",
  "-7"
],
[
  "Côtes d'Armor",
  "-12.9"
],
[
  "Creuse",
  "-26.6"
],
[
  "Dordogne",
  "-19.8"
],
[
  "Doubs",
  "-11.2"
],
[
  "Drôme",
  "-5.8"
]