[
  "Ain", // Department
  "-10.5" // Var 2010-2022
],
[
  "Aisne",
  "-28.2"
],
[
  "Allier",
  "-25.3"
],
[
  "Alpes-Hte-Provence",
  "-18.2"
],
[
  "Alpes Maritimes",
  "-16"
],
[
  "Ardèche",
  "-19.6"
],
[
  "Ardennes",
  "-19"
],
[
  "Ariège",
  "-13.3"
],
[
  "Aube",
  "-15.3"
],
[
  "Aude",
  "-16.1"
],
[
  "Aveyron",
  "-20.9"
],
[
  "Bouches du Rhône",
  "-15"
],
[
  "Calvados",
  "-0.8"
],
[
  "Cantal",
  "-12.9"
],
[
  "Charente",
  "-20.8"
],
[
  "Charente Maritime",
  "3.5"
],
[
  "Cher",
  "-28.6"
],
[
  "Corrèze",
  "-19.7"
],
[
  "Côte d'Or",
  "-7"
],
[
  "Côtes d'Armor",
  "-12.9"
],
[
  "Creuse",
  "-26.6"
],
[
  "Dordogne",
  "-19.8"
],
[
  "Doubs",
  "-11.2"
],
[
  "Drôme",
  "-5.8"
],
[
  "Eure",
  "-18.7"
],
[
  "Eure et Loir",
  "-30.6"
],
[
  "Finistère",
  "5.8"
],
[
  "Corse du Sud",
  "-7.4"
],
[
  "Haute Corse",
  "-3.5"
],
[
  "Gard",
  "-12.5"
],
[
  "Haute Garonne",
  "-0.2"
],
[
  "Gers",
  "-23.7"
],
[
  "Gironde",
  "3.4"
],
[
  "Hérault",
  "-5.8"
],
[
  "Ile et Vilaine",
  "8.6"
],
[
  "Indre",
  "-29"
],
[
  "Indre et Loire",
  "-2.4"
],
[
  "Isère",
  "6.8"
],
[
  "Jura",
  "-13.3"
],
[
  "Landes",
  "3.3"
],
[
  "Loir et Cher",
  "-24.5"
],
[
  "Loire",
  "-24.5"
],
[
  "Loire",
  "-6"
],
[
  "Haute Loire",
  "0"
],
[
  "Loire Atlantique",
  "12.8"
],
[
  "Loiret",
  "-23.5"
],
[
  "Lot",
  "-18.4"
],
[
  "Lot et Garonne",
  "-22.8"
],
[
  "Lozère",
  "-16.7"
],
[
  "Maine et Loire",
  "6.3"
],
[
  "Manche",
  "-15.1"
],
[
  "Haute Marne",
  "-28.8"
],
[
  "Mayenne",
  "-17.2"
],
[
  "Meurthe et Moselle",
  "-11.1"
],
[
  "Meuse",
  "-16"
],
[
  "Morbihan",
  "11"
],
[
  "Moselle",
  "-14.8"
],
[
  "Nièvre",
  "-27.9"
],
[
  "Nord",
  "-9.8"
],
[
  "Oise",
  "-23.8"
],
[
  "Orne",
  "-19.9"
],
[
  "Pas-de-Calais",
  "-16.8"
],
[
  "Puy-de-Dôme",
  "-5.1"
],
[
  "Pyrénées Atlantiques",
  "-16.4"
],
[
  "Hautes Pyrénées",
  "9.7"
],
[
  "Pyrénées Orientales",
  "-8.9"
],
[
  "Bas Rhin",
  "-5.3"
],
[
  "Haut Rhin",
  "-16.4"
],
[
  "Rhône",
  "-2.5"
],
[
  "Haute Saône",
  "-16"
],
[
  "Saône et Loire",
  "-12.4"
],
[
  "Sarthe",
  "-19.6"
],
[
  "Savoie",
  "12.4"
],
[
  "Haute Savoie",
  "8.1"
],
[
  "Ville de Paris",
  "-24.1"
],
[
  "Seine Maritime",
  "-12.8"
],
[
  "Seine et Marne",
  "-20.7"
],
[
  "Yvelines",
  "-25.8"
],
[
  "Deux-Sèvres",
  "-18.7"
],
[
  "Somme",
  "-7.8"
],
[
  "Tarn",
  "-17.1"
],
[
  "Tarn et Garonne",
  "-19.6"
],
[
  "Var",
  "-11.2"
],
[
  "Vaucluse",
  "-19.2"
],
[
  "Vendée",
  "-5.5"
],
[
  "Vienne",
  "-8.3"
],
[
  "Haute Vienne",
  "-12.9"
],
[
  "Vosges",
  "-14.2"
],
[
  "Yonne",
  "-34.2"
],
[
  "Territoire de Belfort",
  "-12.6"
],
[
  "Essonne",
  "-21.5"
],
[
  "Hauts de Seine",
  "-22.2"
],
[
  "Seine Saint Denis",
  "-22.5"
],
[
  "Val de Marne",
  "-16.4"
],
[
  "Val d'Oise",
  "-24.1"
],
[
  "Guadeloupe",
  "9.9"
],
[
  "Martinique",
  "1.5"
],
[
  "Guyane",
  "42.6"
],
[
  "Réunion",
  "13.2"
],
[
  "Saint-Pierre et Miquelon",
  "-14.3"
],
[
  "Mayotte",
  "46.2"
],
[
  "Wallis et Futuna",
  "133.3"
],
[
  "Polynésie Française",
  "7"
],
[
  "Pacifique Sud",
  "20.1"
],
[
  "Étranger",
  "-20.6"
]