[Settings]
ID = "327af24a-1868-47c1-959c-7c0afe3b1891"

[build]
publish = "public"
command = "hugo --gc --minify"

[build.environment]
NODE_VERSION = "22"
NODE_ENV = "production"
HUGO_VERSION = "0.145.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "false"

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=1800" # 30min for analytics

[[headers]]
  for = "*.html"
  [headers.values]
    Cache-Control = "public, max-age=1800" # 30min for analytics

[[headers]]
  for = "/clear/"
  [headers.values]
    Cache-Control = "public, max-age=0, no-cache, no-store, must-revalidate"
    Clear-Site-Data = "*"

[[headers]]
  for = "*.json"
  [headers.values]
    Cache-Control = "public, max-age=1209600, must-revalidate, stale-while-revalidate=86400" # 2w

[[headers]]
  for = "*.css*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "*.js*"
  [headers.values]
    Cache-Control = "public, max-age=1209600" # 2w

[[headers]]
  for = "favicon.ico"
  [headers.values]
    Cache-Control = "public, max-age=14515200, must-revalidate" # 6m

[[headers]]
  for = "*.jpg"
  [headers.values]
    Cache-Control = "public, max-age=2419200, must-revalidate, stale-while-revalidate=86400"

[[headers]]
  for = "*.png"
  [headers.values]
    Cache-Control = "public, max-age=2419200, must-revalidate, stale-while-revalidate=86400"

[[headers]]
  for = "*.webp"
  [headers.values]
    Cache-Control = "public, max-age=2419200, must-revalidate, stale-while-revalidate=86400"

[[headers]]
  for = "*.avif"
  [headers.values]
    Cache-Control = "public, max-age=2419200, must-revalidate, stale-while-revalidate=86400"

[[headers]]
  for = "*.svg"
  [headers.values]
    Cache-Control = "public, max-age=2419200, must-revalidate, stale-while-revalidate=86400"

# [[edge_functions]]
# https://www.jeremiak.com/blog/block-bots-netlify-edge-functions/
# function = "block-bots"
# path = "/*"

[[redirects]]
  from = "/*"
  to = "/:splat"
    [redirects.rate_limit]
    action = "rewrite" # optional, will default to "rate_limit"
    to = "/rate-limit.html" # only needed if action is "rewrite"
    # 50 requests per minute
    window_limit = 50
    window_size = 60

[[redirects]]
  from = "https://recommandations-medicales.netlify.app/*"
  to = "https://recomedicales.fr/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://recomedicales.fr/scores"
  to = "https://recomedicales.fr/scores/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/clear"
  to = "https://recomedicales.fr/clear/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/recommandations/diverticulite-sigmoidienne"
  to = "https://recomedicales.fr/recommandations/diverticulite-sigmoidienne/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/recommandations/remboursement-psychologue-monpsy/"
  to = "https://recomedicales.fr/recommandations/remboursement-psychologue-monsoutienpsy/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/recommandations/monkeypox/"
  to = "https://recomedicales.fr/recommandations/mpox/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/recommandations/infections-claustridium-difficile/"
  to = "https://recomedicales.fr/recommandations/infections-clostridium-difficile/"
  status = 301

[[redirects]]
  from = "https://recomedicales.fr/scores/ehra/"
  to = "https://recomedicales.fr/scores/mehra/"
  status = 301

# [[plugins]]
#   package = "netlify-plugin-inline-critical-css"
#     [plugins.inputs]
#       directoryFilter = ["!annees", "!specialites", "!tags"]
