<div class="pretherapeutique">
  <h3>Traitement par Anti-TNFα</h3>
  <p class="typography-caption"><a href="http://www.cri-net.com/ckfinder/userfiles/files/fiches-pratiques/Anti-TNF_Dec2010/F2_ANTI-TNF_VDEF.pdf" rel="external nofollow noopener">Fiche du Club Rhumatismes et Inflammations (CRI janvier 2014)</a></p>
  <h4>Bilan pré-thérapeutique</h4>
  <h5>Interrogatoire</h5>
  <ul>
    <li>Antécédent de cancer solide, hémopathie, lymphome</li>
    <li>Antécédent ou contact avec un cas de tuberculose</li>
    <li>Antécédent de sclérose en plaque, de névrite optique ou de neuropathie démyélinisante</li>
    <li>Antécédent d'infections sévères, chroniques et/ou récidivantes (bactériennes, virales)</li>
    <li>Antécédent d'affection prénéoplasique (polypose, broncho-pneumopathie chronique obstructive BPCO, oesophagite)</li>
    <li>Antécédent d'affection auto-immune systémique (lupus, hépatite, vascularite)</li>
    <li>Pneumopathie interstitielle, BPCO, asthme sévère</li>
    <li>Dyspnée d'effort et autres signes fonctionnels d'insuffisance cardiaque</li>
    <li>Vaccination récente avec vaccin vivant (fièvre jaune, BCG)</li>
    <li>Grossesse, désir de grossesse</li>
  </ul>
  <h5>Examen clinique</h5>
  <ul>
    <li>Fièvre</li>
    <li>Infection</li>
    <li>Adénopathies</li>
    <li>Signes orientant vers une néoplasie et/ou une hémopathie</li>
    <li>Signes d'insuffisance cardiaque décompensée</li>
    <li>Signes d'auto-immunité</li>
    <li>Signes d'affection démyélinisante</li>
    <li>Signes broncho-pulmonaires</li>
  </ul>
  <h5>Vaccinations</h5>
  <ul>
    <li>Mise à jour des vaccinations</li>
    <li>Vaccination pneumocoque</li>
    <li>Vaccination grippe annuelle</li>
  </ul>
  <h5>Examens de première intention</h5>
  <ul>
    <li>NFS</li>
    <li>Électrophorèse des protéines sériques</li>
    <li>ASAT ALAT</li>
    <li>Ag Hbs, anticorps anti-HBs, anticorps anti-HBc et sérologie VHC</li>
    <li>Sérologies VIH 1 et 2</li>
    <li>Anticorps anti-nucléaires (+ anti-ADN natif si positifs)</li>
    <li>Radiographie thoracique</li>
    <li>IDR à la tuberculine (&lt; 5mm) ou QuantiFERON ou T-SPOT.TB (négatifs)</li>
  </ul>
</div>
