{{- $u := urls.Parse .Destination -}}
{{- $href := $u.String -}}
{{- $followDomains := slice
  "https://academic.oup.com"
  "https://www.ahajournals.org"
  "https://www.ameli.fr"
  "https://ansm.sante.fr"
  "https://www.bmj.com"
  "https://www.cancer.fr"
  "https://www.cochranelibrary.com"
  "https://www.escardio.org"
  "https://www.has-sante.fr"
  "https://www.hcsp.fr"
  "https://www.inserm.fr"
  "https://www.insee.fr"
  "https://jamanetwork.com"
  "https://www.legifrance.gouv.fr"
  "https://www.nice.org.uk"
  "https://onlinelibrary.wiley.com"
  "https://www.pasteur.fr"
  "https://pubmed.ncbi.nlm.nih.gov"
  "https://sante.gouv.fr"
  "https://www.santepubliquefrance.fr"
  "https://www.sciencedirect.com"
  "https://www.service-public.fr"
  "https://link.springer.com"
  "https://www.who.int"
-}}
{{/* Nofollow external links */}}
{{- $addRelFollow := false -}}
{{- range $followDomains -}}
  {{- if strings.HasPrefix $href . -}}
    {{- $addRelFollow = true -}}
  {{- end -}}
{{- end -}}
{{- if strings.HasPrefix $u.String "#" -}}
  {{- $href = printf "%s#%s" .PageInner.RelPermalink $u.Fragment -}}
{{- else if and $href (not $u.IsAbs) -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- with or
    ($.PageInner.GetPage $path)
    ($.PageInner.Resources.Get $path)
    (resources.Get $path)
  -}}
    {{- $href = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $href = printf "%s?%s" $href . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $href = printf "%s#%s" $href . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}{{/* Style the guide anchors starting with case-sensitive "guide" */}}
{{- $isGuide := false -}}
{{- if strings.HasPrefix .Text "guide" -}}
  {{- $isGuide = true -}}
{{- end -}}
<a href="{{ $href }}"
  {{- with .Title }} title="{{ . }}" {{- end -}}
  {{- if $isGuide }} class="guide-style" {{- end -}}
  {{- if $addRelFollow }} target="_blank" rel="external" {{- else if strings.HasPrefix $href "http" }} target="_blank" rel="external nofollow noopener" {{- end -}}>{{ .Text }}</a>