/* Custom variables */

$font-family-monospace: 0 !default;
$material-icon-font-family: 0 !default;

// Palette
// https://mycolor.space/?hex=%234150f5&sub=1

$primary: (
  color: #4150f5,
  dark:  #292ed1,
  light: #ecedfe
) !default;

$secondary: (
  color: #e87500,
  dark:  #c05500,
  light: #ffca7f
) !default;

$danger: (
  color: #f54150,
  dark:  #b7374f,
  light: #f194a6
) !default;

$info: (
  color: #41aaf5,
  dark:  #097cd3,
  light: #91cdf9
) !default;

$success: (
  color: #1dc198,
  dark:  #008a65,
  light: #6bfbce
) !default;

$warning: (
  color: #e3cb53,
  dark:  #ee6002,
  light: #ffc77d
) !default;

@function selection-theme-color() {
  @return theme-color(primary);
}

$black: #000000;
$black-secondary-opacity: 0.54;
$black-primary: rgba(#000, 0.87);
$black-secondary: rgba(#000, 0.6);
$black-divider: rgba(#000, 0.12);

$overlay-selected-white-opacity:  0.08;

// Typography

$font-size-base: 1rem;
$font-size-body-2: $font-size-base * 0.875;
$font-weight-regular: 400;
$font-weight-normal: $font-weight-regular;
$font-weight-bold: 500;

$font-size-headline-1:      ($font-size-base * 5.9375) !default;   // 95px
$font-size-headline-2:      ($font-size-base * 3.6875) !default;   // 59px
$font-size-headline-3:      ($font-size-base * 3) !default;        // 48px
$font-size-headline-4:      ($font-size-base * 2.125) !default;    // 34px
$font-size-headline-5:      ($font-size-base * 1.5) !default;      // 24px
$font-size-headline-6:      ($font-size-base * 1.25) !default;     // 20px
$font-size-subtitle-1:      $font-size-base !default;              // 16px
$font-size-subtitle-2:      ($font-size-base * 0.875) !default;    // 14px

$font-weight-headline-1:     100 !default;
$font-weight-headline-2:     $font-weight-headline-1 !default;
// $font-weight-headline-3:     $font-weight-regular !default;
// $font-weight-headline-4:     $font-weight-regular !default;
// $font-weight-headline-5:     $font-weight-regular !default;
$font-weight-headline-6:     $font-weight-regular !default;
$font-weight-subtitle-1:     $font-weight-regular !default;
$font-weight-subtitle-2:     $font-weight-regular !default;

$letter-spacing-headline-1:  -1.5px !default;
$letter-spacing-headline-2:  -0.5px !default;
// $letter-spacing-headline-3:  0 !default;
$letter-spacing-headline-4:  0.25px !default;
// $letter-spacing-headline-5:  0 !default;
$letter-spacing-headline-6:  0.15px !default;
$letter-spacing-subtitle-1:  0.15px !default;
$letter-spacing-subtitle-2:  0.1px !default;

$line-height-headline-1: normal !default;
$line-height-headline-2: normal !default;
$line-height-headline-3: normal !default;
$line-height-headline-4: normal !default;
$line-height-headline-5: normal !default;
$line-height-headline-6: normal !default;
$line-height-subtitle-1: normal !default;
$line-height-subtitle-2: normal !default;

$spacer: 1rem !default;
$spacer-sm: $spacer * 0.5 !default;
$spacer-xs: $spacer * 0.25 !default;

$snackbar-bg: #333333;
$snackbar-color: #rgba(#fff, 0.87);
$snackbar-letter-spacing: 0.0178571429em;
$snackbar-line-height: 1.25rem;
$snackbar-margin: $spacer-sm;
$snackbar-max-width: 42rem;
$snackbar-min-width: 21.5rem;


// Components
// $border-radius: 0;
// $card-border-radius: 12px;

$secondary-color-for-controls:  true !default;
$enable-dark-theme-media-query: false !default;
$enable-validation-valid:  false !default; // Apply Success color to valid inputs (not recommended)
