:root {
  //color-scheme: dark;
}

/* In main CSS
html:has([value="light"]:checked {
  color-scheme: light;
}

html:has([value="dark"]:checked {
  color-scheme: dark;
}*/

html:has(#mode-switcher [value="light"]:checked) { color-scheme: light }

html:has(#mode-switcher [value="light"]:checked) { color-scheme: light }

/*
.chip {
  color: contrast-color(var(--surface));
}
*/