// Datatables plugin

$snackbar-border-radius: 12px;

@import 'variables';
//@import '../../../material/assets/scss/variables';
@import '../../../material/assets/scss/variables/elevation-shadow';
$snackbar-elevation-shadow: map-get($elevation-shadows, 6);
$dialog-elevation-shadow: map-get($elevation-shadows, 24);
@import '../../../material/assets/scss/plugins/datatables';