@import "../css/print-material";

@page {
  // margin: 0;
  margin: 2cm;
  size: A4 portrait;
}
html {
  background-color: #fff !important;
  margin: 0;
}
main > .recommandation {
  padding-top: 0;
}
.alert {
  &-info {
    color: #212121;
  }
}
.recommandation__content section > h2 + div,
.recommandation__content footer > h2 + div {
  max-width: 100%;
}
.recommandation__content section > h2:not([class]) {
  border-top: 0;
  color: #000 !important;
  font-size: 38px;
}
.recommandation .chip-secondary {
  color: var(--secondary);
}
figure {
  break-inside: avoid;
  max-width: 80vw;
  overflow: visible;
  width: 80vw;
}
video {
  display: none;
}
h1.my-xl-5 {
  margin-top: 0 !important;
}
p {
  color: #000 !important;

  &.alert {
    border-left: 4px solid black;
    border-radius: 0;
  }
}
a[target="_blank"] {
  color: initial;
}
a[target="_blank"]::after {
  color: rgba(0, 0, 0, 0.6);
  content: attr(href) !important;
}
h3 {
  color: initial !important;
}
blockquote,
.list-group,
.list-group-item {
  border: 0;
}
blockquote {
  border-left: 4px solid black !important;
  border-radius: 0 !important;
}
footer.footer,
nav,
.embed-responsive {
  display: none !important;
}
#contract-generator {
  display: none;
}
#contract-generated {
  width: 100%;
  border: 0;
  margin: 0 !important;
  float: none;

  & ~ * {
    display: none !important;
  }
}
.sheet {
  margin: 0;
  padding: 25mm;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}
