@import "../css/print-material";

@page {
  margin: 0;
  size: auto;
}
html {
  background-color: #fff !important;
  margin: 0;
}
body {
  margin: 2cm;
}
main > .recommandation {
  padding-top: 0;
}
.alert {
  border: 1px solid rgba(0, 0, 0, 0.12);
  &-info {
    color: #212121;
  }
}
.recommandation .chip-secondary {
  color: var(--secondary);
}
figure {
  break-inside: avoid;
}
h1.my-xl-5 {
  margin-top: 0 !important;
}
p {
  color: #000 !important;
}
a[target="_blank"] {
  color: initial;
}
a[target="_blank"]::after {
  color: rgba(0, 0, 0, 0.6);
  content: attr(href) !important;
}
h3 {
  color: initial !important;
}
blockquote,
.list-group,
.list-group-item {
  border: 0;
}
footer.footer,
nav,
.embed-responsive {
  display: none !important;
}
#contract-generator {
  display: none;
}
#contract-generated {
  width: 100%;
  border: 0;
  margin: 0 !important;
  float: none;

  & ~ * {
    display: none !important;
  }
}
.sheet {
  margin: 0;
  padding: 25mm;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  height: 296mm;
  width: 210mm;
}
