@import '../css/material-purge';

html,
body {
  height: 100vh;
}

a {
  color: var(--primary);
}

h1,
h2,
.typography-headline-1,
.typography-headline-2,
.typography-headline-3,
.typography-headline-4,
.typography-headline-5,
.typography-headline-6,
.typography-subtitle-1,
.typography-subtitle-2,
.card-title {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
  letter-spacing: normal;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 400;
}

h2 {
  font-size: calc(1.325rem + .9vw);
  font-weight: 400;
}

h3 {
  font-size: calc(1.3rem + .6vw);
}

h4 {
  font-size: calc(1.275rem + .3vw);
  letter-spacing: normal;
}

@media (min-width: 1200px){
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

dl {
  font-size: 1rem;
}

dd + dt {
  margin-top: 32px;
}

main {
  display: flex;
  min-height: 100%;

  > .container-lg,
  > .recommandation {
    padding-top: 64px;
  }

  @media (min-width: 1024px){
    & > .container-lg,
    & > .recommandation {
      padding-top: 56px;
    }
  }
}

%material-icon {
  content: '';
  display: inline-block;
  height: 24px;
  transition: transform 280ms;
  width: 24px;
}

%material-icon-content {
  display: inline-block;
  vertical-align: text-top;
} 

a[href^='http']:not([class])::after {
  @extend %material-icon-content;
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" fill="%230077ff" width="18"%3E%3Cpath d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/%3E%3C/svg%3E');
  margin-left: 4px;
}

.navbar-toggler-icon {
  font-size: 1rem;
  line-height: 1rem;

  &::before {
    @extend %material-icon-content;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='24px' height='24px'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
  }

  .navbar-toggler:not(.collapsed) & {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" fill="white" width="24"%3E%3Cpath d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/%3E%3C/svg%3E');
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  @extend %material-icon-content;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23757575' width='24px' height='24px'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E");
  line-height: 0.5;
}

// List pages

.list-page {
  flex-grow: 1;
  padding-top: 100px;

  @media (min-width: 768px){
    & {
      padding-top: 80px;
    }
  }
}

.navbar .dropdown-menu::before {
  border-radius: 0 0 4px 4px;
  transform-origin: top center;
}

.taxonomyList::first-letter {
  text-transform: uppercase;
}

.site-title {
  h1 {
    font-size: calc(1.5rem + 3vw);
    line-height: 1.1;

    @media (min-width: 768px){
      & {
        text-align: start;
      }
    }

    @media (min-width: 1200px){
      & {
        font-size: 4rem;
      }
    }
  }

  p {
    color: #757575;
    font-size: calc(1.275rem + .3vw);
    line-height: 1.25;
    // width: Min(100%, 768px); // Uppercase to prevent SASS-CSS conflict

    @media (min-width: 1200px){
      & {
        font-size: 1.5rem;
      }
    }
  }
}

.typography-body-1 {
  color: #424242;
  // font-size: 1rem;
  // font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.recommandation__info {
  .typography-overline {
    color: #616161;
    margin-bottom: 0;
  }
}

.recommandation__content {
  margin-bottom: 5rem;

  > h2 {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 1.25rem 0;

    &:first-of-type {
      border-top: 0;
    }
  }

  h3 {
    color: var(--primary);
    margin-bottom: 12px;
    margin-top: 32px;
  }

  h4 {
    margin-bottom: 12px;
    margin-top: 32px;
  }

  p:not([class]) {
    @extend .typography-body-1;
  }

  ul:not([class]) {
    @extend .typography-body-1;

    li {
      font-size: 1rem;
    }
  }

  .list-group {
    margin-bottom: 1.5rem;

    li:not(.list-group-divider):not(.list-group-item-two-line) {
      align-items: center;
      background-color: #fff;
      border: 0;
      color: rgba(0,0,0,.87);
      display: block;
      flex-shrink: 0;
      font-size: 1rem;
      letter-spacing: .009375em;
      line-height: 1.5;
      min-height: 3rem;
      padding: .75rem 1rem;
      position: relative;
      transition: background-color 15ms linear;

      &:focus {
        background-color: rgba(0, 0, 0, 0.12);
        outline: 0;
      }
    }
  }

  [class*='alert']{
    &,
    p,
    li {
      font-size: 1rem;
    }

    > :first-child {
      margin-top: 0;
  }

    :last-child {
      margin-bottom: 0;
    }
  }

  .alert-warning {
    color: #836e00;
  }

  .alert-summary {
    width: Min(100%,768px);

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      border-top: 0;
      color: var(--secondary);
      margin: 0 0 1rem;
      padding: 0;

      font-family: inherit;
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .166667em;
      line-height: 2rem;
      text-transform: uppercase;
    }

    li {
      color: #424242;
    }
  }

  .alert li {
    color: #424242;
  }
}

.recommandation__content .collapse.show:last-child {
  margin-bottom: 2.5rem;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

blockquote {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  line-height: 1.5rem;
  border-left: 0.3125rem solid var(--primary);
  margin-bottom: 1rem;
  padding: 0 1rem;

  > p a {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.033333em;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.38);
  }
}

.card-body .card-title + .card-subtitle {
  margin-top: -0.625rem;
}

.card-subtitle::first-letter {
  text-transform: uppercase;
}

div.data-table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-404 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16rem;
  font-weight: 700;
  line-height: 1;
  margin: 5rem 0;
  text-shadow: 10px 10px 20px #f5f5f5, -10px -10px 20px #f5f5f5;
}

#modal-contact {
  .modal-content {
    border-radius: 24px;
  }

  .modal-header {
    flex-direction: column;
  }

  .modal-title {
    color: var(--secondary);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
  }
}

.navbar {
  border-bottom: 1px solid #e0e0e0;

  .input-group {
    opacity: 1;
  }

  .nav-link {
    opacity: 0.8;
  }
}

.navdrawer {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;

  &-header {
    background: transparent;
    border-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .navdrawer-content {
    overflow-y: hidden;

    &:hover {
      overflow-y: scroll;
    }
  }
}

.navdrawer-nav {
  .nav-link {
    border-radius: 0 20px 20px 0;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    line-height: 1rem;
    padding: 4px 8px 4px 24px;
    margin: 0 8px 0 0;
    text-transform: capitalize;
    user-select: none;

    &[aria-expanded='true']{
      background-color: rgba(0, 119, 255, 0.12);
      color: var(--primary);
    }

    & + .collapse {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

.nav-sub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  border-radius: 4px;
  color: inherit;
  display: flex;
  font-weight: 400;
  height: 2.5rem;
  letter-spacing: .007143em;
  line-height: 1.375rem;
  margin: 0 8px 0 0;
  padding: 4px 8px 4px 24px;
  transition: background-color 15ms;

  &:hover {
    color: var(--primary);
  }
}

@media (min-width: 992px) {
  .navbar {
    border-bottom: 0;
    margin-left: 16rem;
  }

  .navdrawer-permanent-lg {
    z-index: 160;
  }

  .navdrawer-permanent-lg ~ main {
    margin-left: 16rem;
  }
}

#recommandation-aside {
  background-color: #f5f5f5;
}

/* Substituts nicotiniques */
.list-group > .list-group-item {
  user-select: all;
}

.list-group-sm > .list-group-item {
  min-height: 2.75rem;
  padding: 8px 1rem;
}

.list-group-xs > .list-group-item {
  display: flex;
  min-height: 2.5rem;
  padding: 4px 1rem;
  user-select: all;
}

.list-group-item-number {
  background: #9E9E9E;
  border-radius: 50%;
  font-size: 1.125rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: .5rem 1rem .5rem 0;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
  font-weight: 500;
  color: #fff;
  flex-shrink: 0;

  &::before {
    content: counter(counter-item);
  }
}

.list-counter > .list-group-item {
  counter-increment: counter-item;
}

.radio-card {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
}

.card-input-element + .card {
  background: #f5f5f5;
  height: calc(48px + 2 * 1rem);
  color: var(--primary);

  border-radius: 4px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  background: var(--primary);
  color: white;
  transition: color 100ms 200ms, background-color 100ms 200ms;
}

/* Plugins */

.dataTables_wrapper {
  margin-bottom: 0 !important;
}

.mermaid {
  margin-bottom: 24px;
}

.bg-light {
  background: #fafafa !important;
}

.card-paracetamol {
  max-width: 480px;
  transition: box-shadow 150ms;

  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.chip {
  overflow: hidden;
}

[class*='chip-']:hover {
  filter: brightness(86%);
}

.form-alternative {
  appearance: none;
  background: #f5f5f5;
  border: 0;
  border-radius: 4px;
  color: #666666;
  font-weight: 500;
  padding: 8px 4px 8px 8px;
  text-align: center;
  width: 64px;
}

// Utilities

.letter-spacing-normal {
  letter-spacing: normal !important;
}

.w-768 {
  width: Min(100%, 768px);
}

@media print {
  main > .recommandation {
    padding-top: 0;
  }

  .alert {
    border: 1px solid rgba(0, 0, 0, 0.12);

    &-info {
      color: #212121;
    }
  }

  .recommandation .chip-secondary {
    color: var(--secondary);
  }

  figure {
    break-inside: avoid;
  }

  h1.my-xl-5 {
    margin-top: 0 !important;
  }

  a[target='_blank']::after {
    content: attr(href) !important;
  }

  blockquote {
    border: 0;
  }
}
