html,
body {
  height: 100vh;
}

main {
  display: flex;
  min-height: 100%;

  h1,
  h2 {
    font-family: Comfortaa, Roboto, -apple-system, BlinkMacSystemFont, Tahoma, sans‑serif;
  }

  > .container-lg,
  > .recommandation {
    padding-top: 64px;
  }

  @media (min-width: 1024px){
    & > .container-lg,
    & > .recommandation {
      padding-top: 56px;
    }
  }
}

.data-table > .table > thead > th {
  // border-top: 0;
}

// List pages

.list-page {
  flex-grow: 1;
  padding-top: 100px;

  @media (min-width: 768px){
    & {
      padding-top: 80px;
    }
  }
}

.navbar .dropdown-menu::before {
  border-radius: 0 0 4px 4px;
  transform-origin: top center;
}

.taxonomyList::first-letter {
  text-transform: uppercase;
}

dt:not(:first-child) {
  // margin-top: 32px;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.005em;
  line-height: 3.75rem;

  @media (max-width: 359.98px) {
    & {
      line-height: 1;
    }
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.recommandation__content
  h3:not(.typography-overline):not(.typography-subtitle-1) {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
}

.recommandation__content .collapse h3:not(:first-child),
.recommandation__content .collapse h4:not(:first-child) {
  margin-top: 32px;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;

  margin-top: 20px;
  margin-bottom: 12px;
}

.typography-body-1 {
  color: #424242;
  letter-spacing: normal;
}

.site-title h2,
.site-title p {
  width: Min(100%, 768px); // Uppercase to prevent SASS-CSS conflict
}

.typography-body-1 {
  color: #424242;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.recommandation__content {
  margin-bottom: 5rem;

  h2 {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 1.5rem 0;

    &:first-of-type {
      border-top: 0;
    }
  }

  h3 {
    color: var(--primary);
    margin-top: 36px;
    margin-bottom: 12px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    @extend .typography-body-1;
  }

  dt,
  dl,
  p,
  ul {
    width: Min(100%, 768px);
  }

  ul:not(.list-group) {
    list-style: disc outside;
    margin-bottom: 1rem;
    padding-left: 1.25rem;
  }

  > ul:not(.list-group) > li {
    @extend .typography-body-1;
  }

  .list-group {
    margin-bottom: 1.5rem;

    li:not(.list-group-divider) {
        align-items: center;
        // background-color: #ffffff;
        border: 0;
        color: #212121;
        // display: block;
        flex-shrink: 0;
        // font-size: 1rem;
        letter-spacing: 0.009375em;
        line-height: 1.5;
        min-height: 3rem;
        padding: 0.75rem 1rem;
        position: relative;
        transition: background-color 15ms linear;
      
      &:hover, &:focus, &:active {
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
        text-decoration: none;
      }

      &:focus {
        background-color: rgba(0, 0, 0, 0.12);
        outline: 0;
      }
    }
  }

  .alert-summary li,
  .alert li {
    color: #424242;
  }
}

.recommandation__content ul:not(.list-group) li,
.recommandation__content ol li {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.recommandation__content .alert > :last-child {
  margin-bottom: 0;
}

.recommandation__content .collapse.show:last-child {
  margin-bottom: 2.5rem;
}

li > ul > li {
  list-style-type: circle;
}

dl {
  font-size: 1rem;
}

dd {
  margin-bottom: 1rem;

  & + dd {
    margin-top: -0.5rem;
  }
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

blockquote {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  line-height: 1.5rem;
  border-left: 0.3125rem solid #6200ee;
  margin-bottom: 1rem;
  padding: 0 1rem;

  > p a {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.033333em;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.38);
    /* display: block;
    margin-top: 0.25rem; */
  }
}

.card-subtitle::first-letter {
  text-transform: uppercase;
}

.text-404 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16rem;
  font-weight: 700;
  line-height: 1;
  margin: 5rem 0;
  text-shadow: 10px 10px 20px #f5f5f5, -10px -10px 20px #f5f5f5;
}

.navbar {
  border-bottom: 1px solid #e0e0e0;
}

.navdrawer {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
  z-index: 60;

  &-header {
    background: transparent;
    border-bottom: 0;
  }
}

.nav-sub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  border-radius: 4px;
  color: #616161;
  display: flex;
  font-weight: 400;
  height: 2.5rem;
  letter-spacing: .007143em;
  line-height: 1.375rem;
  margin: 0 .5rem;
  padding: 0 .5rem;
  transition: background-color 15ms;

  &:hover {
    background-color: #f5f5f5;
    color: inherit;
  }
}

@media (min-width: 992px) {
  .navbar {
    border-bottom: 0;
    margin-left: 16rem;
  }

  .navdrawer-permanent-lg ~ main {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 32px;
    line-height: 1.5rem;
    padding: 0;
  }

  h2 {
    font-size: 18px;
  }
  h2.typography-headline-5 {
    font-size: 18px;
  }

  .recommandation__content
    h3:not(.typography-overline):not(.typography-subtitle-1) {
    font-size: 18px;
  }
}

#recommandation-aside {
  background-color: #f5f5f5;
}

.alert {
  width: Min(100%, 768px);
}

.card {
  border-radius: 16px;
  margin-bottom: 0.5rem;

  &-title {
    font-family: Comfortaa;
    font-weight: 700;
  }
}

/* Substituts nicotiniques */
.list-group > .list-group-item {
  user-select: all;
}

.list-group-sm > .list-group-item {
  min-height: 2.75rem;
  padding: 8px 1rem;
}

.list-group-xs > .list-group-item {
  display: flex;
  min-height: 2.5rem;
  padding: 4px 1rem;
  user-select: all;
}

.list-group-item-number {
  background: #9E9E9E;
  border-radius: 50%;
  font-size: 1.125rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: .5rem 1rem .5rem 0;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
  font-weight: 500;
  color: #fff;
  flex-shrink: 0;
}
.list-group-item-number::before {
  content: counter(counter-item);
}

.list-counter > .list-group-item {
  counter-increment: counter-item;
}

.radio-card {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
}

.card-input-element + .card {
  background: #f5f5f5;
  height: calc(48px + 2 * 1rem);
  color: var(--primary);

  border-radius: 4px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  background: var(--primary);
  color: white;
  transition: color 100ms 200ms, background-color 100ms 200ms;
}

/* Plugins */
.mermaid {
  margin-bottom: 24px;
}

.bg-light {
  background: #fafafa !important;
}