<p>
  Les apports quotidiens en potassium recommandés chez l’adulte dans la
  population générale sont de <strong>3,5 g/j</strong> (90 mmol/L) et sont
  facilement couverts (<em>OMS</em>).
</p>
<p>
  Les apports alimentaires proviennent principalement des
  <strong>fruits</strong>, <strong>légumes</strong> et de la
  <strong>viande</strong> (et des sels « allégés », KCl).
</p>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Table",
    "about": "Aliments riches en potassium. Dr JB Fron d\u0026rsquo;après Bedca.net"
  }
</script>
<section class="data-table" tabindex="0" aria-labelledby="caption-2">
  <table class="table">
    <caption id="caption-2">
      <strong>Tableau 2.</strong>
      Aliments riches en potassium. Dr JB Fron d’après Bedca.net.
    </caption>
    <thead>
      <tr>
        <th scope="col">Aliment</th>
        <th scope="col" style="text-align: right">mg/100 g</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><strong>Légumes</strong></th>
        <td style="text-align: right"></td>
      </tr>
      <tr>
        <th scope="row">Soja</th>
        <td style="text-align: right">1730</td>
      </tr>
      <tr>
        <th scope="row">Blé germe</th>
        <td style="text-align: right">871</td>
      </tr>
      <tr>
        <th scope="row">Pomme de terre</th>
        <td style="text-align: right">525</td>
      </tr>
      <tr>
        <th scope="row">Avocat</th>
        <td style="text-align: right">400</td>
      </tr>
      <tr>
        <th scope="row">Épinard</th>
        <td style="text-align: right">380</td>
      </tr>
      <tr>
        <th scope="row">Aubergine</th>
        <td style="text-align: right">262</td>
      </tr>
      <tr>
        <th scope="row">Tomate</th>
        <td style="text-align: right">236</td>
      </tr>
      <tr>
        <th scope="row">Chou-fleur</th>
        <td style="text-align: right">193</td>
      </tr>
      <tr>
        <th scope="row">Betterave</th>
        <td style="text-align: right">190</td>
      </tr>
      <tr>
        <th scope="row">Avocat</th>
        <td style="text-align: right">400</td>
      </tr>
      <tr>
        <th scope="row"><strong>Fruits</strong></th>
        <td style="text-align: right"></td>
      </tr>
      <tr>
        <th scope="row">Banane</th>
        <td style="text-align: right">350</td>
      </tr>
      <tr>
        <th scope="row">Raisin</th>
        <td style="text-align: right">250−320</td>
      </tr>
      <tr>
        <th scope="row">Melon</th>
        <td style="text-align: right">320</td>
      </tr>
      <tr>
        <th scope="row">Abricot</th>
        <td style="text-align: right">293</td>
      </tr>
      <tr>
        <th scope="row">Pêche</th>
        <td style="text-align: right">260</td>
      </tr>
      <tr>
        <th scope="row">Cerise</th>
        <td style="text-align: right">255</td>
      </tr>
      <tr>
        <th scope="row">Ananas</th>
        <td style="text-align: right">250</td>
      </tr>
      <tr>
        <th scope="row">Orange</th>
        <td style="text-align: right">200</td>
      </tr>
      <tr>
        <th scope="row">Mandarine</th>
        <td style="text-align: right">160</td>
      </tr>
      <tr>
        <th scope="row">Poire</th>
        <td style="text-align: right">130</td>
      </tr>
      <tr>
        <th scope="row">Pastèque</th>
        <td style="text-align: right">120</td>
      </tr>
      <tr>
        <th scope="row">Pomme</th>
        <td style="text-align: right">99</td>
      </tr>
      <tr>
        <th scope="row"><strong>Noix</strong></th>
        <td style="text-align: right"></td>
      </tr>
      <tr>
        <th scope="row">Amande</th>
        <td style="text-align: right">767</td>
      </tr>
      <tr>
        <th scope="row">Pistache</th>
        <td style="text-align: right">811</td>
      </tr>
      <tr>
        <th scope="row">Noisette</th>
        <td style="text-align: right">636</td>
      </tr>
      <tr>
        <th scope="row">Noix</th>
        <td style="text-align: right">690</td>
      </tr>
      <tr>
        <th scope="row"><strong>Légumineuses</strong></th>
        <td style="text-align: right"></td>
      </tr>
      <tr>
        <th scope="row">Haricots blancs</th>
        <td style="text-align: right">1337</td>
      </tr>
      <tr>
        <th scope="row">Pois chiches</th>
        <td style="text-align: right">1000</td>
      </tr>
      <tr>
        <th scope="row">Lentilles</th>
        <td style="text-align: right">463</td>
      </tr>
      <tr>
        <th scope="row"><strong>Cacao</strong></th>
        <td style="text-align: right">712</td>
      </tr>
      <tr>
        <th scope="row"><strong>Viande</strong></th>
        <td style="text-align: right">270-490</td>
      </tr>
    </tbody>
  </table>
</section>