<p>Les anti-récepteurs aux minéralocorticoïdes au cours de l’insuffisance cardiaque.</p>
<p>Utilisés en deuxième ligne en FEVG ≤ 35 % avec dyspnée NYHA II à IV.</p>
<ul>
  <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61415580/extrait#tab-rcp" rel="external nofollow noopener">Eplérénone 25 mg</a> x 1/j, cible 50 mg x 1/j</li>
  <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/63145849/extrait#tab-rcp" rel="external nofollow noopener">Spironolactone 25 mg</a> x 1/j, cible 50 mg x 1/j</li>
</ul>
<blockquote>
  <p>
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data" rel="external nofollow noopener"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
</blockquote>
<p><strong>Titration:</strong> doubler la dose après 1-2 mois.<br>
Si intolérance: substitution par ARA2 candésartan ou valsartan. Maintenir une dose, même minime.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> créatininémie, ionogramme à 1 semaine, 1, 2 et 3 mois, puis tous les 3 mois la 1<sup>re</sup> année. Ensuite trimestrielle.</p>
<ul>
  <li>Si K+ ≥ 5,5 mmol/L ou DFG &lt; 30: diviser par 2 la dose et surveillance biologique rapprochée.</li>
  <li>Si K+ &gt; 6 mmol/L ou DFG &lt; 20: arrêt immédiat et avis néphrologique en urgence</li>
</ul>
<hr class="my-3">
<p>
  <strong>Précautions quand:</strong> AINS, hyperkaliémie, insuffisance rénale sévère.<br>
  Quand gynécomastie sous spironolactone, remplacer par l’éplérénone.
</p>