<div class="data-table" role="region" aria-labelledby="table-calcium-children" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-calcium-children" itemprop="about"><span class="font-weight-bold">Tableau.</span>
    Modalités assurant l’ensemble des apports en calcium recommandés chez l’enfant d’après Bacchetta et al 2022</caption>
  <thead>
    <tr>
      <th scope="col">Âge</th>
      <th scope="col">Apports lactés quotidiens recommandés</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">7-11 mois</th>
      <td>390 mL (2<sup>e</sup> âge)</td>
    </tr>
    <tr>
      <th scope="row">1-3 ans</th>
      <td>250 mL (croissance) + 1 yaourt (125 g)<br>+ 10 g fromage pâte pressée</td>
    </tr>
    <tr>
      <th scope="row">4-10 ans</th>
      <td>200 mL (vache) + 1 yaourt (125 g)<br>+ 30 g fromage pâte pressée<br>+ 250 mL eau minérale à 500 mg/L calcium</td>
    </tr>
    <tr>
      <th scope="row">11-17 ans</th>
      <td>350 mL (vache) + yaourt (125 g)<br>+ 30 g fromage pâte pressée<br>+ 600 mL eau minérale à 500 mg/L calcium</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p>
    <a href="https://afpa.org/content/uploads/2022/03/Vitamin-D-and-calcium-intakes-in-general-pediatric-populations-A-French-expert-consensus-paper-20-02-2022.pdf" rel="external nofollow noopener"
      >Bacchetta J et al; SFP, SFneonatalogie, AFPA et al. Vitamin D and calcium intakes in general pediatric populations: A French expert consensus paper. Archives de pédiatrie. 2022. (PDF)</a
    >
  </p>
</blockquote>