<p>Une contraception doit être débutée au plus tard à <strong>J21</strong> post-partum:</p>
<ul>
<li>Estroprogestatifs (COP, anneau, patch)
<ul>
<li>Absence d’allaitement: utilisables à partir de <strong>J42</strong> (6 semaines)<br>
J21 selon l’OMS en l’absence de facteur de risque de MVTE (obésité, tabagisme, prééclampsie, césarienne, antécédent de MVTE, thrombophilie, immobilisation, transfusion à l’accouchement, hémorragie du post-partum).</li>
<li>Évaluer le rapport bénéfice/risque entre 6 et 12 semaines si facteur de risque vasculaire</li>
<li>Allaitement: COP non recommandée dans les 6 mois qui suivent l’accouchement</li>
</ul>
</li>
<li><strong>Progestatifs</strong> (oral, <strong>implant</strong>)<br>
Utilisables à partir de J21 sauf épisode thromboembolique veineux aigu.</li>
<li>DIU
<ul>
<li>Possible à partir de J28</li>
<li>Posé à la consultation post-natale</li>
<li>Après recherche d’IST si facteurs de risque<br>
  Antécédent d’IST ou d’infection génitale haute, âge &lt; 25 ans, partenaires multiples.</li>
</ul>
</li>
<li>Méthode de l’allaitement maternel et de l’aménorrhée (<em>MAMA</em>) jusqu’à 6 mois<br>
Risque de grossesse &lt; 2% à 6 mois si:
<ul>
<li>Allaitement exclusif jour et nuit 6-10/j</li>
<li>Max 6 heures entre 2 tétées la nuit et 4 heures le jour</li>
<li>Aménorrhée persistante</li>
</ul>
</li>
<li>Éviter diaphragme et cape cervicale</li>
</ul>
<p><strong>NB.</strong> Sur-risque de MVTE jusqu’à 6 semaines après l’accouchement.</p>
