<p><strong>Ordonnance pour la pharmacie</strong></p>
<p>Helikit® ou Infai® 75 mg. 1 boîte</p>
<p>Infai® 45 mg de 3 à 11 ans.</p>
<hr>
<p><strong>Ordonnance pour le laboratoire</strong></p>
<p>Réalisation du test Helikit® ou Infai®</p>
<p>8 semaines (au moins 4) après la fin du traitement ET au moins 2 semaines après l’arrêt total des IPP.<br>
Vous ne devez pas avoir bu, ni mangé, ni fumé depuis la veille au soir.</p>
<p>Privilégier une endoscopie en cas de test positif objectivant la persistance de l’infection.</p>