<div class="data-table" role="region" aria-labelledby="table-ic-angor" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-ic-angor" itemprop="about"><span class="font-weight-bold">Tableau.</span> Inhibiteurs calciques pour le traitement de l’angor
    disponibles en France en 2026. Dr JB Fron d’après ESC et BDPM.
    Une prise par jour sauf mention contraire. DHP = dihydropyridine</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Maximum (mg)</th>
      <th scope="col">DHP</th>
      <th scope="col">RCP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Amlodipine 🌍</th>
      <td class="text-right">10</td>
      <td>non</td>
      <td><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/69622809/extrait#tab-rcp" rel="external nofollow noopener">lien</a></td>
    </tr>
    <tr>
      <th scope="row">Félodipine 🌍</th>
      <td class="text-right">10</td>
      <td>non</td>
      <td><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/69451322/extrait#tab-rcp" rel="external nofollow noopener">lien</a></td>
    </tr>
    <tr>
      <th scope="row">Nifédipine</th>
      <td class="text-right">60</td>
      <td>non</td>
      <td><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/66932763/extrait#tab-rcp" rel="external nofollow noopener">lien</a></td>
    </tr>
    <tr>
      <th scope="row">Diltiazem</th>
      <td class="text-right">300</td>
      <td>oui</td>
      <td><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61381352/extrait#tab-rcp" rel="external nofollow noopener">lien</a></td>
    </tr>
    <tr>
      <th scope="row">Vérapamil</th>
      <td class="text-right">240 x 2/j</td>
      <td>oui</td>
      <td><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60628554/extrait#tab-rcp" rel="external nofollow noopener">lien</a></td>
    </tr>
  </tbody>
  </table>
</div>
<h4 class="typography-headline-6">Inhibiteurs calciques dihydropyridiniques</h4>
<p><strong>Contre-indications principales:</strong> choc cardiogénique, sténose aortique sévère, cardiomyopathie obstructive, bradycardie.</p>
<p><strong>Principaux effets indésirables:</strong> céphalées, œdèmes des chevilles, fatigue, flush, tachycardie réflexe, hyperplasie gingivale.</p>
<hr class="my-3">
<h4 class="typography-headline-6">Inhibiteurs calciques non dihydropyridiniques</h4>
<p><strong>Contre-indications principales:</strong> bradycardie ou trouble du rythme, insuffisance cardiaque, syndrome de déficience du tissu nodal.</p>
<p><strong>Principaux effets indésirables:</strong> bradycardie, troubles de la conduction, constipation, hyperplasie gingivale.</p>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://academic.oup.com/eurheartj/article/41/3/407/5556137#199808946" rel="external nofollow noopener"
      >ESC 2019 CCS Supplementary data</a
    >
  </p>
</blockquote>