<div class="data-table" role="region" aria-labelledby="table-ica" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-ica" itemprop="about"><span class="font-weight-bold">Tableau.</span> Inhibiteurs calciques dihydropyridine pour le traitement de hypertension artérielle
    disponibles en France en 2026. Dr JB Fron d’après ESC et BDPM.
    Une prise par jour sauf mention contraire.</caption>
  <thead>
    <tr>
      <th scope="col">Substance</th>
      <th scope="col">Disponible (mg)</th>
      <th scope="col">Max (mg/j)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Amlodipine 🌍</th>
      <td class="text-right">5, 10</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Félodipine 🌍</th>
      <td class="text-right">5</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Lercanidipine</th>
      <td class="text-right">10, 20</td>
      <td class="text-right">20</td>
    </tr>
    <tr>
      <th scope="row">Manidipine</th>
      <td class="text-right">10, 20</td>
      <td class="text-right">40</td>
    </tr>
    <tr>
      <th scope="row">Nifédipine LP</th>
      <td class="text-right">20, 30</td>
      <td class="text-right">90</td>
    </tr>
  </tbody>
  </table>
</div>
<h4 class="typography-headline-6">Inhibiteurs calciques dihydropyridiniques</h4>
<p><strong>Contre-indications principales:</strong> choc cardiogénique, sténose aortique sévère, cardiomyopathie obstructive, bradycardie.</p>
<p><strong>Principaux effets indésirables:</strong> céphalées, œdèmes des chevilles, fatigue, flush, tachycardie réflexe, hyperplasie gingivale.</p>
<hr class="my-3">
<blockquote class="mt-4">
  <p>
    <a href="https://academic.oup.com/eurheartj/article/45/38/3912/7741010#supplementary-data" rel="external nofollow noopener">
      McEvoy J et al. 2024 ESC Guidelines for the management of elevated blood pressure and hypertension Supplementary data.
    </a>
  </p>
</blockquote>