<ul>
  <li>Saxagliptine
    <ul>
      <li>Éviter chez l’insuffisant cardiaque (<em>SFD 2023</em>, remb 15 %)</li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/62363108/extrait#tab-rcp" rel="external nofollow noopener">Saxagliptine 5 mg</a> x 1/j</li>
      <li>Avec metformine: <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/68674913/extrait#tab-rcp-et-notice" rel="external nofollow noopener">Komboglyze 2,5/1000 mg</a> x 2/j (arrêt 01/2026)</li>
    </ul>
  </li>
  <li><strong>Sitagliptine</strong>
    <ul>
      <li>Gliptine de référence (<em>SFD 2025</em>, remb 30 %)<br>
      <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/64821668/extrait#tab-rcp" rel="external nofollow noopener">100</a> mg x 1/j</li>
      <li>Avec metformine: <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60886615/extrait#tab-rcp" rel="external nofollow noopener">50/1000</a> mg x 2/j</li>
    </ul>
  </li>
  <li>Vildagliptine
    <ul>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61787125/extrait#tab-rcp" rel="external nofollow noopener">50 mg</a> x 2/j (remb 30 %)</li>
      <li>Avec metformine: <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61327301/extrait#tab-rcp" rel="external nofollow noopener">50/1000 mg</a> x 2/j</li>
    </ul>
  </li>
</ul>
<p>Arrêt du traitement si baisse de l’HbA1c &lt; 0,5 % à 3-6 mois. <strong>Ne pas associer au GLP-1</strong>.</p>