<p>
  Inhibiteurs du cotransporteur sodium-glucose de type 2 (iSGLT2 ou gliflozines)
  pour la maladie rénale chronique (MRC), l’insuffisance cardiaque chronique (💔),
  le diabète type 2, la maladie cardiovasculaire (🫀):
</p>
<ul>
  <li>
    Canagliflozine (🫀)<br>
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/invokana-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >Invokana 100 mg</a
    >
    ou
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/invokana-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >300 mg</a
    >
    x 1-3/j
  </li>
  <li>
    <strong>Dapagliflozine</strong> (MRC, 🫀, 💔)<br>
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/forxiga-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >Forxiga 10 mg</a
    >
    x 1/j<br>
    Avec metformine:
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/xigduo-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >Xigduo 5/1000 mg</a
    >
    x 2/j<br>
    Initiation possible jusqu’à 25-29 de DFG.
  </li>
  <li>
    <strong>Empagliflozine (MRC, 🫀, 💔)</strong><br>
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/jardiance-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >Jardiance</a
    >
    10 à 25 mg x 1/j<br>
    Avec metformine:
    <a
      href="https://www.ema.europa.eu/fr/documents/product-information/synjardy-epar-product-information_fr.pdf"
      rel="external nofollow noopener"
      >Synjardy 5/1000 à 12,5/1000 mg</a
    >
    x 2/j<br>
    Initiation possible jusqu’à 20-29 de DFG (10 mg/j).
  </li>
</ul>
<hr>
<p>
  Pour le diabète: perte de 1-3 kg, baisse de l’HbA<sub>1c</sub> de 0,5 à 0,9 %
  (arrêter si baisse &lt; 0,5 % à 3-6 mois sauf maladie cardiovasculaire évoluée
  ou maladie rénale chronique où le traitement doit être maintenu jusqu’à la
  dialyse).
</p>
<hr>
<p>
  Les gliflozines peuvent être poursuivies jusqu’au traitement de suppléance (<em>Diévart et al 2023</em>).
  Elles ne donnent pas d’hypoglycémies.
</p>
<p>
  <strong>Précautions d’emploi:</strong> suspendre en cas de jeûne prolongé,
  plaie du pied ischémique évolutive, chirurgie ou pathologie aiguë.
  Attention en cas d’hypovolémie. Une baisse initiale temporaire du DFG peut être observée,
  elle ne nécessite aucune action.
</p>
<p>
  <strong>Contre-indications:</strong> diabète type 1, hypersensibilité à la substance,
  greffe rénale.
</p>
<p>
  <strong>Effets indésirables des inhibiteurs du SGLT2:</strong> infections
  urinaires et mycosiques (rarement récidivantes, mesures d’hygiène), polyurie,
  risque d’hypovolémie, rares acidocétoses.
</p>
<p>Sécurité satisfaisante en gériatrie.</p>
<blockquote class="mt-4">
  <p>
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/37533269/"
      rel="external nofollow noopener"
    >
      Diévart F, Darmon P, Halimi J-M, Hadjadj S, Angoulvant D, Prévost G,
      Delanaye P, Boivin J-M. Quand et comment utiliser les inhibiteurs de la
      SGLT2 ou gliflozines en pratique clinique ? Nephrol Ther 2023 ; 19 : 1-27.
      doi : 10.1684/ndt.2023.25</a
    >
  </p>
  <p>
    <a
      href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/11-698.pdf"
      rel="external nofollow noopener"
    >
      Darmon P, et al. Prise de position de la Société Francophone du Diabète
      (SFD) sur les stratégies d’utilisation des traitements
      anti-hyperglycémiants dans le diabète de type 2 - 2025. Med Mal Metab.
      2025. (PDF)</a
    >
  </p>
  <p lang="en">
    <a
      href="https://kdigo.org/guidelines/diabetes-ckd/"
      rel="external nofollow noopener"
      >Kidney Disease: Improving Global Outcomes (KDIGO) Diabetes Work Group.
      KDIGO 2022 Clinical Practice Guideline for Diabetes Management in Chronic
      Kidney Disease. Kidney Int. 2022.</a
    >
  </p>
</blockquote>
