<div class="data-table" role="region" aria-labelledby="table-repulsifs" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-repulsifs" itemprop="about"><span class="font-weight-bold">Tableau.</span>
    Répulsifs disponibles pour la protection contre les piqûres d’arthropodes d’après Debboun M et al 2015.</caption>
  <thead>
    <tr>
      <th scope="col">Substance</th>
      <th scope="col" class="text-right">Concentrations ([C] en %)</th>
      <th scope="col">[C] si enfant</th>
      <th scope="col">[C] si grossesse</th>
      <th scope="col">Avantages</th>
      <th scope="col">Inconvénients</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DEET</th>
      <td class="text-right">20-50</td>
      <td>2-11 ans: 20 %<br>+12 ans: 30 %</td>
      <td>≤ 30% en zone à risque élevé</td>
      <td>Recul d’utilisation</td>
      <td>Huileux<br>Altère les plastiques<br>Irrite les yeux</td>
    </tr>
    <tr>
      <th scope="row">IR3535</th>
      <td class="text-right">10-30</td>
      <td>0-1 an: 10 %<br>2-11 ans: 20 %<br>+12 ans: 30 %</td>
      <td>≤ 20 %</td>
      <td>Faible odeur<br>Non huileux<br>N’altère pas les plastiques<br>Efficace contre tiques</td>
      <td>Durée moindre sur<br>Anophèles quand ≤ 20%</td>
    </tr>
    <tr>
      <th scope="row">Icaridine ou picaridine ou KBR3023</th>
      <td class="text-right">20-30</td>
      <td>+1 an: 20 %</td>
      <td>≤ 20%</td>
      <td>Large spectre<br>Faible odeur<br>N’altère pas les plastiques</td>
      <td>Moins efficace<br>sur tiques, certaines anophèles<br>et culicoïdes</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p lang="en">
    <a href="https://sante.gouv.fr/prevention-en-sante/sante-des-populations/article/recommandations-sanitaires-pour-les-voyageurs" rel="external nofollow noopener"
      >Répulsifs disponibles pour la protection contre les piqûres d’arthropodes. D’apres Debboun M., Frances SP., Strickman DA.
      Insect repellents handbook, CRC Press 2015 <!--TODO: HCSP 2026--></a
    >
  </p>
</blockquote>