<h4>Nouvelle primo-vaccination pneumocoque</h4>
<ul>
  <li>0-2 ans: voir <a href="/recommandations/examens-suivi-nourrisson/" rel="external nofollow noopener">Vaccins du nourrisson</a></li>
  <li>2-17 ans: voir <a href="/recommandations/vaccins/" rel="external nofollow noopener">Calendrier vaccinal</a></li>
  <li>18 ans et plus: Capvaxive dose unique</li>
</ul>
<p>Cas des +18 ans ayant reçu Prevenar13® et/ou Pneumovax®: Capvaxive dose unique</p>
<p>Chez le sujet immunodéprimé, schéma identique à l'<a href="/recommandations/asplenie/" rel="external nofollow noopener">asplénique</a></p>