html,
body,
main,
[class*='container'] {
  min-height: 100%;
}

main h1,
main h2 {
  font-family: 'Comfortaa', 'Roboto', sans-serif;
}

.taxonomyList::first-letter {
  text-transform: uppercase;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 3.75rem;
}

@media (max-width 359.98px) {
  h1 {
    line-height: 1;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.recommandation__content h3:not(.typography-overline):not(.typography-subtitle-1) {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;

  margin-top: 20px;
  margin-bottom: 12px;
}

.typography-body-1 {
  color: #424242;
  letter-spacing: normal;
}

.recommandation__content {
  margin-bottom: 5rem;
}

.recommandation__content h2 {
  border-top: 1px solid rgba(0, 0, 0, .12);
  margin: 0;
  padding: 1.5rem 0;
}

.recommandation__content h2:first-of-type {
  border-top: 0;
}

.recommandation__content h3 {
  color: var(--primary);
  margin-top: 36px;
  margin-bottom: 12px;
}
.recommandation__content h3:first-of-type {
  margin-top: 0;
}

.recommandation__content p {
  width: min(100%, 768px);
}

.recommandation__content ul:not(.list-group) {
  list-style: disc outside;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
  width: min(100%, 760px);
}

.recommandation__content li {
  color: #424242;
}

.recommandation__content ul:not(.list-group) li,
.recommandation__content ol li {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5rem;
}

.recommandation__content #sources+.collapse li {
  font-size: inherit;
}

.recommandation__content li>ul {
  margin-top: .5rem;
}

.recommandation__content .alert > :last-child {
  margin-bottom: 0;
}

dl, dt {
  font-size: 1rem;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

.text-404 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16rem;
  font-weight: 700;
  line-height: 1;
  margin: 5rem 0;
  text-shadow: 10px 10px 20px #F5F5F5, -10px -10px 20px #F5F5F5;
}

.navbar {
  border-bottom: 1px solid #e0e0e0;
}

.navdrawer {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2) !important;
  z-index: 60;
}

.navdrawer-header {
  background: transparent;
  border-bottom: 0;
}


@media (min-width: 992px) {
  .navbar {
    border-bottom: 0;
    margin-left: 16rem;
  }

  .navdrawer-permanent-lg~main {
    margin-left: 16rem;
  }
}

@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 24px;
    line-height: 1.5rem;
    padding: 0;
  }

  h2 {
    font-size: 18px;
  }
  h2.typography-headline-5 {
    font-size: 18px;
  }

  .recommandation__content h3:not(.typography-overline):not(.typography-subtitle-1){
    font-size: 18px;
  }
}

@media screen and (max-width: 1023.98px) {
  main {
    margin-top: 56px;
  }
}

#recommandation-aside {
  background-color: #f5f5f5;
}

.card {
  border-radius: 16px;
  margin-bottom: .5rem;
}

.card-title {
  font-family: Comfortaa;
  font-weight: 700;
}

/* Substituts nicotiniques */
		.list-group > .list-group-item {
			user-select: all;
		}

		.list-group-sm > .list-group-item {
			min-height: 2.75rem;
			padding: 8px 1rem;
		}

		.list-group-xs > .list-group-item {
			display: flex;
			min-height: 2.5rem;
			padding: 4px 1rem;
			user-select: all;
		}

	.radio-card {
		flex-grow: 1;
		font-size: 1rem;
		font-weight: 500;
		margin: 0 1rem;
	}

.card-input-element+.card {
	background: #f5f5f5;
  height: calc(48px + 2*1rem);
  color: var(--primary);

  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  background: var(--primary);
	color: white;
  transition: color 100ms 200ms, background-color 100ms 200ms;
}

/* Plugins */
.mermaid {
  margin-bottom: 24px;
}
