<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
  {{ partial "header.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    {{- partial "navdrawer.html" . }}
    <main id="main">
      {{- block "main" . -}}{{- end }}
      <div role="region" aria-labelledby="btn-contact" class="fab-actions">
        <button id="btn-contact" class="d-none d-lg-flex btn btn-primary btn-float btn-float-extended" type="button" data-toggle="modal" data-target="#modal-contact">
          <svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H5.17l-.59.59-.58.58V4h16v12zm-9-4h2v2h-2zm0-6h2v4h-2z"/></svg>
          Contact</button>
        <button class="d-lg-none btn btn-primary btn-float" type="button" data-toggle="modal" data-target="#modal-contact" aria-label="Contact">
          <svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H5.17l-.59.59-.58.58V4h16v12zm-9-4h2v2h-2zm0-6h2v4h-2z"/></svg>
        </button>
      </div>
      <!-- Contact -->
      <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-title">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img class="d-none d-md-block" src="/images/icons/undraw_Typing.svg" alt="Écrire un commentaire" aria-hidden="true" width="250" height="214" loading="lazy">
              <p class="modal-title" id="modal-contact-title">Contact</p>
            </div>
            <form name="contact" method="post" data-netlify="true">
              <div class="modal-body">
                Une suggestion, une remarque ou une critique ? Dites-le.
                <div class="form-group mt-4">
                  <div class="input-group">
                    <input class="form-control" placeholder="Adresse e-mail" type="email" name="email" aria-label="Votre e-mail" autocomplete="email" required oninvalid="setCustomValidity('Merci de renseigner votre e-mail.')">
                    <span class="input-group-icon">
                      <!--Mail--><svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 4.99L4 6h16zm0 12H4V8l8 5 8-5v10z"/></svg>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <textarea class="form-control" placeholder="Commentaires et remarques" rows="5" name="message" aria-label="Votre commentaire" required oninvalid="setCustomValidity('Merci de m\'en dire un peu plus.')"></textarea>
                    <span class="input-group-icon">
                      <!--Comment--><svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H5.17l-.59.59-.58.58V4h16v12zm-9.5-2H18v-2h-5.5zm3.86-5.87c.2-.2.2-.51 0-.71l-1.77-1.77c-.2-.2-.51-.2-.71 0L6 11.53V14h2.47l5.89-5.87z"/></svg>
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
