{{ define "main" }}
<!-- Example: Page like Tags > anticoagulant ou Accueil > annees > 2017-->
<div class="bg-light list-page">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h1 class="taxonomyList">{{ .Title }}</h1>
        <nav aria-label="Fil d'ariane" class="mb-4">
          <ol class="breadcrumb">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
          </ol>
        </nav>
      </div>
      <div class="col-12 grid-1-2-3">
      {{ range .Pages.ByTitle }}
      <div class="card">
        <div class="card-body position-relative card-primary-action">
          <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ with .Params.specialites}}<h3 class="card-subtitle d-none d-md-block">{{ delimit . ", " }}</h3>{{end}}
        </div>
        <div class="card-actions">
          {{ partial "widgets/guidelineyear-render.html" . }}
          {{ partial "widgets/tags-render.html" . }}
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
