{{ define "main" }}
<!-- Example: Page like Tags > Bronchiolite ou Accueil > annees > 2017-->
<div class="bg-light list-page">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h1 class="taxonomyList my-xl-5">{{ .Title }}</h1>
        {{ $url := replace .RelPermalink ( printf "%s" .Site.BaseURL) "" }}
        {{ $.Scratch.Add "path" .Site.BaseURL }}
        <nav aria-label="breadcrumb" class="mb-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            {{ range $index, $element := split $url "/" }}
              {{ $.Scratch.Add "path" $element }}
                {{ if ne $element "" }}
                  <li class="breadcrumb-item text-capitalize"><a href="{{ $.Scratch.Get "path" }}/">{{ . }}</a></li>
                {{ $.Scratch.Add "path" "/" }}
              {{ end }}
            {{ end }}
          </ol>
        </nav>
      </div>
      {{ range .Pages.ByTitle }}
      <div class="col-sm-6 col-lg-4 d-flex">
        <div class="card flex-fill mb-3">
          <div class="card-body position-relative card-primary-action">
            <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <h3 class="card-subtitle d-none d-md-block">{{ with .Params.specialites}}{{ delimit . ", " }}{{end}}</h3>
          </div>
          <div class="card-actions">
            {{ partial "widgets/guidelineyear-render.html" . }}
            {{ partial "widgets/tags-render.html" . }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}