{{ define "main" }}

<h1>{{ .Title }}</h1>
<h2>_Default single</h2>

{{ partial "widgets/date-short.html" . }}
{{ partial "widgets/tags-render.html" . }}
{{- range .Params.auteurs }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "auteurs/%s" (urlize .)) }}

  <a class="text-primary" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ .Params.name }}" data-content="<a href='{{ .Permalink }}'>Toutes ses publications</a>">{{ .Params.name }}</a>
  {{ end }}
{{ end }}
<br><br>



<br><br>
{{ .Content }}

{{ end }}