{{ define "main" }}
<div class="container-fluid recommandation">
  <div class="row min-vh-100">
    <aside class="col-lg-3 col-xl-2 order-3 order-lg-1 d-flex flex-column px-0 d-print-none" id="recommandation-aside">
      <figure class="figure">
        {{ $image := $.File.BaseFileName }}
        {{ $imageUrl := "" }}
        <a href="{{ printf "/images/photos/%s.jpg" $image }}" target="_blank" rel="nofollow">
          <img class="figure-img img-fluid"
            {{ with .Params.image }}
              {{ if $.Params.imagePNG }}
                {{ $imageUrl = printf "/images/photos/%s.png" $image }}
              {{ else }}
                {{ $imageUrl = printf "/images/photos/%s.jpg" $image }}
              {{ end }}
              src="{{ $imageUrl }}"
            {{ else }}
              src="/images/icons/placeholder.svg"
              aria-hidden="true"
            {{ end }}
            importance="high"
            alt="Image de {{ .Title }}"
            style="width: 100%; height: 300px; object-fit: cover">
        </a>
          {{ with .Params.ImageSrc }}
            <figcaption class="figure-caption px-2">{{ . }}</figcaption>
          {{ end }}
      </figure>
      <div class="px-3 recommandation__info">
        {{ with .Params.specialites }}
        <p class="typography-overline">Système</p>
        <p class="font-weight-bold text-capitalize">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Auteurs }}
        <p class="typography-overline">Rédacteur</p>
        <p>{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.sources }}
        <p class="typography-overline">Sources</p>
        <p class="font-weight-bold">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Anglais }}
        <p class="typography-overline">Anglais</p>
        <p lang="en">{{ delimit . ", " }}</p>{{ end }}

        <p class="typography-overline">Mots-clés</p>
        <div class="d-flex flex-wrap">{{ partial "widgets/tags-render.html" . }}</div>

        {{ with .Params.Sctid }}
        <p class="typography-overline" lang="en">SNOMED-CT</p>
        <p><a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1={{.}}&release=&languages=en" target="_blank" rel="nofollow noopener" data-toggle="tooltip" title="La terminologie médicale de référence">{{ . }}</a></p>{{ end }}

        <p class="typography-overline mt-4">Dernières fiches</p>
        {{ range first 4 ( where .Site.RegularPages "Section" "recommandations") }}
        <p class="typography-body-2">
          <a href="{{ .RelPermalink }}">{{ .Title }} <span class="text-muted ml-2" aria-hidden="true">{{ .Lastmod.Format "2 Jan"}}</span></a>
        </p>
        {{ end }}
      </div>
    </aside>
    <!-- CONTENT -->
    <div class="col-lg-9 col-xl-9 offset-xl-1 order-2">
        <div class="row">
          <article class="col">
            <div class="w-768">
              <h1 class="my-3 mt-md-5 my-xl-5">{{ .Title }}</h1>
              {{ with .Params.Synonyms }}
              <h2 class="typography-headline-5 text-black-secondary">{{ delimit . ", " }}</h2>
              {{ end }}

              <div class="d-flex flex-wrap align-items-center">
              {{ with .Params.annees }}
                {{ $href := print ("annees/") (urlize .) }}
                <a class="chip chip-secondary" href="{{ $href }}" data-toggle="tooltip" title="Toutes les recos de {{ . }}" data-placement="bottom">Recommandation {{ . }}</a>
              {{ end }}

              {{ if .Lastmod }}
                <span class="chip chip-outline">Mis à jour <time lang="en" class="ml-1" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ if (eq .Lastmod.Year now.Year) }}{{ .Lastmod.Format "2 January" }}{{ else }}{{ .Lastmod.Format "2 January 2006" }}{{ end }}</time></span>
              {{ end }}

              {{- range .Params.auteurs }}
                {{- with $.Site.GetPage "taxonomyTerm" (printf "auteurs/%s" (urlize .)) }}
                <!--<a class="text-primary" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ .Params.name }}" data-content="<a href='{{ .RelPermalink }}'>Toutes ses publications</a>">{{ .Params.name }}</a>-->
                {{ end }}
              {{ end }}

              {{- with .Params.relecteur }}
                <span class="chip chip-outline">Relecture {{ . }}</span>
              {{ end }}
                
              <!--<div class="ml-auto btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-icon text-black-secondary d-print-none">
                  <input type="checkbox" class="d-none"></label>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 8h-1V3H6v5H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zM8 5h8v3H8V5zm8 12v2H8v-4h8v2zm2-2v-2H6v2H4v-4c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v4h-2z"/><circle cx="18" cy="11.5" r="1"/></svg>
              </div>-->
                <button class="ml-auto btn btn-icon text-black-secondary d-print-none d-none d-lg-flex" type="button" aria-label="Imprimer la page" onclick="javascript:window.print()" data-toggle="tooltip" title="Imprimer la reco">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 8h-1V3H6v5H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zM8 5h8v3H8V5zm8 12v2H8v-4h8v2zm2-2v-2H6v2H4v-4c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v4h-2z"/><circle cx="18" cy="11.5" r="1"/></svg>
                </button>
              </div>
              <div class="mt-4 recommandation__content">
                {{ .Content }}
              </div>
            </div>
          </article>
          <!--<aside class="col-xl-1">
            {{.TableOfContents}}
          </aside>-->
        </div>
      </div>
  </div>
</div>
{{ end }}