{{ define "main" }}
<div class="container-fluid recommandation">
  <div class="row min-vh-100">
    <aside class="col-lg-3 col-xl-2 order-3 order-lg-1 d-flex flex-column px-0 d-print-none" id="recommandation-aside">
      <img class="img-fluid"
        src="https://via.placeholder.com/640x360"
        alt="Images de {{ .Title }}"
        loading="lazy">

      <div class="px-3">
        {{ with .Params.Categories }}
        <p class="typography-overline text-black-secondary mb-0">Système</p>
        <p class="font-weight-bold text-capitalize">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Auteurs }}
        <p class="typography-overline text-black-secondary mb-0">Rédacteur</p>
        <p class="font-weight-bold">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.sources }}
        <p class="typography-overline text-black-secondary mb-0">Sources</p>
        <p class="font-weight-bold">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Anglais }}
        <p class="typography-overline text-black-secondary mb-0">Anglais</p>
        <p lang="en">{{ delimit . ", " }}</p>{{ end }}

        <p class="typography-overline text-black-secondary mb-0">Mots-clés</p>
        <div class="d-flex flex-wrap">{{ partial "widgets/tags-render.html" . }}</div>

        {{ with .Params.Sctid }}
        <p class="typography-overline text-black-secondary mb-0">SNOMED-CT</p>
        <p><a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1={{.}}&release=&languages=en" target="_blank" rel="nofollow">{{ . }}</a></p>{{ end }}

        <p class="typography-overline text-black-secondary mt-4 mb-0">Dernières fiches</p>
        {{ range first 4 ( where .Site.RegularPages "Section" "recommandations") }}
        <p class="typography-body-2">
          <a href="{{ .Permalink }}">{{ .Title }} <span class="text-muted ml-2">{{ .Lastmod.Format "2 Jan"}}</span></a>
        </p>
        {{ end }}
      </div>
    </aside>
    <!-- CONTENT -->
    <article class="col-lg-9 col-xl-9 offset-xl-1 order-2">
        <div class="row">
          <div class="col-xl-10">
            <h1 class="mt-3 mt-md-5">{{ .Title }}</h1>
            {{ with .Params.Synonyms }}
            <h2 class="typography-headline-5 text-black-secondary">{{ delimit . ", " }}</h2>
            {{ end }}

            <div class="d-flex align-items-center">
            {{ with .Params.guidelineyears }}
            {{ $href := print (absURL "guidelineyears/") (urlize .) }}
            <a class="chip chip-primary chip-action" href="{{ $href }}" data-toggle="tooltip" title="Toutes les recos {{ . }}" data-placement="bottom">Reco {{ . }}</a>
            {{ end }}

            {{ with .Lastmod }}        
              <span class="chip chip-outline">Mise à jour <time class="ml-1" datetime="{{.Format "2006-01-02T15:04:05Z07:00" | safeHTML}}">{{ if eq .Year now.Year }}{{ .Format "2 Jan" }}{{ else }}{{ .Format "2 Jan 2006" }}{{ end }}</time></span>
            {{ end }}

            {{- range .Params.auteurs }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "auteurs/%s" (urlize .)) }}
              <!--<a class="text-primary" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{ .Params.name }}" data-content="<a href='{{ .Permalink }}'>Toutes ses publications</a>">{{ .Params.name }}</a>-->
              {{ end }}
            {{ end }}

              <button class="ml-auto btn btn-icon text-black-secondary d-print-none d-none d-lg-flex" type="button" onclick="javascript:window.print()" data-toggle="tooltip" title="Imprimer la reco"><i class="material-icons">print</i></button>
            </div>

            <div class="mt-4 recommandation__content">
              {{ .Content }}
            </div>
          </div>
          <!--<div class="col-xl-1">
            {{.TableOfContents}}
          </div>-->
        </div>
    </article>
  </div>
</div>
{{ end }}