{{ define "main" }}
{{ $image := $.File.BaseFileName }}
{{ $imageUrl := "" }}
{{ with .Params.image }}
  {{ if $.Params.imagePNG }}
    {{ $imageUrl = printf "/images/photos/%s.png" $image }}
  {{ else if $.Params.imageWEBP }}
    {{ $imageUrl = printf "/images/photos/%s.webp" $image }}
  {{ else }}
    {{ $imageUrl = printf "/images/photos/%s.jpg" $image }}
  {{ end }}
{{ else }}
  {{ $imageUrl = "/images/icons/placeholder.svg" }}
{{ end }}

<div class="container-fluid recommandation">
  <div class="row min-vh-100">
    <aside class="col-lg-3 col-xl-2 order-3 order-lg-1 d-flex flex-column px-0 d-print-none" id="recommandation-aside">
      <figure class="figure">
        <a href="{{ $imageUrl }}" target="_blank"><!--Min 1200px en 16x9, 4x3 et 1x1; BMP, GIF, JPEG, PNG, WebP et SVG; https://developers.google.com/search/docs/data-types/article#structured-data-type-definitions; fb jpg/gif/png-->
          <img class="figure-img img-fluid img-reco"
            src="{{ $imageUrl }}"
            loading="eager"
            decoding="async"
            importance="high"
            fetchpriority="high"
            alt="Image de {{ .Title }}">
        </a>
          {{ with .Params.ImageSrc }}
            <figcaption class="figure-caption px-2" aria-hidden="true">{{ . }}</figcaption>
          {{ end }}
      </figure>
      <div class="px-3 recommandation__info">
        {{ with .Params.specialites }}
        <p class="typography-overline">Système</p>
        <p class="font-weight-bold text-capitalize">{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Auteurs }}
        <p class="typography-overline">Rédacteur</p>
        <p>{{ delimit . ", " }}</p>{{ end }}

        {{ with .Params.Relecteur }}
        <p class="typography-overline">Relecteur</p>
        <p>{{ . }}</p>{{ end }}

        {{ with .Params.sources }}
        <p class="typography-overline">Sources</p>
        <p class="font-weight-bold">{{ range . }}<abbr class="mr-2">{{ . }}</abbr>{{ end }}</p>{{ end }}

        {{ with .Params.Anglais }}
        <p class="typography-overline">Anglais</p>
        <p lang="en">{{ delimit . ", " }}</p>{{ end }}

        {{ if gt (len .Params.Tags) 0 }}<!-- Array not empty -->
        <p class="typography-overline">Mots-clés</p>
        <div class="d-flex flex-wrap">{{ partial "widgets/tags-render.html" . }}</div>{{ end }}

        {{ with .Params.Sctid }}
        <p class="typography-overline" lang="en">SNOMED-CT</p>
        <p><a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1={{.}}&release=&languages=en" rel="external nofollow noopener" data-toggle="tooltip" title="La terminologie médicale de référence">{{ . }}</a></p>{{ end }}

        <p class="typography-overline mt-4">Dernières fiches</p>
        {{ range first 6 ( where .Site.RegularPages "Section" "recommandations") }}
        <p class="typography-body-2 font-weight-bold">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </p>
        {{ end }}
      </div>
    </aside>
    <!-- CONTENT -->
    <div class="col-lg-9 col-xl-9 offset-xl-1 order-2">
        <div class="row">
          <article class="col">
            <div class="w-768">
              <header class="recommandation__header">
                <h1 class="my-3 mt-md-5 my-xl-5">{{ .Title }}</h1>
                {{ with .Params.Synonyms }}
                <h2>{{ delimit . ", " }}</h2>
                {{ end }}

                <div class="d-flex flex-wrap align-items-center">
                {{ with .Params.annees }}
                  <a class="chip chip-secondary chip-action mr-3" href="/annees/{{ . | urlize }}/" rel="tag" data-toggle="tooltip" title="Toutes les recos de {{ . }}" data-placement="bottom">Recommandation {{ . }}</a>
                {{ end }}

                {{- with .Params.sources }}
                  {{- range . }}
                  <span class="header-params px-2">{{ . }}</span> &bull;
                  {{ end }}
                {{ end }}

                {{ if .Lastmod }}
                  <span class="header-params px-2">Mis à jour <time lang="en" class="ml-1" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2 January 2006" }}</time></span>
                {{ end }}

                {{- range .Params.auteurs }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "auteurs/%s" (urlize .)) }}
                  {{ end }}
                {{ end }}

                {{- with .Params.relecteur }}
                  <span class="header-params px-2">Relecture {{ . }}</span>
                {{ end }}
                  <a class="ml-auto btn btn-icon text-black-secondary d-print-none d-none d-lg-flex" href="https://github.com/djibe/recommandations-medicales/commits/master/content/recommandations/{{ .File.LogicalName }}" rel="external nofollow noopener" data-toggle="tooltip" title="Historique des modifications" aria-label="Historique des modifications"><svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/></svg></a>
                  <button class="btn btn-icon text-black-secondary d-print-none d-none d-lg-flex" type="button" onclick="javascript:window.print()" data-toggle="tooltip" title="Imprimer la page" aria-label="Imprimer la page">
                    <svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M19 8h-1V3H6v5H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zM8 5h8v3H8V5zm8 12v2H8v-4h8v2zm2-2v-2H6v2H4v-4c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v4h-2z"/><circle cx="18" cy="11.5" r="1"/></svg>
                  </button>
                </div>
              </header>
              <div class="mt-4 recommandation__content">
                {{ with .Params.Relecteur }}<p class="my-4">Tous mes remerciements au {{ . }} pour sa relecture attentive.</p>{{ end }}
                {{ .Content }}
              </div>
            </div>
          </article>
        </div>
      </div>
  </div>
</div>
{{ end }}