{{ define "main" }}
<div class="bg-light list-page">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h1 class="taxonomyList text-primary">Recommandations publiées en {{ .Title }}</h1>
        <nav aria-label="Fil d'ariane" class="my-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/recommandations/">Recommandations</a></li>
            <li class="breadcrumb-item"><a href="/annees/">Années</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
        {{ with .Content }}<div class="mb-5">{{ . }}</div>{{ end }}
      </div>
      <div class="col-12 grid-1-2-3 mb-5">
      {{ range .Pages.ByTitle }}
      <div class="card">
        <div class="card-body position-relative card-primary-action">
          <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ with .Params.specialites}}<h3 class="card-subtitle d-none d-md-block">{{ delimit . ", " }}</h3>{{end}}
        </div>
        <div class="card-actions">
          {{ partial "widgets/guidelineyear-render.html" . }}
          {{ partial "widgets/tags-render.html" . }}
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}