<div class="data-table" role="region" aria-labelledby="table-reperage" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-reperage" itemprop="about"><span class="font-weight-bold">Tableau.</span> Repérage d’une consommation de substance psychoactive à risque d’après HAS 2021.</caption>
  <thead>
    <tr>
      <th scope="col">Substance</th>
      <th scope="col">Questions</th>
      <th scope="col">À risque</th>
      <th scope="col">Action en consommation à risque</th>
      <th scope="col">Action sans consommation à risque</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3">Alcool</th>
      <td>Combien de verres par jour&nbsp;?</td>
      <td>&gt; 2/j</td>
      <td rowspan="5">Évaluation du risque</td>
      <td rowspan="5">Renforcement des conduites favorables à la santé</td>
    </tr>
    <tr>
      <td>Combien de verres par semaine&nbsp;?</td>
      <td>ou &gt; 10/sem</td>
    </tr>
    <tr>
      <td>Combien de jours d’abstinence par semaine&nbsp;?</td>
      <td>ou &lt; 2/sem</td>
    </tr>
    <tr>
      <th scope="row">Cannabis</th>
      <td>Fumez-vous du cannabis&nbsp;?</td>
      <td>Oui</td>
    </tr>
    <tr>
      <th scope="row">Tabac</th>
      <td>Fumez-vous du tabac&nbsp;?</td>
      <td>Oui</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p>
    <a href="https://www.has-sante.fr/jcms/c_1795221/fr/outil-d-aide-au-reperage-precoce-et-intervention-breve-alcool-cannabis-tabac-chez-l-adulte" rel="external"
      >HAS. Outil d’aide au repérage précoce et à l’intervention brève. Janvier 2021.</a
    >
  </p>
</blockquote>