<div class="data-table my-3" role="region" aria-labelledby="table-anemie-def" tabindex="0">
  <table class="table table-sm table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-anemie-def" itemprop="about"><span class="font-weight-bold">Tableau.</span> Seuil du diagnostic de l’anémie au niveau de la mer. Dr JB Fron d’après OMS 2024.</caption>
  <thead>
    <tr>
      <th scope="col" class="text-right">Population (années)</th>
      <th scope="col" class="text-right">Seuil (g/dL)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6-23 mois</th>
      <td class="text-right">10,5</td>
    </tr>
    <tr>
      <th scope="row">24-59 mois</th>
      <td class="text-right">11&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">5-11</th>
      <td class="text-right">11,5</td>
    </tr>
    <tr>
      <th scope="row">12-14</th>
      <td class="text-right">12&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Homme ≥ 15</th>
      <td class="text-right">13&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Femme ≥ 15</th>
      <td class="text-right">12&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Grossesse 1 et 3T</th>
      <td class="text-right">11&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Grossesse 2T</th>
      <td class="text-right">10,5</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p>T = trimestre. Correction de -0,2 g/dL à 1000 mètres et -0,5 à 1500 mètres au dessus du niveau de la mer</p>
</blockquote>
<blockquote>
  <p>
    <a
      lang="en"
      href="https://iris.who.int/bitstream/handle/10665/376196/9789240088542-eng.pdf?sequence=1"
      rel="external nofollow noopener"
      >Guideline on haemoglobin cutoffs to define anaemia in individuals and populations.
      Geneva: World Health Organization; 2024. (PDF)</a
    >
  </p>
</blockquote>