<ol>
<li>Tableau évocateur de strongyloïdose</li>
<li>Immunosuppresseurs envisagés chez un sujet ayant vécu en zone d’endémie<br>
Corticothérapie forte dose (dès 200 mg éq. prednisone), immunomodulateurs, chimiothérapie.</li>
<li>Sujet infecté par HTLV-1</li>
<li>Migrant ou réfugié originaire de zone d’endémie (à son arrivée)</li>
<li>Donneur et candidat à une greffe d’organe solide (<em>HCSP</em>)</li>
<li>Hémopathie maligne: leucémie, lymphome (<em>CDC</em>)</li>
<li>Éosinophilie inexpliquée (<em>CDC</em>)</li>
<li>Voyages vers les zones d’endémie (<em>CDC</em>)</li>
</ol>