<p>L’asthme intermittent est défini si l’ensemble des critères suivants est rempli:</p>
<ul>
<li>Symptômes diurnes, à l’effort ou utilisation de bronchodilatateur de courte durée maximum 1/mois sur les 3 derniers mois</li>
<li>Aucun réveil nocturne sur les 3 derniers mois</li>
<li>Aucune crise grave nécessitant la prise de corticothérapie orale sur 12 mois</li>
<li>Aucune limitation des activités</li>
<li>Aucun antécédent à risque (soins critiques pour asthme, anaphylaxie alimentaire)</li>
<li>et EFR normales</li>
</ul>
<blockquote>
<p>-- <em>SP2A 2024</em></p>
</blockquote>
