<ul>
<li>Avant la sortie de la maternité: en Guyane ou à Mayotte ou cas récent (&lt; 5 ans) de tuberculose dans son entourage</li>
<li>Enfant né dans un pays de forte endémie (voir plus bas)</li>
<li>Enfant avec ≥ 1 parent originaire d’un pays de forte endémie</li>
<li>Enfant devant séjourner ≥ 1 mois d’affilée en pays de forte endémie</li>
<li>Enfant ayant un antécédent familial de tuberculose (collatéraux ou ascendants directs)</li>
<li>Enfant résidant en Île-de-France, Guyane ou Mayotte</li>
<li>Enfant dans toute situation jugée par le médecin à risque d’exposition au bacille tuberculeux<br>
Logement (habitat précaire ou surpeuplé), socio-économiques (AME, CMU/CSS) ou en contact régulier avec des adultes originaires d’un pays de forte endémie.</li>
</ul>