<div class="data-table" role="region" aria-labelledby="table-calcium-cible" tabindex="0">
  <table class="table table-sm" itemscope itemtype="https://schema.org/Table">
  <caption id="table-calcium-cible" itemprop="about"><span class="font-weight-bold">Tableau.</span> Apports en calcium cibles selon l’âge d’après IOM/NAM</caption>
  <thead>
    <tr>
      <th scope="col" class="text-right">Population (ans)</th>
      <th scope="col" class="text-right">Apport calcique (mg/j)</th>
      <th scope="col">Source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">0-6 mois</th>
      <td class="text-right">200</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">7-11 mois</th>
      <td class="text-right">280</td>
      <td>EFSA</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">1-3</th>
      <td class="text-right">450</td>
      <td>EFSA</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">4-10</th>
      <td class="text-right">800</td>
      <td>EFSA</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">11-17</th>
      <td class="text-right">1150</td>
      <td>EFSA</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Femme 18-50</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Grossesse 14-18</th>
      <td class="text-right">1300</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Grossesse 19+</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Ménopause</th>
      <td class="text-right">1200</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Homme 18-70</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">Homme 70+</th>
      <td class="text-right">1200</td>
      <td>IOF</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p lang="en">
    <a href="https://efsa.onlinelibrary.wiley.com/doi/abs/10.2903/j.efsa.2013.3408" rel="external nofollow noopener"
      >EFSA. Scientific Opinion on nutrient requirements and dietary intakes of infants and young children in the European Union. 2013.</a
    > et <a href="https://www.osteoporosis.foundation/health-professionals/prevention/nutrition/calcium" rel="external nofollow noopener"
      >International Osteoporosis Foundation. Prevention - Calcium.</a
    >
  </p>
</blockquote>