<div class="data-table" role="region" aria-labelledby="table-calcium-cible" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-calcium-cible" itemprop="about"><span class="font-weight-bold">Tableau.</span> Apports en calcium cibles selon l'âge d'après IOM/NAM</caption>
  <thead>
    <tr>
      <th scope="col" class="text-right">Population (ans)</th>
      <th scope="col" class="text-right">Apport calcique (mg/j)</th>
      <th scope="col">Source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">0-6 mois</th>
      <td class="text-right">200</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">6-12 mois</th>
      <td class="text-right">260</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">1-3</th>
      <td class="text-right">700</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">4-8</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">9-13</th>
      <td class="text-right">1300</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">14-18</th>
      <td class="text-right">1300</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Femme 19-50</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Grossesse 14-18</th>
      <td class="text-right">1300</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Grossesse 19+</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Ménopause</th>
      <td class="text-right">1200</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Homme 19-70</th>
      <td class="text-right">1000</td>
      <td>IOF</td>
    </tr>
    <tr>
      <th scope="col" class="text-right">Homme 70+</th>
      <td class="text-right">1200</td>
      <td>IOF</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p lang="en">
    <a href="https://www.osteoporosis.foundation/health-professionals/prevention/nutrition/calcium" rel="external nofollow noopener"
      >International Osteoporosis Foundation. Prevention - Calcium.</a
    >
  </p>
</blockquote>