<p>Cancer défini comme actif selon Kearon et al. si au moins 1 des 3 conditions est remplie:</p>
<ol>
  <li>Traitement non curatif du cancer (ex. chimiothérapie palliative</li>
  <li>Récidive ou progression du cancer sous traitement</li>
  <li>Traitement du cancer en cours</li>
</ol>
<blockquote lang="en">
  <p><a href="https://www.sciencedirect.com/science/article/pii/S1538783622046591" rel="external nofollow noopener"></a>Kearon C et al. Categorization of patients as having provoked or unprovoked venous thromboembolism: guidance from the SSC of ISTH.
    Journal of Thrombosis and Haemostasis. Volume 14. Issue 7. 2016.</p>
</blockquote>