<ul>
  <li>Très haut risque de forme grave (RR &gt; 3)
  <ul>
  <li>Chimiothérapie active à visée oncologique</li>
  <li>Maladie rénale chronique sévère ou dialyse</li>
  <li>Greffé (organe ou CSH)</li>
  <li>≥ 2 insuffisances d’organes</li>
  <li>Maladies rares (liste à venir, lien HAS cassé)</li>
  <li>Trisomie 21</li>
  <li>Immunodépression sévère</li>
  </ul>
  </li>
  <li>Haut risque de forme grave (RR 1,5 - 3)
  <ul>
  <li>Obésité</li>
  <li>Diabète type 1 et 2</li>
  <li>BPCO ou insuffisance respiratoire</li>
  <li>Insuffisance cardiaque</li>
  <li>Hypertension artérielle compliquée<br>
    Complications cardiaques, rénales et vasculo-cérébrales.</li>
  <li>Hépatopathie chronique (cirrhose ++)</li>
  <li>Pathologie psychiatrique</li>
  <li>Démence</li>
  <li>Antécédent d’AVC</li>
  <li><strong>Grossesse</strong> (MinSanté)<br>
  RR: x18 soins intensifs, x22 accouchement prématuré, x2,8 perte fœtale, x5 néonat</li>
  </ul>
  </li>
  </ul>
<blockquote>
  <p>– <em>HAS Décembre 2023</em></p>
</blockquote>