<ul>
  <li>Très haut risque de décès (RR &gt; 3)
  <ul>
  <li>Âge ≥ 75 ans</li>
  <li>Trisomie 21 (surtout ≥ 40 ans)</li>
  <li>Greffe d'organe ou de cellules souches hématopoïétiques</li>
  <li>Dialyse</li>
  </ul>
  </li>
  <li>Haut risque de décès (RR 1,5-3)
  <ul>
  <li>Âge 65-74 ans<br>
  De 50 à 64 ans: sur-risque significatif.</li>
  <li>Diabète type 1 et 2</li>
  <li>Obésité</li>
  <li>Cancer récent, en progression ou sous chimiothérapie</li>
  <li>BPCO et insuffisance respiratoire</li>
  <li>Insuffisance rénale</li>
  <li>Hypertension artérielle compliquée</li>
  </ul>
  </li>
  <li>Très probablement à haut risque de forme grave
  <ul>
  <li>Cirrhose ou hépatopathie chronique</li>
  <li>Troubles psychiatriques</li>
  <li>Démence</li>
  <li>Antécédent d'AVC</li>
  <li>Grossesse (RR 1,7)</li>
  </ul>
  </li>
</ul>
<blockquote>
  <p><em>HAS 01/03/2021</em></p>
</blockquote>
