<ul>
  <li>Très haut risque de forme grave (RR &gt; 3)
  <ul>
  <li>Chimiothérapie active</li>
  <li>Dialyse</li>
  <li>Greffé (organe ou CSH)</li>
  <li>≥ 2 insuffisances d'organes</li>
  <li>Maladies rares (listées dans <em>HAS Annexe 2</em>)</li>
  <li>Trisomie 21</li>
  </ul>
  </li>
  <li>Haut risque de forme grave (RR 1,5-3)
  <ul>
  <li>Diabète type 1 et 2</li>
  <li>Obésité</li>
  <li>Cancer ou hémopathie en cours de traitement</li>
  <li>BPCO et insuffisance respiratoire</li>
  <li>Insuffisance cardiaque</li>
  <li>Hypertension artérielle compliquée<br>
  Complications cardiaques, rénales et vasculo-cérébrales.</li>
  <li>Hépatopathie chronique (cirrhose ++)</li>
  <li>Pathologie psychiatrique</li>
  <li>Démence</li>
  <li>Antécédent d'AVC</li>
  <li><strong>Grossesse</strong><br>
  RR: x18 soins intensifs, x22 accouchement prématuré, x2,8 perte fœtale, x5 néonat (MinSanté)</li>
  </ul>
  </li>
  </ul>
<blockquote>
  <p><em>HAS 01/03/2021</em></p>
</blockquote>