<form class="my-4" id="depistage-bpco-gold" autocomplete="off">
  <p>La BPCO ou BronchoPneumopathie Chronique Obstructive est une maladie pulmonaire chronique, fréquente mais que les personnes ignorent souvent.</p>
  <p>Si vous répondez à ces questions, cela aidera à savoir si vous avez une BPCO.</p>
  <fieldset>
    <legend>Toussez-vous souvent (tous les jours)&nbsp;?</legend>
    <input type="radio" id="depBpco-11" name="radio-depistage-bpco-1" class="d-input-none" value="1" required>
    <label for="depBpco-11" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="depBpco-12" name="radio-depistage-bpco-1" class="d-input-none" value="0">
    <label for="depBpco-12" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>Avez-vous souvent une toux grasse ou qui ramène des crachats&nbsp;?</legend>
    <input type="radio" id="depBpco-21" name="radio-depistage-bpco-2" class="d-input-none" value="1" required>
    <label for="depBpco-21" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="depBpco-22" name="radio-depistage-bpco-2" class="d-input-none" value="0">
    <label for="depBpco-22" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>Êtes-vous plus facilement essoufflé que les personnes de votre âge&nbsp;?</legend>
    <input type="radio" id="depBpco-31" name="radio-depistage-bpco-3" class="d-input-none" value="1" required>
    <label for="depBpco-31" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="depBpco-32" name="radio-depistage-bpco-3" class="d-input-none" value="0">
    <label for="depBpco-32" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>Avez-vous plus de 40 ans&nbsp;?</legend>
    <input type="radio" id="depBpco-41" name="radio-depistage-bpco-4" class="d-input-none" value="1" required>
    <label for="depBpco-41" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="depBpco-42" name="radio-depistage-bpco-4" class="d-input-none" value="0">
    <label for="depBpco-42" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>Avez-vous fumé ou fumez-vous&nbsp;?</legend>
    <p class="typography-caption text-black-secondary">ou avez-vous été exposé de manière prolongée ou répétée à des gaz, poussières, fumées, vapeurs dans le cadre de votre travail&nbsp;?</p>
    <input type="radio" id="depBpco-51" name="radio-depistage-bpco-5" class="d-input-none" value="1" required>
    <label for="depBpco-51" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="depBpco-52" name="radio-depistage-bpco-5" class="d-input-none" value="0">
    <label for="depBpco-52" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center mr-3" style="min-width:116px;">
      <p class="typography-overline text-black-secondary m-0" style="font-size:.75rem;line-height:2rem">Nombre de OUI</p>
      <span class="font-weight-bold" id="depistageBPCOScore" style="font-size:2rem">0</span>
    </div>
    <p id="depistageBpcoText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</form>
<p>Auto-questionnaire de dépistage de la BPCO, adaptation <a href="https://www.has-sante.fr/upload/docs/application/pdf/2014-06/questionnaire_depistage_bpco_gold_web.pdf" target="_blank" rel="nofollow noopener">HAS d'après GOLD 2014</a></p>
{{ $script := `
  // Depistage BPCO GOLD 2014 by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreDepBPCO = document.getElementById('depistageBPCOScore')
    const textDepBPCO = document.getElementById('depistageBpcoText')
    const depBPCOEls = document.querySelectorAll('#depistage-bpco-gold input[type=\"radio\"]')
    depBPCOEls.forEach((depBPCOEl) => { depBPCOEl.addEventListener('click', () => {
      depBpcoGold()
    }) })
    const depBpcoGold = () => {
      let score = 0
      const depBPCOElsChecked = document.querySelectorAll('#depistage-bpco-gold input[type=\"radio\"]:checked')
      const fumeur = document.getElementById('depBpco-51')
      depBPCOElsChecked.forEach(depBPCOElChecked => {
        score += parseInt(depBPCOElChecked.value, 10)
        if (depBPCOElsChecked.length === 5) {
          scoreDepBPCO.innerHTML = score
          if (score >= 3) {
            textDepBPCO.innerHTML = 'Il est important de réaliser une mesure de votre souffle'
          } else if (score === 2) {
            textDepBPCO.innerHTML = 'Il est important de parler de votre souffle à votre médecin'
          } else if (fumeur.checked) {
            textDepBPCO.innerHTML = 'Vous ne présentez pas de signe de BPCO mais il est important de stopper le tabac pour votre santé. Parlez-en à votre médecin'
          } else {
            textDepBPCO.innerHTML = 'Vous ne présentez pas de signe de BPCO'
          }
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>