<p>Indications au dépistage du cancer de l'anus:</p>
<ul>
  <li>VIH+ avec rapports anaux (examen annuel)</li>
  <li>Antécédent de condylome</li>
  <li>Femme avec antécédent de dysplasie/cancer du col de l’utérus</li>
</ul>
<p>
  <strong>Méthode:</strong> Par examen de la marge anale, toucher rectal et anuscopie simple.<br>
  Examen répété au moins tous les 2 ans (ou plus fréquemment selon l'avis du proctologue).
</p>
<blockquote>
  <p><a href="https://www.has-sante.fr/jcms/c_2876774/fr/vih-consultation-de-suivi-en-medecine-generale-des-personnes-sous-traitement-antiretroviral" rel="external nofollow noopener">HAS. VIH. Consultation de suivi en médecine générale des personnes sous traitement antirétroviral. Octobre 2018.</a></p>
</blockquote>