<p>Indications au dépistage du cancer de l'anus:</p>
<ul>
  <li><a href="/recommandations/hsh/">HSH VIH+</a></li>
  <li>Antécédent de condylome</li>
  <li>Femme avec antécédent de dysplasie du col de l’utérus</li>
</ul>
<p>
  <b>Méthode:</b> Par examen de la marge anale, toucher rectal et anuscopie simple.<br>
  Examen répété au moins tous les 2 ans (ou plus fréquemment selon l'avis du proctologue).
</p>
<blockquote>
  <p>Source CNS 2017</p>
</blockquote>
<p><a href="https://www.e-cancer.fr/content/download/85228/868691/file/DEPVIH12.pdf">Dépliant "Cancer et VIH : prévenir le cancer de l'anus" (INCa)</a></p>