<h4 class="typography-headline-6">Facteurs de risque d'hypothyroïdie</h4>
<ul>
  <li>Âge ≥ 35 ans</li>
  <li>IMC ≥ 40 kg/m²</li>
  <li>Antécédent personnel de dysthyroïdie</li>
  <li>Antécédent personnel de diabète type 1 ou de maladie auto-immune (ex. maladie cœliaque)</li>
  <li>Antécédent d'accouchement prématuré, de fausse couche ou d'infertilité</li>
  <li>Anticorps Anti-TPO positifs</li>
  <li>Goitre</li>
  <li>Antécédent de radiothérapie cervicale ou de chirurgie thyroïdienne</li>
  <li>Antécédent familial au 1<sup>er</sup> degré de dysthyroïdie</li>
  <li>Traitement: amiodarone, lithium</li>
</ul>
<blockquote class="mt-5">
  <p><em>HAS 2022 hypothyroïdie</em></p>
</blockquote>