<h4>Facteurs intrinsèques de risque de chute</h4>
<ul>
  <li>Âge &ge; 80 ans</li>
  <li>Chute dans l'année</li>
  <li>Troubles orthopédiques et neuromusculaires<br>
  Faiblesse des jambes, de la préhension, difficultés à la marche, troubles de l'équilibre.</li>
  <li>Baisse de l'acuité visuelle</li>
  <li>Hypoacousie</li>
  <li>Psychotropes</li>
  <li>Polymédication (&gt; 4)</li>
  <li>Pathologies à risque<br>
  Parkinson, démence, dépression, séquelles d'AVC.</li>
</ul>
<h4>Facteurs extrinsèques de risque de chute</h4>
<ul>
  <li>Alcool</li>
  <li>Sédentarité</li>
  <li>Malnutrition</li>
  <li>Habitat<br>
  Escalier, tapis, aide à la marche.</li>
  <li>Extérieur<br>
  Trottoirs irréguliers, surfaces glissantes</li>
  <li>Facteurs socio-économiques<br>
  Éducation, revenu, logement, réseau social.</li>
</ul>
<blockquote class="mt-5">
  <p><em>SFR 2018 ostéoporose</em></p>
</blockquote>