<div
  class="data-table"
  role="region"
  tabindex="0"
  aria-labelledby="table-rr-age"
>
  <table
    class="table"
    id="t-685423179"
    itemscope=""
    itemtype="https://schema.org/Table"
  >
    <caption id="table-rr-age" itemprop="about">
      <b>Tableau.</b>
      Normes de fréquence respiratoire selon l’âge de l’enfant. Dr JB Fron
      d’après
      <em>CNUP</em>
    </caption>
    <thead>
      <tr>
        <th scope="col" style="text-align: center">Âge</th>
        <th scope="col" style="text-align: center">
          Fréquence respiratoire (/min)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center">&lt; 1 mois</th>
        <td style="text-align: center">35-60</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">1-12 mois</th>
        <td style="text-align: center">30-50</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">1-2 ans</th>
        <td style="text-align: center">20-40</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">2-4 ans</th>
        <td style="text-align: center">20-35</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">5-18 ans</th>
        <td style="text-align: center">12-20</td>
      </tr>
    </tbody>
  </table>
</div>