<div
  class="data-table"
  role="region"
  tabindex="0"
  aria-labelledby="table-hr-age"
>
  <table
    class="table"
    id="t-685423179"
    itemscope=""
    itemtype="https://schema.org/Table"
  >
    <caption id="table-hr-age" itemprop="about">
      <b>Tableau.</b>
      Normes de fréquence cardiaque selon l’âge de l’enfant. Dr JB Fron
      d’après <em>ERS 2021</em>.
    </caption>
    <thead>
      <tr>
        <th scope="col" style="text-align: center">Âge</th>
        <th scope="col" style="text-align: center">
          Fréquence cardiaque (bpm)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center">&lt; 1 mois</th>
        <td style="text-align: center">110-180</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">1 an</th>
        <td style="text-align: center">100-170</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">2 ans</th>
        <td style="text-align: center">90-160</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">5 ans</th>
        <td style="text-align: center">70-140</td>
      </tr>
      <tr>
        <th scope="row" style="text-align: center">10 ans</th>
        <td style="text-align: center">60-120</td>
      </tr>
    </tbody>
  </table>
</div>
<blockquote class="mt-4">
  <p>
    <a href="https://cprguidelines.eu/assets/guidelines-translations/2021-ERC-Guidelines-Executive-Summary-FR_V2.pdf" rel="external nofollow noopener"
      >Van de Voorde P, Turner NM, Djakow J, et al. European Resuscitation Council Guidelines 2021: Paediatric Life Support. Resuscitation. 2021;161:327-387. doi:10.1016/j.resuscitation.2021.02.015</a
    >
  </p>
</blockquote>