<p>Le grade podologique résulte de l’inspection du pied, de la palpation des pouls et du test au monofilament de Semmes-Weinstein (10 g).</p>
<div class="data-table" role="region" aria-labelledby="table-podologique" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-podologique" itemprop="about"><span class="font-weight-bold">Tableau.</span> Gradation du risque d’ulcération pour le pied du patient diabétique</caption>
  <thead>
    <tr>
      <th scope="col" class="text-right">Grade</th>
      <th scope="col">Définition</th>
      <th scope="col">Soins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">0</th>
      <td>Absence de neuropathie sensitive</td>
      <td>- Dépistage monofilament annuel<br>- Examen: pieds, marche, chaussage<br>- Éducation: soins, plaie est une urgence<br>- +60 ans: podologue annuel</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">1</th>
      <td>Neuropathie sensitive isolée</td>
      <td>Idem</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">2</th>
      <td>Neuropathie sensitive<br>avec artériopathie du MI²<br>ou déformation du pied³</td>
      <td>+ soins podologiques x 4/an</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">3</th>
      <td>Antécédent de plaie &gt; 4 semaines et/ou amputation</td>
      <td>+ soins podologiques x 6/an,<br>Structure pieds<br></td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>² =</strong> absence d’au moins 1 des 2 pouls du pied et par un IPS &lt; 0,9;<br>
   <strong>³ =</strong> hallux valgus, orteil en marteau ou griffe,
  proéminence de la tête des métatarsiens, déformations post-chirurgicales ou pied de Charcot</p>
<blockquote class="mt-4">
  <p>
    <a href="https://www.has-sante.fr/jcms/p_3218144/fr/affection-podologique-diabete-un-suivi-pluriprofessionnel" rel="external nofollow noopener"
      >HAS. Affection podologique & diabète : un suivi pluriprofessionnel. 2020.</a
    >
  </p>
</blockquote>