<p>Le grade podologique résulte de l’inspection du pied, de la palpation des pouls et du test au monofilament de Semmes-Weinstein (10 g).
  Il peut être réalisé directement par le pédicure-podologue, ainsi que la prescription des soins (<a href="https://www.legifrance.gouv.fr/jorf/article_jo/JORFARTI000047561967" rel="external nofollow noopener">Loi 2023-379</a>).
</p>
<div class="data-table" role="region" aria-labelledby="table-podologique" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-podologique" itemprop="about"><span class="font-weight-bold">Tableau.</span> Gradation du risque d’ulcération pour le pied du patient diabétique</caption>
  <thead>
    <tr>
      <th scope="col" class="text-right">Grade</th>
      <th scope="col">Définition</th>
      <th scope="col">Soins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-right">0</th>
      <td>Absence de neuropathie sensitive</td>
      <td>- Dépistage monofilament annuel<br>- Examen: pieds, marche, chaussage<br>- Éducation: soins, plaie est une urgence (&lt; 48h)<br>- +60 ans: podologue annuel</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">1</th>
      <td>Neuropathie sensitive isolée</td>
      <td>Idem</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">2</th>
      <td>Neuropathie sensitive<br>avec artériopathie du MI ²<br>ou déformation du pied ³</td>
      <td>+ soins podologiques x 5/an</td>
    </tr>
    <tr>
      <th scope="row" class="text-right">3</th>
      <td>Antécédent de plaie &gt; 4 semaines et/ou amputation</td>
      <td>+ soins podologiques x 6/an (8 si plaie), <br>Structure pieds<br></td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>² =</strong> absence d’au moins 1 des 2 pouls du pied ou IPS &lt; 0,9;<br>
   <strong>³ =</strong> hallux valgus, orteil en marteau ou griffe,
  proéminence de la tête des métatarsiens, déformations post-chirurgicales ou pied de Charcot</p>
<blockquote class="mt-4">
  <p>
    <a href="https://www.ameli.fr/sites/default/files/Documents/2024085_Memo_Podologie_MAJ%20Avril2024_V2%20BDSTDC.pdf" rel="external nofollow noopener"
      >Assurance Maladie. Dépistage et prise en charge préventive des complications podologiques chez le patient diabétique. Avril 2024.</a>
    <a href="https://www.has-sante.fr/jcms/p_3218144/fr/affection-podologique-diabete-un-suivi-pluriprofessionnel" rel="external noopener"
      >HAS. Affection podologique & diabète : un suivi pluriprofessionnel. 2020.</a
    >
  </p>
</blockquote>