<p>Situations dans lesquelles la mesure de l'hémoglobine glyquée peut être faussée.</p>
<p>À la hausse:</p>
<ul>
  <li>Âge</li>
  <li>Origines (Afro-américains)</li>
  <li>Anémie carentielle (fer, vitamine B12, folates)</li>
  <li>Hypertriglycéridémie majeure</li>
  <li>Hyperbilirubinémie majeure</li>
  <li>Mésusage de l'alcool</li>
  <li>Aspirine chronique</li>
  <li>Opioïde chronique</li>
</ul>
<p>À la baisse:</p>
<ul>
  <li>Grossesse (T2 et T3)</li>
  <li>Anémies de maladie chronique</li>
  <li>Anémie hémolytique</li>
  <li>Transfusion sanguine</li>
  <li>Splénomégalie, splénectomie</li>
  <li>Hémorragie aiguë</li>
  <li>Insuffisance rénale chronique</li>
  <li>Médicaments: dapsone, triméthoprime-sulfaméthoxazole, ribavirine, interféron alpha</li>
  <li>Supplémentation en vitamine E</li>
</ul>
<p>À la hausse ou à la baisse: variants de l'hémoglobine, supplémentation en vitamine C.</p>
<blockquote>
  <p lang="en">
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8481000/" rel="external nofollow noopener"
      >Holt R et al. The management of type 1 diabetes in adults. A consensus report by the American Diabetes Association (ADA) and the European Association for the Study of Diabetes (EASD). Diabetologia. 2021.</a
    >
  </p>
</blockquote>