<div class="data-table my-5" role="region" aria-labelledby="table-hemochromatosis" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-hemochromatosis" itemprop="about"><span class="font-weight-bold">Tableau.</span>
    Stades de l'hémochromatose génétique d'après Brissot P et al 2004.</caption>
    <thead>
      <tr>
        <th></th>
        <th scope="col">Stade 0</th>
        <th scope="col">Stade 1</th>
        <th scope="col">Stade 2</th>
        <th scope="col">Stade 3</th>
        <th scope="col">Stade 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Clinique</th>
        <td colspan="3">Asymptomatique</td>
        <td>Symptômes pouvant affecter<br>la qualité de vie</td>
        <td>Pronostic vital<br>compromis</td>
      </tr>
      <tr>
        <th scope="row">Ferritinémie</th>
        <td colspan="2">Normale</td>
        <td colspan="3">&gt; 200/300 µg/L (femme/homme)</td>
      </tr>
      <tr>
        <th scope="row">CST</th>
        <td>&lt; 45%</td>
        <td colspan="4">&gt; 45%</td>
      </tr>
    </tbody>
  </table>
</div>
<blockquote>
  <p lang="en">Brissot P, Troadec MB, Loréal O. The clinical relevance of new insights in iron transport and metabolism. Curr Hematol Rep. 2004;3(2):107-115.</p>
</blockquote>