<ul>
  <li>Anomalie fonctionnelle ou organique urinaire<br>
  Résidu post-mictionnel (neurologique ++), reflux, lithiase, tumeur, acte urologique récent.</li>
  <li>Comorbidités
  <ul>
  <li>Homme (prise en charge distincte)</li>
  <li>Grossesse (prise en charge distincte)</li>
  <li>Sujet âgé fragile: +75 ans<br>
  ou +65 ans avec ≥ 3 critères de fragilité: amaigrissement sur l’année, marche lente, faible endurance, faiblesse/fatigue, activité physique réduite (<em>Fried et al.</em>)</li>
  <li><a href="/recommandations/insuffisance-renale-chronique/">Insuffisance rénale sévère</a> (clairance &lt; 30 mL/min)</li>
  <li>Immunodépression grave</li>
  </ul>
  </li>
</ul>