<ul>
  <li>Âge &lt; 20 ans ou &gt; 55 ans</li>
  <li>Antécédent traumatique violent</li>
  <li>Douleur constante, progressive, inflammatoire</li>
  <li>Douleur dorsale</li>
  <li>Antécédents tumoraux</li>
  <li>Corticothérapie prolongée (dont asthme)</li>
  <li>Toxicomanie, immunosuppression, VIH</li>
  <li>AEG, perte de poids inexpliquée</li>
  <li>Fièvre</li>
  <li>Symptômes neurologiques hors radiculalgie limitée<br>
  Sphincters, moteur, paresthésies pubis/périnée.</li>
  <li>Déformation rachidienne</li>
</ul>