<ul>
  <li>(Âge)</li>
  <li><strong>Antécédent de fracture par fragilité</strong> (récente ++, facteur majeur)</li>
  <li>Antécédent parental de fracture de fragilité vertébrale ou de hanche</li>
  <li>Insuffisance ovarienne précoce<br>
    <span class="text-black-secondary">Ménopause avant 40 ans.</span></li>
  <li>Endocrinopathie ou pathologie déminéralisante<br>
  Hypogonadisme prolongé (dont orchidectomie, traitement prolongé par GnRH, aménorrhée primaire ou secondaire), hyperthyroïdie non traitée, hypercorticisme, hyperparathyroïdie primitive, ostéogenèse imparfaite</li>
  <li>IMC &lt; 19 kg/m²</li>
  <li>Tabagisme</li>
  <li>Corticothérapie systémique<br>
  <span class="text-black-secondary">&ge; 7,5 mg/j d'éq. prednisone &ge; 3 mois.</span></li>
  <li>Traitement déminéralisant<br>
  Anti-aromatase.</li>
</ul>
<blockquote class="mt-5">
  <p>CNGOF 2021 Ménopause, SFR 2018 Ostéoporose</p>
</blockquote>