<ul>
<li>Apparition après 50 ans</li>
<li>Aura atypique<br>
Début brutal, prolongé &gt; 1 heure, latéralité fixe, absence de symptômes visuels.</li>
<li>Migraine chronique (≥ 15 j/mois) depuis &lt; 1 an</li>
<li>Examen clinique anormal</li>
<li>En urgence
<ul>
<li>Céphalée d’apparition brutale (en &quot;coup de tonnerre&quot;, s’installant en &lt; 1 min)</li>
<li>Céphalée de caractères inhabituels chez un migraineux (délai à apprécier en fonction du contexte)</li>
<li>Céphalée avec fièvre inexpliquée</li>
<li>Signes neurologiques aigus</li>
<li>Contexte d’intoxication (CO)</li>
<li>Immunodépression</li>
<li>Si scanner sans injection normal: IRM cérébrale avec angioIRM artérielle et veineuse</li>
</ul>
</li>
</ul>