<h3 class="card-title mb-2">Test de la sensibilité au monofilament</h3>
<p>Le test de la sensibilité superficielle au monofilament 10g (dit Semmes-Weinstein 5,07)
  vise à dépister une <strong>neuropathie</strong>.</p>
<h4 class="typography-headline-6">Réalisation du test au monofilament</h4>
<p>L’examen est réalisé au calme.</p>
<ul>
  <li>Appliquer le monofilament sur les mains du patient afin de lui démontrer la sensation attendue (coude ou front à défaut)</li>
  <li>L’appui du monofilament est réalisé en aveugle, le patient ne doit pas voir</li>
  <li>Les 3 sites testés à chaque pied sont sur la face plantaire: <strong>P2 de l’hallux</strong>, <strong>tête des premiers et 5<sup>e</sup> métatarsiens</strong> (soit 2 x 3 sites)</li>
  <li>Le monofilament est appliqué perpendiculairement, en appuyant suffisamment pour le bomber</li>
  <li>Le geste à chaque site ne doit pas durer plus de 2 secondes</li>
  <li>En cas de lésion cutanée (ulcère, callosité ou autre), appliquer le monofilament en périphérie</li>
  <li>Demander au patient s’il sent ou non et à quel endroit</li>
  <li>Interroger 3 fois pour chaque site, dont 1 est factice</li>
  <li>Le test est correct si le patient répond correctement au moins 2 fois sur chacun des sites. Sinon, il est considéré à risque d’ulcération (donc dès 2 mauvaises réponses sur 1 site)</li>
  <li>Encourager le patient pendant le test</li>
</ul>
<blockquote class="mt-4" lang="en">
  <p><a href="https://link.springer.com/article/10.1007/s11892-003-0010-4" rel="external nofollow noopener">Schaper NC, Apelqvist J, Bakker K. The international consensus and practical guidelines on the management and prevention of the diabetic foot. Curr Diab Rep. 2003.</a></p>
</blockquote>