<p class="lead">Définition des facteurs de risque de récidive thromboembolique intervenant
  dans la décision de la durée du traitement anticoagulant.</p>
<dl>
  <dt>Risque majeur persistant</dt>
  <dd>
    <ul>
      <li>Cancer actif</li>
      <li>Thrombophilie sévère<br>Déficit en antithrombine, SAPL.</li>
    </ul>
  </dd>
  <dt>Risque majeur transitoire</dt>
  <dd>
    <ul>
      <li>Chirurgie sous AG &gt; 30 minutes dans les 90 jours</li>
      <li>Fracture des membres inférieurs dans les dans les 90 jours</li>
      <li>Immobilisation &gt; 3 jours pour pathologie aiguë dans les 90 jours</li>
      <li>Contraception œstroprogestative et THM</li>
      <li>Grossesse et post-partum</li>
    </ul>
  </dd>
</dl>
<hr>
<dl>
  <dt>Risque mineur persistant</dt>
  <dd>
    <ul>
      <li>MICI (Crohn, RCH)</li>
      <li>Thrombophilie non sévère<br>Déficit en protéine C, protéine S, mutation homozygote FV, FII, double hétérozygote FV et FII.</li>
    </ul>
  </dd>
  <dt>Risque mineur transitoire</dt>
  <dd>
    <ul>
      <li>Chirurgie sous AG &lt; 30 minutes dans les 60 jours</li>
      <li>Traumatisme d'un membre inférieur non plâtré avec mobilité réduite ≥ 3 jours</li>
      <li>Immobilisation &lt; 3 jours pour pathologie aiguë dans les 60 jours</li>
      <li>Voyage &gt; 6 heures</li>
    </ul>
  </dd>
</dl>