<div class="data-table data-table-wrap" role="region" aria-labelledby="table-caption-ciblehba1c-dt1" tabindex="0">
<table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-caption-ciblehba1c-dt1" itemprop="about"><span class="font-weight-bold">Tableau.</span> Objectifs d'HbA<sub>1c</sub> selon le profil du patient vivant avec un diabète type 1 d'après ADA/EASD 2021</caption>
  <thead>
    <tr>
      <th scope="col">Indicateur</th>
      <th scope="col" class="text-center" style="width: 140px">Cible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">HbA<sub>1c</sub></th>
      <td class="text-center">&lt; 7%</td>
    </tr>
    <tr>
      <th scope="row">Glycémie pré-prandiale</th>
      <td class="text-center">80 - 130 mg/dL</td>
    </tr>
    <tr>
      <th scope="row">Glycémie post-prandiale (H1-2)</th>
      <td class="text-center">&lt; 180 mg/dL</td>
    </tr>
    <tr>
      <th scope="row">Temps dans la cible</th>
      <td class="text-center">&gt; 70%</td>
    </tr>
    <tr>
      <th class="font-weight-bold" colspan="2">Temps sous la cible</th>
    </tr>
    <tr>
      <th scope="row">% de mesures et temps 54 - 69 mg/dL</th>
      <td class="text-center">&lt; 4%</td>
    </tr>
    <tr>
      <th scope="row">% de mesures et temps &lt; 54 mg/dL</th>
      <td class="text-center">&lt; 1%</td>
    </tr>
    <tr>
      <th class="font-weight-bold" colspan="2">Temps au-dessus de la cible</th>
    </tr>
    <tr>
      <th scope="row">% de mesures et temps 181 - 250 mg/dL</th>
      <td class="text-center">&lt; 25%</td>
    </tr>
    <tr>
      <th scope="row">% de mesures et temps &gt; 250 mg/dL</th>
      <td class="text-center">&lt; 5%</td>
    </tr>
    <tr>
      <th scope="row">Variabilité glycémique</th>
      <td class="text-center">&lt; 36%</td>
    </tr>
  </tbody>
</table>
</div>
<blockquote class="mt-4">
  <p>Une HbA<sub>1c</sub> inférieure est envisageable si atteinte sans complications.</p>
  <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8481000/" rel="external nofollow noopener">Holt R. et al. The management of type 1 diabetes in adults. A consensus report by the American Diabetes Association (ADA) and the European Association for the Study of Diabetes (EASD). Diabetologia. 2021. (PDF)</a></p>
</blockquote>