<div class="data-table data-table-wrap" role="region" aria-labelledby="table-captionx21" tabindex="0">
<table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-captionx21" itemprop="about"><b>Tableau.</b> Objectifs d’HbA<sub>1c</sub> selon le profil du patient d'après SFD 2019</caption>
  <thead>
    <tr>
      <th scope="col">Population</th>
      <th scope="col" class="text-right">HbA<sub>1c</sub> cible (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DT2 commun</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Diagnostic récent, espérance de vie &gt; 15 ans</th>
      <td class="text-right">6,5</td>
    </tr>
    <tr>
      <th scope="row">Espérance de vie &lt; 5 ans</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Comorbidités sévères</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Diabète &gt; 10 ans avec hypoglycémies ne permettant pas de tenir les 7%</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Personne âgée en bonne santé</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Personne âgée fragile</th>
      <td class="text-right">8,5</td>
    </tr>
    <tr>
      <th scope="row">Personne âgée dépendante et/ou santé très altérée</th>
      <td class="text-right">9</td>
    </tr>
    <tr>
      <th scope="row">Insuffisance rénale chronique modérée (DFG 30-59)</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Insuffisance rénale chronique sévère et terminale (DFG &le; 29)</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Patiente avec désir de grossesse</th>
      <td class="text-right">6,5</td>
    </tr>
    <tr>
      <th scope="row">Patiente avec DT2 enceinte<br></th>
      <td class="text-right">6,5</td>
    </tr>
  </tbody>
</table>
</div>
<blockquote class="mt-4">
  <p><a href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/mmm_2019_ndeg8_prise_de_position_sfd_dt2_tt_v_finale.pdf">Darmon P. et al. Prise de position de la Société Francophone du Diabète (SFD) sur la prise en charge médicamenteuse de l’hyperglycémie du patient diabétique de type 2 – 2019, Médecine des Maladies Métaboliques, Volume 13, Issue 8, 2019, Pages 711-732, ISSN 957-2557.</a></p>
</blockquote>