<div class="data-table data-table-wrap" role="region" aria-labelledby="table-caption-ciblehba1c" tabindex="0">
<table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-caption-ciblehba1c" itemprop="about"><span class="font-weight-bold">Tableau.</span> Objectifs d'HbA<sub>1c</sub> selon le profil du patient vivant avec un diabète type 2 d'après SFD 2021</caption>
  <thead>
    <tr>
      <th scope="col">Population</th>
      <th scope="col" class="text-right" style="width: 140px">HbA<sub>1c</sub> cible&nbsp;(≤ X %)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DT2 sans comorbidités, EV &gt; 5 ans</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Cible en modifiant le mode de vie et sans risque hypoglycémique</th>
      <td class="text-right">6,5</td>
    </tr>
    <tr>
      <th scope="row">Espérance de vie &lt; 5 ans</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Comorbidités sévères</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Diabète &gt; 10 ans avec hypoglycémies ne permettant pas de tenir les 7%</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">≥ 75 ans en bonne santé</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">≥ 75 ans fragile</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">≥ 75 ans dépendante et/ou santé très altérée</th>
      <td class="text-right">9</td>
    </tr>
    <tr>
      <th scope="row">Insuffisance rénale chronique modérée (DFG 30-59)</th>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Insuffisance rénale chronique sévère ou terminale (DFG ≤ 29)</th>
      <td class="text-right">8</td>
    </tr>
    <tr>
      <th scope="row">Patiente avec désir de grossesse</th>
      <td class="text-right">6,5</td>
    </tr>
    <tr>
      <th scope="row">Patiente avec DT2 enceinte<br></th>
      <td class="text-right">6,5*</td>
    </tr>
  </tbody>
</table>
</div>
<p>Les cibles 2022 du KDIGO en cas de maladie rénale chronique reprennent les mêmes objectifs.</p>
<blockquote class="mt-4">
  <p><strong>EV</strong> = espérance de vie</p>
  <p>*: Glycémies capillaires &lt; 0,95 g/L à jeun et &lt; 1,2 g/L à H2 | La précision de l'HbA<sub>1c</sub> est limitée en insuffisance rénale sévère</p>
  <p><a href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/reco_dt2_sfd_2021.pdf" rel="external nofollow noopener">Darmon P. et al. Prise de position de la Société Francophone du Diabète (SFD) sur les stratégies d'utilisation des traitements anti-hyperglycémiants dans le diabète de type 2 – 2021. Med Mal Metab; 15: 781-801. (PDF)</a></p>
</blockquote>