<ul>
  <li>Non modifiables: Âge &gt; 60 ans, origine caucasienne (et asiatique, IOF)</li>
  <li><strong>Antécédent de fracture par fragilité</strong><br>
    Surtout si récente. Facteur de risque majeur.</li>
  <li>Corticothérapie systémique en cours<br>
    <span class="text-black-secondary">≥ 7,5 mg/j éq. prednisone ≥ 3 mois consécutifs.</span></li>
  <li>Endocrinopathie ou pathologie déminéralisante<br>
      Hypogonadisme prolongé (dont orchidectomie, traitement prolongé par GnRH, aménorrhée primaire ou secondaire), hyperthyroïdie non traitée, hypercorticisme, hyperparathyroïdie primitive, ostéogenèse imparfaite</li>
  <li>Tabagisme</li>
  <li>Immobilisation prolongée</li>
  <li>Ménopause et
    <ul>
      <li>Corticothérapie systémique passée<br>
        <span class="text-black-secondary">≥ 7,5 mg/j éq. prednisone ≥ 3 mois consécutifs.</span></li>
      <li>IMC &lt; 19 kg/m² (20 pour l'IOF)</li>
      <li>Insuffisance ovarienne précoce<br>
        <span class="text-black-secondary">Ménopause avant 40 ans.</span></li>
      <li>Antécédent parental au 1<sup>er</sup> degré de fracture de fragilité vertébrale ou de hanche</li>
    </ul>
  </li>
  <li>Traitement déminéralisant<br>
    Anti-aromatase, anti-androgène.</li>
  <li>Carence vitamino-calcique</li>
</ul>
<blockquote class="mt-5">
  <p><em>IOF, CNGOF 2021 Ménopause, HAS BUM ostéoporose 2019, SFR 2018 Ostéoporose, COFER</em></p>
</blockquote>