<p>Situations éligibles au remboursement de l'ostéodensitométrie (CCAM PAQK007 39,96 €):</p>
<ul>
  <li>Quelque soit l'âge et le sexe
  <ul>
  <li>Fracture ostéoporotique<br>
    Vertébrale ou périphérique sur traumatisme mineur.</li>
  <li>Corticothérapie systémique<br>
    ≥ 7,5 mg/j d'éq. prednisone ≥ 3 mois.</li>
  <li>Endocrinopathie ou pathologie déminéralisante<br>
    Hypogonadisme prolongé (dont orchidectomie, traitement prolongé par GnRH, aménorrhée primaire ou secondaire), hyperthyroïdie évolutive non traitée, hypercorticisme, hyperparathyroïdie primitive, ostéogenèse imparfaite.
  </li>
  </ul>
  </li>
  <li>Ménopause et
  <ul>
  <li>Fracture de fragilité du col fémoral chez un parent au 1<sup>er</sup> degré</li>
  <li>IMC &lt; 19 kg/m²</li>
  <li>Insuffisance ovarienne précoce (&lt; 40 ans)</li>
  <li>Corticothérapie systémique ≥ 7,5 mg/j d'éq. prednisone ≥ 3 mois.</li>
  </ul>
  </li>
  <li>À l'arrêt du traitement anti-ostéoporotique (sauf arrêt précoce)</li>
  <li>3-5 ans après une première ostéodensitométrie n'ayant pas déclenché de traitement selon l'évolution des facteurs de risque de fracture</li>
</ul>
<blockquote class="mt-5">
  <p><a href="https://www.legifrance.gouv.fr/download/pdf?id=Vl_jFQG5uORV1Oeoqk46Ur3ysyaKOB3hEJO7txQMLW4=" rel="external nofollow noopener">Décision du 29 juin 2006 de l'Union nationale des caisses d'assurance maladie relative à la liste des actes et prestations pris en charge par l'assurance maladie</a></p>
</blockquote>