<ul>
  <li>NFS, CRP</li>
  <li>
    Ionogramme, créatininémie, DFG
    <a
      role="button"
      data-toggle="modal"
      href="#modal-ckd-epi"
      >CKD-EPI</a
    >
  </li>
  <li>ASAT, ALAT, GGT, PAL</li>
  <li>TSH</li>
  <li>Vitamine D</li>
  <li>Calcémie corrigée, phosphatémie (<em>COFER</em>)</li>
  <li>
    Ferritine (voir
    <a href="/recommandations/hemochromatose/">hémochromatose</a>)
  </li>
  <li>
    <a href="/recommandations/electrophorese-proteines-seriques/"
      >Électrophorèse des protéines sériques</a
    >
    <ul>
      <li>
        Indications: fracture vertébrale suspecte, fracture pathologique, géodes
      </li>
      <li>
        Systématique selon le COFER pour éliminer un myélome déminéralisant
      </li>
    </ul>
  </li>
  <li>Âge jeune: sérologie cœliaque (<em>ESsCD 2019</em>)</li>
</ul>