<div class="data-table" role="region" tabindex="0" aria-labelledby="table-caption-829375416">
  <table class="table" itemscope="" itemtype="https://schema.org/Table"><caption id="table-caption-829375416" itemprop="about"><b>Tableau.</b> Classification de Fitzpatrick: caractéristiques des différents phototypes cutanés</caption>
  <thead>
  <tr>
  <th style="text-align:center">Phototype</th>
  <th>Peau</th>
  <th>Cheveux</th>
  <th>Yeux</th>
  <th>Coups de soleil</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td style="text-align:center">I</td>
  <td>Très blanche ± tâches de rousseur</td>
  <td>Blonds/roux</td>
  <td>Bleus/verts</td>
  <td>Systématique<br>Jamais de bronzage, rougeur systématique</td>
  </tr>
  <tr>
  <td style="text-align:center">II</td>
  <td>Claire ± tâches de rousseur</td>
  <td>Blonds/roux à châtains</td>
  <td>Clairs à bruns</td>
  <td>Fréquents, bronze à peine ou très lentement</td>
  </tr>
  <tr>
  <td style="text-align:center">III</td>
  <td>Intermédiaire</td>
  <td>Châtains à bruns</td>
  <td>Bruns</td>
  <td>Occasionnels, bronzage graduel</td>
  </tr>
  <tr>
  <td style="text-align:center">IV</td>
  <td>Mate</td>
  <td>Bruns/noirs</td>
  <td>Bruns/noirs</td>
  <td>Occasionnels, bronzage rapide</td>
  </tr>
  <tr>
  <td style="text-align:center">V</td>
  <td>Brun foncé</td>
  <td>Noirs</td>
  <td>Noirs</td>
  <td>Rares, bronzage intense</td>
  </tr>
  <tr>
  <td style="text-align:center">VI</td>
  <td>Noire</td>
  <td>Noirs</td>
  <td>Noirs</td>
  <td>Exceptionnels</td>
  </tr>
  </tbody>
  </table>
</div>
  <blockquote>
    <p>Dr JB FRON d’après Fitzpatrick, T.B. (1988), The validity and practicality of sun reactive skin types I through VI, Arch Dermatol 124 ; 869-871.</p>
    </blockquote>