<div class="data-table" role="region" tabindex="0" aria-labelledby="table-fitzpatrick">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table"><caption id="table-fitzpatrick" itemprop="about"><span class="font-weight-bold">Tableau.</span> Classification de Fitzpatrick: caractéristiques des différents phototypes cutanés</caption>
  <thead>
  <tr>
  <th scope="col" class="text-center">Phototype</th>
  <th scope="col">Peau</th>
  <th scope="col">Cheveux</th>
  <th scope="col">Yeux</th>
  <th scope="col">Coups de soleil</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <th scope="row" class="text-center">I</th>
  <td>Très blanche ± tâches de rousseur</td>
  <td>Blonds/roux</td>
  <td>Bleus/verts</td>
  <td>Systématique<br>Jamais de bronzage, rougeur systématique</td>
  </tr>
  <tr>
  <th scope="row" class="text-center">II</th>
  <td>Claire ± tâches de rousseur</td>
  <td>Blonds/roux à châtains</td>
  <td>Clairs à bruns</td>
  <td>Fréquents, bronze à peine ou très lentement</td>
  </tr>
  <tr>
  <th scope="row" class="text-center">III</th>
  <td>Intermédiaire</td>
  <td>Châtains à bruns</td>
  <td>Bruns</td>
  <td>Occasionnels, bronzage graduel</td>
  </tr>
  <tr>
  <th scope="row" class="text-center">IV</th>
  <td>Mate</td>
  <td>Bruns/noirs</td>
  <td>Bruns/noirs</td>
  <td>Occasionnels, bronzage rapide</td>
  </tr>
  <tr>
  <th scope="row" class="text-center">V</th>
  <td>Brun foncé</td>
  <td>Noirs</td>
  <td>Noirs</td>
  <td>Rares, bronzage intense</td>
  </tr>
  <tr>
  <th scope="row" class="text-center">VI</th>
  <td>Noire</td>
  <td>Noirs</td>
  <td>Noirs</td>
  <td>Exceptionnels</td>
  </tr>
  </tbody>
  </table>
</div>
<blockquote class="blockquote mt-4">
  <p>Dr JB Fron d'après Fitzpatrick, T.B. (1988), The validity and practicality of sun reactive skin types I through VI, Arch Dermatol 124 ; 869-871.</p>
</blockquote>