<p>
  En l’absence de haut risque cardiovasculaire (hypertension artérielle sévère ≥ 180/110 mmHg,
  maladie cardiovasculaire, diabète, insuffisance rénale,
  hypercholestérolémie familiale) ou grossesse et en l’absence de statine, le risque est évalué avec le
  <dfn><abbr title="Systematic COronary Risk Estimation 2">SCORE2</abbr></dfn> (<em
    >Systematic COronary Risk Estimation</em
  >, SCORE2-OP après 70 ans), qui estime le risque à 10 ans d’accident
  cardiovasculaire fatal et non fatal, en tenant compte de la pression artérielle avant traitement anti-hypertenseur
  éventuel.
</p>
<div class="alert alert-info">
  <p>L’arrêt du tabac, une tension &lt; 140 (à 130 mmHg si -70 ans et tolérée) et un LDL &lt; 1,16 g/L est la cible de prévention à tous les âges.</p>
</div>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire extrême</dt>
  <dd>
    <ul>
      <li>Évènements cardiovasculaires récidivants malgré une statine à dose maximale</li>
      <li>Coronaropathie avec artériopathie périphérique</li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50 % et un LDL cible &lt; 0,4 g/L.<br>
    Statine + ézétimibe ± anti-PCSK9 (alirocumab Praluent® ou évolocumab Repatha®) ± cholestyramine.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Très haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        Maladie cardiovasculaire<br>
        Syndrome coronarien (infarctus du myocarde, SCA, SCC), revascularisation
        artérielle, AVC/AIT, artériopathie périphérique (dont AOMI),
        imageries avec sténoses documentées, score calcique élevé (&gt; 300).
      </li>
      <li>
        Diabète avec complication (microalbuminurie, rétinopathie ou neuropathie)<br>
        ou ≥ 3 facteurs de risque cardiovasculaires majeurs<br>
        ou type 1 ancien (+20 ans)
      </li>
      <li>
        Insuffisance rénale sévère (<abbr title="débit de filtration glomérulaire estimé">DFG</abbr>
        &lt; 30)
      </li>
      <li>SCORE2 ≥ 20 %</li>
      <li>Hypercholestérolémie familiale avec maladie cardiovasculaire ou un autre facteur de risque majeur</li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50 % et un LDL &lt; 0,55 g/L quel que soit l’âge.<br>
    Statine + ézétimibe ± anti-PCSK9 (alirocumab Praluent® ou évolocumab Repatha®) ± cholestyramine.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        <dfn><abbr title="Cholestérol total">CT</abbr></dfn> &gt; 3,1 g/L (8 mmol/L) ou LDL &gt; 1,9
        g/L (4,9 mmol/L) ou hypertension artérielle sévère (≥ 180/110 mmHg)
      </li>
      <li>Hypercholestérolémie familiale sans autre facteur de risque majeur</li>
      <li>Diabète sans complication, depuis ≥ 10 ans ou avec un autre facteur de risque majeur</li>
      <li>Insuffisance rénale modérée (DFG 30-44)</li>
      <li>10 % ≤ SCORE2 &lt; 20 %</li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50% et une cible &lt; 0,7 g/L.<br>
    Statine ± ézétimibe.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire modéré</dt>
  <dd>
    <ul>
      <li>
        Diabète type 2 avant 50 ans (ou type 1 &lt; 35 ans) depuis &lt; 10 ans sans
        complication ni autre facteur de risque majeur
      </li>
      <li>2 % ≤ SCORE2 &lt; 10 %</li>
    </ul>
  </dd>
  <dd>LDL cible &lt; 1 g/L.</dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire faible</dt>
  <dd>SCORE2 &lt; 2 %</dd>
  <dd>LDL cible &lt; 1,16 g/L.</dd>
</dl>
<blockquote class="mt-5">
  <p>
    <a
      href="https://heartscore.escardio.org/Calculate/quickcalculator.aspx?model=low"
      rel="external nofollow noopener"
      >Calcul officiel du SCORE2</a
    >
  </p>
  <p>
    <a
      lang="en"
      href="https://academic.oup.com/eurheartj/article/46/42/4359/8234482"
      rel="external nofollow noopener"
      >Mach F, Koskinas KC, Roeters van Lennep JE, et al. 2025 Focused Update of the 2019 ESC/EAS Guidelines for
      the management of dyslipidaemias. Eur Heart J. 2025;46(42):4359-4378.
      doi:10.1093/eurheartj/ehaf190</a
    >
  </p>
</blockquote>