<dl class="border-bottom">
  <dt>Très haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        Maladie cardiovasculaire<br>
        Syndrome coronarien (infarctus du myocarde, SCA), revascularisation
        artérielle, AVC/AIT, anévrisme aortique, AOMI ou artériopathie
        périphérique, imageries avec sténoses documentées.
      </li>
      <li>
        Diabète avec maladie cardiovasculaire<br>
        ou insuffisance rénale modérée avec DFGe &lt; 45<br>
        ou insuffisance rénale modérée avec DFG 45-59 et RAC 30/300<br>
        ou protéinurie &gt; 300 mg/g<br>
        ou ≥ 3 atteintes microvasculaires: RAC + rétinopathie + neuropathie
      </li>
      <li>
        Insuffisance rénale sévère (<abbr
          title="débit de filtration glomérulaire estimé"
          >DFG</abbr
        >
        &lt; 30)<br>
        ou insuffisance rénale modérée (DFG 30-59) avec RAC &gt; 30
      </li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50% et une cible &lt; 0,55 g/L.<br>
    Statine + ézétimibe ± anti-PCSK9 (Repatha®).
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        <dfn><abbr title="Cholestérol total">CT</abbr></dfn> &gt; 3,1 g/L ou LDL &gt; 1,9
        g/L ou PA ≥ 180/110 mmHg
      </li>
      <li>Hypercholestérolémie familiale</li>
      <li>
        Diabète sans maladie cardiovasculaire et/ou complication ne remplissant
        pas les critères du risque modéré
      </li>
      <li>Maladie rénale chronique avec DFG ≥ 60 et RAC &gt; 300</li>
      <li>
        Insuffisance rénale modérée: DFG 30-44 avec RAC &lt; 30<br>
        ou DGF 45-59 avec RAC 30-300
      </li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50% et une cible &lt; 0,7 g/L.<br>
    Statine ± ézétimibe.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire modéré</dt>
  <dd>Diabète type 2 (ou type 1 ≥ 40 ans) depuis &lt; 10 ans sans
        complication ni autre FRCV
  </dd>
  <dd>LDL cible &lt; 1 g/L.</dd>
</dl>
<p><b>RAC =</b> ratio albuminurie/créatininurie (mg/g)</p>
<blockquote class="mt-5">
  <p>
    <a
      lang="en"
      href="https://academic.oup.com/eurheartj/article/42/34/3227/6358713"
      rel="external nofollow noopener"
      >Visseren F et al. 2021 ESC Guidelines on
      cardiovascular disease prevention in clinical practice: Developed by the
      Task Force for cardiovascular disease prevention in clinical practice with
      representatives of the European Society of Cardiology and 12 medical
      societies With the special contribution of the European Association of
      Preventive Cardiology (EAPC). European Heart Journal. 2021.</a
    >
  </p>
</blockquote>