<p>Le SCORE estime le risque à 10 ans d'accident cardiovasculaire mortel. Le risque d'accident cardiovasculaire estimé à 10 ans est le SCORE x 3.<br>
Utiliser les valeurs de tension pré-traitement.</p>
<dl class="border-bottom">
  <dt>Très haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        Maladie cardiovasculaire<br />
        Syndrome coronarien (infarctus du myocarde, angor instable), angor
        stable, revascularisation artérielle, AVC/AIT, AOMI ou artériopathie périphérique, sténoses &gt; 50%
        coronaires sur 2 troncs majeurs ou carotidienne.
      </li>
      <li>
        Diabète avec atteinte d'organe ou avec &ge; 3 FRCV majeurs ou ancienneté &gt; 20 ans
      </li>
      <li>Insuffisance rénale sévère (DFG &lt; 30)</li>
      <li>SCORE &ge; 10%</li>
      <li>Hypercholestérolémie familiale avec maladie cardiovasculaire ou &ge; 1 autre FRCV majeur</li>
    </ul>
  </dd>
  <dd>Obtenir une réduction du LDL &ge; 50% et une cible &lt; 0,55 g/L.<br>
    Statine + ézétimibe voire anti-PCSK9 (Repatha®).</dd>
</dl>
<dl class="border-bottom">
  <dt>Haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>CT &gt; 3,1 g/L ou LDL &gt; 1,9 g/L ou PA &ge; 180/110 mmHg</li>
      <li>Hypercholestérolémie familiale sans autre FRCV majeur</li>
      <li>
        Diabète sans atteinte d'organe, depuis &ge; 10 ans ou avec autre FRCV majeur
      </li>
      <li>Insuffisance rénale modérée (DFG 30-59)</li>
      <li>5% &le; SCORE &lt; 10%</li>
    </ul>
  </dd>
  <dd>Obtenir une réduction du LDL &ge; 50% et une cible &lt; 0,7 g/L.<br>
    Statine &plusmn; ézétimibe.</dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire modéré</dt>
  <dd>
    <ul>
      <li>
        Diabète isolé (type 1 &lt; 35 ans ou type 2 &lt; 50 ans) depuis &lt; 10
        ans sans autre FRCV
      </li>
      <li>1% &le; SCORE &lt; 5%</li>
    </ul>
  </dd>
  <dd>LDL cible &lt; 1 g/L.</dd>
</dl>
<dl>
  <dt>Bas risque cardiovasculaire</dt>
  <dd>SCORE &lt; 1%</dd>
  <dd>LDL cible &lt; 1,16 g/L.</dd>
</dl>
<blockquote class="mt-5">
  <p class="font-italic">
    CT = cholestérol total; SCORE = Systematic COronary Risk Estimation
  </p>
  <p><a href="https://heartscore.escardio.org/2016/quickcalculator.aspx?model=EuropeLow" rel="external nofollow noopener">Calcul officiel du SCORE</a></p>
  <p>
    <a href="https://doi.org/10.1093/eurheartj/ehz455" rel="external nofollow noopener"
      >Mach F et al. 2019 ESC/EAS Guidelines for the management of dyslipidaemias: lipid modification to reduce
      cardiovascular risk: The Task Force for the management of dyslipidaemias
      of the European Society of Cardiology (ESC) and European Atherosclerosis
      Society (EAS). Table 4. Cardiovascular risk categories. Eur Hear Jour. 2020.</a
    >
  </p>
</blockquote>
