<p>
  En cas de survenue de maladie cardiovasculaire, de diabète, d'insuffisance rénale,
  d'hypercholestérolémie familiale, le risque cardiovasculaire est
  d'emblée élevé à très élevé. Utiliser les valeurs de pression artérielle
  pré-traitement.
</p>
<p>
  Sinon, le risque est évalué avec le
  <abbr title="Systematic COronary Risk Estimation 2">SCORE2</abbr> (<em
    >Systematic COronary Risk Estimation</em
  >, SCORE2-OP après 70 ans), qui estime le risque à 10 ans d'accident
  cardiovasculaire.<br>
</p>
<dl class="border-bottom">
  <dt>Très haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        Maladie cardiovasculaire<br>
        syndrome coronarien (infarctus du myocarde, SCA), revascularisation
        artérielle, AVC/AIT, anévrisme aortique, AOMI ou artériopathie
        périphérique, imageries avec sténoses documentées
      </li>
      <li>
        Diabète avec maladie cardiovasculaire<br>
        ou insuffisance rénale modérée avec DFGe &lt; 45<br>
        ou insuffisance rénale modérée avec DFG 45-59 et RAC 30/300<br>
        ou protéinurie &gt; 300 mg/g<br>
        ou &ge; 3 atteintes microvasculaires: RAC + rétinopathie + neuropathie
      </li>
      <li>
        Insuffisance rénale sévère (<abbr
          title="débit de filtration glomérulaire estimé"
          >DFG</abbr
        >
        &lt; 30)<br>
        ou insuffisance rénale modérée (DFG 30-59) avec RAC &gt; 30
      </li>
      <li><strong>SCORE2:</strong> &ge; 7,5% (-50 ans) | &ge; 10% (50-69) | &ge;
        15% (+70)</li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL &ge; 50% et une cible &lt; 0,55 g/L.<br>
    Statine + ézétimibe voire anti-PCSK9 (Repatha®).
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        <abbr title="Cholestérol total">CT</abbr> &gt; 3,1 g/L ou LDL &gt; 1,9
        g/L ou PA &ge; 180/110 mmHg
      </li>
      <li>Hypercholestérolémie familiale</li>
      <li>
        Diabète sans maladie cardiovasculaire et/ou complication ne remplissant
        pas les critères du risque modéré
      </li>
      <li>Maladie rénale chronique avec DFG &ge; 60 et RAC &gt; 300</li>
      <li>
        Insuffisance rénale modérée: DFG 30-44 avec RAC &lt; 30<br>
        ou DGF 45-59 avec RAC 30-300
      </li>
      <li>
        <strong>SCORE2:</strong> &lt; 2,5-4,9 % (-50 ans) | 5-9,9 % (50-69) |
        7,5-14,9 % (+70)
      </li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL &ge; 50% et une cible &lt; 0,7 g/L.<br>
    Statine &plusmn; ézétimibe.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire modéré</dt>
  <dd>
    <ul>
      <li>
        Diabète type 2 (ou type 1 &ge; 40 ans) depuis &lt; 10 ans sans
        complication ni autre FRCV
      </li>
      <li>
        Risque faible à modéré si <strong>SCORE2:</strong> &lt; 2,5% (-50 ans) | &lt; 5% (50-69) | &lt; 7,5%
        (+70)
      </li>
    </ul>
  </dd>
  <dd>LDL cible &lt; 1 g/L.</dd>
</dl>
<p><b>RAC =</b> ratio albuminurie/créatininurie (mg/g)</p>
<blockquote class="mt-5">
  <p>
    <a
      href="https://heartscore.escardio.org/Calculate/quickcalculator.aspx?model=low"
      rel="external nofollow noopener"
      >Calcul officiel du SCORE2</a
    >
  </p>
  <p>
    <a
      lang="en"
      href="https://academic.oup.com/eurheartj/article/42/34/3227/6358713"
      rel="external nofollow noopener"
      >Visseren F. et al.; ESC Scientific Document Group. 2021 ESC Guidelines on
      cardiovascular disease prevention in clinical practice: Developed by the
      Task Force for cardiovascular disease prevention in clinical practice with
      representatives of the European Society of Cardiology and 12 medical
      societies With the special contribution of the European Association of
      Preventive Cardiology (EAPC). European Heart Journal. 2021.</a
    >
  </p>
</blockquote>