<p>Facteurs du risque coronarien chez le diabétique âgé de 35 à 75 ans.</p>
<dl class="border-bottom">
  <dt>Très haut risque coronaire</dt>
  <dd>Nécessite &ge; 1 parmi:
    <ul>
      <li>
        Maladie cardiovasculaire<br>
        Dont fibrillation atriale, insuffisance cardiaque.
      </li>
      <li>LDL &gt; 1,9 g/L sous traitement</li>
      <li>Albuminurie &gt; 300 mg/24h</li>
      <li>Insuffisance rénale sévère (DFGe &lt; 30)</li>
      <li>ECG: ondes Q anormales</li>
      <li>Échographie: anomalie VG (dysfonction, hypertrophie)</li>
      <li>Sténose artérielle périphérique &ge; 50%</li>
    </ul>
  </dd>
</dl>
<dl>
  <dt>Haut risque coronaire</dt>
  <dd>
    <ul>
      <li>Diabète type 2 depuis &ge; 10 ans ou type 1 &ge; 20 ans</li>
      <li>Antécédent au 1<sup>er</sup> degré de coronaropathie précoce (homme &lt; 50 ou femme &lt; 60 ans)</li>
      <li>Facteur de risque cardiovasculaire non contrôlé (HbA<sub>1c</sub>, LDL, triglycérides, HTA, tabac)</li>
      <li>Insuffisance rénale modérée (DFGe 30-60) ou albuminurie 30-300 mg/24h</li>
      <li>Rétinopathie sévère, neuropathie autonome ou dysfonction érectile</li>
      <li>Capacités physiques faibles (&le; 2 étages)</li>
    </ul>
  </dd>
</dl>
<blockquote class="mt-5" lang="en">
  <p>
    <a href="https://doi.org/10.1016/j.diabet.2020.08.002" rel="external nofollow noopener"
      >Valensi P. et al. Risk stratification and screening for coronary artery disease in asymptomatic patients with diabetes mellitus: Position paper of the French Society of Cardiology and the French-speaking Society of Diabetology. Diabetes & Metabolism. 2021.</a
    >
  </p>
</blockquote>