<dl class="border-bottom">
  <dt>Très haut risque cardiovasculaire</dt>
  <dd>
    <ul>
      <li>
        Maladie cardiovasculaire<br>
        Syndrome coronarien (infarctus du myocarde, SCA), revascularisation
        artérielle, AVC/AIT, anévrisme aortique, AOMI ou artériopathie
        périphérique, imageries avec sténoses documentées.
      </li>
      <li>
        Complication sévère (littéralement atteinte d'organe cible):<ul>
          <li>Insuffisance rénale avec <abbr title="débit de filtration glomérulaire estimé">DFG</abbr> &lt; 45 mL/min/1.73m²</li>
          <li>Insuffisance rénale avec DFG 45-59 mL/min/1.73m² et albuminurie stade A2 (3-30 mg/mmol = 30-300 mg/g)</li>
          <li>Albuminurie stade A3 (&gt; 30 mg/mmol = 300 mg/g)</li>
          <li>Microangiopathie sur ≥ 3 sites: albuminurie A2 + rétinopathie + neuropathie</li>
        </ul>
      </li>
      <li>SCORE2-Diabetes ≥ 20%</li>
    </ul>
  </dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50% et une cible &lt; 0,55 g/L.<br>
    Statine + ézétimibe ± anti-PCSK9 (Repatha®).
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Haut risque cardiovasculaire</dt>
  <dd>SCORE2-Diabetes 10-19 %</dd>
  <dd>
    Obtenir une réduction du LDL ≥ 50% et une cible &lt; 0,7 g/L.<br>
    Statine ± ézétimibe.
  </dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire modéré</dt>
  <dd>SCORE2-Diabetes 5-9 %</dd>
  <dd>LDL cible &lt; 1 g/L.</dd>
</dl>
<dl class="border-bottom">
  <dt>Risque cardiovasculaire bas</dt>
  <dd>SCORE2-Diabetes &lt; 5%</dd>
  <dd>LDL cible &lt; TODO:</dd>
</dl>
<p><b>RAC =</b> ratio albuminurie/créatininurie (mg/g)</p>
<blockquote class="mt-5">
  <p>
    <a
      lang="en"
      href="https://academic.oup.com/eurheartj/advance-article/doi/10.1093/eurheartj/ehad192/7238227"
      rel="external nofollow noopener"
      >Marx N et al. 2023 ESC Guidelines for the management of cardiovascular disease in patients with diabetes. Eur Heart J. 2023.</a
    >
  </p>
</blockquote>