<h4>Risque suicidaire élevé (urgence)</h4>
<p>Le patient en crise:</p>
<ul>
<li>est décidé: sa planification est claire et le passage à l'acte est prévu pour les jours qui viennent</li>
<li>est coupé de ses émotions: il rationalise sa décision ou est très émotif, agité, troublé</li>
<li>se sent complètement immobilisé par la dépression ou dans un état de grande agitation</li>
<li>a une douleur et une expression de la souffrance omniprésentes ou complètement tues</li>
<li>a un accès direct et immédiat à un moyen de se suicider</li>
<li>a le sentiment d'avoir tout fait et tout essayé</li>
<li>est très isolé</li>
</ul>
<p class="alert alert-warning">Hospitalisation sous contrainte si besoin.</p>
<h4>Risque suicidaire modéré</h4>
<p>Le patient en crise:</p>
<ul>
<li>envisage le suicide et son intention est claire</li>
<li>a envisagé un scénario suicidaire, mais dont l'exécution est reportée</li>
<li>ne voit de recours autre que le suicide pour cesser de souffrir</li>
<li>présente un équilibre émotionnel fragile</li>
<li>a besoin d'aide et exprime directement ou indirectement son désarroi</li>
<li>est isolé</li>
</ul>
<p>Prise en charge par hospitalisation, suivi renforcé ou avis psychiatrique.</p>
<h4>Risque suicidaire faible</h4>
<p>Le patient en crise:</p>
<ul>
<li>est dans une relation de confiance établie avec le praticien</li>
<li>désire parler et est à la recherche de communication</li>
<li>cherche des solutions à ses problèmes</li>
<li>pense au suicide, mais n'a pas de scénario suicidaire précis</li>
<li>pense encore à des moyens et à des stratégies pour faire face à la crise</li>
<li>n'est pas anormalement troublé, mais psychologiquement souffrant</li>
</ul>
<p>Réévaluations fréquentes du niveau d'urgence.</p>
<blockquote>
<cite>-- HAS 2017<a href="https://www.has-sante.fr/jcms/p_3261767/fr/depression" rel="external nofollow noopener">HAS. Épisode dépressif caractérisé de l'adulte : prise en charge en soins de premier recours. 2017.</a></cite>
</blockquote>