<p>Syndrome métabolique si ≥ 3 critères parmi:</p>
<ul>
<li>Tour de taille: homme ≥ 94 cm (90 si asiatique) ou femme ≥ 80 cm</li>
<li>Pression artérielle systolique ≥ 130 mmHg et/ou diastolique ≥ 85 mmHg
ou traitement anti-hypertenseur</li>
<li>Glycémie à jeun ≥ 1 g/L ou diabète de type 2</li>
<li>Triglycérides ≥ 1,5 g/L ou traitement hypolipémiant</li>
<li>HDL-cholestérol: homme &lt; 0,4 g/L ou femme &lt; 0,5 g/L</li>
</ul>
<blockquote lang="en">
<p><a href="https://pubmed.ncbi.nlm.nih.gov/19805654/" rel="external nofollow noopener">Alberti KG et al. Harmonizing the metabolic syndrome: a joint interim statement of the International Diabetes Federation Task Force on Epidemiology and Prevention; National Heart, Lung, and Blood Institute; American Heart Association; World Heart Federation; International Atherosclerosis Society; and International Association for the Study of Obesity. Circulation. 2009;120(16):1640-1645.</a></p>
</blockquote>