<div
  class="data-table"
  role="region"
  tabindex="0"
  aria-labelledby="table-caption-t-249156378"
>
  <table
    class="table table-wrap"
    id="t-249156378"
    itemscope=""
    itemtype="https://schema.org/Table"
  >
    <caption id="table-caption-t-249156378" itemprop="about">
      <b>Tableau.</b>
      Pilosité pubienne selon Tanner.
    </caption>
    <tbody>
      <tr>
        <th class="border-top-0" scope="row">P1</th>
        <td class="border-top-0">Absence de pilosité</td>
      </tr>
      <tr>
        <th scope="row">P2</th>
        <td>Quelques poils longs sur le pubis</td>
      </tr>
      <tr>
        <th scope="row">P3</th>
        <td>Pilosité pubienne au-dessus de la symphyse</td>
      </tr>
      <tr>
        <th scope="row">P4</th>
        <td>Pilosité pubienne fournie</td>
      </tr>
      <tr>
        <th scope="row">P5</th>
        <td>
          La pilosité s’étend à la racine de la cuisse et <br>s’allonge vers
          l’ombilic chez le garçon
        </td>
      </tr>
    </tbody>
  </table>
</div>