<div class="data-table" role="region" aria-labelledby="table-tremblement" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-tremblement" itemprop="about"><span class="font-weight-bold">Tableau.</span> Différences sémiologiques entre les tremblements essentiel et parkinsonien.</caption>
  <thead>
    <tr>
      <th scope="col">Caractéristique</th>
      <th scope="col">Tremblement essentiel</th>
      <th scope="col">Tremblement Parkinsonien</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="font-weight-bold">Type de tremblement</th>
      <td>Tremblement d’action (postural et cinétique)</td>
      <td>Tremblement de repos (composante posturale possible)</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Localisation</th>
      <td>Membres supérieurs, tête et voix</td>
      <td>Membres supérieurs, et moins fréquemment les membres inférieurs et la mâchoire.
        La voix et la tête ne sont presque jamais touchées.</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Latéralité</th>
      <td>Typiquement bilatéral</td>
      <td>Début unilatéral puis bilatéral</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Fréquence</th>
      <td>4 à 12 Hz</td>
      <td>3 à 6 Hz</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Antécédents familiaux</th>
      <td>+50 %</td>
      <td>Rares (&lt; 20 %)</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Âge de début</th>
      <td>+40 ans, mais possible à tout âge</td>
      <td>Début vers 60 ans, possible à tout moment chez l’adulte</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Sensibilité à l’alcool</th>
      <td>Amélioration sensible</td>
      <td>Pas d’amélioration</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Facteurs aggravants</th>
      <td>Stress, émotion</td>
      <td>idem</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Prévalence</th>
      <td>8x plus fréquent</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Imagerie (DATscan)</th>
      <td>Normale</td>
      <td>Anormale</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Écriture</th>
      <td>Grande, tremblement unidirectionnel</td>
      <td>Micrographie sans tremblement</td>
    </tr>
  </tbody>
  </table>
</div>