<div class="my-4" id="score-prevalent">
  <p>Le score PREVALENT est un score validé pour aider au dépistage ciblé de l’<dfn><abbr title="Artériopathie oblitérante des membres inférieurs">AOMI</abbr></dfn> en soins primaires à partir de 55 ans.</p>
  <fieldset>
    <legend>Âge</legend>
    <input type="radio" id="radio-prevalent-11" name="radio-prevalent-1" class="d-input-none" value="0" required>
    <label for="radio-prevalent-11" class="chip chip-action chip-sm chip-choice">55-59</label>
    <input type="radio" id="radio-prevalent-12" name="radio-prevalent-1" class="d-input-none" value="1">
    <label for="radio-prevalent-12" class="chip chip-action chip-sm chip-choice">60-64</label>
    <input type="radio" id="radio-prevalent-13" name="radio-prevalent-1" class="d-input-none" value="2">
    <label for="radio-prevalent-13" class="chip chip-action chip-sm chip-choice">65-69</label>
    <input type="radio" id="radio-prevalent-14" name="radio-prevalent-1" class="d-input-none" value="3">
    <label for="radio-prevalent-14" class="chip chip-action chip-sm chip-choice">70-74</label>
    <input type="radio" id="radio-prevalent-15" name="radio-prevalent-1" class="d-input-none" value="4">
    <label for="radio-prevalent-15" class="chip chip-action chip-sm chip-choice">75-79</label>
    <input type="radio" id="radio-prevalent-16" name="radio-prevalent-1" class="d-input-none" value="5">
    <label for="radio-prevalent-16" class="chip chip-action chip-sm chip-choice">80-84</label>
    <input type="radio" id="radio-prevalent-17" name="radio-prevalent-1" class="d-input-none" value="6">
    <label for="radio-prevalent-17" class="chip chip-action chip-sm chip-choice">≥ 85</label>
  </fieldset>
  <fieldset>
    <legend>Tabagisme</legend>
    <input type="radio" id="radio-prevalent-21" name="radio-prevalent-2" class="d-input-none" value="0" required>
    <label for="radio-prevalent-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="radio-prevalent-22" name="radio-prevalent-2" class="d-input-none" value="2">
    <label for="radio-prevalent-22" class="chip chip-action chip-sm chip-choice">Sevré</label>
    <input type="radio" id="radio-prevalent-23" name="radio-prevalent-2" class="d-input-none" value="7">
    <label for="radio-prevalent-23" class="chip chip-action chip-sm chip-choice">Actif</label>
  </fieldset>
  <fieldset>
    <legend>Hypertension artérielle</legend>
    <input type="radio" id="radio-prevalent-31" name="radio-prevalent-3" class="d-input-none" value="0" required>
    <label for="radio-prevalent-31" class="chip chip-action chip-sm chip-choice">Absente</label>
    <input type="radio" id="radio-prevalent-32" name="radio-prevalent-3" class="d-input-none" value="1">
    <label for="radio-prevalent-32" class="chip chip-action chip-sm chip-choice">Contrôlée</label>
    <input type="radio" id="radio-prevalent-33" name="radio-prevalent-3" class="d-input-none" value="3">
    <label for="radio-prevalent-33" class="chip chip-action chip-sm chip-choice">Non contrôlée</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score</p>
      <output class="score-output" id="prevalentScore">0</output>
    </div>
    <p id="prevalentText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="mt-4">
  <p lang="en">
    <a
      href="https://pubmed.ncbi.nlm.nih.gov/17451087/"
      rel="external nofollow noopener"
      >Bendermacher BL, Teijink JA, Willigendael EM, et al. A clinical
      prediction model for the presence of peripheral arterial disease--the
      benefit of screening individuals before initiation of measurement of the
      ankle-brachial index: an observational study. Vasc Med. 2007;12(1):5-11.
      doi:10.1177/1358863X07076827</a>
  </p>
</blockquote>
{{ $script := `
  // Score PREVALENT by djibe
  window.addEventListener( 'load', event => {
    const scorePREVALENT = document.getElementById('prevalentScore')
    const textPREVALENT = document.getElementById('prevalentText');
    [...document.querySelectorAll('#score-prevalent input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcPrevalent() ) })
    const calcPrevalent = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-prevalent input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 3) {
          scorePREVALENT.innerHTML = score
          let explainPrevalent = "<span class='d-block text-muted mt-2'>Risque d’AOMI de " + findPrevalence(score) + "%</span>"
          if (score <= 7) {
            textPREVALENT.innerHTML = "Pas de dépistage de l’AOMI sauf comorbidités" + explainPrevalent
          }
          else if (score > 7) {
            textPREVALENT.innerHTML = "Adresser à l’angiologue pour la mesure de l’IPS" + explainPrevalent
          }
        } else {
          textPREVALENT.innerHTML = "Veuillez répondre à toutes les questions"
        }
      })
    }
    const findPrevalence = (score) => {
      if (score <= 3) { return 7 }
      else if (score === 4) { return 11.9 }
      else if (score === 5) { return 14.5 }
      else if (score === 6) { return 17.5 }
      else if (score === 7) { return 19.3 }
      else if (score === 8) { return 23.5 }
      else if (score === 9) { return 25.9 }
      else if (score === 10) { return 24.3 }
      else if (score === 11) { return 25.1 }
      else if (score === 12) { return 31.1 }
      else if (score >= 13) { return 40.6 }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>