<div class="my-4" id="score-epworth">
  <p>L’échelle d’Epworth est la meilleure échelle auto-administrée pour objectiver la <strong>somnolence diurne</strong> (<em><dfn><abbr title="American Academy of Sleep Medicine" lang="en">AASM</abbr></dfn> 2017</em>).
    Il est utile d’avoir une confirmation du score par un proche.</p>
  <p>Évaluez le risque de vous assoupir en sélectionnant l’adjectif le plus approprié pour chaque situation.</p>
  <fieldset>
    <legend>Assis en train de lire</legend>
    <input type="radio" id="radio11" name="radio1" class="d-input-none" value="0" required>
    <label for="radio11" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio12" name="radio1" class="d-input-none" value="1">
    <label for="radio12" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio13" name="radio1" class="d-input-none" value="2">
    <label for="radio13" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio14" name="radio1" class="d-input-none" value="3">
    <label for="radio14" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>En train de regarder la télévision</legend>
    <input type="radio" id="radio21" name="radio2" class="d-input-none" value="0" required>
    <label for="radio21" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio22" name="radio2" class="d-input-none" value="1">
    <label for="radio22" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio23" name="radio2" class="d-input-none" value="2">
    <label for="radio23" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio24" name="radio2" class="d-input-none" value="3">
    <label for="radio24" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Assis, inactif dans un lieu public (cinéma, théâtre, réunion)</legend>
    <input type="radio" id="radio31" name="radio3" class="d-input-none" value="0" required>
    <label for="radio31" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio32" name="radio3" class="d-input-none" value="1">
    <label for="radio32" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio33" name="radio3" class="d-input-none" value="2">
    <label for="radio33" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio34" name="radio3" class="d-input-none" value="3">
    <label for="radio34" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Comme passager d’une voiture (ou transport en commun) roulant sans arrêt
      pendant une heure</legend>
    <input type="radio" id="radio41" name="radio4" class="d-input-none" value="0" required>
    <label for="radio41" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio42" name="radio4" class="d-input-none" value="1">
    <label for="radio42" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio43" name="radio4" class="d-input-none" value="2">
    <label for="radio43" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio44" name="radio4" class="d-input-none" value="3">
    <label for="radio44" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Allongé l’après-midi lorsque les circonstances le permettent</legend>
    <input type="radio" id="radio51" name="radio5" class="d-input-none" value="0" required>
    <label for="radio51" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio52" name="radio5" class="d-input-none" value="1">
    <label for="radio52" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio53" name="radio5" class="d-input-none" value="2">
    <label for="radio53" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio54" name="radio5" class="d-input-none" value="3">
    <label for="radio54" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Étant assis en parlant avec quelqu’un</legend>
    <input type="radio" id="radio61" name="radio6" class="d-input-none" value="0" required>
    <label for="radio61" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio62" name="radio6" class="d-input-none" value="1">
    <label for="radio62" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio63" name="radio6" class="d-input-none" value="2">
    <label for="radio63" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio64" name="radio6" class="d-input-none" value="3">
    <label for="radio64" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Assis au calme après un déjeuner sans alcool</legend>
    <input type="radio" id="radio71" name="radio7" class="d-input-none" value="0" required>
    <label for="radio71" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio72" name="radio7" class="d-input-none" value="1">
    <label for="radio72" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio73" name="radio7" class="d-input-none" value="2">
    <label for="radio73" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio74" name="radio7" class="d-input-none" value="3">
    <label for="radio74" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <fieldset>
    <legend>Dans une voiture immobilisée depuis quelques minutes</legend>
    <input type="radio" id="radio81" name="radio8" class="d-input-none" value="0" required>
    <label for="radio81" class="chip chip-action chip-sm chip-choice">Aucun</label>
    <input type="radio" id="radio82" name="radio8" class="d-input-none" value="1">
    <label for="radio82" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="radio83" name="radio8" class="d-input-none" value="2">
    <label for="radio83" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio84" name="radio8" class="d-input-none" value="3">
    <label for="radio84" class="chip chip-action chip-sm chip-choice">Élevé</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score</p>
      <output class="score-output" id="epworthScore">0</output>
    </div>
    <p id="epworthText" class="lead m-auto">Sélectionnez les réponses appropriées</p>
  </div>
</div>
<blockquote class="mt-4">
  <p lang="en">
    <a
      href="https://doi.org/10.1093/sleep/14.6.540"
      rel="external nofollow noopener"
      >Murray W. Johns. A New Method for Measuring Daytime Sleepiness: The Epworth Sleepiness Scale. Sleep. Volume 14. Issue 6. November 1991. Pages 540-545.</a>
  </p>
</blockquote>
{{ $script := `
  // Score Epworth by djibe
  window.addEventListener( 'load', event => {
    const scoreEPWORTH = document.getElementById('epworthScore')
    const textEPWORTH = document.getElementById('epworthText');
    [...document.querySelectorAll('#score-epworth input[type=\"radio\"]')].forEach((EPWORTHElem) => { EPWORTHElem.addEventListener('click', () => calcEpworth() ) })
    const calcEpworth = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-epworth input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
          scoreEPWORTH.innerHTML = score
          if (score <= 10) {
            textEPWORTH.innerHTML = "Niveau normal de somnolence"
          } else if (score > 10 && score <= 15) {
            textEPWORTH.innerHTML = "Somnolence faible à modérée"
          } else if (score >= 16) {
            textEPWORTH.innerHTML = "Somnolence modérée à sévère"
          }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>