<p class="mb-3">Le score <dfn><abbr title="Fibrosis-4" lang="en">FIB-4 Index</abbr></dfn> (Fibrosis-4 Index) est un test de référence, validé pour rechercher une <strong>fibrose hépatique</strong> significative avant 70 ans.</p>
<p>Un score FIB-4 inférieur à 1,3 (2 si +65 ans) élimine une hépatopathie avancée (VPN 90%).<br>Au-delà, confirmer la fibrose par un test sanguin plus spécifique: Fibromètre®, Fibrotest® ou ELF®.</p>
<p>Le score FIB-4 n’est pas utile pour les patients déjà suivis pour une maladie du foie.</p>
<div id="score-fib4">
  <div class="form-group form-ripple">
    <label for="fib4-1">Âge (années)</label>
    <input aria-describedby="fib4-1" class="form-control" id="fib4-1" type="number" value="50" min="18" max="69">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-2">Plaquettes (G/L = 10<sup>9</sup>/L)</label>
    <input aria-describedby="fib4-2" class="form-control" id="fib4-2" type="number" min="15" max="700">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-3">ASAT (UI/L)</label>
    <input aria-describedby="fib4-3" class="form-control" id="fib4-3" type="number" min="10" max="400">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-4">ALAT (UI/L)</label>
    <input aria-describedby="fib4-4" class="form-control" id="fib4-4" type="number" min="10" max="400">
  </div>
</div>
<div class="alert bg-light d-flex mt-md-4">
  <div class="d-flex flex-column align-items-center justify-content-evenly">
    <p class="typography-overline score-output-title">FIB-4</p>
    <output class="score-output" id="fib4Score">-</output>
  </div>
  <p id="fib4Text" class="lead m-auto">Veuillez compléter les informations clinico-biologiques</p>
</div>
<p>Un score &lt; 1,3 est normal (2 à partir de 65 ans).</p>
<blockquote class="mt-4">
  <p lang="en">
    <a
      href="https://aasldpubs.onlinelibrary.wiley.com/doi/10.1002/hep.21178"
      rel="external nofollow noopener"
      >Sterling RK. et al. Development of a simple noninvasive index to predict significant fibrosis in patients with HIV/HCV coinfection. Hepatology. 2006.</a>
  </p>
</blockquote>
{{ $script := `
  // Score FIB-4 by djibe
  window.addEventListener('DOMContentLoaded', () => {
    const scoreFib4 = document.getElementById('fib4Score')
    const textFib4 = document.getElementById('fib4Text')
    const inputs = [...document.querySelectorAll('#score-fib4 input[type="number"]')]

    const [ageElem, plaqElem, asatElem, alatElem] = inputs

    const calcFib4 = () => {
      const age = Number(ageElem.value)
      const plaq = Number(plaqElem.value)
      const asat = Number(asatElem.value)
      const alat = Number(alatElem.value)

      const allInputsValid = [age, plaq, asat, alat].every(value => value > 0)

      if (!allInputsValid) {
        scoreFib4.textContent = '0'
        textFib4.textContent = 'Veuillez compléter les informations clinico-biologiques'
        return
    }

    const score = (age * asat) / (plaq * Math.sqrt(alat))
    const fibrosisLikely = age < 65 ? score >= 1.3 : score >= 2

    scoreFib4.textContent = score.toPrecision(4)

    if (fibrosisLikely) {
      textFib4.innerHTML = '<strong>Fibrose hépatique probable</strong><br>Prescrire pour le laboratoire:<br>Fibromètre®, Fibrotest® ou ELF®'
    } else {
      textFib4.textContent = 'Pas de fibrose hépatique'
    }
  }

  inputs.forEach(input => {
    input.addEventListener('input', calcFib4)
  })

  calcFib4()
})` }}
<script type="module">{{ $script | safeJS }}</script>