<div class="my-4" id="score-qsofa">
  <p class="mb-3">Le score <dfn><abbr title="quick Sequential Organ Failure Assessment">qSOFA</abbr></dfn> (<span lang="en">quick Sequential [Sepsis-related] Organ Failure Assessment</span>)
    est un score validé prédictif de <strong>mortalité par sepsis</strong> (hors des services d’urgences).</p>
  <input type="checkbox" id="mental" class="d-input-none" value="1">
  <label for="mental" class="chip chip-action chip-filter">Glasgow &lt; 15</label>
  <input type="checkbox" id="pulmonary" class="d-input-none" value="1">
  <label for="pulmonary" class="chip chip-action chip-filter">Polypnée ≥ 22/min</label>
  <input type="checkbox" id="pressure" class="d-input-none" value="1">
  <label for="pressure" class="chip chip-action chip-filter">Systolique ≤ 100 mmHg</label>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score</p>
      <output class="score-output" id="qsofaScore">0</output>
    </div>
    <p id="qsofaText" class="lead m-auto">Pas de haut risque</p>
  </div>
</div>
<blockquote class="mt-4">
  <p lang="en">
    <a
      href="https://jamanetwork.com/journals/jama/fullarticle/2492875"
      rel="external nofollow noopener"
      >Singer M, Deutschman CS, Seymour C, et al. The Third International Consensus Definitions for Sepsis and Septic Shock (Sepsis-3). JAMA. 2016;315(8):801-810.</a>
  </p>
</blockquote>
{{ $script := `
  // Score qSOFA by djibe
  window.addEventListener('DOMContentLoaded', () => {
  const scoreqsofa = document.getElementById('qsofaScore');
  const textqsofa = document.getElementById('qsofaText');
  const container = document.getElementById('score-qsofa');

  const calcqsofa = () => {
    const elemsChecked = container.querySelectorAll('input[type="checkbox"]:checked');

    let score = 0;
    elemsChecked.forEach(elemChecked => score += parseInt(elemChecked.value, 10) || 0);

    scoreqsofa.textContent = score;

    if (score <= 1) {
      textqsofa.textContent = 'Pas de haut risque';
    } else {
      textqsofa.innerHTML = 'Sepsis à haut risque<br>Mortalité ≥ 10%';
    }
  };

  container.addEventListener('change', event => {
    if (event.target.matches('input[type="checkbox"]')) {
      calcqsofa();
    }
  });
})` }}
<script type="module">{{ $script | safeJS }}</script>