<!-- Required: slider = true -->
<form id="score-form" class="card-util">
  <div class="border rounded-lg p-3 mr-2">
  <div class="d-flex align-items-center mb-3">
    <div class="home-icon d-inline-flex" style="padding:.5rem;"><svg xmlns="http://www.w3.org/2000/svg" height="32px" fill="currentcolor" viewBox="0 -960 960 960" width="32px"><path d="M560-680v-80h320v80H560Zm0 160v-80h320v80H560Zm0 160v-80h320v80H560Zm-325-75q-35-35-35-85t35-85q35-35 85-35t85 35q35 35 35 85t-35 85q-35 35-85 35t-85-35ZM80-160v-76q0-21 10-40t28-30q45-27 95.5-40.5T320-360q56 0 106.5 13.5T522-306q18 11 28 30t10 40v76H80Z"/></svg>
    </div>
    <h3 class="typography-headline-5 ml-3 mb-0">Terrain</h3>
  </div>
  <div class="custom-hf" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));gap: .5rem;">
  <div class="form-group"><!-- Sexe -->
    <p class="typography-overline text-black-secondary mb-0">Sexe</p>
    <input type="radio" id="score2hf-female" name="gender" class="d-none" value="female" checked required>
    <label for="score2hf-female" class="chip chip-action chip-choice">Femme</label>
    <input type="radio" id="score2hf-male" name="gender" class="d-none" value="male">
    <label for="score2hf-male" class="chip chip-action chip-choice">Homme</label>
  </div>
  <div class="form-group"><!-- Fumeur -->
    <p class="typography-overline text-black-secondary mb-0">Tabagisme</p>
    <input type="radio" id="score2hf-nosmoker" name="smoker" class="d-none" value="0" checked required>
    <label for="score2hf-nosmoker" class="chip chip-action chip-choice">Non fumeur</label>
    <input type="radio" id="score2hf-smoker" name="smoker" class="d-none" value="1">
    <label for="score2hf-smoker" class="chip chip-action chip-choice">Fumeur</label>
  </div>
  <div class="form-group"><!-- DT2 -->
    <p class="typography-overline text-black-secondary mb-0">Diabète type 2</p>
    <input type="radio" id="score2hf-nodiabetes" name="diabetes" class="d-none" value="0" checked required>
    <label for="score2hf-nodiabetes" class="chip chip-action chip-choice">Non</label>
    <input type="radio" id="score2hf-diabetes" name="diabetes" class="d-none" value="1">
    <label for="score2hf-diabetes" class="chip chip-action chip-choice">Oui</label>
  </div>
  <div class="form-group"><!-- AntiHTA -->
    <p class="typography-overline text-black-secondary mb-0">Antihypertenseur</p>
    <input type="radio" id="score2hf-hbp-nopill" name="hbp-pill" class="d-none" value="0" checked required>
    <label for="score2hf-hbp-nopill" class="chip chip-action chip-choice">Non</label>
    <input type="radio" id="score2hf-hbp-pill" name="hbp-pill" class="d-none" value="1">
    <label for="score2hf-hbp-pill" class="chip chip-action chip-choice">Oui</label>
  </div>
  </div>
  <div class="d-flex align-items-center mt-2">
    <input type="text" value="50" id="ageHFSlider" oninput="ageHF.value = this.value">
    <input type="number" class="form-alternative ml-3" id="ageHF" value="50" min="40" max="84" required>
  </div>
  </div>
  <div class="border rounded-lg p-3 mt-2">
    <div class="d-flex align-items-center mb-3">
    <div class="home-icon d-inline-flex" style="padding:.5rem;"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="currentcolor"><path d="M320-280v-80h87q-5 20-6.5 40t.5 40h-81Zm0 200q-83 0-141.5-58.5T120-280v-360q-33 0-56.5-23.5T40-720v-80q0-33 23.5-56.5T120-880h400q33 0 56.5 23.5T600-800v80q0 33-23.5 56.5T520-640v121q-24 15-44 35t-35 44H320v-80h120v-120H200v360q0 50 35 85t85 35q30 0 54.5-13t41.5-36q8 20 18 38t24 35q-27 26-62 41t-76 15Zm411-149q29-29 29-71t-29-71q-29-29-71-29t-71 29q-29 29-29 71t29 71q29 29 71 29t71-29ZM864-40 756-148q-22 14-46 21t-50 7q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 26-7 50t-21 46L920-96l-56 56Z"/></svg>
    </div>
    <h3 class="typography-headline-5 ml-3 mb-0">Mesures</h3>
  </div>
  <div class="form-group"><!-- Bmi -->
    <p class="typography-overline text-black-secondary mb-1">IMC</p>
    <div class="d-flex align-items-center">
      <input type="text" value="30" id="bmiSlider" oninput="bmi.value = this.value" required>
      <input type="number" class="form-alternative ml-3" id="bmi" value="30" min="15" max="65" required>
    </div>
  </div>
  <div class="form-group"><!-- SBP -->
    <p class="typography-overline text-black-secondary mb-1">Pression systolique</p>
    <div class="d-flex align-items-center">
      <input type="text" value="130" id="sbpSlider" oninput="sbp.value = this.value">
      <input type="number" class="form-alternative ml-3" id="sbp" value="130" min="100" max="200" required>
    </div>
  </div>
  <div class="form-group"><!-- GFR -->
    <p class="typography-overline text-black-secondary mb-1">DFG</p>
    <div class="d-flex align-items-center">
      <input type="text" value="60" id="gfrSlider" oninput="gfr.value = this.value" required>
      <input type="number" class="form-alternative ml-3" id="gfr" value="60" min="30" max="150" required>
    </div>
    <small class="form-text">Formule <a href="/scores/ckd-epi-2021/" target="_blank">CKD-EPI 2021</a></small>
  </div>
  <div id="div-diabete" class="collapse">
    <hr>
    <div class="form-group"><!-- Age diag -->
      <p class="typography-overline text-black-secondary mb-0">Âge au diagnostic du diabète</p>
      <div class="d-flex align-items-center mt-2">
      <input type="text" value="50" id="agediabSlider" oninput="agediab.value = this.value">
      <input type="number" class="form-alternative ml-3" id="agediab" value="50" required>
    </div>
    </div>
    <div class="form-group"><!-- HbA1c -->
      <p class="typography-overline text-black-secondary mb-1">HbA1c</p>
      <div class="d-flex align-items-center">
        <input type="text" value="100" id="hba1cSlider" oninput="hba1c.value = this.value" required>
        <input type="number" class="form-alternative ml-3" id="hba1c" value="100" min="10" max="250" required>
      </div>
    </div>
  </div>
  </div>
  <!-- Bouton de calcul -->
  <button type="button" id="calculate-btn" class="btn btn-primary btn-lg btn-block my-4">
    Calculer le Risque
  </button>
</form>
<!-- Section des résultats -->
<div id="result-section" class="mt-4 text-center alert border rounded-xl d-none">
    <div id="result-display" class="alert" role="alert">
        <p class="font-weight-bold mb-1" id="risk-score" style="font-size: 2rem"></p>
        <p class="h5" id="risk-category" style="font-size: 1.25rem; line-height: 2rem"></p>
    </div>
     <!-- Disclaimer -->
</div>
<!-- Section d'erreur -->
<div id="error-section" class="mt-4 d-none">
     <div class="alert alert-danger" role="alert">
        <strong class="font-weight-bold">Erreur :</strong>
        <span id="error-message"></span>
    </div>
</div>
<blockquote>
  <p>
    – <small><a href="https://pmc.ncbi.nlm.nih.gov/articles/pmid/41810943/" target="_blank" rel="external nofollow noopener">score2hf-HF Writing Group and European Society of Cardiology’s Cardiovascular Risk Collaboration (CRC) Unit . Prediction of incident heart failure in individuals without prior cardiovascular disease: the score2hf-HF risk model. Eur Heart J. 2026;47(34):4758-4772. doi:10.1093/eurheartj/ehag154</a></small>
dont <small>supplementary data &gt; supplementary Material</small>
.</p>
</blockquote>