<!-- Required: slider = true -->
<form id="score-form" class="card-util">
  <div class="border rounded-lg p-3 mr-2">
  <div class="d-flex align-items-center mb-3">
    <div class="home-icon d-inline-flex" style="padding:.5rem;"><svg xmlns="http://www.w3.org/2000/svg" height="32px" fill="currentcolor" viewBox="0 -960 960 960" width="32px"><path d="M560-680v-80h320v80H560Zm0 160v-80h320v80H560Zm0 160v-80h320v80H560Zm-325-75q-35-35-35-85t35-85q35-35 85-35t85 35q35 35 35 85t-35 85q-35 35-85 35t-85-35ZM80-160v-76q0-21 10-40t28-30q45-27 95.5-40.5T320-360q56 0 106.5 13.5T522-306q18 11 28 30t10 40v76H80Z"/></svg>
    </div>
    <h3 class="typography-headline-5 ml-3 mb-0">Terrain</h3>
  </div>
  <div class="d-flex flex-wrap"><!-- Sexe -->
  <div class="form-group mr-5">
    <p class="typography-overline text-black-secondary mb-0">Sexe</p>
    <input type="radio" id="score2-female" name="gender" class="d-none" value="female" checked required>
    <label for="score2-female" class="chip chip-action chip-choice">Femme</label>
    <input type="radio" id="score2-male" name="gender" class="d-none" value="male">
    <label for="score2-male" class="chip chip-action chip-choice">Homme</label>
  </div>
  <div class="form-group"><!-- Fumeur -->
    <p class="typography-overline text-black-secondary mb-0">Tabagisme</p>
    <input type="radio" id="score2-nosmoker" name="smoker" class="d-none" value="0" checked required>
    <label for="score2-nosmoker" class="chip chip-action chip-choice">Non fumeur</label>
    <input type="radio" id="score2-smoker" name="smoker" class="d-none" value="1">
    <label for="score2-smoker" class="chip chip-action chip-choice">Fumeur</label>
    </div>
  </div>
  <div class="d-flex align-items-center mt-2">
    <input type="text" value="50" id="ageSlider" oninput="age.value = this.value">
    <input type="number" class="form-alternative ml-3" id="age" value="50" min="40" max="89" required>
  </div>
  </div>
  <div class="border rounded-lg p-3 mt-2">
    <div class="d-flex align-items-center mb-3">
    <div class="home-icon d-inline-flex" style="padding:.5rem;"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="currentcolor"><path d="M320-280v-80h87q-5 20-6.5 40t.5 40h-81Zm0 200q-83 0-141.5-58.5T120-280v-360q-33 0-56.5-23.5T40-720v-80q0-33 23.5-56.5T120-880h400q33 0 56.5 23.5T600-800v80q0 33-23.5 56.5T520-640v121q-24 15-44 35t-35 44H320v-80h120v-120H200v360q0 50 35 85t85 35q30 0 54.5-13t41.5-36q8 20 18 38t24 35q-27 26-62 41t-76 15Zm411-149q29-29 29-71t-29-71q-29-29-71-29t-71 29q-29 29-29 71t29 71q29 29 71 29t71-29ZM864-40 756-148q-22 14-46 21t-50 7q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 26-7 50t-21 46L920-96l-56 56Z"/></svg>
    </div>
    <h3 class="typography-headline-5 ml-3 mb-0">Mesures</h3>
  </div>
  <div class="form-group"><!-- SBP -->
    <p class="typography-overline text-black-secondary mb-1">Pression systolique</p>
    <div class="d-flex align-items-center">
      <input type="text" value="130" id="sbpSlider" oninput="sbp.value = this.value">
      <input type="number" class="form-alternative ml-3" id="sbp" value="130" min="100" max="200" required>
    </div>
  </div>
  <div class="form-group"><!-- Cht -->
    <p class="typography-overline text-black-secondary mb-1">Cholestérol total</p>
    <div class="d-flex align-items-center">
      <input type="text" value="5" id="chtSlider" oninput="cht.value = this.value" required>
      <input type="number" class="form-alternative ml-3" id="cht" value="5" min="3" max="9" required>
    </div>
  </div>
    <div class="form-group"><!-- HDL -->
      <p class="typography-overline text-black-secondary mb-1">Cholestérol HDL</p>
      <div class="d-flex align-items-center">
        <input type="text" value="1.3" id="hdlSlider" oninput="hdl.value = this.value" required>
        <input type="number" class="form-alternative ml-3" id="hdl" value="1.3" min="0.7" max="2.5" required>
      </div>
    </div>
  </div>
  <!-- Bouton de calcul -->
  <button type="button" id="calculate-btn" class="btn btn-primary btn-lg btn-block my-4">
    Calculer le Risque à 10 ans
  </button>
</form>
<!-- Section des résultats -->
<div id="result-section" class="mt-4 text-center alert border rounded-xl d-none">
    <div id="result-display" class="alert" role="alert">
        <p class="font-weight-bold mb-1" id="risk-score" style="font-size: 2rem"></p>
        <p class="h5" id="risk-category" style="font-size: 1.25 rem; line-height: 2rem"></p>
        <hr>
        <p class="mb-0 small" id="risk-description" style="color: var(--text-black-secondary)"></p>
    </div>
     <!-- Disclaimer -->
</div>
<!-- Section d'erreur -->
<div id="error-section" class="mt-4 d-none">
     <div class="alert alert-danger" role="alert">
        <strong class="font-weight-bold">Erreur :</strong>
        <span id="error-message"></span>
    </div>
</div>
<blockquote>
  <p>
    – <small><a href="https://doi.org/10.1093/eurheartj/ehab309" target="_blank" rel="external nofollow noopener">SCORE2 working group and ESC Cardiovascular risk collaboration, SCORE2 risk prediction algorithms: new models to estimate 10-year risk of cardiovascular disease in Europe, European Heart Journal, Volume 42, Issue 25, 1 July 2021, Pages 2439–2454.</a></small>
, <small>supplementary data &gt; SCORE2 Updated Supplementary Material.docx &gt; Supplementary methods Table 4: Illustration of risk estimation for a non-diabetic man or woman with given risk factor values</small>
et <a href="https://doi.org/10.1093/eurheartj/ehab312">SCORE2-OP working group and ESC Cardiovascular risk collaboration. SCORE2-OP risk prediction algorithms: estimating incident cardiovascular event risk in older persons in four geographical risk regions. Eur Heart J. 2021;42(25):2455-2467. doi:10.1093/eurheartj/ehab312</a>.</p>
</blockquote>