{{- define "main" -}}
<div class="w-100 min-vh-100">
  <section class="container-md">
    <div class="row">
      <div class="col-12">
        <h1 class="taxonomyTerms">{{ .Title }}</h1>
        <nav aria-label="Fil d'Ariane" class="mb-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><img src="/favicon.svg" width="24" height="24" alt="Logo de RecoMédicales" aria-label="Accueil"></a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
      <div class="col-12">
      {{ range .Pages.ByTitle }}
      <a class="chip chip-action" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </div>
    </div>
  </section>
</div>
{{- end -}}