<script>
  $(function () {
    const Slider = $('#weight');
    const Input = $('#weightInput');
    const min = 5;
    const max = 60;
    const Nivaquine = $('#nivaquine');
    const Atovaquone = $('#atovaquone');
    const Mefloquine = $('#mefloquine');
    const Doxycycline = $('#doxycycline');
  
    Slider.ionRangeSlider({
      skin: 'material',
      min: min,
      max: max,
      postfix: ' kg',
      max_postfix: '+',
      extra_classes: 'flex-fill'
    });
  
    let sliderInstance = Slider.data('ionRangeSlider');
  
    Input.on('input', function() {
        let val = this.value;
    
        // Validate Slider
        if (val < min) {
            val = min;
        } else if (val > max) {
            val = max;
        }
    
        sliderInstance.update({
            from: val
        });
    });
  
    Slider.on('change', function() {
      let weight = Slider.val();
  
      // Nivaquine
      if ( weight <= 10 ) {
        str = '1 cuillère-mesure (25 mg) 1 jour sur 2';
      } else if ( weight >= 10 && weight < 23 ) {
        str = '1 cuillère-mesure (25 mg) par jour';
      } else if ( weight >= 23 && weight < 37 ) {
        str = '2 cuillères-mesure (50 mg) par jour';
      } else if ( weight >= 37 && weight < 52 ) {
        str = '3 cuillères-mesure (75 mg) par jour';
      } else if ( weight >= 52 ) {
        str = '1 cp par jour ou 4 cuillères-mesure par jour (100 mg)';
      }
      Nivaquine.html(str);
  
      // Atovaquone
      if ( weight < 11) {
        str2 = 'Pas de traitement adapté';
      } else if ( weight >= 11 && weight <= 20 ) {
        str2 = '1 cp (62,5/25 mg) par jour pendant le repas à heure fixe';
      } else if ( weight >= 21 && weight <= 30 ) {
        str2 = '2 cp (62,5/25 mg) par jour en 1 prise pendant le repas à heure fixe';
      } else if ( weight >= 31 && weight <= 39 ) {
        str2 = '3 cp (62,5/25 mg) par jour en 1 prise pendant le repas à heure fixe';
      } else if ( weight >= 40 ) {
        str2 = '1 cp (250/100 mg) par jour pendant le repas à heure fixe';
      }
      Atovaquone.html(str2);

      // Méfloquine
      if ( weight < 15) {
        str3 = 'Pas de traitement adapté';
      } else if ( weight >= 15 && weight <= 19 ) {
        str3 = '1/4 cp à 250 mg 1 fois par semaine';
      } else if ( weight >= 20 && weight <= 30 ) {
        str3 = '1/2 cp à 250 mg 1 fois par semaine';
      } else if ( weight >= 31 && weight <= 45 ) {
        str3 = '3/4 cp à 250 mg 1 fois par semaine';
      } else if ( weight >= 45 ) {
        str3 = '1 cp à 250 mg 1 fois par semaine';
      }
      Mefloquine.html(str3);

      // Doxycycline
      if ( weight < 20) {
        str4 = 'Pas de traitement avant 8 ans';
      } else if ( weight >= 20 && weight < 40 ) {
        str4 = '1 cp à 50 mg pendant le dîner <span class="text-muted">(si 8+ ans)</span>';
      } else if ( weight >= 40 ) {
        str4 = '1 cp à 100 mg pendant le dîner <span class="text-muted">(si 8+ ans)</span>';
      }
      Doxycycline.html(str4);
    });
  });
</script>