<div class="fab-actions">
  <button class="d-none d-lg-flex btn btn-primary btn-float btn-float-extended" type="button" data-toggle="modal"
    data-target="#modal-contact">
    <span class="material-icons">message</span>Commenter</button>
  <button class="d-lg-none btn btn-primary btn-float" type="button" data-toggle="modal" data-target="#modal-contact">
    <span class="material-icons">message</span></button>
</div>

<!-- Contact -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="modal-contact-title">Commentaires</p>
      </div>
      <form name="contact" method="post" netlify>
      <!--<script>document.querySelector("form").setAttribute("action", "")</script>-->
        <div class="modal-body">
          Une suggestion, une remarque ou une critique ? Dites-le.
          <div class="form-group mt-4">
            <div class="input-group">
              <input class="form-control" placeholder="Mon adresse e-mail" type="email" name="email" autocomplete="email"
                required oninvalid="setCustomValidity('Merci de renseigner votre e-mail.')">
              <span class="input-group-icon">
                <i class="material-icons">mail</i>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <textarea class="form-control" placeholder="Commentaires et remarques" rows="5" name="message" required oninvalid="setCustomValidity('Merci de m\'en dire un peu plus.')"></textarea>
              <span class="input-group-icon">
                <i class="material-icons">create</i>
              </span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ .Site.Params.cdn.jquery }}" {{ printf "integrity=%q" .Site.Params.cdn.jquery_hash | safeHTMLAttr }}
  crossorigin="anonymous"></script>
<script src="{{ .Site.Params.cdn.bs_js }}" {{ printf "integrity=%q" .Site.Params.cdn.bs_js_hash | safeHTMLAttr }}
  crossorigin="anonymous" defer></script>
<script src="{{ .Site.Params.cdn.material_js}}" async></script>
<!--<script src="https://cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js"
  integrity="sha256-34Si1Y6llMBKM3G0jQILVeoQKEwuxjbk4zGWXXMT4ps=" crossorigin="anonymous" defer></script>-->
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw" async></script>

{{ if .IsPage }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  // https://mermaid-js.github.io/mermaid/#/Setup?id=fontfamily
  const MermaidConfig = {
    fontFamily: 'Roboto',
    fontSize: '1rem',
    defaultLinkColor: '#6200ee',
    nodeTextColor: '#212121',
    // logLevel: 1,
    startOnLoad: true,
    securityLevel:'loose',
    themeCSS: ".node rect {fill: #F1E9FC; stroke-width: 0;} .edgePath {opacity: 0.30 !important} .edgePath .path {stroke-width: 2px;}",
    flowchart: {
      curve: 'Basis',
      htmlLabels: true,
      nodeSpacing: 30,
      rankSpacing: 40,
    }
  };

  mermaid.initialize(MermaidConfig);

  </script>
{{end}}
{{- with .Params.datatable }}

<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.68/build/pdfmake.min.js" integrity="sha256-Xf58sgO5ClVXPyDzPH+NtjN52HMC0YXBJ3rp8sWnyUk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.68/build/vfs_fonts.js" integrity="sha256-vEmrkqA2KrdjNo0/IWMNelI6jHuWAOkIJxGf88r4iic=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/r-2.2.6/rr-1.2.7/sl-1.3.1/datatables.min.js"></script>

{{- end -}}

<script>
  // Search menu
  let params = {
    json_src       : '/index.json', // for multiple sources: comma separated list of JSONarrays
    minlength      : 3,
    defaultsearch  : 'AND',
    sort_date      : 'DESC',
    autocomplete   : 1, // 0: form needs a submit button
    section_search : 0, // 1: needs checkboxes with name="section[]"
    badwords       : 'et,le,la,ceci,cela', //ignore this words
    json_wait      : '<a class="dropdown-item"><div class="progress-circular"><div class="progress-circular-wrapper"><div class="progress-circular-inner"><div class="progress-circular-left"><div class="progress-circular-spinner"></div></div><div class="progress-circular-gap"></div><div class="progress-circular-right"><div class="progress-circular-spinner"></div></div></div></div></div></a>',
    json_ready     : '<span class="dropdown-item-text text-black-secondary">Entrer 3 lettres...</span>',
    extern_icon    : ' (external link)', // marker for external links (optional)
    err_badstring  : '<span class="dropdown-item-text text-black-secondary">Entrer 3 lettres...</span>',
    err_noresult   : '<span class="dropdown-item-text text-black-secondary">Aucun résultat</span>',
    err_norequest  : '<span class="dropdown-item-text text-black-secondary">Recherche de texte non implémentée.</span>',
    err_filefailed : '<span class="dropdown-item-text text-danger">Moteur de recherche introuvable.</span>',
    res_one_item   : '', // [CNT] RESULT
    res_more_items : '', // [CNT] RESULTS
    res_out_top    : '', // <ul>
    res_out_bottom : '', // </ul>
    res_item_tpl   : '<a class="dropdown-item" href="[URL]">[TITLE]</a>',
    add_searchlink : ''
  }
  
  // Translation of section name (optional)
  let section_trans = {
    "post" : "Blog",
    // "other-section" : "Other Section"
  }
  
  let searchfield_weight = {
    "title"   : 5,
    "tags"    : 5,
    "summary" : 2,
    "content" : 1
  }
</script>

{{ $searchjs := resources.Get "js/search.js" | minify }}
<script src="{{ $searchjs.Permalink }}" async></script>
<script>
  {{ if eq .Section "recommandations" }}

    // Don't follow external sources
    document.addEventListener("DOMContentLoaded", function(event) { // When DOM is ready
      let externalSources = document.querySelectorAll('#sources + div a');
      externalSources.forEach((elem) => {
        elem.setAttribute('target', '_blank')
        elem.setAttribute('rel', 'nofollow noopener')
      })
    })
  {{ end }}

  $(function() {
    $('.breadcrumb-item:last-of-type').addClass('active').find('a').each(function() {
      let linkText = $(this).text();
      $(this).before(linkText);
      $(this).remove();
    });

    $('[data-toggle="tooltip"]').tooltip({
      container: 'body',
      html: true,
      placement: 'bottom'
    });
    $('[data-toggle="popover"]').popover({
      html: true
    });
    $('.popover-hover').popover({
      html: true,
      trigger: 'hover',
      placement: 'bottom',
      container: 'body',
      delay: {
        show: 500
      }
    });

    // $('.recommandation__content .list-group li:not(.list-group-divider)').addClass('list-group-item list-group-item-action');

    // $('#sources a').prop('target', '_blank').prop('rel', 'nofollow noopener');
  });
</script>