<div class="fab-actions">
  <button class="d-none d-lg-flex btn btn-primary btn-float btn-float-extended" type="button" data-toggle="modal" data-target="#modal-contact">
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M4 4h16v12H5.17L4 17.17V4m0-2c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H4zm2 10h12v2H6v-2zm0-3h12v2H6V9zm0-3h12v2H6V6z"/></svg>
    Commenter</button>
  <button class="d-lg-none btn btn-primary btn-float" type="button" data-toggle="modal" data-target="#modal-contact">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" aria-labelledby="svg-title"><title id="svg-title">Écrire un commentaire</title><path d="M4 4h16v12H5.17L4 17.17V4m0-2c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H4zm2 10h12v2H6v-2zm0-3h12v2H6V9zm0-3h12v2H6V6z"/></svg>
  </button>
</div>

<!-- Contact -->
<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="d-none d-md-block" src="/images/icons/undraw_Typing.svg" alt="Écrire un commentaire" aria-hidden="true" width="250" loading="lazy">
        <p class="modal-title" id="modal-contact-title">Commentaires</p>
      </div>
      <form name="contact" method="post" netlify>
      <!--<script>document.querySelector("form").setAttribute("action", "")</script>-->
        <div class="modal-body">
          Une suggestion, une remarque ou une critique ? Dites-le.
          <div class="form-group mt-4">
            <div class="input-group">
              <input class="form-control" placeholder="Mon adresse e-mail" type="email" name="email" autocomplete="email"
                required oninvalid="setCustomValidity('Merci de renseigner votre e-mail.')">
              <span class="input-group-icon" aria-hidden="true">
                <!--Mail--><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 4.99L4 6h16zm0 12H4V8l8 5 8-5v10z"/></svg>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <textarea class="form-control" placeholder="Commentaires et remarques" rows="5" name="message" required oninvalid="setCustomValidity('Merci de m\'en dire un peu plus.')"></textarea>
              <span class="input-group-icon" aria-hidden="true">
                <!--Rate review--><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H5.17l-.59.59-.58.58V4h16v12zm-9.5-2H18v-2h-5.5zm3.86-5.87c.2-.2.2-.51 0-.71l-1.77-1.77c-.2-.2-.51-.2-.71 0L6 11.53V14h2.47l5.89-5.87z"/></svg>
              </span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ .Site.Params.cdn.jquery }}" {{ printf "integrity=%q" .Site.Params.cdn.jquery_hash | safeHTMLAttr }}
  crossorigin></script>
<script src="{{ .Site.Params.cdn.bs_js }}" {{ printf "integrity=%q" .Site.Params.cdn.bs_js_hash | safeHTMLAttr }}
  crossorigin></script>
<script src="{{ .Site.Params.cdn.material_js}}" crossorigin></script>
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw" crossorigin></script>

{{ if eq .Section "recommandations" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid@8.8.3/dist/mermaid.min.js" integrity="sha256-6gc5qw+D6x9boi0vM05uaTCVBaYVSo5kbl8dEC5wTmk=" crossorigin></script>
<script>
  // https://mermaid-js.github.io/mermaid/#/Setup?id=fontfamily
  const MermaidConfig = {
    fontFamily: 'Roboto',
    fontSize: '1rem',
    defaultLinkColor: '#0077ff',
    nodeTextColor: '#212121',
    // logLevel: 1,
    startOnLoad: true,
    securityLevel:'loose',
    themeCSS: ".node rect, .node polygon {fill: #E0EEFF; stroke-width: 0;} .edgePath {opacity: 0.3 !important} .edgePath .path {stroke-width: 2px;}",
    flowchart: {
      curve: 'Basis',
      htmlLabels: true,
      nodeSpacing: 30,
      rankSpacing: 40,
    }
  };

  mermaid.initialize(MermaidConfig);

</script>
{{end}}

{{- with .Params.slider }}
<script src="https://cdn.jsdelivr.net/npm/ion-rangeslider/js/ion.rangeSlider.min.js" crossorigin></script>
{{- end -}}

{{- with .Params.paracetamol }}
{{ partial "outils/paracetamol" . }}
{{- end -}}

{{- with .Params.datatable }}
  {{ partial "datatable" . }}
{{- end -}}

<script>
  // Search menu
  let params = {
    json_src       : '/index.json', // for multiple sources: comma separated list of JSONarrays
    minlength      : 3,
    defaultsearch  : 'AND',
    sort_date      : 'DESC',
    autocomplete   : 1, // 0: form needs a submit button
    section_search : 0, // 1: needs checkboxes with name="section[]"
    badwords       : 'et,le,la,ceci,cela', //ignore this words
    json_wait      : '<a class="dropdown-item"><div class="progress-circular"><div class="progress-circular-wrapper"><div class="progress-circular-inner"><div class="progress-circular-left"><div class="progress-circular-spinner"></div></div><div class="progress-circular-gap"></div><div class="progress-circular-right"><div class="progress-circular-spinner"></div></div></div></div></div></a>',
    json_ready     : '<span class="dropdown-item-text text-black-secondary">Entrer 3 lettres...</span>',
    extern_icon    : ' (external link)', // marker for external links (optional)
    err_badstring  : '<span class="dropdown-item-text text-black-secondary">Entrer 3 lettres...</span>',
    err_noresult   : '<span class="dropdown-item-text text-black-secondary">Aucun résultat</span>',
    err_norequest  : '<span class="dropdown-item-text text-black-secondary">Recherche de texte non implémentée.</span>',
    err_filefailed : '<span class="dropdown-item-text text-danger">Moteur de recherche introuvable.</span>',
    res_one_item   : '', // [CNT] RESULT
    res_more_items : '', // [CNT] RESULTS
    res_out_top    : '', // <ul>
    res_out_bottom : '', // </ul>
    res_item_tpl   : '<a class="dropdown-item" href="[URL]">[TITLE]</a>',
    add_searchlink : ''
  }
  
  // Translation of section name (optional)
  let section_trans = {
    // "post" : "Blog",
    // "other-section" : "Other Section"
  }
  
  let searchfield_weight = {
    "title"   : 5,
    "tags"    : 5,
    "summary" : 2,
    "content" : 1
  }
</script>

{{ $searchjs := resources.Get "js/search.js" | minify }}
<script src="{{ $searchjs.Permalink }}" async></script>
<script>
  {{ if eq .Section "recommandations" }}

    // Don't follow external sources
    document.addEventListener( 'DOMContentLoaded', event => { // When DOM is ready
      let externalLinks = document.querySelectorAll('a[href^="http"]:not([href*="netlify.app"])');
      externalLinks.forEach((elem) => {
        elem.setAttribute('target', '_blank')
        elem.setAttribute('rel', 'nofollow noopener')
      })
    })
  {{ end }}

  $(function() {
    // TODO
    $('.breadcrumb-item:last-of-type').addClass('active').find('a').each(function() {
      let linkText = $(this).text();
      $(this).before(linkText);
      $(this).remove();
    });

    $('[data-toggle="tooltip"]').tooltip({
      container: 'body',
      html: true,
      placement: 'bottom'
    });
    $('[data-toggle="popover"]').popover({ html: true });
  });
</script>