<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="robots" content="index, follow">
  <title>{{ if .IsPage }}Recommandations {{.Date.Format "2006"}} pour {{.Params.prefix}}{{ end }}{{ humanize .Title | truncate 58 | safeHTML }} - L'Univ Médicale</title>
  <meta name="description" content="{{ if .IsPage }}{{ printf "%s %s %s %s %s%s" "Les recommandations" (now.Format "2006") "pour" .Params.prefix (lower .Title) ". Conduite à tenir en consultation et bilan de première intention pour les médecins généralistes."}}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ if .Params.http }}<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">{{ end }}

  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>

  <link rel="alternate" href="{{ .Site.RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">

  <!-- CSS -->
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.md_font | safeHTMLAttr }}>
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.md_icons | safeHTMLAttr }}>
  
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.material_css | safeHTMLAttr }}>
  <link rel="stylesheet" href="{{ .Site.Params.cdn.css | absURL }}">
</head>