<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ partial "meta" . }}

  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- CSS -->
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.md_font | safeHTMLAttr }}>
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.md_icons | safeHTMLAttr }}>
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.material_css | safeHTMLAttr }}>
  <!-- Inline small style -->
  {{ with resources.Get "sass/style.scss" | toCSS | postCSS | minify | fingerprint }}<style>{{ .Content | safeCSS }}</style>{{ end }}
</head>