<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ partial "meta" . }}

  <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>

  <!-- CSS -->
  <link rel="stylesheet" {{ printf "href=%q" .Site.Params.cdn.md_font | safeHTMLAttr }} crossorigin>
  {{ $sass := resources.Get "sass/style.scss" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $sass.Permalink }}">
</head>