<!-- Generate image var -->
{{ $imageUrl := "" }}
{{ with .Params.image }}
  {{ $image := $.File.BaseFileName }}
  {{ if $.Params.imageWEBP }}
    {{ $imageUrl = printf "/images/photos/%s.webp" $image }}
  {{ else if $.Params.imagePNG }}
  {{ $imageUrl = printf "/images/photos/%s.png" $image }}
  {{ else }}
    {{ $imageUrl = printf "/images/photos/%s.jpg" $image }}
  {{ end }}
{{ else }}
  {{ $imageUrl = $.Site.Params.ogimage }}
{{ end }}

<!-- Title Tags 70 ch -->
{{ $metaTitle := "" }}
{{ if .IsHome }}
  {{ $metaTitle = (printf "%s : Dernières recommandations médicales au cabinet" $.Site.Title ) }}
{{ else if and (eq .Section "recommandations") (eq .Kind "page") }}
  {{ if lt (len .Title) 37 }}
    {{ $metaTitle = ( printf "%s %s %s" (.Params.prefix | humanize | safeHTML ) .Title "en 2021 - Recommandations Médicales" ) }}
  {{ else }}
    {{ $metaTitle = ( printf "%s %s" .Title "en 2021 - Recommandations Médicales" ) }}
  {{ end }}
{{ else }}
  {{ $metaTitle = ( printf "%s %s %s" .Title "-" $.Site.Title ) }}
{{ end }}

<title itemprop="name">{{ $metaTitle }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta name="twitter:title" content="{{ .Title }}">

<meta property="og:site_name" content="{{ $.Site.Title }}">

<!-- Description Tags 50-160 ch -->
{{ $metaDescription := "" }}
{{ if and (eq .Section "recommandations") (eq .Kind "page") }}
  {{ $metaDescription = (printf "%s %s%s %s" "Recommandations pour" .Params.Prefix .Params.Title "en médecine générale. Conduite à tenir en consultation, arbre décisionnel et bilan de première intention." ) }}
{{ else if .Description }}
  {{ $metaDescription = .Params.description }}
{{ else }}
  {{ $metaDescription = $.Site.Params.description }}
{{ end }}
<meta name="description" content="{{ $metaDescription }}">
<meta property="og:description" content="{{ $metaDescription }}">
<meta name="twitter:description" content="{{ $metaDescription }}">

<!-- Link Tags -->
<base href="{{ .Site.BaseURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:url" content="{{ .Permalink }}">

<!-- Language Tags -->
<meta property="og:locale" content="fr_FR">

<!-- Image Tags -->
<meta itemprop="image" content="{{ $imageUrl | absURL }}">
<meta property="og:image" content="{{ $imageUrl | absURL }}">
<meta name="twitter:image" content="{{ $imageUrl | absURL }}">
<meta name="twitter:image:alt" content="Image de {{ $.Params.Prefix }}{{ $.Title }}">

<!-- Sitemap & RSS Feed -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml"> 
<link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }} - Dernières recommandations">

<!-- Article tags https://jsonld.com/article/ -->
{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}
{{- if (eq .Section "recommandations") -}}
  {{- if .IsPage -}}
    <meta property="og:type" content="article">
    <meta property="og:updated_time" {{ .Lastmod.Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
  {{ end }}
{{ else }}
  <meta property="og:type" content="website">
{{ end }}

{{ if eq .Section "recommandations" }}
  {{ with .Params.auteurs }}
    <meta property="article:author" content="{{ index . 0 }}"> <!-- https://www.facebook.com/jeanbaptiste.fron -->
    <meta name="author" content="{{ index . 0 }}">
  {{ end }}

  {{ with .Params.category }}
    <meta name="news_keywords" content="{{ index . 0 }}">
    <meta property="article:section" content="{{ index . 0 }}">
  {{ end }}

  {{ $name := (printf "%s%s" .Params.prefix .Title | safeJS) }}
  <!-- L'image doit faire au moins 112 pixels de largeur et de hauteur. -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink }}
      },
      "headline": "{{ .Title | truncate 110 }} : recommandations 2021",
      "description": "Les recommandations pour la prise en charge de {{ .Title }} en médecine générale.",
      "image": [{{ $imageUrl | absURL }}],
      "author": {
        "@type": "Person",
        "name": "{{ range first 1 .Params.auteurs }}{{.}}{{end}}"
      },
      "wordCount": "{{ .WordCount }}",
      "datePublished": {{ .PublishDate.Format $ISO8601 }},
      "dateModified": {{ .Lastmod.Format $ISO8601 }},
      "publisher": {
        "@type": "Organization",
        "name": {{ .Site.Title }},
        "logo": {
          "@type": "imageObject",
          "url": {{ .Site.Params.icon | absURL }}
        }
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Recommandations médicales",
          "item": {{ .Section | absURL }}
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ .Title }}"
        }
      ]
    }
  </script>
{{ end }}

<!-- Website tags -->
<meta property="og:type" content="website">
<meta name="author" content="{{ .Site.Params.author }}">
{{ if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title | markdownify }}",
    "description": "{{ .Site.Params.description }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}"
    },
    "url": {{ .Site.BaseURL }},
    "sameAs": [
      {{ .Site.Params.github }}
    ]
  }
</script>
{{ end }}

<!-- Crawlers -->
{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
<meta name="robots" content="noindex, follow">
{{ else }}
<meta name="robots" content="index, follow">
{{ end }}

<!--TODO: Others -->
{{ hugo.Generator }}
<link rel="manifest" href="{{ .Site.BaseURL }}manifest.webmanifest">
<meta name="theme-color" content="#0077ff">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0077ff">
<meta name="theme-color" content="#0077ff">
<meta name="imagemode" content="force">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="HandheldFriendly" content="True">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-starturl" content="/">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ $.Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ $.Site.Title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-touch-fullscreen" content="yes">