<nav id="nav" aria-label="Barre de navigation" class="navbar fixed-top navbar-expand-md">
  <div class="container-lg">
    <button class="d-lg-none btn btn-icon" type="button" data-toggle="navdrawer" data-type="permanent" data-breakpoint="lg" data-target="#doc-navdrawer" aria-label="Afficher le menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-none d-md-flex">
      <ul class="navbar-nav">
      {{- range .Site.Menus.main -}}
        {{- $text := print .Name | safeHTML -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
    <a class="btn btn-sm btn-icon ml-auto" href="https://lydia-app.com/pots?id=34400-recomedicales" rel="nofollow noopener" aria-label="Faire un don" data-toggle="tooltip" title="Faire un don">
      <svg aria-hidden="true" width="24px" viewBox="0 0 24 24" fill="#e87500"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="11" width="4" x="1" y="11"/><path d="M16,3.25C16.65,2.49,17.66,2,18.7,2C20.55,2,22,3.45,22,5.3c0,2.27-2.91,4.9-6,7.7c-3.09-2.81-6-5.44-6-7.7 C10,3.45,11.45,2,13.3,2C14.34,2,15.35,2.49,16,3.25z"/><path d="M20,17h-7l-2.09-0.73l0.33-0.94L13,16h2.82c0.65,0,1.18-0.53,1.18-1.18v0c0-0.49-0.31-0.93-0.77-1.11L8.97,11H7v9.02 L14,22l8.01-3v0C22,17.9,21.11,17,20,17z"/></g></g></svg>
    </a>
    <a class="d-none d-lg-flex font-weight-bold text-reset" href="https://lydia-app.com/pots?id=34400-recomedicales" rel="nofollow noopener">Faire un don</a>
    <a class="btn btn-sm btn-icon ml-2" href="/recommandations/monographies-medicaments/" aria-label="Monographies des médicaments" data-toggle="tooltip" title="Monographies des médicaments">
      <svg aria-hidden="true" width="24px" viewBox="0 -960 960 960" fill="#4150f5"><path d="M345-120q-94 0-159.5-65.5T120-345q0-45 17-86t49-73l270-270q32-32 73-49t86-17q94 0 159.5 65.5T840-615q0 45-17 86t-49 73L504-186q-32 32-73 49t-86 17Zm266-286 107-106q20-20 31-47t11-56q0-60-42.5-102.5T615-760q-29 0-56 11t-47 31L406-611l205 205ZM345-200q29 0 56-11t47-31l106-107-205-205-107 106q-20 20-31 47t-11 56q0 60 42.5 102.5T345-200Z"/></svg>
    </a>
    <button class="btn shadow-none btn-shaped ml-2" style="height: 2rem;" type="button" data-toggle="modal" data-target="#modal-search" id="btn-search-modal">
      <svg aria-hidden="true" fill="#4150f5" class="input-group-text mr-2" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
      Rechercher
    </button>
  </div>
</nav>