<nav id="nav" aria-label="Barre de navigation" class="navbar navbar-dark bg-primary fixed-top navbar-expand-md">
  <div class="container-lg">
    <button class="d-lg-none btn btn-icon" type="button" data-toggle="navdrawer" data-type="permanent" data-breakpoint="lg" data-target="#doc-navdrawer" aria-label="Afficher le menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-none d-md-flex">
      <ul class="navbar-nav">
      {{- range .Site.Menus.main -}}
        {{- $text := print .Name | safeHTML -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
    <form class="form-inline ml-md-3" id="custom-search" name="custom-search" method="post" role="search" onsubmit="customSearchResults(); return false;">
      <div class="input-group dropdown">
        <div class="input-group-prepend">
          <svg aria-hidden="true" fill="currentColor" class="input-group-text" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
        </div>
        <input type="search" data-toggle="dropdown" class="form-control" id="custom-search-field" name="search" placeholder="Rechercher" aria-label="Rechercher dans tout le site" autocomplete="off">
        <div class="dropdown-menu" id="custom-search-results" style="width: 100%;"></div>
      </div>
    </form>
  </div>
</nav>