<nav id="nav" class="navbar navbar-dark bg-primary fixed-top navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      {{- range .Site.Menus.main -}}
        {{- $text := print .Name | safeHTML -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
        </li>
      {{ end }}
      </ul>
    </div>
    <form class="form-inline ml-md-3" id="custom-search" name="custom-search" method="post" onsubmit="customSearchResults(); return false;">
      <div class="input-group dropdown">
        <div class="input-group-prepend"><span class="input-group-text material-icons">search</span></div>
        <input type="text" data-toggle="dropdown" class="form-control" id="custom-search-field" name="search" placeholder="Rechercher" aria-label="Rechercher" autocomplete="off">
        <div class="dropdown-menu" id="custom-search-results" style="width: 100%;"></div>
      </div>
    </form>
  </div>
</nav>