<nav id="doc-navdrawer" aria-label="Barre de navigation latérale" class="navdrawer navdrawer-permanent-lg doc-navdrawer" tabindex="-1">
   <div class="navdrawer-content custom-scrollbar">
      <div class="d-flex flex-column min-vh-100">
         <div class="navdrawer-header text-primary d-flex">
            <div class="navdrawer-logo"></div>
            <a class="navbar-brand" href="/">Reco Médicales</a>
         </div>
         <div class="navdrawer-nav">
            <a class="text-secondary" href="/scores">Scores et outils cliniques</a>
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
               {{ if eq "specialites" $taxonomyname }}
                  {{- range $category, $pageOfCategory := $taxonomy -}}
                  <a role="button" class="collapsed" data-toggle="collapse"
                     href="#navdrawer-{{ $category | urlize }}">{{ $category | truncate 30 }}</a>
                  <div class="collapse" id="navdrawer-{{$category | urlize | lower}}">
                     {{- range $pageOfCategory.Pages.ByTitle -}}
                     <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                     {{ end }}
                  </div>
                  {{ end }}
               {{ end }}
            {{ end }}
         </div>
         <div class="mt-auto">
            <div class="navdrawer-divider"></div>
            <div class="navdrawer-nav">
               <a class="nav-item nav-link text-black-secondary" href="https://github.com/djibe/recommandations-medicales"
                  target="_blank" rel="noopener"><svg class="mr-3" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg> Code source sur GitHub</a>
            </div>
         </div>
      </div>
   </div>
</nav>