<nav class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1">
   <div class="navdrawer-content custom-scrollbar">
      <div class="d-flex flex-column min-vh-100">
         <div class="navdrawer-header">
            <a class="navbar-brand" href="/">Univ Médicale</a>
         </div>
         <div class="navdrawer-nav">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
               {{ if eq "categories" $taxonomyname }}
                  {{ range $category, $pageOfCategory := $taxonomy }}
                  <a class="nav-item nav-link collapsed text-capitalize" data-toggle="collapse"
                     href="#navdrawer-{{ $category | urlize }}">{{ $category | truncate 20 }} <span class="ml-2">({{ len $pageOfCategory }})</span></a>
                  <div class="collapse" id="navdrawer-{{$category | urlize | lower}}">
                     {{ range $pageOfCategory.Pages.ByTitle }}
                     <a class="nav-sub" href="{{ .Permalink }}">{{ .Title }}</a>
                     {{ end }}
                  </div>
                  {{ end }}
               {{ end }}
            {{ end }}
         </div>
         <div class="mt-auto">
            <div class="navdrawer-divider"></div>
            <div class="navdrawer-nav">
               <a class="nav-item nav-link text-black-secondary" href="https://github.com/djibe/recommandations-medicales"
                  target="_blank" rel="noopener"><i class="material-icons mr-3">code</i>Code source sur GitHub</a>
            </div>
         </div>
      </div>
   </div>
</nav>