<!--<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-label="Fenêtre de recherche">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
        <input class="form-search" id="search-input" placeholder="Rechercher" aria-label="Rechercher" type="search" autocomplete="off">
        <div id="search-results" role="list"></div>
      </div>
    </div>
  </div>
</div>-->
<script defer async src="https://cse.google.com/cse.js?cx=d09a9a06efcde48b2"></script>
<script></script>
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-label="Fenêtre de recherche">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="gcse-search"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>