{{ define "main" }}

<div class="container-lg">
  <div class="row">
    <div class="col site-title">
      <h1 class="pt-lg-5 my-3">{{ .Title }}</h1>
      <h2 class="typography-headline-6">Collection de fiches pour la pratique clinique des médecins généralistes et internes en médecine.</h2>
      <p class="typography-body-1 text-black-secondary">Il s'agit en réalité d'une démonstration technologique d'une université collaborative en ligne (Ordonnance de 1<sup>re</sup> intention et références multi-axiales par Source, Mots-clés).</p>
    </div>
  </div>
  <section class="row mt-lg-5 mb-5">
    <div class="col-12">
      <p class="typography-overline" style="color: #666">Les dernières mises à jour</p>
    </div>
    {{ range ( where site.RegularPages "Section" "recommandations" | first 6 ) }}
    <div class="col-12 col-sm-6 col-xl-4 d-flex mb-1 mb-lg-3">
      <div class="card flex-fill">
        <div class="card-body position-relative card-primary-action ">
          <h3 class="card-title"><a href="{{ .Permalink }}" class="text-reset stretched-link">{{ .Title }}</a></h3>
          <p class="card-subtitle">
            {{ with .Params.auteurs}}
            {{ delimit . ", " }}{{ end }} le
            <time datetime="{{partial "widgets/html-datetime.html" .}}">{{ .Lastmod.Format "02 January" }}</time>
          </p>
          <p class="card-text">{{ replace .Summary "Définition" "" | safeHTML | truncate 300 }}</p><!-- TODO: multiple replace -->
        </div>
        <div class="card-actions p-2 mt-0 align-items-end">
          {{ partial "widgets/guidelineyear-render.html" . }}{{ partial "widgets/tags-render.html" . }}
        </div>
      </div>
    </div>
    {{ end }}
  </section>
</div>
{{ end }}