{{ define "main" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "Cabinet",
      "item": {{ .Parent.Permalink }}
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Title }}",
      "item": {{ .Permalink }}
    }]
  }
</script>
<div class="container projet">
  <div class="row min-vh-100">
    <!-- CONTENT -->
    <div class="col-12">
      <nav aria-label="Fil d'ariane" class="mt-5" style="padding-inline: clamp(1.375rem, 1.2rem + 0.89vw, 2rem)">
        <ol class="breadcrumb">
          {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
        </ol>
      </nav>
    </div>
    <article class="col-12">
      <div class="w-768">
        <header class="cabinet__header">
          <div class="cabinet-bg" style="background-image: url('/images/cabinet/{{$.File.BaseFileName}}.webp')">
            <h1 class="cabinet-title">{{ .Title }}</h1>
            {{ with .Params.Subtitle }}<h2>{{ . }}</h2>{{ end }}
          </div>
          <div class="d-flex flex-wrap align-items-center">
            {{ if .Lastmod }}
            <span class="chip chip-outline">Mis à jour <time lang="en" class="ml-1" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ if (eq .Lastmod.Year now.Year) }}{{ .Lastmod.Format "2 January" }}{{ else }}{{ .Lastmod.Format "2 January 2006" }}{{ end }}</time></span>
            {{ end }}
            <button class="ml-auto btn btn-icon text-black-secondary d-print-none d-none d-lg-flex" type="button" aria-label="Imprimer la page" onclick="javascript:window.print()" data-toggle="tooltip" title="Imprimer le chapitre">
              <svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24"><path d="M19 8h-1V3H6v5H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zM8 5h8v3H8V5zm8 12v2H8v-4h8v2zm2-2v-2H6v2H4v-4c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v4h-2z"/><circle cx="18" cy="11.5" r="1"/></svg>
            </button>
          </div>
        </header>
        <div class="mt-4 recommandation__content cabinet__content">
          {{ .Content }}
          <div class="d-flex flex-wrap justify-content-evenly" style="margin-top: 80px">
            {{with .NextInSection }}
            <div class="card card-list mw-248 m-2">
              <div class="card-img-top" style="background-image: url('/images/cabinet/{{.File.BaseFileName}}.webp')"></div>
              <div class="card-header">
                <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}" rel="next">{{ .Title }}</a></h2>
                {{ with .Params.Subtitle}}<h3 class="card-subtitle">{{ . }}</h3>{{end}}
              </div>
            </div>
            {{end}}
            {{with .PrevInSection }}
            <div class="card card-list mw-248 m-2">
              <div class="card-img-top" style="background-image: url('/images/cabinet/{{.File.BaseFileName}}.webp')"></div>
              <div class="card-header">
                <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}" rel="prev">{{ .Title }}</a></h2>
                {{ with .Params.Subtitle}}<h3 class="card-subtitle">{{ . }}</h3>{{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
{{ end }}