<div class="border rounded mb-2">
  <iframe
    title="Conversion des opioïdes"
    id="opioides-conversion"
    class="border-0 w-100"
    src="https://opioconvert.fr/calculatrice"
    allowfullscreen {{ with .Get "height" }} height="{{ . }}" {{ else }} height="600" {{ end }}
    loading="lazy"
  ></iframe>
</div>
<p class="text-center text-muted font-italic w-auto mb-3">Calcul de conversion des opioïdes par <a href="https://opioconvert.fr/" target="_blank" rel="nofollow noopener">Opioconvert.fr</a> (soutenu par SFETD et SFAP).</p>