<p>Doit être utilisé à partir de 15 ans.<br>
  Réaliser le TDR si score ≥ 2 (VPN 95%).</p>

<div class="alert border rounded-lg mb-4 mb-lg-5 w-auto">
  <input type="checkbox" id="temperature" class="d-none" value="1">
  <label for="temperature" class="chip chip-action chip-filter">T° > 38°C</label>

  <input type="checkbox" id="cough" class="d-none" value="1">
  <label for="cough" class="chip chip-action chip-filter">Absence de toux</label>

  <input type="checkbox" id="adp" class="d-none" value="1">
  <label for="adp" class="chip chip-action chip-filter">ADP cervicales antérieures douloureuses</label>

  <input type="checkbox" id="tonsils" class="d-none" value="1">
  <label for="tonsils" class="chip chip-action chip-filter">Amygdales augmentées de volume/exsudat</label>

  <input type="checkbox" id="age" class="d-none" value="-1">
  <label for="age" class="chip chip-action chip-filter">Âge ≥ 45 ans</label>

  <p id="counter">Score de Mac Isaac</p>
</div>

<script>
  // Score de Mac Isaac by djibe

  let score = 0;
  [...document.querySelectorAll('input[type="checkbox"]')].forEach(function(checkbox) {
    checkbox.addEventListener('change', function(e) {
      if (e.target.checked) {
        score += parseInt(e.target.value, 10)
      } else {
        score -= parseInt(e.target.value, 10)
      }
      document.getElementById('counter').innerHTML = `Score = ${score}`
    })
  })
</script>