<div class="border rounded mb-2">
  <iframe
    title="Dépister les apnées du sommeil avec le questionnaire STOP BANG"
    id="stop-bang-questionnaire"
    class="border-0 w-100"
    src="https://www.diabeclic.com/questionnaire-stop-bang"
    allowfullscreen {{ with .Get "height" }} height="{{ . }}" {{ else }} height="600" {{ end }}
    loading="lazy"
  ></iframe>
</div>
<p class="text-center text-muted font-italic w-auto mb-3">Risque d'apnées du sommeil avec le <a href="https://www.diabeclic.com" target="_blank" rel="nofollow noopener">questionnaire STOP-BANG par DiabeClic</a>. Outil le plus précis pour dépister les apnées du sommeil légères, modérées ou sévères. Validé par l'étude <span lang="en">Sleep Heart Study</span>.</p>