<div class="border rounded mb-2">
  <iframe
    title="Calendrier de grossesse"
    id="pregnancy-calendar"
    class="border-0"
    src="https://www.moncalendriergrossesse.fr/calcul-semaine-grossesse.php"
    allowfullscreen
    {{ with .Get "width" }} width="{{ . }}"{{ else }} width="100%" {{ end }}
    {{ with .Get "height" }} height="{{ . }}"{{ else }} height="600px" {{ end }}
    laoding="lazy"
  ></iframe>
</div>
<p class="text-center text-muted font-italic w-auto mb-3">Calcul du terme par <a href="https://www.moncalendriergrossesse.fr" target="_blank" rel="nofollow noopener noreferer">MonCalendrierDeGrossesse.fr</a>.</p>