<p class="typography-body-1" lang="en">ASA Physical Status Classification System</p>
<dl>
  <dt>ASA I</dt>
  <dd>Patient normal</dd>
</dl>
<hr>
<dl>
  <dt>ASA II</dt>
  <dd>patient avec anomalie systémique modérée</dd>
</dl>
<hr>
<dl>
  <dt>ASA III</dt>
  <dd>Patient avec anomalie systémique sévère</dd>
</dl>
<hr>
<dl>
  <dt>ASA IV</dt>
  <dd>Patient avec anomalie systémique sévère représentant une menace vitale constante</dd>
</dl>
<hr>
<dl>
  <dt>ASA V</dt>
  <dd>Patient moribond dont la survie est improbable sans l'intervention</dd>
</dl>
<hr>
<dl>
  <dt>ASA VI</dt>
  <dd>Patient déclaré en état de mort cérébrale dont on prélève les organes pour greffe</dd>
</dl>
<blockquote class="mt-4">
  <p lang="en"><a href="​https://www.asahq.org/standards-and-guidelines/asa-physical-status-classification-system" rel="external nofollow noopener">ASA Physical Status Classification System</a></p>
</blockquote>