<p class="typography-body-1" lang="en"><dfn><abbr title="American Society of Anesthesiologists" lang="en">ASA</abbr></dfn> Physical Status Classification System, score utilisé en médecine pour exprimer
  l’état de santé pré-opératoire d'un patient.</p>
<dl class="border-bottom">
  <dt>ASA I</dt>
  <dd>Patient normal</dd>
</dl>
<dl class="border-bottom">
  <dt>ASA II</dt>
  <dd>Patient avec anomalie systémique modérée</dd>
</dl>
<dl class="border-bottom">
  <dt>ASA III</dt>
  <dd>Patient avec anomalie systémique sévère</dd>
</dl>
<dl class="border-bottom">
  <dt>ASA IV</dt>
  <dd>Patient avec anomalie systémique sévère représentant une menace vitale constante</dd>
</dl>
<dl class="border-bottom">
  <dt>ASA V</dt>
  <dd>Patient moribond dont la survie est improbable sans l’intervention</dd>
</dl>
<dl>
  <dt>ASA VI</dt>
  <dd>Patient déclaré en état de mort cérébrale dont on prélève les organes pour greffe</dd>
</dl>
<blockquote class="mt-4">
  <p lang="en"><a href="​Statement on ASA Physical Status Classification System" rel="external nofollow noopener">​Statement on ASA Physical Status Classification System</a></p>
</blockquote>