<p class="text-black-secondary"><em>Asthma Control Test&trade;</em>, réservé aux patients de plus de 12 ans.</p>
<form class="mb-4" id="score-act" style="max-width: 640px">
<fieldset>
<legend>1. Au cours des 4 dernières semaines, votre asthme vous a-t-il gêné dans vos activités au travail, à l'école/université ou chez vous&nbsp;?</legend>
  <input type="radio" id="act-11" name="act-1" class="d-input-none" value="1" required>
  <label for="act-11" class="chip chip-action chip-choice">Tout le temps</label>
  <input type="radio" id="act-12" name="act-1" class="d-input-none" value="2">
  <label for="act-12" class="chip chip-action chip-choice">La plupart du temps</label>
  <input type="radio" id="act-13" name="act-1" class="d-input-none" value="3">
  <label for="act-13" class="chip chip-action chip-choice">Quelquefois</label>
  <input type="radio" id="act-14" name="act-1" class="d-input-none" value="4">
  <label for="act-14" class="chip chip-action chip-choice">Rarement</label>
  <input type="radio" id="act-15" name="act-1" class="d-input-none" value="5">
  <label for="act-15" class="chip chip-action chip-choice">Jamais</label>
</fieldset>
<fieldset>
<legend>2. Au cours des 4 dernières semaines, avez-vous été essoufflé&nbsp;?</legend>
  <input type="radio" id="act-21" name="act-2" class="d-input-none" value="1" required>
  <label for="act-21" class="chip chip-action chip-choice">&gt; 1/j</label>
  <input type="radio" id="act-22" name="act-2" class="d-input-none" value="2">
  <label for="act-22" class="chip chip-action chip-choice">1/j</label>
  <input type="radio" id="act-23" name="act-" class="d-input-none" value="3">
  <label for="act-23" class="chip chip-action chip-choice">3-6/semaine</label>
  <input type="radio" id="act-24" name="act-2" class="d-input-none" value="4">
  <label for="act-24" class="chip chip-action chip-choice">1-2/semaine</label>
  <input type="radio" id="act-25" name="act-2" class="d-input-none" value="5">
  <label for="act-25" class="chip chip-action chip-choice">Jamais</label>
</fieldset>
<fieldset>
<legend>3. Au cours des 4 dernières semaines, les symptômes de l'asthme (sifflements dans la poitrine, toux, essoufflement, oppression ou douleur dans la poitrine) vous ont-ils réveillé la nuit ou plus tôt que d'habitude le matin&nbsp;?</legend>
  <input type="radio" id="act-31" name="act-3" class="d-input-none" value="1" required>
  <label for="act-31" class="chip chip-action chip-choice">&ge; 4 nuits/sem</label>
  <input type="radio" id="act-32" name="act-3" class="d-input-none" value="2">
  <label for="act-32" class="chip chip-action chip-choice">2-3 nuits/sem</label>
  <input type="radio" id="act-33" name="act-3" class="d-input-none" value="3">
  <label for="act-33" class="chip chip-action chip-choice">1 nuit/sem</label>
  <input type="radio" id="act-34" name="act-3" class="d-input-none" value="4">
  <label for="act-34" class="chip chip-action chip-choice">1-2 fois/mois</label>
  <input type="radio" id="act-35" name="act-3" class="d-input-none" value="5">
  <label for="act-35" class="chip chip-action chip-choice">Jamais</label>
</fieldset>
<fieldset>
<legend>4. Au cours des 4 dernières semaines, avez-vous utilisé votre inhalateur de secours ou pris un traitement par nébulisation (par exemple salbutamol, terbutaline)&nbsp;?</legend>
  <input type="radio" id="act-41" name="act-4" class="d-input-none" value="1" required>
  <label for="act-41" class="chip chip-action chip-choice">&gt; 3/j</label>
  <input type="radio" id="act-42" name="act-4" class="d-input-none" value="2">
  <label for="act-42" class="chip chip-action chip-choice">1-2/j</label>
  <input type="radio" id="act-43" name="act-4" class="d-input-none" value="3">
  <label for="act-43" class="chip chip-action chip-choice">2-3/sem</label>
  <input type="radio" id="act-44" name="act-4" class="d-input-none" value="4">
  <label for="act-44" class="chip chip-action chip-choice">&le;1/sem</label>
  <input type="radio" id="act-45" name="act-4" class="d-input-none" value="5">
  <label for="act-45" class="chip chip-action chip-choice">Jamais</label>
</fieldset>
<fieldset>
<legend>5. Comment évalueriez-vous votre asthme au cours des 4 dernières semaines&nbsp;?</legend>
  <input type="radio" id="act-51" name="act-5" class="d-input-none" value="1" required>
  <label for="act-51" class="chip chip-action chip-choice">Pas contrôlé du tout</label>
  <input type="radio" id="act-52" name="act-5" class="d-input-none" value="2">
  <label for="act-52" class="chip chip-action chip-choice">Très peu contrôlé</label>
  <input type="radio" id="act-53" name="act-5" class="d-input-none" value="3">
  <label for="act-53" class="chip chip-action chip-choice">Un peu contrôlé</label>
  <input type="radio" id="act-54" name="act-5" class="d-input-none" value="4">
  <label for="act-54" class="chip chip-action chip-choice">Bien contrôlé</label>
  <input type="radio" id="act-55" name="act-5" class="d-input-none" value="5">
  <label for="act-55" class="chip chip-action chip-choice">Totalement contrôlé</label>
</fieldset>
<div class="alert bg-light d-flex mt-4">
  <div class="d-flex flex-column align-items-center">
  <p class="typography-overline score-output-title">Score ACT</p>
  <output class="score-output" id="actScore">0</output>
  </div>
  <p id="actText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
</div>
</form>
<blockquote class="mt-4">
<p class="typography-caption">ACT&trade;, ® 2002, by QualityMetric Incorporated Asthma France/French. Control Test&trade; is a trademark of QualityMetric Incorporated. Test réservé aux patients asthmatiques de plus de 12 ans.<br>
  <a href="https://gskpro.com/content/dam/global/hcpportal/fr_FR/AiresThrapeutiques/Asthme/PDF/TCA_adulte_HD.pdf" rel="external nofollow noopener">Adaptation française originale (PDF)</a>
</p>
</blockquote>
{{ $script := `
  // Score Asthma Control Test adapted by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreAct = document.getElementById('actScore')
    const textAct = document.getElementById('actText');
    [...document.querySelectorAll('#score-act input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => { act() }) })
    const act = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-act input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 5) {
          scoreAct.innerHTML = score
          if (score >= 20) {
            textAct.innerHTML = "Asthme contrôlé"
          }
          else if (score < 20) {
            textAct.innerHTML = "Asthme non contrôlé<br><span class=\"text-muted\">Intensifier le traitement (augmenter le CSI &plusmn; BALA)</span>"
          }
        } else {
          textAct.innerHTML = "Veuillez répondre à toutes les questions"
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>
