<div class="mt-4" id="score-beck">
  <p>Questionnaire abrégé de Beck (<abbr title="Beck depressive inventory" lang="en">BDI-13</abbr>) pour le dépistage d'une dépression en 13 questions.</p>
  <p>Ce questionnaire comporte 13 séries de quatre propositions. Pour chaque série, lisez les quatre propositions,
    puis choisissez celle qui décrit le mieux votre état actuel de ces deux dernières semaines.
    Entourez le numéro qui correspond à la proposition choisie</p>
  <fieldset>
    <legend>A.</legend>
    <div class="custom-control custom-radio">
      <input type="radio" id="beck-11" name="radio-beck-1" class="custom-control-input" value="0" required>
      <label for="beck-11" class="custom-control-label">Je ne me sens pas triste</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="beck-12" name="radio-beck-1" class="custom-control-input" value="1">
      <label for="beck-12" class="custom-control-label">Je me sens cafardeux ou triste</label>
    </div>
    <input type="radio" id="beck-13" name="radio-beck-1" class="d-input-none" value="2">
    <label for="beck-13" class="chip chip-action chip-sm chip-choice">Je me sens tout le temps cafardeux ou triste, et je n'arrive pas à en sortir</label>
    <input type="radio" id="beck-14" name="radio-beck-1" class="d-input-none" value="3">
    <label for="beck-14" class="chip chip-action chip-sm chip-choice">Je suis si triste et si malheureux, que je ne peux pas le supporter</label>
  </fieldset>
  <fieldset>
    <legend>B.</legend>
    <input type="radio" id="beck-21" name="radio-beck-2" class="d-input-none" value="0" required>
    <label for="beck-21" class="chip chip-action chip-sm chip-choice">Je ne suis pas particulièrement découragé, ni pessimiste au sujet de l'avenir</label>
    <input type="radio" id="beck-22" name="radio-beck-2" class="d-input-none" value="1">
    <label for="beck-22" class="chip chip-action chip-sm chip-choice">J'ai un sentiment de découragement au sujet de l'avenir</label>
    <input type="radio" id="beck-23" name="radio-beck-2" class="d-input-none" value="2">
    <label for="beck-23" class="chip chip-action chip-sm chip-choice">Pour mon avenir, je n'ai aucun motif d'espérer</label>
    <input type="radio" id="beck-24" name="radio-beck-2" class="d-input-none" value="3">
    <label for="beck-24" class="chip chip-action chip-sm chip-choice">Je sens qu'il n'y a aucun espoir pour mon avenir, et que la situation ne peut s'améliorer</label>
  </fieldset>
  <fieldset>
    <legend>C.</legend>
    <input type="radio" id="beck-31" name="radio-beck-3" class="d-input-none" value="0" required>
    <label for="beck-31" class="chip chip-action chip-sm chip-choice">Je n'ai aucun sentiment d'échec de ma vie</label>
    <input type="radio" id="beck-32" name="radio-beck-3" class="d-input-none" value="1">
    <label for="beck-32" class="chip chip-action chip-sm chip-choice">J'ai l'impression que j'ai échoué dans ma vie plus que la plupart des gens.</label>
    <input type="radio" id="beck-33" name="radio-beck-3" class="d-input-none" value="2">
    <label for="beck-33" class="chip chip-action chip-sm chip-choice">Quand je regarde ma vie passée, tout ce que j'y découvre n'est qu'échecs</label>
    <input type="radio" id="beck-34" name="radio-beck-3" class="d-input-none" value="3">
    <label for="beck-34" class="chip chip-action chip-sm chip-choice">J'ai un sentiment d'échec complet dans toute ma vie personnelle (dans mes relations avec mes parents, mon mari, ma femme mes enfants)</label>
  </fieldset>
  <fieldset>
    <legend>D.</legend>
    <input type="radio" id="beck-41" name="radio-beck-4" class="d-input-none" value="0" required>
    <label for="beck-41" class="chip chip-action chip-sm chip-choice">Je ne me sens pas particulièrement insatisfait</label>
    <input type="radio" id="beck-42" name="radio-beck-4" class="d-input-none" value="1">
    <label for="beck-42" class="chip chip-action chip-sm chip-choice">Je ne sais pas profiter agréablement des circonstances</label>
    <input type="radio" id="beck-43" name="radio-beck-4" class="d-input-none" value="2">
    <label for="beck-43" class="chip chip-action chip-sm chip-choice">Je ne tire plus aucune satisfaction de quoi que ce soit</label>
    <input type="radio" id="beck-44" name="radio-beck-4" class="d-input-none" value="3">
    <label for="beck-44" class="chip chip-action chip-sm chip-choice">Je suis mécontent de tout</label>
  </fieldset>
  <fieldset>
    <legend>E.</legend>
    <input type="radio" id="beck-51" name="radio-beck-5" class="d-input-none" value="0" required>
    <label for="beck-51" class="chip chip-action chip-sm chip-choice">Je ne me sens pas coupable</label>
    <input type="radio" id="beck-52" name="radio-beck-5" class="d-input-none" value="1">
    <label for="beck-52" class="chip chip-action chip-sm chip-choice">Je me sens mauvais ou indigne une bonne partie du temps</label>
    <input type="radio" id="beck-53" name="radio-beck-5" class="d-input-none" value="2">
    <label for="beck-53" class="chip chip-action chip-sm chip-choice">Je me sens coupable</label>
    <input type="radio" id="beck-54" name="radio-beck-5" class="d-input-none" value="3">
    <label for="beck-54" class="chip chip-action chip-sm chip-choice">Je me juge très mauvais, et j'ai l'impression que je ne vaux rien</label>
  </fieldset>
  <fieldset>
    <legend>F.</legend>
    <input type="radio" id="beck-61" name="radio-beck-6" class="d-input-none" value="0" required>
    <label for="beck-61" class="chip chip-action chip-sm chip-choice">Je ne suis pas déçu par moi-même</label>
    <input type="radio" id="beck-62" name="radio-beck-6" class="d-input-none" value="1">
    <label for="beck-62" class="chip chip-action chip-sm chip-choice">Je suis déçu par moi-même</label>
    <input type="radio" id="beck-63" name="radio-beck-6" class="d-input-none" value="2">
    <label for="beck-63" class="chip chip-action chip-sm chip-choice">Je me dégoûte moi-même</label>
    <input type="radio" id="beck-64" name="radio-beck-6" class="d-input-none" value="3">
    <label for="beck-64" class="chip chip-action chip-sm chip-choice">Je me hais</label>
  </fieldset>
  <fieldset>
    <legend>G.</legend>
    <input type="radio" id="beck-71" name="radio-beck-7" class="d-input-none" value="0" required>
    <label for="beck-71" class="chip chip-action chip-sm chip-choice">Je ne pense pas à me faire du mal</label>
    <input type="radio" id="beck-72" name="radio-beck-7" class="d-input-none" value="1">
    <label for="beck-72" class="chip chip-action chip-sm chip-choice">Je pense que la mort me libérerait</label>
    <input type="radio" id="beck-73" name="radio-beck-7" class="d-input-none" value="2">
    <label for="beck-73" class="chip chip-action chip-sm chip-choice">J’ai des plans précis pour me suicider</label>
    <input type="radio" id="beck-74" name="radio-beck-7" class="d-input-none" value="3">
    <label for="beck-74" class="chip chip-action chip-sm chip-choice">Si je le pouvais, je me tuerais</label>
  </fieldset>
  <fieldset>
    <legend>G.</legend>
    <input type="radio" id="beck-71" name="radio-beck-7" class="d-input-none" value="0" required>
    <label for="beck-71" class="chip chip-action chip-sm chip-choice">Je ne pense pas à me faire du mal</label>
    <input type="radio" id="beck-72" name="radio-beck-7" class="d-input-none" value="1">
    <label for="beck-72" class="chip chip-action chip-sm chip-choice">Je pense que la mort me libérerait</label>
    <input type="radio" id="beck-73" name="radio-beck-7" class="d-input-none" value="2">
    <label for="beck-73" class="chip chip-action chip-sm chip-choice">J’ai des plans précis pour me suicider</label>
    <input type="radio" id="beck-74" name="radio-beck-7" class="d-input-none" value="3">
    <label for="beck-74" class="chip chip-action chip-sm chip-choice">Si je le pouvais, je me tuerais</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score Beck</p>
      <output class="score-output" id="beckScore">0</output>
    </div>
    <p id="beckText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://pubmed.ncbi.nlm.nih.gov/6880820/" rel="external nofollow noopener">TODO:</a> et
    <a href="http://www.amiform.com/web/documents-patients-douloureux/questionnaire_abrege_de_beck.pdf" rel="external nofollow noopener">traduction française de P. Pichot</a></p>
</blockquote>
{{ $script := `
  // Score Beck FR by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scorebeck = document.getElementById('beckScore')
    const textbeck = document.getElementById('beckText');
    [...document.querySelectorAll('#score-beck input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcbeck() ) })
    const calcbeck = () => {
      let scoreAnxiete = 0
      const anxieteElems = document.querySelectorAll('#score-beck .anxiete:checked')
      if (anxieteElems.length + depressionElems.length === 14) {
        anxieteElems.forEach(anxieteElem => { scoreAnxiete += parseInt(anxieteElem.value, 10) })
        depressionElems.forEach(depressionElem => { scoreDepression += parseInt(depressionElem.value, 10) })
        scorebeck.innerHTML = scoreAnxiete + scoreDepression
        textbeck.innerHTML = 'Anxiété: ' + beckExplain(scoreAnxiete) + '<br>Dépression: ' + beckExplain(scoreDepression)
      }
    }
    const beckExplain = (score) => {
      let explain = '';
      if (score <= 7) {
        explain = 'absence (' + score + ' pts)'
      } else if (score >= 8 && score <= 10) {
        explain = 'doute (' + score + ' pts)'
      } else if (score >= 11) {
        explain = 'certaine (' + score + ' pts)'
      }
      return explain;
    }
  })` }}
<script>{{ $script | safeJS }}</script>