<!-- TODO: either 65 or 75-->
<div class="card-body" id="score-cha2ds2va">
  <p>Décider d’une anticoagulation de la fibrillation atriale pour prévenir les thrombo-embolies selon la <dfn><abbr title="European Society of Cardiology" lang="en">ESC</abbr></dfn> 2024.</p>
  <p>L’anticoagulation est systématique en cas de FA avec cardiomyopathie hypertrophique ou d’amylose cardiaque.</p>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-age75" class="custom-control-input" value="2">
    <label class="custom-control-label" for="check-age75">Âge ≥ 75 ans</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-age65" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-age65">Âge 65 à 74</label>
    <p class="typography-caption text-black-secondary">voire ≥ 55 ans chez les asiatiques (<a href="https://pubmed.ncbi.nlm.nih.gov/30012820/" rel="external nofollow noopener">Kim TH 2018</a>).</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-hta" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-hta">Hypertension artérielle</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-diabete" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-diabete">Diabète type 1 ou 2</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-ic" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-ic">Insuffisance cardiaque</label>
    <p class="typography-caption text-black-secondary">ou dysfonction VG ou HVG.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-avc" class="custom-control-input" value="2">
    <label class="custom-control-label" for="check-avc">Antécédent AVC ou AIT</label>
    <p class="typography-caption text-black-secondary">ou autre thromboembolie artérielle.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-mcv" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-mcv">Maladie cardiovasculaire (IDM/SCA, AOMI, plaque aortique)</label>
    <p class="typography-caption text-black-secondary">ou sténose coronaire significative.</p>
  </div>
</div>
<div class="alert bg-light d-md-flex">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">CHA<sub>2</sub>DS<sub>2</sub>-<br>VA</p>
    <output class="score-output" id="chadsScore">0</output>
  </div>
  <p id="chadsText" class="lead m-auto">Risque d’AVC faible<br>Pas d’antithrombotique</p>
</div>
<blockquote class="blockquote">
  <p lang="en"><a href="https://journal.chestnet.org/article/S0012-3692(10)60067-0/fulltext" rel="external nofollow noopener">Lip GY et al. Refining clinical risk stratification for predicting stroke and thromboembolism in atrial fibrillation using a novel risk factor-based approach: The euro heart survey on atrial fibrillation. Chest. 2010;137(2):263-72.</a></p>
</blockquote>
{{ $script := `
  // Score CHA2DS2-VA by djibe
  window.addEventListener( 'load', event => {
    const textChads = document.getElementById('chadsText')
    const scoreChads = document.getElementById('chadsScore');
    [...document.querySelectorAll('#score-cha2ds2va input[type=\"checkbox\"]')].forEach((elem) => { elem.addEventListener('click', () => calcChads() ) })
    const calcChads = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-cha2ds2va input[type=\"checkbox\"]:checked');
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        scoreChads.innerHTML = score
        if (score === 1) {
          textChads.innerHTML = 'Anticoagulation à considérer<br>Évaluer le risque hémorragique avec HAS-BLED'
        } else if (score > 1) {
          textChads.innerHTML = 'Anticoagulation recommandée<br>Évaluer le risque hémorragique avec HAS-BLED'
        }
      })
      if (elemsChecked.length === 0) {
        scoreChads.innerHTML = 0
        textChads.innerHTML = 'Risque d’AVC faible<br>Pas d’anticoagulation'
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>