<div class="card-body" id="score-cha2ds2vasc">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-femme" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-femme">Femme</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-age75" class="custom-control-input" value="2">
    <label class="custom-control-label" for="check-age75">Âge &ge; 75 ans</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-age65" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-age65">Âge 65 à 74</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-hta" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-hta">Hypertension artérielle</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-diabete" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-diabete">Diabète type 1 ou 2</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-ic" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-ic">Insuffisance cardiaque</label>
    <p class="typography-caption text-black-secondary">ou dysfonction VG ou HVG.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-avc" class="custom-control-input" value="2">
    <label class="custom-control-label" for="check-avc">Antécédent AVC ou AIT</label>
    <p class="typography-caption text-black-secondary">ou autre thromboembolie artérielle.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="check-mcv" class="custom-control-input" value="1">
    <label class="custom-control-label" for="check-mcv">Maladie cardiovasculaire (IDM, AOMI, plaque aortique)</label>
    <p class="typography-caption text-black-secondary">ou sténose coronaire significative.</p>
  </div>
  <div class="alert bg-light d-md-flex">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score CHA<sub>2</sub>DS<sub>2</sub>-VASc</p>
      <output class="score-output" id="chadsScore">0</output>
    </div>
    <p id="chadsText" class="lead m-auto">XXX</p>
  </div>
</div>
<blockquote class="blockquote">
  <p lang="en"><a href="" rel="external nofollow noopener">Lip GY et al. Refining clinical risk stratification for predicting stroke and thromboembolism in atrial fibrillation using a novel risk factor-based approach: The euro heart survey on atrial fibrillation. Chest. 2010;137(2):263-72.</a></p>
</blockquote>
{{ $script := `
  // Score CHA2DS2-VASc by djibe
  let score = 0;
  const Text = document.getElementById('explain');
  const Age75 = document.getElementById('age75');
  const Age65 = document.getElementById('age65');
  [...document.querySelectorAll('input[type="checkbox"]')].forEach(function(checkbox) {
    checkbox.addEventListener('change', function(e) {
      if (Age75.checked) {
        Age65.checked = false;
      }
      if (e.target.checked) {
        score += parseInt(e.target.value, 10)
      } else {
        score -= parseInt(e.target.value, 10)
      }
      document.getElementById('counter').innerHTML = score
      if (score === 0){
        Text.innerHTML = "Pas d'antithrombotique"
      } else {
        Text.innerHTML = 'Anticoagulation'
      }
    })
  })` }}
<script>{{ $script | safeJS }}</script>
