<div class="alert border rounded-lg mb-4 mb-lg-5" style="max-width: 768px">
  <div class="row">
    <div class="col-12 col-md-9">
      <input type="checkbox" id="age75" class="d-none" value="2">
      <label for="age75" class="chip chip-action chip-filter">Age ≥ 75</label>
      <input type="checkbox" id="age65" class="d-none" value="1">
      <label for="age65" class="chip chip-action chip-filter">Age 65 à 74</label>
      <input type="checkbox" id="hta" class="d-none" value="1">
      <label for="hta" class="chip chip-action chip-filter">HTA</label>
      <input type="checkbox" id="diabetes" class="d-none" value="1">
      <label for="diabetes" class="chip chip-action chip-filter">Diabète</label>
      <input type="checkbox" id="insuff" class="d-none" value="1">
      <label for="insuff" class="chip chip-action chip-filter">Insuffisance cardiaque/Dysfonction VG</label>
      <input type="checkbox" id="stroke" class="d-none" value="2">
      <label for="stroke" class="chip chip-action chip-filter">Antécédent AVC/AIT</label>
      <input type="checkbox" id="woman" class="d-none" value="1">
      <label for="woman" class="chip chip-action chip-filter">Femme</label>
      <input type="checkbox" id="disease" class="d-none" value="1">
      <label for="disease" class="chip chip-action chip-filter">Maladie vasculaire (IDM, AOMI, plaque aortique)</label>
    </div>
    <div class="col-12 col-md-3">
      <p class="typography-overline text-black-secondary mt-4 mt-md-0 mb-1">Score CHA<sub>2</sub>DS<sub>2</sub>-VASc</p>
      <p id="counter" class="font-weight-bold" style="font-size: 3rem;line-height: 1.2;margin-bottom: 0;">0</p>
      <p id="explain" class="typography-body-2 text-muted mb-0">Pas d'antithrombotique.</p>
    </div>
  </div>
</div>
{{ $script := `
  // Score CHA2DS2VASc by djibe
  let score = 0;
  const Text = document.getElementById('explain');
  [...document.querySelectorAll('input[type=\"checkbox\"]')].forEach(function(checkbox) {
    checkbox.addEventListener('change', function(e) {
      if (e.target.checked) {
        score += parseInt(e.target.value, 10)
      } else {
        score -= parseInt(e.target.value, 10)
      }
      document.getElementById('counter').innerHTML = score

      if ( score === 0){
        Text.innerHTML = "Pas d'antithrombotique"
      } else {
        Text.innerHTML = 'Anticoagulation'
      }
    })
  })` }}
<script>{{ $script | safeJS }}</script>