<div class="mt-4" id="score-child">
  <h4 class="card-title">Score de Child-Pugh</h4>
  <p>Le score de Child-Pugh évalue à l'instant de l'examen la sévérité de la cirrhose.</p>
  <hr>
  <fieldset>
  <legend>Encéphalopathie</legend>
    <input type="radio" id="child11" name="child1" class="d-input-none" value="1" required>
    <label for="child11" class="chip chip-action chip-sm chip-choice">Absente</label>
    <input type="radio" id="child12" name="child1" class="d-input-none" value="2">
    <label for="child12" class="chip chip-action chip-sm chip-choice">Confusion</label>
    <input type="radio" id="child13" name="child1" class="d-input-none" value="3">
    <label for="child13" class="chip chip-action chip-sm chip-choice">Coma</label>
  </fieldset>
  <fieldset>
    <legend>Ascite</legend>
    <input type="radio" id="child21" name="child2" class="d-input-none" value="1" required>
    <label for="child21" class="chip chip-action chip-sm chip-choice">Absente</label>
    <input type="radio" id="child22" name="child2" class="d-input-none" value="2">
    <label for="child22" class="chip chip-action chip-sm chip-choice">Minime</label>
    <input type="radio" id="child23" name="child2" class="d-input-none" value="3">
    <label for="child23" class="chip chip-action chip-sm chip-choice">Abondante</label>
  </fieldset>
  <fieldset>
    <legend>Bilirubinémie (µmol/L)</legend>
    <input type="radio" id="child31" name="child3" class="d-input-none" value="1" required>
    <label for="child31" class="chip chip-action chip-sm chip-choice">&lt; 35</label>
    <input type="radio" id="child32" name="child3" class="d-input-none" value="2">
    <label for="child32" class="chip chip-action chip-sm chip-choice">35-50</label>
    <input type="radio" id="child33" name="child3" class="d-input-none" value="3">
    <label for="child33" class="chip chip-action chip-sm chip-choice">&gt; 50</label>
  </fieldset>
  <fieldset>
    <legend>Albuminémie (g/L)</legend>
    <input type="radio" id="child41" name="child4" class="d-input-none" value="1" required>
    <label for="child41" class="chip chip-action chip-sm chip-choice">&gt; 35</label>
    <input type="radio" id="child42" name="child4" class="d-input-none" value="2">
    <label for="child42" class="chip chip-action chip-sm chip-choice">28-35</label>
    <input type="radio" id="child43" name="child4" class="d-input-none" value="3">
    <label for="child43" class="chip chip-action chip-sm chip-choice">&lt; 28</label>
  </fieldset>
  <fieldset>
    <legend>TP (%)</legend>
    <input type="radio" id="child51" name="child5" class="d-input-none" value="1" required>
    <label for="child51" class="chip chip-action chip-sm chip-choice">&gt; 50</label>
    <input type="radio" id="child52" name="child5" class="d-input-none" value="2">
    <label for="child52" class="chip chip-action chip-sm chip-choice">40-50</label>
    <input type="radio" id="child53" name="child5" class="d-input-none" value="3">
    <label for="child53" class="chip chip-action chip-sm chip-choice">&lt; 40</label>
  </fieldset>
  <div class="alert bg-light d-flex my-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score Child-Pugh</p>
      <output class="score-output" id="childScore">0</output>
    </div>
  <p id="childText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote">
  <p lang="en">Child CG, Turcotte JG. Surgery and portal hypertension. Major Probl Clin Surg. 1964;1:1-85.<br>
  et Pugh RN, Murray-Lyon IM, Dawson JL, Pietroni MC, Williams R (1973). "Transection of the oesophagus for bleeding oesophageal varices". The British journal of surgery, 60 (8): 646-9.</p>
</blockquote>
{{ $script := `
  // Score Child-Pugh by djibe
  window.addEventListener( 'load', event => {
    const scorechild = document.getElementById('childScore')
    const textchild = document.getElementById('childText');
    [...document.querySelectorAll('#score-child input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcchild() ) })
    const calcchild = () => {
      let score = 0
      const sexe = document.querySelector('input[name=\"child-sexe\"]:checked')
      const elemsChecked = document.querySelectorAll('#score-child input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 5) {
          scorechild.innerHTML = score
          if (score >= 5 && score <= 6) {
            textchild.innerHTML = "Child A"
          } else if (score >= 7 && score < 9) {
            textchild.innerHTML = "Child B"
          } else if (score >= 10) {
            textchild.innerHTML = "Child C"
          }
        } else {
          textchild.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>