<p><em lang="en">Le Childhood Asthma Control Test™</em> (<dfn><abbr title="Childhood Asthma Control Test">C-ACT</abbr></dfn>) est un test validé de référence pour l’évaluation du contrôle
  de l’asthme chez l’enfant de 4 à 11 ans.</p>
<div class="mb-4 mw-640" id="score-cact">
<fieldset>
<legend>1. Comment va ton asthme aujourd’hui ?</legend>
  <input type="radio" id="cact-11" name="cact-1" class="d-input-none" value="0" required>
  <label for="cact-11" class="chip chip-action chip-choice">Très mal</label>
  <input type="radio" id="cact-12" name="cact-1" class="d-input-none" value="1">
  <label for="cact-12" class="chip chip-action chip-choice">Mal</label>
  <input type="radio" id="cact-13" name="cact-1" class="d-input-none" value="2">
  <label for="cact-13" class="chip chip-action chip-choice">Bien</label>
  <input type="radio" id="cact-14" name="cact-1" class="d-input-none" value="3">
  <label for="cact-14" class="chip chip-action chip-choice">Très bien</label>
</fieldset>
<fieldset>
<legend>2. Est-ce que ton asthme est un problème quand tu cours, quand tu fais de la gymnastique
  ou quand tu fais du sport ?</legend>
  <input type="radio" id="cact-21" name="cact-2" class="d-input-none" value="0" required>
  <label for="cact-21" class="chip chip-action chip-choice">C’est un gros problème, je ne peux pas faire ce que je veux</label>
  <input type="radio" id="cact-22" name="cact-2" class="d-input-none" value="1">
  <label for="cact-22" class="chip chip-action chip-choice">C’est un problème et je n’aime pas ça</label>
  <input type="radio" id="cact-23" name="cact-" class="d-input-none" value="2">
  <label for="cact-23" class="chip chip-action chip-choice">C’est un petit problème, mais ça va</label>
  <input type="radio" id="cact-24" name="cact-2" class="d-input-none" value="3">
  <label for="cact-24" class="chip chip-action chip-choice">Ce n’est pas un problème</label>
</fieldset>
<fieldset>
<legend>3. Est-ce que tu tousses à cause de ton asthme ?</legend>
  <input type="radio" id="cact-31" name="cact-3" class="d-input-none" value="0" required>
  <label for="cact-31" class="chip chip-action chip-choice">Oui, tout le temps</label>
  <input type="radio" id="cact-32" name="cact-3" class="d-input-none" value="1">
  <label for="cact-32" class="chip chip-action chip-choice">Oui, la plupart du temps</label>
  <input type="radio" id="cact-33" name="cact-3" class="d-input-none" value="2">
  <label for="cact-33" class="chip chip-action chip-choice">Oui, parfois</label>
  <input type="radio" id="cact-34" name="cact-3" class="d-input-none" value="3">
  <label for="cact-34" class="chip chip-action chip-choice">Non, jamais</label>
</fieldset>
<fieldset>
<legend>4. Est-ce que tu te réveilles pendant la nuit à cause de ton asthme ?</legend>
  <input type="radio" id="cact-41" name="cact-4" class="d-input-none" value="0" required>
  <label for="cact-41" class="chip chip-action chip-choice">Oui, tout le temps</label>
  <input type="radio" id="cact-42" name="cact-4" class="d-input-none" value="1">
  <label for="cact-42" class="chip chip-action chip-choice">Oui, la plupart du temps</label>
  <input type="radio" id="cact-43" name="cact-4" class="d-input-none" value="2">
  <label for="cact-43" class="chip chip-action chip-choice">Oui, parfois</label>
  <input type="radio" id="cact-44" name="cact-4" class="d-input-none" value="3">
  <label for="cact-44" class="chip chip-action chip-choice">Non, jamais</label>
</fieldset>
<p>Répondez aux trois questions (5 à 7) restantes tout(e) seul(e) et sans vous laisser influencer
  par les réponses de votre enfant. Il n’y a ni bonnes, ni mauvaises réponses.</p>
<fieldset>
<legend>5. Au cours des 4 dernières semaines, combien de jours votre enfant a-t-il eu des symptômes d’asthme dans la journée ?</legend>
  <input type="radio" id="cact-51" name="cact-5" class="d-input-none" value="5" required>
  <label for="cact-51" class="chip chip-action chip-choice">Aucun</label>
  <input type="radio" id="cact-52" name="cact-5" class="d-input-none" value="4">
  <label for="cact-52" class="chip chip-action chip-choice">Entre 1 et 3 jours</label>
  <input type="radio" id="cact-53" name="cact-5" class="d-input-none" value="3">
  <label for="cact-53" class="chip chip-action chip-choice">Entre 4 et 10 jours</label>
  <input type="radio" id="cact-54" name="cact-5" class="d-input-none" value="2">
  <label for="cact-54" class="chip chip-action chip-choice">Entre 11 et 18 jours</label>
  <input type="radio" id="cact-55" name="cact-5" class="d-input-none" value="1">
  <label for="cact-55" class="chip chip-action chip-choice">Entre 19 et 24 jours</label>
  <input type="radio" id="cact-56" name="cact-5" class="d-input-none" value="0">
  <label for="cact-56" class="chip chip-action chip-choice">Tous les jours</label>
</fieldset>
<fieldset>
<legend>6. Au cours des 4 dernières semaines, combien de jours votre enfant a-t-il eu une respiration sifflante
  dans la journée à cause de son asthme ?</legend>
  <input type="radio" id="cact-61" name="cact-6" class="d-input-none" value="5" required>
  <label for="cact-61" class="chip chip-action chip-choice">Aucun</label>
  <input type="radio" id="cact-62" name="cact-6" class="d-input-none" value="4">
  <label for="cact-62" class="chip chip-action chip-choice">Entre 1 et 3 jours</label>
  <input type="radio" id="cact-63" name="cact-6" class="d-input-none" value="3">
  <label for="cact-63" class="chip chip-action chip-choice">Entre 4 et 10 jours</label>
  <input type="radio" id="cact-64" name="cact-6" class="d-input-none" value="2">
  <label for="cact-64" class="chip chip-action chip-choice">Entre 11 et 18 jours</label>
  <input type="radio" id="cact-65" name="cact-6" class="d-input-none" value="1">
  <label for="cact-65" class="chip chip-action chip-choice">Entre 19 et 24 jours</label>
  <input type="radio" id="cact-66" name="cact-6" class="d-input-none" value="0">
  <label for="cact-66" class="chip chip-action chip-choice">Tous les jours</label>
</fieldset>
<fieldset>
<legend>7. Au cours des 4 dernières semaines,
  combien de jours votre enfant s’est-il réveillé pendant la nuit à cause de son asthme ?</legend>
  <input type="radio" id="cact-71" name="cact-7" class="d-input-none" value="5" required>
  <label for="cact-71" class="chip chip-action chip-choice">Aucun</label>
  <input type="radio" id="cact-72" name="cact-7" class="d-input-none" value="4">
  <label for="cact-72" class="chip chip-action chip-choice">Entre 1 et 3 jours</label>
  <input type="radio" id="cact-73" name="cact-7" class="d-input-none" value="3">
  <label for="cact-73" class="chip chip-action chip-choice">Entre 4 et 10 jours</label>
  <input type="radio" id="cact-74" name="cact-7" class="d-input-none" value="2">
  <label for="cact-74" class="chip chip-action chip-choice">Entre 11 et 18 jours</label>
  <input type="radio" id="cact-75" name="cact-7" class="d-input-none" value="1">
  <label for="cact-75" class="chip chip-action chip-choice">Entre 19 et 24 jours</label>
  <input type="radio" id="cact-76" name="cact-7" class="d-input-none" value="0">
  <label for="cact-76" class="chip chip-action chip-choice">Tous les jours</label>
</fieldset>
<div class="alert bg-light d-flex mt-4">
  <div class="d-flex flex-column align-items-center justify-content-evenly">
  <p class="typography-overline score-output-title">Score C-ACT™</p>
  <output class="score-output" id="cactScore">0</output>
  </div>
  <p id="cactText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
</div>
</div>
<blockquote class="mt-4">
<p class="typography-caption">
  <a href="https://www.jacionline.org/article/S0091-6749(07)00167-4/fulltext" rel="external nofollow noopener">Liu AH, Zeiger R, Sorkness C, et al. Development and cross-sectional validation of the Childhood Asthma Control Test. J Allergy Clin Immunol. 2007;119(4):817-825. doi:10.1016/j.jaci.2006.12.662.</a>
   et <a href="https://www.asthmacontroltest.com/fr-fr/quiz/children-quiz/" rel="external nofollow noopener">Traduction officielle</a>
</p>
</blockquote>
{{ $script := `
  // Score Childhood Asthma Control Test adapted by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreAct = document.getElementById('cactScore')
    const textAct = document.getElementById('cactText');
    [...document.querySelectorAll('#score-cact input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcCAct() ) })
    const calcCAct = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-cact input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 7) {
          scoreAct.innerHTML = score
          if (score > 19) {
            textAct.innerHTML = 'Asthme contrôlé'
          }
          else if (score <= 19) {
            textAct.innerHTML = 'Asthme non contrôlé<br><span class="text-muted">Intensifier le traitement (augmenter le CSI ± LABA)</span><br>Avis pneumopédiatrique si besoin'
          }
        } else {
          textAct.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>