<p>La formule <dfn><abbr title="Chronic Kidney Disease Epidemiology Collaboration">CKD-EPI</abbr></dfn> 2021 est la formule d’estimation du débit de filtration glomérulaire (DFGe)
  chez l’adulte (à partir de 20 ans) en état stable recommandée par la <dfn><abbr title="Haute Autorité de Santé">HAS</abbr></dfn>.
</p>
<p>La version révisée du CKD-EPI de 2021 a retiré le concept de “race” qui est une conception humaine.
  Avant 20 ans, utiliser la formule de Schwartz.</p>
<div class="card-body card-util rounded-lg border my-5" id="form-gfr">
  <div class="d-block d-lg-flex form-gfr">
    <div class="form-group floating-label textfield-box form-ripple flex-grow-1 mr-3">
      <label for="gfr-age">Âge</label>
      <input class="form-control" id="gfr-age" type="number" min="20" max="122">
    </div>
    <div class="d-flex flex-grow-1 align-items-center">
      <div class="form-group floating-label textfield-box form-ripple flex-grow-1">
        <label for="gfr-creatinine">Créatininémie</label>
        <input class="form-control" id="gfr-creatinine" type="number" min="0" step="0.1">
      </div>
      <input type="radio" name="gfr-unit" id="gfr-unit-mg" value="mg" class="d-input-none" checked required>
      <label for="gfr-unit-mg" class="chip chip-action chip-choice">mg/L</label>
      <input type="radio" name="gfr-unit" id="gfr-unit-mol" value="mol" class="d-input-none">
      <label for="gfr-unit-mol" class="chip chip-action chip-choice">µmol/L</label>
    </div>
  </div>
  <p class="typography-overline mb-0">Sexe</p>
  <input type="radio" name="gfr-sex" id="gfr-sex-m" value="man" class="d-input-none" checked required>
  <label for="gfr-sex-m" class="chip chip-action chip-choice">Homme</label>
  <input type="radio" name="gfr-sex" id="gfr-sex-f" value="woman" class="d-input-none">
  <label for="gfr-sex-f" class="chip chip-action chip-choice">Femme</label>
  <div class="mt-4">
    <label for="input-gfr">DFGe CKD-EPI 2021</label>
    <input class="form-control" id="input-gfr" type="text" placeholder="Préciser les valeurs" readonly>
    <small class="form-text">mL/min/1,73 m²</small>
  </div>
</div>
<blockquote>
  <p lang="en"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/34554658/" rel="external nofollow noopener">
    Inker LA, Eneanya ND, Coresh J, et al. New Creatinine- and Cystatin C-Based Equations to Estimate GFR without Race. N Engl J Med. 2021;385(19):1737-1749. doi:10.1056/NEJMoa2102953
    </a></p>
</blockquote>
{{ $script := `
  // Outil de calcul du DFG CKD-EPI 2021 by djibe
  window.addEventListener( 'load', event => {
    const age = document.getElementById('gfr-age');
    const creatinineEl = document.getElementById('gfr-creatinine');
    const gfrEl = document.getElementById('input-gfr');
    [age, creatinineEl].forEach(elem => elem.addEventListener('input', () => calcGFR() ));
    [...document.querySelectorAll('#form-gfr input[type="radio"]')].forEach(elem => elem.addEventListener('change', () => calcGFR() ));
    const calcGFR = () => {
      const unit = document.querySelector('input[name="gfr-unit"]:checked');
      const sex = document.querySelector('input[name="gfr-sex"]:checked');
      const ageVal = parseInt(age.value);
      let creatinineVal = parseFloat(creatinineEl.value);
      let creatinine;
      let alpha, beta, kappa;
      if (sex.value === 'man') {
        alpha = -0.302;
        beta = 1;
        kappa = 0.9;
      } else {
        alpha = -0.241;
        beta = 1.012;
        kappa = 0.7;
      }
      if (unit.value === 'mol') {
        // Convert µmol/L to mg/L
        creatinineVal *= 0.1131;
      }
      if (ageVal > 0 && creatinineVal > 0) {
        // Convert mg/L to mg/dL
        creatinine = creatinineVal / 10
        let gfr = 142 * Math.min(creatinine / kappa, 1) ** alpha * Math.max(creatinine / kappa, 1) ** -1.200 * 0.9938 ** ageVal * beta
        gfrEl.value = Math.round(gfr);
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>