<div class="border rounded mb-2">
  <iframe
    title="Calcul de la clairance de la créatinine selon Cockroft"
    id="clairance-cockroft"
    class="border-0 w-100"
    src="https://www.sfmu.org/calculateurs/CCREAT.htm"
    allowfullscreen {{ with .Get "height" }} height="{{ . }}" {{ else }} height="600" {{ end }}
    loading="lazy"
  ></iframe>
</div>
<p class="text-center text-muted font-italic w-auto mb-3">Clairance de la créatinine selon Cockroft avec la <a href="https://www.sfmu.org/" rel="external nofollow noopener">SFMU</a>.</p>