<p class="mb-3 mb-lg-5">Quel est l’état de votre <dfn><abbr title="Bronchopneumopathie chronique obstructive">BPCO</abbr></dfn> ? Répondez au questionnaire <dfn><abbr title="COPD Assessment Test" lang="en">CAT</abbr></dfn> (COPD Assessment Test™) pour évaluer votre BPCO.</p>
<p>Ce questionnaire vous aidera, ainsi que votre médecin, à mesurer l’impact de la BPCO sur votre bien-être et votre santé au quotidien. Vous pourrez, ainsi que votre médecin, utiliser les réponses et les scores du questionnaire pour mieux prendre soin de votre BPCO et tirer le plus grand bénéfice de votre traitement.</p>
<p>Pour chaque élément ci-dessous, veuillez indiquer le niveau correspondant au mieux à votre état actuel.</p>
<div class="cat-container" id="score-cat">
  <span>Je ne tousse jamais</span>
  <input type="text" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-1" data-skin="material">
  <span>Je tousse tout le temps</span>
  <span>Je n’ai pas du tout de glaire (mucus) dans les poumons</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-2" data-skin="material">
  <span>J’ai la poitrine très encombrée de glaire (mucus)</span>
  <span>Je n’ai pas du tout la poitrine oppressée</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-3" data-skin="material">
  <span>J’ai la poitrine très oppressée</span>
  <span>Quand je monte une côte ou une volée de marches, je ne suis pas essoufflé(e)</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-4" data-skin="material">
  <span>Quand je monte une côte ou une volée de marches, je suis très essoufflé(e)</span>
  <span>Je ne suis pas limité(e) dans mes activités chez moi</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-5" data-skin="material">
  <span>Je suis très limité(e) dans mes activités chez moi</span>
  <span>Je ne suis pas inquièt(e) quand je quitte la maison, en dépit de mes problèmes pulmonaires</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-6" data-skin="material">
  <span>Je suis très inquièt(e) quand je quitte la maison, en raison de mes problèmes pulmonaires</span>
  <span>Je dors bien</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-7" data-skin="material">
  <span>Je dors mal à cause de mes problèmes pulmonaires</span>
  <span>Je suis plein(e) d’énergie</span>
  <input type="range" class="slider-default" data-from="3" data-min="0" data-max="5" id="cat-8" data-skin="material">
  <span>Je n’ai pas d’énergie du tout</span>
</div>
<div class="alert bg-light d-flex mt-md-4">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">Score CAT</p>
    <output class="score-output" id="catScore"></output>
  </div>
  <p id="catText" class="lead m-auto"></p>
</div>
<p class="typography-caption">Le Test d’évaluation COPD a été développé par un groupe pluridisciplinaire d’experts internationaux spécialisés dans la COPD, soutenu par GSK.
  Les activités de GSK en rapport avec le Test d’évaluation COPD sont supervisées par un Conseil de gouvernance composé d’experts externes indépendants, dont l’un d’eux préside le Conseil.</p>
<p class="typography-caption">CAT, COPD Assessment Test et le logo CAT sont des marques du groupe de sociétés GSK. © 2009 GSK. Tous droits réservés.</p>
<p><a href="https://www.catestonline.org/patient-site-test-page-french-belgium.html" rel="external nofollow noopener">Version francophone originale</a> et <a href="https://www.catestonline.org/content/dam/global/catestonline/questionnaires/French_Belgium_CAT_combined.pdf" rel="external nofollow noopener">Version papier (PDF)</a></p>
{{ $script := `
  // Score COPD Assessment Test by djibe from GSK
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreCAT = document.getElementById('catScore')
    const textCAT = document.getElementById('catText')
    const goldb = "<p>Groupe <strong>GOLD B</strong> si &lt; 2 exacerbations sans hospitalisation, sinon <strong>GOLD D</strong></p><p>Intensifier le traitement bronchodilatateur</p>"
    scoreCAT.innerHTML = 24
    textCAT.innerHTML = goldb
    $(function () {
      $('.slider-default').on('change', function() {
        sum = 0
        $('.slider-default').each(function(){
          sum += parseFloat(this.value);
        })
        scoreCAT.innerHTML = sum
        if (sum < 10) {
          catText.innerHTML = "<p>Groupe <strong>GOLD A</strong> si &lt; 2 exacerbations sans hospitalisation, sinon <strong>GOLD C</strong></p><p>Dyspnée contrôlée</p>"
            return;
        }
        return catText.innerHTML = goldb
      })
  })
})` }}
<script>{{ $script | safeJS }}</script>