<div class="my-4" id="score-deta">
  <h3 class="card-title">Questionnaire <dfn><abbr title="Diminuer, Entourage, Trop, Alcool">DETA</abbr></dfn> pour le repérage d’un problème de consommation d’alcool</h3>
  <h4 class="card-subtitle">Adaptation française du <abbr lang="en" title="Cutting down, Annoyance by criticism, Guilty feeling, Eye-openers">questionnaire CAGE</abbr></h4>
  <fieldset class="mt-4">
    <legend>1. Avez-vous déjà ressenti le besoin de diminuer votre consommation de boissons alcoolisées&nbsp;?</legend>
    <input type="radio" id="deta-11" name="radio-deta-1" class="d-input-none" value="1" required>
    <label for="deta-11" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="deta-12" name="radio-deta-1" class="d-input-none" value="0">
    <label for="deta-12" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>2. Votre entourage vous a-t-il déjà fait des remarques au sujet de votre consommation&nbsp;?</legend>
    <input type="radio" id="deta-21" name="radio-deta-2" class="d-input-none" value="1" required>
    <label for="deta-21" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="deta-22" name="radio-deta-2" class="d-input-none" value="0">
    <label for="deta-22" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>3. Avez-vous déjà eu l’impression que vous buviez trop&nbsp;?</legend>
    <input type="radio" id="deta-31" name="radio-deta-3" class="d-input-none" value="1" required>
    <label for="deta-31" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="deta-32" name="radio-deta-3" class="d-input-none" value="0">
    <label for="deta-32" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>4. Avez-vous déjà eu besoin d’alcool dès le matin&nbsp;?</legend>
    <input type="radio" id="deta-41" name="radio-deta-4" class="d-input-none" value="1" required>
    <label for="deta-41" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="deta-42" name="radio-deta-4" class="d-input-none" value="0">
    <label for="deta-42" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">CAGE-DETA</p>
      <output class="score-output" id="detaScore">0</output>
    </div>
    <p id="detaText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote>
  <p>
    <a href="https://pubmed.ncbi.nlm.nih.gov/4416585/" rel="external nofollow noopener">Mayfield D, McLeod G, Hall P. The CAGE questionnaire: validation of a new alcoholism screening instrument. Am J Psychiatry. 1974;131(10):1121-1123.</a>
  </p>
</blockquote>
{{ $script := `
  // Score CAGE-DETA by djibe
  window.addEventListener( 'load', event => {
    const scoreDeta = document.getElementById('detaScore')
    const textDeta = document.getElementById('detaText');
    [...document.querySelectorAll('#score-deta input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcDeta() ) })
    const calcDeta = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-deta input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 4) {
          scoreDeta.innerHTML = score
          if (score >= 2) { textDeta.innerHTML = 'Problème de consommation d’alcool' }
          else { textDeta.innerHTML = 'Pas de problème évident' }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>