<!-- TODO: invert order -->
<div class="mt-4" id="score-DLQI">
  <h3 class="card-title">Score DLQI - Dermatology Life Quality Index</h3>
  <p class="card-subtitle">Score <abbr title="Dermatology Life Quality Index" lang="en">DLQI</abbr> (<span lang="en">Dermatology Life Quality Index</span>) pour le retentissement d'une dermatose sur la qualité de vie</p>
  <p>Au cours des 7 derniers jours:</p>
  <fieldset>
    <legend>1. Votre peau vous a-t-elle démangé(e), fait souffrir ou brûlé(e)&nbsp;?</legend>
    <input type="radio" id="radio11" name="radio1" class="d-input-none" value="0" required>
    <label for="radio11" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
    <input type="radio" id="radio12" name="radio1" class="d-input-none" value="1">
    <label for="radio12" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio13" name="radio1" class="d-input-none" value="2">
    <label for="radio13" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio14" name="radio1" class="d-input-none" value="3">
    <label for="radio14" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>2. Vous êtes-vous senti(e) gêné(e) ou complexé(e) par votre problème de peau&nbsp;?</legend>
    <input type="radio" id="radio21" name="radio2" class="d-input-none" value="0" required>
    <label for="radio21" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
    <input type="radio" id="radio22" name="radio2" class="d-input-none" value="1">
    <label for="radio22" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio23" name="radio2" class="d-input-none" value="2">
    <label for="radio23" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio24" name="radio2" class="d-input-none" value="3">
    <label for="radio24" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>3. Votre problème de peau vous a-t-il gêné(e) pour faire des courses, vous occuper de votre maison ou pour jardiner&nbsp;?</legend>
    <input type="radio" id="radio31" name="radio3" class="d-input-none" value="0" required>
    <label for="radio31" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio32" name="radio3" class="d-input-none" value="1">
    <label for="radio32" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio33" name="radio3" class="d-input-none" value="2">
    <label for="radio33" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio34" name="radio3" class="d-input-none" value="3">
    <label for="radio34" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>4. Votre problème de peau vous a-t-il influencé(e) dans le choix de vos vêtements que vous portiez&nbsp;?</legend>
    <input type="radio" id="radio41" name="radio4" class="d-input-none" value="0" required>
    <label for="radio41" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio42" name="radio4" class="d-input-none" value="1">
    <label for="radio42" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio43" name="radio4" class="d-input-none" value="2">
    <label for="radio43" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio44" name="radio4" class="d-input-none" value="3">
    <label for="radio44" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>5. Votre problème de peau a-t-il affecté vos activités avec les autres ou vos loisirs&nbsp;?</legend>
    <input type="radio" id="radio51" name="radio5" class="d-input-none" value="0" required>
    <label for="radio51" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio52" name="radio5" class="d-input-none" value="1">
    <label for="radio52" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio53" name="radio5" class="d-input-none" value="2">
    <label for="radio53" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio54" name="radio5" class="d-input-none" value="3">
    <label for="radio54" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>6. Avez-vous eu du mal à faire du sport à cause de votre problème de peau&nbsp;?</legend>
    <input type="radio" id="radio61" name="radio6" class="d-input-none" value="0" required>
    <label for="radio61" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio62" name="radio6" class="d-input-none" value="1">
    <label for="radio62" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio63" name="radio6" class="d-input-none" value="2">
    <label for="radio63" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio64" name="radio6" class="d-input-none" value="3">
    <label for="radio64" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>7. Votre problème de peau vous a-t-il complètement empêché de travailler ou étudier&nbsp;?</legend>
    <input type="radio" id="radio71" name="radio7" class="d-input-none" value="0" required>
    <label for="radio71" class="chip chip-action chip-sm chip-choice">Non ou non concerné</label>
    <input type="radio" id="radio72" name="radio7" class="d-input-none" value="3">
    <label for="radio72" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <fieldset>
    <legend>Si la réponse est « Non » : votre problème de peau vous a-t-il gêné(e) dans votre travail ou vos études&nbsp;?</legend>
    <input type="radio" id="radio81" name="radio8" class="d-input-none" value="0" required>
    <label for="radio81" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio82" name="radio8" class="d-input-none" value="1">
    <label for="radio82" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio83" name="radio8" class="d-input-none" value="2">
    <label for="radio83" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
  </fieldset>
  <fieldset>
    <legend>8. Votre problème de peau a-t-il rendu difficile vos relations avec votre conjoint(e), vos amis ou votre famille&nbsp;?</legend>
    <input type="radio" id="radio91" name="radio9" class="d-input-none" value="0" required>
    <label for="radio91" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio92" name="radio9" class="d-input-none" value="1">
    <label for="radio92" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio93" name="radio9" class="d-input-none" value="2">
    <label for="radio93" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio94" name="radio9" class="d-input-none" value="3">
    <label for="radio94" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>9. Votre problème de peau a-t-il rendu votre vie sexuelle difficile&nbsp;?</legend>
    <input type="radio" id="radio101" name="radio10" class="d-input-none" value="0" required>
    <label for="radio101" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radio102" name="radio10" class="d-input-none" value="1">
    <label for="radio102" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radio103" name="radio10" class="d-input-none" value="2">
    <label for="radio103" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radio104" name="radio10" class="d-input-none" value="3">
    <label for="radio104" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <fieldset>
    <legend>10. Le traitement que vous utilisez pour votre peau a-t-il été un problème par exemple en prenant trop de votre temps ou en salissant votre maison&nbsp;?</legend>
    <input type="radio" id="radioA1" name="radio11" class="d-input-none" value="0" required>
    <label for="radioA1" class="chip chip-action chip-sm chip-choice">Pas du tout ou non concerné</label>
    <input type="radio" id="radioA2" name="radio11" class="d-input-none" value="1">
    <label for="radioA2" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="radioA3" name="radio11" class="d-input-none" value="2">
    <label for="radioA3" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="radioA4" name="radio11" class="d-input-none" value="3">
    <label for="radioA4" class="chip chip-action chip-sm chip-choice">Énormément</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score DLQI</p>
      <output class="score-output" id="DLQIScore">0</output>
    </div>
    <p id="DLQIText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="mt-4">
  <p><a href="https://pubmed.ncbi.nlm.nih.gov/8033378/" rel="external nofollow noopener">Finlay AY, Khan GK. Dermatology Life Quality Index (DLQI)--a simple practical measure for routine clinical use. Clin Exp Dermatol. 1994.</a>
  </p>
</blockquote>
{{ $script := `
  // Score DLQI by MF
  window.addEventListener( 'load', event => {
    const scoreDLQI = document.getElementById('DLQIScore')
    const textDLQI = document.getElementById('DLQIText');
    [...document.querySelectorAll('#score-DLQI input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => { calcDLQI() }) })
    const calcDLQI = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-DLQI input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 11) {
          scoreDLQI.innerHTML = score
          if (score <= 1) {
            textDLQI.innerHTML = "Absence d'impact sur la vie quotidienne"
          } else if (score >= 2 && score <= 10) {
            textDLQI.innerHTML = 'Effet faible à modéré sur la vie du patient'
          } else if (score >= 11) {
            textDLQI.innerHTML = 'Effet important ou extrêmement important'
          }
        } else {
          textDLQI.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>