<form class="pt-3">
  <div class="form-group" id="score-ecab">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-1" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-1">Où que j’aille, j’ai besoin d’avoir ce médicament avec moi</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-2" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-2">Ce médicament est pour moi comme une drogue</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-3" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-3">Je pense souvent que je ne pourrai jamais arrêter ce médicament</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-4" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-4">J’évite de dire à mes proches que je prends ce médicament</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-5" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-5">J’ai l’impression de prendre beaucoup trop de ce médicament</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-6" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-6">J’ai parfois peur à l’idée de manquer de ce médicament</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-7" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-7">Lorsque j’arrête ce médicament, je me sens très malade</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-8" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-8">Je prends ce médicament parce que je ne peux plus m’en passer</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-9" class="custom-control-input" value="1">
      <label class="custom-control-label" for="ecab-9">Je prends ce médicament parce que je vais mal quand j’arrête</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="ecab-10" class="custom-control-input" value="0">
      <label class="custom-control-label" for="ecab-10">Je ne prends ce médicament que lorsque j’en ressens le besoin</label>
    </div>
  </div>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score ECAB</p>
      <output class="score-output" id="ecabScore">0</output>
    </div>
    <p id="ecabText" class="lead m-auto">Pas de dépendance</p>
  </div>
</form>
<blockquote>
  <p>Pelissolo A et al. Troubles anxieux et dépressifs chez 4425 patients consommateurs de benzodiazépines au long cours en médecine générale. Encéphale 2007;33:32-38.</p>
</blockquote>
{{ $script := `
  // Score ECAB by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreecab = document.getElementById('ecabScore')
    const textecab = document.getElementById('ecabText');
    [...document.querySelectorAll('#score-ecab input[type=\"checkbox\"]')].forEach((elem) => { elem.addEventListener('click', () => { ecab() }) })
    const ecab = () => {
      let score = 0
      const ecabElemsChecked = document.querySelectorAll('#score-ecab input[type=\"checkbox\"]:checked')
      ecabElemsChecked.forEach(ecabElemChecked => {
        score += parseInt(ecabElemChecked.value, 10)
        scoreecab.innerHTML = score
        if (score >= 6) {
          textecab.innerHTML = 'Dépendance aux benzodiazépines (Se 94%, Spe 81%)'
        } else {
          textecab.innerHTML = 'Pas de dépendance'
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>
