<div class="my-4" id="score-ehp5">
  <h3 class="card-title">Échelle EHP 5</h3>
  <p>L’échelle <dfn><abbr title="Endometriosis health profile 5" lang="en">EHP-5</abbr></dfn> (Endometriosis health profile 5) explore la qualité de vie chez la femme atteinte d’endométriose.</p>
  <p class="my-3">Au cours des 4 dernières semaines, combien de fois, du fait de votre endométriose...</p>
  <fieldset>
    <legend>1. Avez-vous éprouvé des difficultés à marcher à cause des douleurs&nbsp;?</legend>
    <input type="radio" id="ehp5-11" name="radio-ehp5-1" class="d-input-none" value="0" required>
    <label for="ehp5-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-12" name="radio-ehp5-1" class="d-input-none" value="25">
    <label for="ehp5-12" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-13" name="radio-ehp5-1" class="d-input-none" value="50">
    <label for="ehp5-13" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-14" name="radio-ehp5-1" class="d-input-none" value="75">
    <label for="ehp5-14" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-15" name="radio-ehp5-1" class="d-input-none" value="100">
    <label for="ehp5-15" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>2. Avez-vous eu l’impression que vos symptômes réglaient votre vie&nbsp;?</legend>
    <input type="radio" id="ehp5-21" name="radio-ehp5-2" class="d-input-none" value="0" required>
    <label for="ehp5-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-22" name="radio-ehp5-2" class="d-input-none" value="25">
    <label for="ehp5-22" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-23" name="radio-ehp5-2" class="d-input-none" value="50">
    <label for="ehp5-23" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-24" name="radio-ehp5-2" class="d-input-none" value="75">
    <label for="ehp5-24" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-25" name="radio-ehp5-2" class="d-input-none" value="100">
    <label for="ehp5-25" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>3. Avez-vous eu des changements d’humeur&nbsp;?</legend>
    <input type="radio" id="ehp5-31" name="radio-ehp5-3" class="d-input-none" value="0" required>
    <label for="ehp5-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-32" name="radio-ehp5-3" class="d-input-none" value="25">
    <label for="ehp5-32" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-33" name="radio-ehp5-3" class="d-input-none" value="50">
    <label for="ehp5-33" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-34" name="radio-ehp5-3" class="d-input-none" value="75">
    <label for="ehp5-34" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-35" name="radio-ehp5-3" class="d-input-none" value="100">
    <label for="ehp5-35" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>4. Avez-vous eu l’impression que les autres ne comprenaient pas ce que vous enduriez&nbsp;?</legend>
    <input type="radio" id="ehp5-41" name="radio-ehp5-4" class="d-input-none" value="0" required>
    <label for="ehp5-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-42" name="radio-ehp5-4" class="d-input-none" value="25">
    <label for="ehp5-42" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-43" name="radio-ehp5-4" class="d-input-none" value="50">
    <label for="ehp5-43" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-44" name="radio-ehp5-4" class="d-input-none" value="75">
    <label for="ehp5-44" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-45" name="radio-ehp5-4" class="d-input-none" value="100">
    <label for="ehp5-45" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>5. Avez-vous eu l’impression que votre apparence avait changée&nbsp;?</legend>
    <input type="radio" id="ehp5-51" name="radio-ehp5-5" class="d-input-none" value="0" required>
    <label for="ehp5-51" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-52" name="radio-ehp5-5" class="d-input-none" value="25">
    <label for="ehp5-52" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-53" name="radio-ehp5-5" class="d-input-none" value="50">
    <label for="ehp5-53" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-54" name="radio-ehp5-5" class="d-input-none" value="75">
    <label for="ehp5-54" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-55" name="radio-ehp5-5" class="d-input-none" value="100">
    <label for="ehp5-55" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>A. Avez-vous été incapable d’assurer des obligations professionnelles à cause des douleurs&nbsp;?</legend>
    <input type="radio" id="ehp5-a1" name="radio-ehp5-a" class="d-input-none" value="0" required>
    <label for="ehp5-a1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-a2" name="radio-ehp5-a" class="d-input-none" value="25">
    <label for="ehp5-a2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-a3" name="radio-ehp5-a" class="d-input-none" value="50">
    <label for="ehp5-a3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-a4" name="radio-ehp5-a" class="d-input-none" value="75">
    <label for="ehp5-a4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-a5" name="radio-ehp5-a" class="d-input-none" value="100">
    <label for="ehp5-a5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>B. Avez-vous trouvé difficile de vous occuper de votre (vos) enfant(s)&nbsp;?</legend>
    <p class="typography-caption text-black-secondary">Ne pas répondre si vous n’avez pas d’enfants.</p>
    <input type="radio" id="ehp5-b1" name="radio-ehp5-b" class="d-input-none" value="0">
    <label for="ehp5-b1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-b2" name="radio-ehp5-b" class="d-input-none" value="25">
    <label for="ehp5-b2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-b3" name="radio-ehp5-b" class="d-input-none" value="50">
    <label for="ehp5-b3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-b4" name="radio-ehp5-b" class="d-input-none" value="75">
    <label for="ehp5-b4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-b5" name="radio-ehp5-b" class="d-input-none" value="100">
    <label for="ehp5-b5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>C. Vous êtes-vous sentie inquiète à l’idée d’avoir des rapports à cause de la douleur&nbsp;?</legend>
    <input type="radio" id="ehp5-c1" name="radio-ehp5-c" class="d-input-none" value="0" required>
    <label for="ehp5-c1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-c2" name="radio-ehp5-c" class="d-input-none" value="25">
    <label for="ehp5-c2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-c3" name="radio-ehp5-c" class="d-input-none" value="50">
    <label for="ehp5-c3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-c4" name="radio-ehp5-c" class="d-input-none" value="75">
    <label for="ehp5-c4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-c5" name="radio-ehp5-c" class="d-input-none" value="100">
    <label for="ehp5-c5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>D. Avez-vous eu le sentiment que les médecins pensaient que c’était dans votre tête&nbsp;?</legend>
    <input type="radio" id="ehp5-d1" name="radio-ehp5-d" class="d-input-none" value="0" required>
    <label for="ehp5-d1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-d2" name="radio-ehp5-d" class="d-input-none" value="25">
    <label for="ehp5-d2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-d3" name="radio-ehp5-d" class="d-input-none" value="50">
    <label for="ehp5-d3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-d4" name="radio-ehp5-d" class="d-input-none" value="75">
    <label for="ehp5-d4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-d5" name="radio-ehp5-d" class="d-input-none" value="100">
    <label for="ehp5-d5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>E. Avez-vous été déçue parce que le traitement ne marchait pas&nbsp;?</legend>
    <input type="radio" id="ehp5-e1" name="radio-ehp5-e" class="d-input-none" value="0" required>
    <label for="ehp5-e1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-e2" name="radio-ehp5-e" class="d-input-none" value="25">
    <label for="ehp5-e2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-e3" name="radio-ehp5-e" class="d-input-none" value="50">
    <label for="ehp5-e3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-e4" name="radio-ehp5-e" class="d-input-none" value="75">
    <label for="ehp5-e4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-e5" name="radio-ehp5-e" class="d-input-none" value="100">
    <label for="ehp5-e5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <fieldset>
    <legend>F. Vous êtes-vous sentie déprimée face à l’éventualité de ne pas avoir d’enfants ou d’autres enfants&nbsp;?</legend>
    <input type="radio" id="ehp5-f1" name="radio-ehp5-f" class="d-input-none" value="0" required>
    <label for="ehp5-f1" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ehp5-f2" name="radio-ehp5-f" class="d-input-none" value="25">
    <label for="ehp5-f2" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="ehp5-f3" name="radio-ehp5-f" class="d-input-none" value="50">
    <label for="ehp5-f3" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="ehp5-f4" name="radio-ehp5-f" class="d-input-none" value="75">
    <label for="ehp5-f4" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="ehp5-f5" name="radio-ehp5-f" class="d-input-none" value="100">
    <label for="ehp5-f5" class="chip chip-action chip-sm chip-choice">Toujours</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score EHP-5</p>
      <output class="score-output" id="ehp5Score">0</output>
    </div>
    <p id="ehp5Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote>
  <p>
    <a href="https://pubmed.ncbi.nlm.nih.gov/15130031/" rel="external nofollow noopener">
      Jones G, Jenkinson C, Kennedy S. Development of the Short Form Endometriosis Health Profile Questionnaire: the EHP-5. Qual Life Res. 2004;13(3):695-704.
    </a>
      et
    <a href="https://pubmed.ncbi.nlm.nih.gov/27338812/" rel="external nofollow noopener">
      Fauconnier A, Huchon C, Chaillou L, Aubry G, Renouvel F, Panel P. Development of a French version of the Endometriosis Health Profile 5 (EHP-5): cross-cultural adaptation and psychometric evaluation. Qual Life Res. 2017;26(1):213-220.
    </a>
  </p>
</blockquote>
{{ $script := `
  // Score EHP-5 FR by djibe
  window.addEventListener( 'load', event => {
    const scoreEHP5 = document.getElementById('ehp5Score')
    const textEHP5 = document.getElementById('ehp5Text');
    [...document.querySelectorAll('#score-ehp5 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcEhp5() ) })
    const calcEhp5 = () => {
      let score = 0
      const EHP5ElemsChecked = document.querySelectorAll('#score-ehp5 input[type=\"radio\"]:checked')
      EHP5ElemsChecked.forEach(EHP5ElemChecked => {
        score += parseInt(EHP5ElemChecked.value, 10)
        if (EHP5ElemsChecked.length >= 10) {
          scoreEHP5.innerHTML = score
          textEHP5.innerHTML = 'Score de ' + score
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>