<dl>
  <dt>EHRA 1</dt>
  <dd>Symptômes: aucun</dd>
  <dd>
    La fibrillation atriale ne donne aucun symptôme.
  </dd>
</dl>
<hr>
<dl>
  <dt>EHRA 2a</dt>
  <dd>Symptômes: légers</dd>
  <dd>
    Activités de la vie quotidienne sans retentissement de la FA.
  </dd>
</dl>
<hr>
<dl>
  <dt>EHRA 2b</dt>
  <dd>Symptômes: modérés</dd>
  <dd>
    Activités de la vie quotidienne sans retentissement de la FA mais patient gêné par les symptômes.
  </dd>
</dl>
<hr>
<dl>
  <dt>EHRA 3</dt>
  <dd>Symptômes: sévères</dd>
  <dd>
    Activités de la vie quotidienne impactées par les symptômes de la FA.
  </dd>
</dl>
<dl>
  <dt>EHRA 4</dt>
  <dd>Symptômes: invalidants</dd>
  <dd>
    Activités de la vie quotidienne impossibles.
  </dd>
</dl>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://doi.org/10.1093/europace/eut395" rel="external nofollow noopener">Gareth J. et al. The European Heart Rhythm Association symptom classification for atrial fibrillation: validation and improvement through a simple modification. EP Europace. 2014.</a>
  </p>
</blockquote>
