<p>Le score d’Eisinger permet de déterminer la nécessité d’une consultation d’oncogénétique en cas
  d’antécédents de cancers (cancer du sein ou de l’ovaire) ou de prédisposition génétique (BRCA 1 ou 2).
</p>
<p>Faire la somme des cas de cancers chez des apparentés au 1<sup>er</sup> et 2<sup>e</sup> degré de la même branche parentale (paternelle ou maternelle).</p>
<div class="data-table" role="region" aria-labelledby="table-eisinger" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-eisinger" itemprop="about"><span class="font-weight-bold">Tableau.</span> Score d’Eisinger</caption>
  <thead>
    <tr>
      <th scope="col">Antécédents familiaux</th>
      <th scope="col" class="text-right">Cotation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mutation BRCA 1 ou 2 identifiée dans la famille</th>
      <td class="text-right">5</td>
    </tr>
    <tr>
      <th scope="row">Cancer du sein chez une femme avant 30 ans</th>
      <td class="text-right">4</td>
    </tr>
    <tr>
      <th scope="row">Cancer du sein chez une femme de 30 à 39 ans</th>
      <td class="text-right">3</td>
    </tr>
    <tr>
      <th scope="row">Cancer du sein chez une femme de 40 à 49 ans</th>
      <td class="text-right">2</td>
    </tr>
    <tr>
      <th scope="row">Cancer du sein chez une femme de 50 à 70 ans</th>
      <td class="text-right">1</td>
    </tr>
    <tr>
      <th scope="row">Cancer du sein chez un homme</th>
      <td class="text-right">4</td>
    </tr>
    <tr>
      <th scope="row">Cancer de l’ovaire avant 70 ans</th>
      <td class="text-right">4</td>
    </tr>
  </tbody>
  </table>
</div>
<ul>
  <li>Score ≥ 3: consultation d’oncogénétique</li>
  <li>Score &lt; 3: dépistage organisé du cancer du sein de 50 à 74 ans</li>
</ul>
<blockquote>
  <p>
    <a href="https://www.sciencedirect.com/science/article/abs/pii/S0369811406000186" rel="external nofollow noopener"
      >Eisinger F, et al. Identification et prise en charge des prédispositions héréditaires aux cancers du sein et de l’ovaire (mise à jour 2004). Bull Cancer 2004;91(3):219-37.</a
    > et
    <a href="https://www.cancer.fr/professionnels-de-sante/prevention-et-depistages/depistage-et-detection-precoce/depistage-du-cancer-du-sein/orienter-vos-patientes" rel="external nofollow noopener">
      INCa. Dépistage du cancer du sein : orienter vos patientes en fonction de leur niveau de risque. Septembre 2022.
    </a>
  </p>
</blockquote>