<div class="mt-4" id="score-face">
  <h3 class="card-title">Hétéro-questionnaire <abbr title="Formule pour approcher la consommation d'alcool par entretien">FACE</abbr></h3>
  <p class="card-subtitle font-italic">Formule pour approcher la consommation d'alcool par entretien</p>
  <p class="typography-body-1">Lorsqu'une consommation à risque est suspectée, les 5 questions doivent être de préférence posées sans reformulation.</p>
  <fieldset>
    <legend>Sexe</legend>
    <input type="radio" id="femme" name="sexe" class="d-input-none" value="0" required>
    <label for="femme" class="chip chip-action chip-sm chip-choice">Femme</label>
    <input type="radio" id="homme" name="sexe" class="d-input-none" value="0">
    <label for="homme" class="chip chip-action chip-sm chip-choice">Homme</label>
  </fieldset>
  <fieldset>
  <legend>1. À quelle fréquence consommez-vous des boissons contenant de l'alcool&nbsp;?</legend>
    <input type="radio" id="radio-face-11" name="radio-face-1" class="d-input-none" value="0" required>
    <label for="radio-face-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="radio-face-12" name="radio-face-1" class="d-input-none" value="1">
    <label for="radio-face-12" class="chip chip-action chip-sm chip-choice">1/mois ou moins</label>
    <input type="radio" id="radio-face-13" name="radio-face-1" class="d-input-none" value="2">
    <label for="radio-face-13" class="chip chip-action chip-sm chip-choice">2 à 4/mois</label>
    <input type="radio" id="radio-face-14" name="radio-face-1" class="d-input-none" value="3">
    <label for="radio-face-14" class="chip chip-action chip-sm chip-choice">2 à 3/semaine</label>
    <input type="radio" id="radio-face-15" name="radio-face-1" class="d-input-none" value="4">
    <label for="radio-face-15" class="chip chip-action chip-sm chip-choice">4 ou +/semaine</label>
  </fieldset>
  <fieldset>
    <legend>2. Combien de verres standards buvez-vous, les jours où vous buvez de l'alcool&nbsp;?</legend>
    <input type="radio" id="radio-face-21" name="radio-face-2" class="d-input-none" value="0" required>
    <label for="radio-face-21" class="chip chip-action chip-sm chip-choice">1 ou 2</label>
    <input type="radio" id="radio-face-22" name="radio-face-2" class="d-input-none" value="1">
    <label for="radio-face-22" class="chip chip-action chip-sm chip-choice">3 ou 4</label>
    <input type="radio" id="radio-face-23" name="radio-face-2" class="d-input-none" value="2">
    <label for="radio-face-23" class="chip chip-action chip-sm chip-choice">5 ou 6</label>
    <input type="radio" id="radio-face-24" name="radio-face-2" class="d-input-none" value="3">
    <label for="radio-face-24" class="chip chip-action chip-sm chip-choice">7 à 9</label>
    <input type="radio" id="radio-face-25" name="radio-face-2" class="d-input-none" value="4">
    <label for="radio-face-25" class="chip chip-action chip-sm chip-choice">10 ou plus</label>
  </fieldset>
  <fieldset>
    <legend>3. Votre entourage vous a-t-il fait des remarques concernant votre consommation d'alcool&nbsp;?</legend>
    <input type="radio" id="radio-face-31" name="radio-face-3" class="d-input-none" value="0" required>
    <label for="radio-face-31" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-face-32" name="radio-face-3" class="d-input-none" value="4">
    <label for="radio-face-32" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <fieldset>
    <legend>4. Vous est-il arrivé de consommer de l'alcool le matin pour vous sentir en forme&nbsp;?</legend>
    <input type="radio" id="radio-face-41" name="radio-face-4" class="d-input-none" value="0" required>
    <label for="radio-face-41" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-face-42" name="radio-face-4" class="d-input-none" value="4">
    <label for="radio-face-42" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <fieldset>
    <legend>5. Vous est-il arrivé de boire et de ne plus vous souvenir le matin de ce que vous avez pu dire ou faire&nbsp;?</legend>
    <input type="radio" id="radio-face-51" name="radio-face-5" class="d-input-none" value="0" required>
    <label for="radio-face-51" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-face-52" name="radio-face-5" class="d-input-none" value="4">
    <label for="radio-face-52" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <div class="alert bg-light d-flex my-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score FACE</p>
      <output class="score-output" id="faceScore">0</output>
    </div>
  <p id="faceText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote">
  <small>Repérage d'une consommation excessive: Femmes (Se 84,4%; Spe 84%), Hommes (Se 87,8%; Spe 74%)</small>
  <p>Arfaoui S. et al. Repérage précoce du risque alcool: savoir faire «FACE». Rev Prat Med Gen. 2004 ; 18 (641) : 201-5.</p>
</blockquote>
{{ $script := `
  // Score FACE by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreFace = document.getElementById('faceScore')
    const textFace = document.getElementById('faceText');
    [...document.querySelectorAll('#score-face input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcFace() ) })
    const calcFace = () => {
      let score = 0
      const sexe = document.querySelector('input[name=\"sexe\"]:checked')
      const faceElemsChecked = document.querySelectorAll('#score-face input[type=\"radio\"]:checked')
        faceElemsChecked.forEach(faceElemChecked => {
        score += parseInt(faceElemChecked.value, 10)
        if (faceElemsChecked.length === 6) {
          scoreFace.innerHTML = score
          if ((score < 5 && sexe.id === 'homme') || (score < 4 && sexe.id === 'femme')) {
            textFace.innerHTML = "<strong>Risque faible ou nul</strong><br>Renforcement des conduites favorables à la santé"
          } else if ((score >= 5 && score <= 8 && sexe.id === 'homme') || (score >= 4 && score <= 8 && sexe.id === 'femme')) {
            textFace.innerHTML = "<strong>Consommation excessive probable</strong><br>Intervention brève"
          } else if (score > 8) {
            textFace.innerHTML = "<strong>Dépendance probable</strong><br>Proposer une consultation d'addictologie"
          }
        } else {
          textFace.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>