<div id="score-fagerstrom-short">
  <h3 class="typography-body-1">Test de Fagerström simplifié en 2 questions pour l’évaluation de la dépendance à la nicotine</h3>
  <fieldset class="mt-4">
    <legend>1. Combien de cigarettes fumez-vous par jour ?</legend>
    <input type="radio" id="fagerstromshort-11" name="radio-fagerstromshort-1" class="d-input-none" value="0" required>
    <label for="fagerstromshort-11" class="chip chip-action chip-sm chip-choice">10 ou moins</label>
    <input type="radio" id="fagerstromshort-12" name="radio-fagerstromshort-1" class="d-input-none" value="1">
    <label for="fagerstromshort-12" class="chip chip-action chip-sm chip-choice">11 à 20</label>
    <input type="radio" id="fagerstromshort-13" name="radio-fagerstromshort-1" class="d-input-none" value="2">
    <label for="fagerstromshort-13" class="chip chip-action chip-sm chip-choice">21 à 30</label>
    <input type="radio" id="fagerstromshort-14" name="radio-fagerstromshort-1" class="d-input-none" value="3">
    <label for="fagerstromshort-14" class="chip chip-action chip-sm chip-choice">31 ou plus</label>
  </fieldset>
  <fieldset>
    <legend>2. Dans quel délai après le réveil fumez-vous votre première cigarette ?</legend>
    <input type="radio" id="fagerstromshort-21" name="radio-fagerstromshort-2" class="d-input-none" value="3" required>
    <label for="fagerstromshort-21" class="chip chip-action chip-sm chip-choice">Moins de 5 minutes</label>
    <input type="radio" id="fagerstromshort-22" name="radio-fagerstromshort-2" class="d-input-none" value="2">
    <label for="fagerstromshort-22" class="chip chip-action chip-sm chip-choice">6 à 30 minutes</label>
    <input type="radio" id="fagerstromshort-23" name="radio-fagerstromshort-2" class="d-input-none" value="1">
    <label for="fagerstromshort-23" class="chip chip-action chip-sm chip-choice">31 à 60 minutes</label>
    <input type="radio" id="fagerstromshort-24" name="radio-fagerstromshort-2" class="d-input-none" value="0">
    <label for="fagerstromshort-24" class="chip chip-action chip-sm chip-choice">Après plus d’1 heure</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Fagerström-2</p>
      <output class="score-output" id="fagerstromShortScore">0</output>
    </div>
    <p id="fagerstromShortText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote lang="en">
  <p>
    <a href="https://pubmed.ncbi.nlm.nih.gov/1932883/" rel="external nofollow noopener">
      Heatherton TF, Kozlowski LT, Frecker RC, Fagerström KO. The Fagerström Test for Nicotine Dependence: a revision of the Fagerström Tolerance Questionnaire. Br J Addict. 1991;86(9):1119-1127.</a>
      et
    <a href="https://pubmed.ncbi.nlm.nih.gov/735910/" rel="external nofollow noopener">
      Fagerström KO. Measuring degree of physical dependence to tobacco smoking with reference to individualization of treatment. Addict Behav. 1978;3(3-4):235-241.
    </a>
  </p>
</blockquote>
{{ $script := `
  // Score de Fagerström simplifié by djibe
  window.addEventListener( 'load', event => {
    const scoreFagerstromShort = document.getElementById('fagerstromShortScore')
    const textFagerstrom = document.getElementById('fagerstromShortText');
    [...document.querySelectorAll('#score-fagerstrom-short input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcFagerstromShort() ) })
    const calcFagerstromShort = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-fagerstrom-short input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length >= 2) {
          scoreFagerstromShort.innerHTML = score
          if (score <= 1) { textFagerstrom.innerHTML = 'Pas de dépendance' }
          else if (score >= 2 && score <= 3) { textFagerstrom.innerHTML = 'Dépendance modérée' }
          else if (score >= 4) { textFagerstrom.innerHTML = 'Dépendance forte' }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>