<p class="mb-3">Score <abbr title="Fibrosis-4" lang="en">FIB-4</abbr> (Fibrosis-4) pour rechercher une fibrose hépatique significative avant 70 ans.</p>
<p>Un score FIB-4 inférieur à 1,3 (2 si +65 ans) élimine une hépatopathie avancée (VPN 90%).<br>Au-delà, confirmer la fibrose par un test sanguin plus spécifique: Fibromètre&reg;, Fibrotest&reg; ou ELF&reg;.</p>
<p class="text-black-secondary">Le score FIB-4 n'est pas utile pour les patients déjà suivis pour une maladie du foie.</p>
<div id="score-fib4">
  <div class="form-group form-ripple">
    <label for="fib4-1">Âge (années)</label>
    <input aria-describedby="fib4-1" class="form-control" id="fib4-1" type="number" value="50" min="18" max="69">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-2">Plaquettes (G/L = 10<sup>9</sup>/L)</label>
    <input aria-describedby="fib4-2" class="form-control" id="fib4-2" type="number" min="15" max="700">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-3">ASAT (UI/L)</label>
    <input aria-describedby="fib4-3" class="form-control" id="fib4-3" type="number" min="10" max="400">
  </div>
  <div class="form-group form-ripple">
    <label for="fib4-4">ALAT (UI/L)</label>
    <input aria-describedby="fib4-4" class="form-control" id="fib4-4" type="number" min="10" max="400">
  </div>
</div>
<div class="alert bg-light d-flex mt-md-4">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">FIB-4</p>
    <output class="score-output" id="fib4Score">0</output>
  </div>
  <p id="fib4Text" class="lead m-auto">Veuillez compléter les informations clinico-biologiques</p>
</div>
<p><a href="https://aasldpubs.onlinelibrary.wiley.com/doi/10.1002/hep.21178" rel="external nofollow noopener">Sterling RK. et al. Development of a simple noninvasive index to predict significant fibrosis in patients with HIV/HCV coinfection. Hepatology. 2006.</a></p>
{{ $script := `
  // Score FIB-4 by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreFib4 = document.getElementById('fib4Score')
    const textFib4 = document.getElementById('fib4Text')
    const ageElem = document.getElementById('fib4-1')
    const plaqElem = document.getElementById('fib4-2')
    const asatElem = document.getElementById('fib4-3')
    const alatElem = document.getElementById('fib4-4');
    [...document.querySelectorAll('#score-fib4 input[type=\"number\"]')].forEach((elem) => { elem.addEventListener('change', () => calcFib4() ) })
    const calcFib4 = () => {
      let score = 0
      const age = parseInt(ageElem.value, 10)
      const plaq = parseInt(plaqElem.value, 10)
      const asat = parseInt(asatElem.value, 10)
      const alat = parseInt(alatElem.value, 10)
      score = (age * asat) / (plaq *  Math.sqrt(alat))
      /* If all inputs are filled */
      if ([...document.querySelectorAll('#score-fib4 input[type=\"number\"]')].every((e) => e.value > 0)) {
        if ( (age < 65 && score < 1.3) || (age >= 65 && score < 2) ) {
          textFib4.innerHTML = 'Pas de fibrose hépatique'
        } else if ( (age < 65 && score >= 1.3) || (age >= 65 && score >= 2) ) {
          textFib4.innerHTML = '<strong>Fibrose hépatique probable</strong><br>Prescrire pour le laboratoire:<br>Fibromètre&reg;, Fibrotest&reg; ou ELF&reg;'
        }
        scoreFib4.innerHTML = score.toPrecision(4)
      } else {
        scoreFib4.innerHTML = 0
        textFib4.innerHTML = 'Veuillez compléter les informations clinico-biologiques'
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>