<div id="score-fsfi">
  <p>Le questionnaire <dfn><abbr title="Female Sexual Function Index" lang="en">FSFI</abbr></dfn>
    (<span lang="en">Female Sexual Function Index</span>) pour l’évaluation de la santé sexuelle d’une femme adulte.</p>
  <p>Les questions suivantes portent sur vos sentiments et vos réactions sur le plan sexuel au cours des 4 dernières semaines.
    Veuillez répondre à ces questions aussi sincèrement et clairement que possible. Vos réponses resteront strictement
    confidentielles. Lorsque vous répondrez aux questions, tenez compte des définitions suivantes:</p>
  <p>L’activité sexuelle peut comprendre les caresses, les préliminaires, la masturbation et la pénétration vaginale.</p>
  <p>Le rapport sexuel se définit comme la pénétration du pénis.</p>
  <p>La stimulation sexuelle comprend, par exemple, les préliminaires avec un partenaire, la masturbation et les fantasmes sexuels.</p>
  <p>Le désir sexuel est un sentiment qui comprend le désir d’avoir une activité sexuelle, le fait d’être réceptive aux avances
    sexuelles d’un partenaire et d’avoir des pensées ou des fantasmes à propos de l’acte sexuel.</p>
  <p>Au cours des 4 dernières semaines:</p>
    <fieldset>
    <legend>1. Avez-vous ressenti un désir sexuel ?</legend>
    <input type="radio" id="fsfi-11" name="radio-anxiety-1" class="d-input-none" value="5" required>
    <label for="fsfi-11" class="chip chip-action chip-sm chip-choice">Presque toujours ou toujours</label>
    <input type="radio" id="fsfi-12" name="radio-anxiety-1" class="d-input-none" value="4">
    <label for="fsfi-12" class="chip chip-action chip-sm chip-choice">La plupart du temps (&gt; 1/2)</label>
    <input type="radio" id="fsfi-13" name="radio-anxiety-1" class="d-input-none" value="3">
    <label for="fsfi-13" class="chip chip-action chip-sm chip-choice">Parfois (1/2)</label>
    <input type="radio" id="fsfi-14" name="radio-anxiety-1" class="d-input-none" value="2">
    <label for="fsfi-14" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="fsfi-15" name="radio-anxiety-1" class="d-input-none" value="1">
    <label for="fsfi-15" class="chip chip-action chip-sm chip-choice">Presque jamais ou jamais</label>
  </fieldset>
  <fieldset>
    <legend>2. Quel a été votre niveau (degré) de désir sexuel ?</legend>
    <input type="radio" id="fsfi-21" name="radio-anxiety-2" class="d-input-none" value="5" required>
    <label for="fsfi-21" class="chip chip-action chip-sm chip-choice">Très élevé</label>
    <input type="radio" id="fsfi-22" name="radio-anxiety-2" class="d-input-none" value="4">
    <label for="fsfi-22" class="chip chip-action chip-sm chip-choice">Élevé</label>
    <input type="radio" id="fsfi-23" name="radio-anxiety-2" class="d-input-none" value="3">
    <label for="fsfi-23" class="chip chip-action chip-sm chip-choice">Moyen</label>
    <input type="radio" id="fsfi-24" name="radio-anxiety-2" class="d-input-none" value="2">
    <label for="fsfi-24" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="fsfi-25" name="radio-anxiety-2" class="d-input-none" value="1">
    <label for="fsfi-25" class="chip chip-action chip-sm chip-choice">Très faible ou inexistant</label>
  </fieldset>
  <fieldset>
    <legend>3. Vous êtes-vous sentie excitée sexuellement pendant une activité sexuelle ou un rapport sexuel ?</legend>
    <input type="radio" id="fsfi-31" name="radio-depression-1" class="d-input-none" value="0" required>
    <label for="fsfi-31" class="chip chip-action chip-sm chip-choice">Aucune activité sexuelle</label>
    <input type="radio" id="fsfi-32" name="radio-depression-1" class="d-input-none" value="5">
    <label for="fsfi-32" class="chip chip-action chip-sm chip-choice">Presque toujours ou toujours</label>
    <input type="radio" id="fsfi-33" name="radio-depression-1" class="d-input-none" value="4">
    <label for="fsfi-33" class="chip chip-action chip-sm chip-choice">La plupart du temps (&gt; 1/2)</label>
    <input type="radio" id="fsfi-34" name="radio-depression-1" class="d-input-none" value="3">
    <label for="fsfi-34" class="chip chip-action chip-sm chip-choice">Parfois (1/2)</label>
    <input type="radio" id="fsfi-35" name="radio-depression-1" class="d-input-none" value="2">
    <label for="fsfi-35" class="chip chip-action chip-sm chip-choice">Rarement (&lt; 1/2)</label>
    <input type="radio" id="fsfi-36" name="radio-depression-1" class="d-input-none" value="1">
    <label for="fsfi-36" class="chip chip-action chip-sm chip-choice">Presque jamais ou jamais</label>
  </fieldset>
  <fieldset>
    <legend>4. Quel a été votre niveau (degré) d’excitation sexuelle pendant une activité sexuelle ou un rapport sexuel ?</legend>
    <input type="radio" id="fsfi-41" name="radio-depression-2" class="d-input-none" value="0" required>
    <label for="fsfi-41" class="chip chip-action chip-sm chip-choice">Aucune activité sexuelle</label>
    <input type="radio" id="fsfi-42" name="radio-depression-2" class="d-input-none" value="5">
    <label for="fsfi-42" class="chip chip-action chip-sm chip-choice">Très élevé</label>
    <input type="radio" id="fsfi-43" name="radio-depression-2" class="d-input-none" value="4">
    <label for="fsfi-43" class="chip chip-action chip-sm chip-choice">Élevé</label>
    <input type="radio" id="fsfi-44" name="radio-depression-2" class="d-input-none" value="3">
    <label for="fsfi-44" class="chip chip-action chip-sm chip-choice">Moyen</label>
    <input type="radio" id="fsfi-54" name="radio-depression-2" class="d-input-none" value="2">
    <label for="fsfi-54" class="chip chip-action chip-sm chip-choice">Faible</label>
    <input type="radio" id="fsfi-64" name="radio-depression-2" class="d-input-none" value="1">
    <label for="fsfi-64" class="chip chip-action chip-sm chip-choice">Très faible ou inexistant</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score FSFI</p>
      <output class="score-output" id="fsfiScore">0</output>
    </div>
    <p id="fsfiText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="" rel="external nofollow noopener"></a></p>
</blockquote>
{{ $script := `
  // Score FSFI by djibe
  window.addEventListener( 'load', event => {
    const scorefsfi = document.getElementById('fsfiScore')
    const textfsfi = document.getElementById('fsfiText');
    [...document.querySelectorAll('#score-fsfi input[type="radio"]')].forEach((elem) => { elem.addEventListener('click', () => calcfsfi() ) })
    const calcfsfi = () => {
      let score = 0
      let anxietyText = ''
      let depressionText = ''
      const checkedElems = document.querySelectorAll('#score-fsfi input[type="radio"]:checked')
      if (checkedElems.length === 4) {
        const checkedAnxiety1 = document.querySelector('#score-fsfi input[name="radio-anxiety-1"]:checked')
        const checkedAnxiety2 = document.querySelector('#score-fsfi input[name="radio-anxiety-2"]:checked')
        let anxietyValue = parseInt(checkedAnxiety1.value, 10) + parseInt(checkedAnxiety2.value, 10)
        if (anxietyValue >= 3) { anxietyText = '<br>Anxiété probable'}
        const checkedDepression1 = document.querySelector('#score-fsfi input[name="radio-depression-1"]:checked')
        const checkedDepression2 = document.querySelector('#score-fsfi input[name="radio-depression-2"]:checked')
        let depressionValue = parseInt(checkedDepression1.value, 10) + parseInt(checkedDepression2.value, 10)
        if (depressionValue >= 3) { depressionText = '<br>Dépression probable'}
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scorefsfi.innerHTML = score
        if (score <= 2) { textfsfi.innerHTML = "Pas de détresse psychologique" }
        else if (score >= 3 && score <= 5) { textfsfi.innerHTML = "Détresse psychologique légère" + anxietyText + depressionText}
        else if (score >= 6 && score <= 8) { textfsfi.innerHTML = "<strong>Détresse psychologique modérée</strong>" + anxietyText + depressionText }
        else if (score >= 9 && score <= 12) { textfsfi.innerHTML = "<strong>Détresse psychologique grave</strong>" + anxietyText + depressionText}
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>