<div id="score-gad7">
  <p>Le score <dfn><abbr title="Generalized Anxiety Disorder 7-item" lang="en">GAD-7</abbr></dfn> (<span lang="en">Generalized Anxiety Disorder-7</span>) pour l’évaluation d’un adulte présentant des symptômes anxieux.</p>
  <p>Au cours des 2 dernières semaines, à quelle fréquence avez-vous été gêné(e) par les problèmes suivants ?</p>
  <fieldset>
    <legend>1. Sentiment de nervosité, d’anxiété ou de tension</legend>
    <input type="radio" id="gad7-11" name="radio-gad7-1" class="d-input-none" value="0" required>
    <label for="gad7-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-12" name="radio-gad7-1" class="d-input-none" value="1">
    <label for="gad7-12" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-13" name="radio-gad7-1" class="d-input-none" value="2">
    <label for="gad7-13" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-14" name="radio-gad7-1" class="d-input-none" value="3">
    <label for="gad7-14" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>2. Incapable d’arrêter de vous inquiéter ou de contrôler vos inquiétudes</legend>
    <input type="radio" id="gad7-21" name="radio-gad7-2" class="d-input-none" value="0" required>
    <label for="gad7-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-22" name="radio-gad7-2" class="d-input-none" value="1">
    <label for="gad7-22" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-23" name="radio-gad7-2" class="d-input-none" value="2">
    <label for="gad7-23" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-24" name="radio-gad7-2" class="d-input-none" value="3">
    <label for="gad7-24" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>3. Inquiétudes excessives à propos de tout et de rien</legend>
    <input type="radio" id="gad7-31" name="radio-gad7-3" class="d-input-none" value="0" required>
    <label for="gad7-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-32" name="radio-gad7-3" class="d-input-none" value="1">
    <label for="gad7-32" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-33" name="radio-gad7-3" class="d-input-none" value="2">
    <label for="gad7-33" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-34" name="radio-gad7-3" class="d-input-none" value="3">
    <label for="gad7-34" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>4. Difficulté à vous détendre</legend>
    <input type="radio" id="gad7-41" name="radio-gad7-4" class="d-input-none" value="0" required>
    <label for="gad7-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-42" name="radio-gad7-4" class="d-input-none" value="1">
    <label for="gad7-42" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-43" name="radio-gad7-4" class="d-input-none" value="2">
    <label for="gad7-43" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-44" name="radio-gad7-4" class="d-input-none" value="3">
    <label for="gad7-44" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>5. Agitation telle qu’il est difficile de rester tranquille</legend>
    <input type="radio" id="gad7-51" name="radio-gad7-5" class="d-input-none" value="0" required>
    <label for="gad7-51" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-52" name="radio-gad7-5" class="d-input-none" value="1">
    <label for="gad7-52" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-53" name="radio-gad7-5" class="d-input-none" value="2">
    <label for="gad7-53" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-54" name="radio-gad7-5" class="d-input-none" value="3">
    <label for="gad7-54" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>6. Devenir facilement contrarié(e) ou irritable</legend>
    <input type="radio" id="gad7-61" name="radio-gad7-6" class="d-input-none" value="0" required>
    <label for="gad7-61" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-62" name="radio-gad7-6" class="d-input-none" value="1">
    <label for="gad7-62" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-63" name="radio-gad7-6" class="d-input-none" value="2">
    <label for="gad7-63" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-64" name="radio-gad7-6" class="d-input-none" value="3">
    <label for="gad7-64" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>7. Avoir peur que quelque chose d’épouvantable puisse arriver</legend>
    <input type="radio" id="gad7-71" name="radio-gad7-7" class="d-input-none" value="0" required>
    <label for="gad7-71" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="gad7-72" name="radio-gad7-7" class="d-input-none" value="1">
    <label for="gad7-72" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="gad7-73" name="radio-gad7-7" class="d-input-none" value="2">
    <label for="gad7-73" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="gad7-74" name="radio-gad7-7" class="d-input-none" value="3">
    <label for="gad7-74" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score GAD-7</p>
      <output class="score-output" id="gad7Score">0</output>
    </div>
    <p id="gad7Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p>Score ≥ 10: sensibilité de 89% et spécificité de 82% pour le diagnostic d’anxiété.</p>
  <p class="mb-0" lang="en"><a href="https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/410326" rel="external nofollow noopener">Spitzer RL et al. A brief measure for assessing generalized anxiety disorder: the GAD-7. Arch Intern Med. 2006.</a></p>
</blockquote>
{{ $script := `
  // Score GAD-7 by djibe
  window.addEventListener( 'load', event => {
    const scoregad7 = document.getElementById('gad7Score')
    const textgad7 = document.getElementById('gad7Text');
    [...document.querySelectorAll('#score-gad7 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcGad7() ) })
    const calcGad7 = () => {
      let score = 0
      const checkedElems = document.querySelectorAll('#score-gad7 input[type=\"radio\"]:checked')
      if (checkedElems.length === 7) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scoregad7.innerHTML = score
        if (score <= 4) { textgad7.innerHTML = "Absence d’anxiété" }
        else if (score >= 5 && score <= 9) { textgad7.innerHTML = "Anxiété légère<br>Patient éligible à Mon soutien psy" }
        else if (score >= 10 && score <= 14) { textgad7.innerHTML = "Anxiété modérée<br>Patient éligible à Mon soutien psy" }
        else if (score >= 15) { textgad7.innerHTML = "Anxiété sévère<br>Suivi psychiatrique" }
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>