<div id="score-gds15">
  <p>Échelle de Dépression Gériatrique <dfn><abbr lang="en" title="15-items Geriatric Depression Scale">GDS-15</abbr></dfn>
    pour l’aide au diagnostic de la dépression chez le sujet âgé non dément.</p>
  <p>Je vais vous poser quelques questions. Pourrez-vous me dire, à leur propos,
     comment vous vous sentiez au cours de la dernière semaine&nbsp;?</p>
  <fieldset class="mt-4">
    <legend>1. Globalement, êtes-vous satisfait(e) de votre vie&nbsp;?</legend>
    <input type="radio" id="gds15-11" name="radio-gds15-1" class="d-input-none" value="0" required>
    <label for="gds15-11" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-12" name="radio-gds15-1" class="d-input-none" value="1">
    <label for="gds15-12" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>2. Avez-vous abandonné de nombreuses activités ou de nombreux domaines d’intérêts&nbsp;?</legend>
    <input type="radio" id="gds15-21" name="radio-gds15-2" class="d-input-none" value="1" required>
    <label for="gds15-21" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-22" name="radio-gds15-2" class="d-input-none" value="0">
    <label for="gds15-22" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>3. Avez-vous le sentiment que votre vie est vide&nbsp;?</legend>
    <input type="radio" id="gds15-31" name="radio-gds15-3" class="d-input-none" value="1" required>
    <label for="gds15-31" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-32" name="radio-gds15-3" class="d-input-none" value="0">
    <label for="gds15-32" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>4. Vous ennuyez-vous souvent&nbsp;?</legend>
    <input type="radio" id="gds15-41" name="radio-gds15-4" class="d-input-none" value="1" required>
    <label for="gds15-41" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-42" name="radio-gds15-4" class="d-input-none" value="0">
    <label for="gds15-42" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>5. Êtes-vous de bonne humeur la plupart du temps&nbsp;?</legend>
    <input type="radio" id="gds15-51" name="radio-gds15-5" class="d-input-none" value="0" required>
    <label for="gds15-51" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-52" name="radio-gds15-5" class="d-input-none" value="1">
    <label for="gds15-52" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>6. Avez-vous peur qu’un malheur puisse vous arriver&nbsp;?</legend>
    <input type="radio" id="gds15-61" name="radio-gds15-6" class="d-input-none" value="1" required>
    <label for="gds15-61" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-62" name="radio-gds15-6" class="d-input-none" value="0">
    <label for="gds15-62" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>7. Êtes-vous heureux(se) la plupart du temps&nbsp;?</legend>
    <input type="radio" id="gds15-71" name="radio-gds15-7" class="d-input-none" value="0" required>
    <label for="gds15-71" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-72" name="radio-gds15-7" class="d-input-none" value="1">
    <label for="gds15-72" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>8. Avez-vous l’impression de n’être plus bon(ne) à rien&nbsp;?</legend>
    <input type="radio" id="gds15-81" name="radio-gds15-8" class="d-input-none" value="1" required>
    <label for="gds15-81" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-82" name="radio-gds15-8" class="d-input-none" value="0">
    <label for="gds15-82" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>9. Préférez-vous rester à la maison plutôt que de sortir et faire de nouvelles choses&nbsp;?</legend>
    <input type="radio" id="gds15-91" name="radio-gds15-9" class="d-input-none" value="1" required>
    <label for="gds15-91" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-92" name="radio-gds15-9" class="d-input-none" value="0">
    <label for="gds15-92" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>10. Avez-vous l’impression d’avoir plus de problèmes de mémoire que la plupart des gens&nbsp;?</legend>
    <input type="radio" id="gds15-101" name="radio-gds15-10" class="d-input-none" value="1" required>
    <label for="gds15-101" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-102" name="radio-gds15-10" class="d-input-none" value="0">
    <label for="gds15-102" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>11. Pensez-vous qu’il est merveilleux de vivre à notre époque&nbsp;?</legend>
    <input type="radio" id="gds15-111" name="radio-gds15-11" class="d-input-none" value="0" required>
    <label for="gds15-111" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-112" name="radio-gds15-11" class="d-input-none" value="1">
    <label for="gds15-112" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>12. Avez-vous le sentiment que votre vie actuelle n’en vaut pas la peine&nbsp;?</legend>
    <input type="radio" id="gds15-121" name="radio-gds15-12" class="d-input-none" value="1" required>
    <label for="gds15-121" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-122" name="radio-gds15-12" class="d-input-none" value="0">
    <label for="gds15-122" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>13. Vous sentez-vous plein(e) d’énergie&nbsp;?</legend>
    <input type="radio" id="gds15-131" name="radio-gds15-13" class="d-input-none" value="0" required>
    <label for="gds15-131" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-132" name="radio-gds15-13" class="d-input-none" value="1">
    <label for="gds15-132" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>14. Pensez-vous que votre situation est sans espoir&nbsp;?</legend>
    <input type="radio" id="gds15-141" name="radio-gds15-14" class="d-input-none" value="1" required>
    <label for="gds15-141" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-142" name="radio-gds15-14" class="d-input-none" value="0">
    <label for="gds15-142" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>15. Pensez-vous que la plupart des gens sont mieux lotis que vous&nbsp;?</legend>
    <input type="radio" id="gds15-151" name="radio-gds15-15" class="d-input-none" value="1" required>
    <label for="gds15-151" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="gds15-152" name="radio-gds15-15" class="d-input-none" value="0">
    <label for="gds15-152" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">GDS-15</p>
      <output class="score-output" id="gds15Score">0</output>
    </div>
    <p id="gds15Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote lang="en">
  <p>
    <a href="https://www.sciencedirect.com/science/article/abs/pii/0022395682900334" rel="external nofollow noopener">
      Yesavage JA, Brink TL, Rose TL, et al. Development and validation of a geriatric depression screening scale: a preliminary report. J Psychiatr Res. 1982;17(1):37-49. doi:10.1016/0022-3956(82)90033-4</a> et
      Jerome A. Yesavage MD & Javaid I. Sheikh MD (1986) 9/Geriatric Depression Scale (GDS), Clinical Gerontologist, 5:1-2, 165-173, DOI: 10.1300/J018v05n01_09
  </p>
</blockquote>
{{ $script := `
  // Score GDS-15 by djibe
  window.addEventListener( 'load', event => {
    const scoregds15 = document.getElementById('gds15Score')
    const textgds15 = document.getElementById('gds15Text');
    [...document.querySelectorAll('#score-gds15 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcgds15() ) })
    const calcgds15 = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-gds15 input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 15) {
          scoregds15.innerHTML = score
          if (score <= 3) { textgds15.innerHTML = "Humeur normale" }
          else if (score >= 4 && score <= 10) { textgds15.innerHTML = "Dépression légère" }
          else if (score >= 11) { textgds15.innerHTML = "Dépression sévère" }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>