<div class="mt-4" id="score-had">
  <p>Auto-questionnaire de l’échelle <dfn><abbr title="Hospital Anxiety and Depression Scale" lang="en">HADS</abbr></dfn> (<span lang="en">Hospital Anxiety and Depression Scale</span>) pour le dépistage des
    troubles anxieux et dépressifs en 14 questions.</p>
  <p>Intérêt notamment en cas de comorbidités somatiques. Elle n'est pas la plus appropriée pour évaluer
    la sévérité de l’épisode dépressif.</p>
  <fieldset>
    <legend>1. Je me sens tendu(e) ou énervé(e)</legend>
    <input type="radio" id="had-11" name="radio-had-1" class="anxiete d-input-none" value="3" required>
    <label for="had-11" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="had-12" name="radio-had-1" class="anxiete d-input-none" value="2">
    <label for="had-12" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="had-13" name="radio-had-1" class="anxiete d-input-none" value="1">
    <label for="had-13" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="had-14" name="radio-had-1" class="anxiete d-input-none" value="0">
    <label for="had-14" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>2. Je prends plaisir aux mêmes choses qu’autrefois</legend>
    <input type="radio" id="had-21" name="radio-had-2" class="depression d-input-none" value="0" required>
    <label for="had-21" class="chip chip-action chip-sm chip-choice">Oui, tout autant</label>
    <input type="radio" id="had-22" name="radio-had-2" class="depression d-input-none" value="1">
    <label for="had-22" class="chip chip-action chip-sm chip-choice">Pas autant</label>
    <input type="radio" id="had-23" name="radio-had-2" class="depression d-input-none" value="2">
    <label for="had-23" class="chip chip-action chip-sm chip-choice">Un peu seulement</label>
    <input type="radio" id="had-24" name="radio-had-2" class="depression d-input-none" value="3">
    <label for="had-24" class="chip chip-action chip-sm chip-choice">Presque plus</label>
  </fieldset>
  <fieldset>
    <legend>3. J’ai une sensation de peur comme si quelque chose d’horrible allait m’arriver</legend>
    <input type="radio" id="had-31" name="radio-had-3" class="anxiete d-input-none" value="3" required>
    <label for="had-31" class="chip chip-action chip-sm chip-choice">Oui, très nettement</label>
    <input type="radio" id="had-32" name="radio-had-3" class="anxiete d-input-none" value="2">
    <label for="had-32" class="chip chip-action chip-sm chip-choice">Oui, mais ce n’est pas trop grave</label>
    <input type="radio" id="had-33" name="radio-had-3" class="anxiete d-input-none" value="1">
    <label for="had-33" class="chip chip-action chip-sm chip-choice">Un peu, mais cela ne m’inquiète pas</label>
    <input type="radio" id="had-34" name="radio-had-3" class="anxiete d-input-none" value="0">
    <label for="had-34" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
  </fieldset>
  <fieldset>
    <legend>4. Je ris facilement et vois le bon côté des choses</legend>
    <input type="radio" id="had-41" name="radio-had-4" class="depression d-input-none" value="0" required>
    <label for="had-41" class="chip chip-action chip-sm chip-choice">Autant que par le passé</label>
    <input type="radio" id="had-42" name="radio-had-4" class="depression d-input-none" value="1">
    <label for="had-42" class="chip chip-action chip-sm chip-choice">Plus autant qu’avant</label>
    <input type="radio" id="had-43" name="radio-had-4" class="depression d-input-none" value="2">
    <label for="had-43" class="chip chip-action chip-sm chip-choice">Vraiment moins qu’avant</label>
    <input type="radio" id="had-44" name="radio-had-4" class="depression d-input-none" value="3">
    <label for="had-44" class="chip chip-action chip-sm chip-choice">Plus du tout</label>
  </fieldset>
  <fieldset>
    <legend>5. Je me fais du souci</legend>
    <input type="radio" id="had-51" name="radio-had-5" class="anxiete d-input-none" value="3" required>
    <label for="had-51" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="had-52" name="radio-had-5" class="anxiete d-input-none" value="2">
    <label for="had-52" class="chip chip-action chip-sm chip-choice">Assez souvent</label>
    <input type="radio" id="had-53" name="radio-had-5" class="anxiete d-input-none" value="1">
    <label for="had-53" class="chip chip-action chip-sm chip-choice">Occasionnellement</label>
    <input type="radio" id="had-54" name="radio-had-5" class="anxiete d-input-none" value="0">
    <label for="had-54" class="chip chip-action chip-sm chip-choice">Très occasionnellement</label>
  </fieldset>
  <fieldset>
    <legend>6. Je suis de bonne humeur</legend>
    <input type="radio" id="had-61" name="radio-had-6" class="depression d-input-none" value="3" required>
    <label for="had-61" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="had-62" name="radio-had-6" class="depression d-input-none" value="2">
    <label for="had-62" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="had-63" name="radio-had-6" class="depression d-input-none" value="1">
    <label for="had-63" class="chip chip-action chip-sm chip-choice">Assez souvent</label>
    <input type="radio" id="had-64" name="radio-had-6" class="depression d-input-none" value="0">
    <label for="had-64" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
  </fieldset>
  <fieldset>
    <legend>7. Je peux rester tranquillement assis(e) à ne rien faire et me sentir décontracté(e)</legend>
    <input type="radio" id="had-71" name="radio-had-7" class="anxiete d-input-none" value="0">
    <label for="had-71" class="chip chip-action chip-sm chip-choice">Oui quoi qu’il arrive</label>
    <input type="radio" id="had-72" name="radio-had-7" class="anxiete d-input-none" value="1">
    <label for="had-72" class="chip chip-action chip-sm chip-choice">Oui en général</label>
    <input type="radio" id="had-73" name="radio-had-7" class="anxiete d-input-none" value="2">
    <label for="had-73" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="had-74" name="radio-had-7" class="anxiete d-input-none" value="3">
    <label for="had-74" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>8. J’ai l’impression de fonctionner au ralenti</legend>
    <input type="radio" id="had-81" name="radio-had-8" class="depression d-input-none" value="3" required>
    <label for="had-81" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
    <input type="radio" id="had-82" name="radio-had-8" class="depression d-input-none" value="2">
    <label for="had-82" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="had-83" name="radio-had-8" class="depression d-input-none" value="1">
    <label for="had-83" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="had-84" name="radio-had-8" class="depression d-input-none" value="0">
    <label for="had-84" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>9. J’éprouve des sensations de peur et j’ai l’estomac noué</legend>
    <input type="radio" id="had-91" name="radio-had-9" class="anxiete d-input-none" value="0" required>
    <label for="had-91" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="had-92" name="radio-had-9" class="anxiete d-input-none" value="1">
    <label for="had-92" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="had-93" name="radio-had-9" class="anxiete d-input-none" value="2">
    <label for="had-93" class="chip chip-action chip-sm chip-choice">Assez souvent</label>
    <input type="radio" id="had-94" name="radio-had-9" class="anxiete d-input-none" value="3">
    <label for="had-94" class="chip chip-action chip-sm chip-choice">Très souvent</label>
  </fieldset>
  <fieldset>
    <legend>10. Je ne m’intéresse plus à mon apparence</legend>
    <input type="radio" id="had-101" name="radio-had-10" class="depression d-input-none" value="3" required>
    <label for="had-101" class="chip chip-action chip-sm chip-choice">Plus du tout</label>
    <input type="radio" id="had-102" name="radio-had-10" class="depression d-input-none" value="2">
    <label for="had-102" class="chip chip-action chip-sm chip-choice">Je n’y accorde pas autant d’attention que je devrais</label>
    <input type="radio" id="had-103" name="radio-had-10" class="depression d-input-none" value="1">
    <label for="had-103" class="chip chip-action chip-sm chip-choice">Il se peut que je n’y fasse plus autant attention</label>
    <input type="radio" id="had-104" name="radio-had-10" class="depression d-input-none" value="0">
    <label for="had-104" class="chip chip-action chip-sm chip-choice">J’y prête autant attention que par le passé</label>
  </fieldset>
  <fieldset>
    <legend>11. J’ai la bougeotte et n’arrive pas à me tenir en place</legend>
    <input type="radio" id="had-111" name="radio-had-11" class="anxiete d-input-none" value="3" required>
    <label for="had-111" class="chip chip-action chip-sm chip-choice">Oui, c’est tout à fait le cas</label>
    <input type="radio" id="had-112" name="radio-had-11" class="anxiete d-input-none" value="2">
    <label for="had-112" class="chip chip-action chip-sm chip-choice">Un peu</label>
    <input type="radio" id="had-113" name="radio-had-11" class="anxiete d-input-none" value="1">
    <label for="had-113" class="chip chip-action chip-sm chip-choice">Pas tellement</label>
    <input type="radio" id="had-114" name="radio-had-11" class="anxiete d-input-none" value="0">
    <label for="had-114" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
  </fieldset>
  <fieldset>
    <legend>12. Je me réjouis d’avance à l’idée de faire certaines choses</legend>
    <input type="radio" id="had-121" name="radio-had-12" class="depression d-input-none" value="0" required>
    <label for="had-121" class="chip chip-action chip-sm chip-choice">Autant qu’avant</label>
    <input type="radio" id="had-122" name="radio-had-12" class="depression d-input-none" value="1">
    <label for="had-122" class="chip chip-action chip-sm chip-choice">Un peu moins qu’avant</label>
    <input type="radio" id="had-123" name="radio-had-12" class="depression d-input-none" value="2">
    <label for="had-123" class="chip chip-action chip-sm chip-choice">Bien moins qu’avant</label>
    <input type="radio" id="had-124" name="radio-had-12" class="depression d-input-none" value="3">
    <label for="had-124" class="chip chip-action chip-sm chip-choice">Presque jamais</label>
  </fieldset>
  <fieldset>
    <legend>13. J’éprouve des sensations soudaines de panique</legend>
    <input type="radio" id="had-131" name="radio-had-13" class="anxiete d-input-none" value="3" required>
    <label for="had-131" class="chip chip-action chip-sm chip-choice">Vraiment très souvent</label>
    <input type="radio" id="had-132" name="radio-had-13" class="anxiete d-input-none" value="2">
    <label for="had-132" class="chip chip-action chip-sm chip-choice">Assez souvent</label>
    <input type="radio" id="had-133" name="radio-had-13" class="anxiete d-input-none" value="1">
    <label for="had-133" class="chip chip-action chip-sm chip-choice">Pas très souvent</label>
    <input type="radio" id="had-134" name="radio-had-13" class="anxiete d-input-none" value="0">
    <label for="had-134" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>14. Je peux prendre plaisir à un bon livre ou à une bonne émission de radio ou de télévision</legend>
    <input type="radio" id="had-141" name="radio-had-14" class="depression d-input-none" value="0" required>
    <label for="had-141" class="chip chip-action chip-sm chip-choice">Souvent</label>
    <input type="radio" id="had-142" name="radio-had-14" class="depression d-input-none" value="1">
    <label for="had-142" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="had-143" name="radio-had-14" class="depression d-input-none" value="2">
    <label for="had-143" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="had-144" name="radio-had-14" class="depression d-input-none" value="3">
    <label for="had-144" class="chip chip-action chip-sm chip-choice">Très rarement</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score HADS</p>
      <output class="score-output" id="hadScore">0</output>
    </div>
    <p id="hadText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://pubmed.ncbi.nlm.nih.gov/6880820/" rel="external nofollow noopener">Zigmond AS, Snaith RP. The hospital anxiety and depression scale. Acta Psychiatr Scand. 1983;67(6):361-370.</a> et
    <a href="https://www.has-sante.fr/upload/docs/application/pdf/2014-11/outil__echelle_had.pdf" rel="external nofollow noopener">traduction française JF Lépine</a></p>
</blockquote>
{{ $script := `
  // Score HADS FR by djibe
  window.addEventListener( 'load', event => {
    const scoreHad = document.getElementById('hadScore')
    const textHad = document.getElementById('hadText');
    [...document.querySelectorAll('#score-had input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcHad() ) })
    const calcHad = () => {
      let scoreAnxiete = 0
      let scoreDepression = 0
      const anxieteElems = document.querySelectorAll('#score-had .anxiete:checked')
      const depressionElems = document.querySelectorAll('#score-had .depression:checked')
      if (anxieteElems.length + depressionElems.length === 14) {
        anxieteElems.forEach(anxieteElem => { scoreAnxiete += parseInt(anxieteElem.value, 10) })
        depressionElems.forEach(depressionElem => { scoreDepression += parseInt(depressionElem.value, 10) })
        scoreHad.innerHTML = scoreAnxiete + scoreDepression
        textHad.innerHTML = 'Anxiété: ' + hadExplain(scoreAnxiete) + '<br>Dépression: ' + hadExplain(scoreDepression)
      }
    }
    const hadExplain = (score) => {
      let explain = '';
      if (score <= 7) {
        explain = 'absence (' + score + ' pts)'
      } else if (score >= 8 && score <= 10) {
        explain = 'doute (' + score + ' pts)'
      } else if (score >= 11) {
        explain = 'certaine (' + score + ' pts)'
      }
      return explain;
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>