<div class="card-body" id="score-has-bled">
  <p>Évaluation du risque hémorragique sous anticoagulant recommandée par la <dfn><abbr title="Société Européenne de Cardiologie">ESC</abbr></dfn> 2020. Il doit être réévalué régulièrement chez les patients anticoagulés.</p>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-1" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-1">Hypertension artérielle non contrôlée</label>
    <p class="typography-caption text-black-secondary">Systolique &gt; 160 mmHg.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-2" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-2">Dysfonction rénale</label>
    <p class="typography-caption text-black-secondary">Dialyse, greffe, créatininémie &gt; 200 µmol/L.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-2bis" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-2bis">Dysfonction hépatique</label>
    <p class="typography-caption text-black-secondary">Cirrhose, bilirubine &gt; 2N, ASAT/ALAT/GGT &gt; 3N.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-3" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-3">Antécédent d'AVC</label>
    <p class="typography-caption text-black-secondary">Ischémique ou hémorragique.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-4" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-4">Antécédent hémorragique ou prédisposition</label>
    <p class="typography-caption text-black-secondary">Hémorragie majeure (ex. AVC hémorragique), anémie ou thrombopénie sévère.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-5" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-5">INR fluctuant</label>
    <p class="typography-caption text-black-secondary">Traitement par AVK avec temps dans la cible &lt; 60%.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-6" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-6">Âge &gt; 65 ans ou fragilité</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-7" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-7">Traitement à risque</label>
    <p class="typography-caption text-black-secondary">Antiplaquettaire ou AINS.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="bled-8" class="custom-control-input" value="1">
    <label class="custom-control-label" for="bled-8">Alcool</label>
    <p class="typography-caption text-black-secondary">&gt; 11 verres/semaine (= 8 unités US).</p>
  </div>
</div>
<div class="alert bg-light d-flex mt-md-4">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">HAS-BLED</p>
    <output class="score-output" id="bledScore">0</output>
  </div>
  <p id="bledText" class="lead m-0">Risque hémorragique <strong>faible</strong></p>
</div>
<blockquote class="blockquote">
  <p lang="en"><a href="https://journal.chestnet.org/article/S0012-3692(10)60585-5/fulltext" rel="external nofollow noopener">Pisters R et al. A novel user-friendly score (HAS-BLED) to assess 1-year risk of major bleeding in patients with atrial fibrillation: the Euro Heart Survey. Chest. 2010;138(5):1093-1100.</a></p>
</blockquote>
{{ $script := `
  // Score HAS-BLED by djibe
  window.addEventListener( 'load', event => {
    const scoreBled = document.getElementById('bledScore')
    const textBled = document.getElementById('bledText');
    var bledElems = document.querySelectorAll('#score-has-bled input');
    bledElems.forEach((elem) => { elem.addEventListener('change', () => calcBled() ) })
    const calcBled = () => {
      let score = 0
      bledElems.forEach(bledElem => {
        if (bledElem.checked) {
          score += parseInt(bledElem.value, 10)
          scoreBled.innerHTML = score
          if (score < 3) {
            textBled.innerHTML = 'Risque hémorragique <strong>faible</strong>'
          } else if (score >= 3) {
            textBled.innerHTML = 'Risque hémorragique <strong>élevé</strong>'
          }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>