<p class="mt-4"><span class="font-weight-bold">NB.</span> Un homme a d’emblée un risque non faible de récidive <span class="text-muted">(7-8% de risque annuel)</span>.</p>
<div class="pt-3">
  <div class="form-group" id="score-herdoo2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-1" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-1">Symptômes du syndrome post-thrombotique</label>
      <p class="typography-caption text-black-secondary">Hyperpigmentation, œdème ou rougeur de l’une des jambes.</p>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-2" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-2">D-dimères ≥ 250</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-3" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-3">IMC ≥ 30 kg/m²</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-4" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-4">Âge ≥ 65 ans</label>
    </div>
  </div>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score HERDOO2</p>
      <output class="score-output" id="herdoo2Score">0</output>
    </div>
    <p id="herdoo2Text" class="lead m-auto">Risque de récidive <strong>faible</strong></p>
  </div>
  <blockquote class="blockquote">
    <p lang="en">
      <a href="https://pmc.ncbi.nlm.nih.gov/articles/pmid/18725614/" rel="external nofollow noopener">Rodger MA, Kahn SR, Wells PS, et al. Identifying unprovoked thromboembolism patients at low risk for recurrence who can discontinue anticoagulant therapy. CMAJ. 2008;179(5):417-426. doi:10.1503/cmaj.080493</a>
      et <a href="https://pmc.ncbi.nlm.nih.gov/articles/pmid/28314711/" rel="external nofollow noopener">Rodger MA, Le Gal G, Anderson DR, et al. Validating the HERDOO2 rule to guide treatment duration for women with unprovoked venous thrombosis: multinational prospective cohort management study. BMJ. 2017;356:j1065. Published 2017 Mar 17. doi:10.1136/bmj.j1065</a>
    </p>
  </blockquote>
</div>
{{ $script := `
  // Score HERDOO2 by djibe
  window.addEventListener( 'load', event => {
    const scoreHerdoo2 = document.getElementById('herdoo2Score')
    const textHerdoo2 = document.getElementById('herdoo2Text');
    [...document.querySelectorAll('#score-herdoo2 input[type=\"checkbox\"]')].forEach((elem) => { elem.addEventListener('click', () => calcHerdoo2() ) })
    const calcHerdoo2 = () => {
      let score = 0
      const herdoo2ElemsChecked = document.querySelectorAll('#score-herdoo2 input[type=\"checkbox\"]:checked')
      herdoo2ElemsChecked.forEach(herdoo2ElemChecked => {
        score += parseInt(herdoo2ElemChecked.value, 10)
        scoreHerdoo2.innerHTML = score
        if (score <= 1) {
          textHerdoo2.innerHTML = 'Risque de récidive <strong>faible</strong>'
        } else if (score >= 2) {
          textHerdoo2.innerHTML = 'Risque de récidive <strong>non faible</strong>'
        }
      })
      if (herdoo2ElemsChecked.length === 0) {
        scoreHerdoo2.innerHTML = 0
        textHerdoo2.innerHTML = 'Risque de récidive <strong>faible</strong>'
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>