<form class="pt-3">
  <div class="form-group" id="score-herdoo2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-1" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-1">Symptômes du syndrome post-thrombotique</label>
      <p class="typography-caption text-black-secondary">Hyperpigmentation, œdème ou rougeur de l'une des jambes.</p>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-2" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-2">D-dimères &ge; 250</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-3" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-3">IMC &ge; 30 kg/m²</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" id="herdoo2-4" class="custom-control-input" value="1">
      <label class="custom-control-label" for="herdoo2-4">Âge &ge; 65 ans</label>
    </div>
    <p class="mt-4"><b>NB.</b> Un homme a d'emblée un risque non faible de récidive <span class="text-muted">(7-8% de risque annuel)</span>.</p>
  </div>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score HERDOO2</p>
      <output class="score-output" id="herdoo2Score">0</output>
    </div>
    <p id="herdoo2Text" class="lead m-auto">Risque de récidive <b>faible</b></p>
  </div>
</form>
{{ $script := `
  // Score HERDOO2 by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreHerdoo2 = document.getElementById('herdoo2Score')
    const textHerdoo2 = document.getElementById('herdoo2Text');
    [...document.querySelectorAll('#score-herdoo2 input[type=\"checkbox\"]')].forEach((herdoo2Elem) => { herdoo2Elem.addEventListener('click', () => {
      herdoo2()
    }) })
    const herdoo2 = () => {
      let score = 0
      const herdoo2ElemsChecked = document.querySelectorAll('#score-herdoo2 input[type=\"checkbox\"]:checked')
      herdoo2ElemsChecked.forEach(herdoo2ElemChecked => {
        score += parseInt(herdoo2ElemChecked.value, 10)
        scoreHerdoo2.innerHTML = score
        if (score <= 1) {
          textHerdoo2.innerHTML = 'Risque de récidive <b>faible</b>'
        } else if (score >= 2) {
          textHerdoo2.innerHTML = 'Risque de récidive <b>non faible</b>'
        }
      })
      if (herdoo2ElemsChecked.length === 0) {
        scoreHerdoo2.innerHTML = 0
        textHerdoo2.innerHTML = 'Risque de récidive <b>faible</b>'
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>