<div id="score-hhies">
  <p>Questionnaire <dfn><abbr title="Hearing handicap inventory for the elderly - screening">HHIE-S</abbr></dfn> pour le repérage de la presbyacousie
    à partir de 60 ans.</p>
  <fieldset>
    <legend>1. Vous sentez-vous mal à l’aise à cause d’un problème d’audition lorsque vous rencontrez de nouvelles personnes ?</legend>
    <input type="radio" id="hhies-11" name="radio-hhies-1" class="d-input-none" value="4" required>
    <label for="hhies-11" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-12" name="radio-hhies-1" class="d-input-none" value="2">
    <label for="hhies-12" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-13" name="radio-hhies-1" class="d-input-none" value="0">
    <label for="hhies-13" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>2. Vous sentez-vous frustré(e) par un problème d’audition lorsque vous parlez aux membres de votre famille  ?</legend>
    <input type="radio" id="hhies-21" name="radio-hhies-2" class="d-input-none" value="4" required>
    <label for="hhies-21" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-22" name="radio-hhies-2" class="d-input-none" value="2">
    <label for="hhies-22" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-23" name="radio-hhies-2" class="d-input-none" value="0">
    <label for="hhies-23" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>3. Avez-vous des difficultés pour entendre quand quelqu’un parle à voix basse ?</legend>
    <input type="radio" id="hhies-31" name="radio-hhies-3" class="d-input-none" value="4" required>
    <label for="hhies-31" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-32" name="radio-hhies-3" class="d-input-none" value="2">
    <label for="hhies-32" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-33" name="radio-hhies-3" class="d-input-none" value="0">
    <label for="hhies-33" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>4. Vous sentez-vous handicapé(e) par un problème d’audition ?</legend>
    <input type="radio" id="hhies-41" name="radio-hhies-4" class="d-input-none" value="4" required>
    <label for="hhies-41" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-42" name="radio-hhies-4" class="d-input-none" value="2">
    <label for="hhies-42" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-43" name="radio-hhies-4" class="d-input-none" value="0">
    <label for="hhies-43" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>5. Est-ce qu’un problème d’audition vous met en difficulté lorsque vous rendez visite à des amis,
      parents ou voisins ?</legend>
    <input type="radio" id="hhies-51" name="radio-hhies-5" class="d-input-none" value="4" required>
    <label for="hhies-51" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-52" name="radio-hhies-5" class="d-input-none" value="2">
    <label for="hhies-52" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-53" name="radio-hhies-5" class="d-input-none" value="0">
    <label for="hhies-53" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>6. Assistez-vous moins souvent que vous le voudriez à certains évènements
      (spectacles, concerts, cérémonies religieuses) à cause d’un problème d’audition ?</legend>
    <input type="radio" id="hhies-61" name="radio-hhies-6" class="d-input-none" value="4" required>
    <label for="hhies-61" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-62" name="radio-hhies-6" class="d-input-none" value="2">
    <label for="hhies-62" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-63" name="radio-hhies-6" class="d-input-none" value="0">
    <label for="hhies-63" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>7. Est-ce qu’un problème d’audition est à l’origine de disputes avec les membres de votre famille ?</legend>
    <input type="radio" id="hhies-71" name="radio-hhies-7" class="d-input-none" value="4" required>
    <label for="hhies-71" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-72" name="radio-hhies-7" class="d-input-none" value="2">
    <label for="hhies-72" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-73" name="radio-hhies-7" class="d-input-none" value="0">
    <label for="hhies-73" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>8. Est-ce qu’un problème d’audition vous met en difficulté pour écouter la TV ou la radio ?</legend>
    <input type="radio" id="hhies-81" name="radio-hhies-8" class="d-input-none" value="4" required>
    <label for="hhies-81" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-82" name="radio-hhies-8" class="d-input-none" value="2">
    <label for="hhies-82" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-83" name="radio-hhies-8" class="d-input-none" value="0">
    <label for="hhies-83" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>9. Avez-vous l’impression qu’une quelconque difficulté d’audition limite ou gêne votre vie personnelle ou sociale ?</legend>
    <input type="radio" id="hhies-91" name="radio-hhies-9" class="d-input-none" value="4" required>
    <label for="hhies-91" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-92" name="radio-hhies-9" class="d-input-none" value="2">
    <label for="hhies-92" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-93" name="radio-hhies-9" class="d-input-none" value="0">
    <label for="hhies-93" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset>
    <legend>10. Est-ce qu’un problème d’audition vous met en difficulté lorsque vous êtes au restaurant avec des parents ou des amis ?</legend>
    <input type="radio" id="hhies-101" name="radio-hhies-10" class="d-input-none" value="4" required>
    <label for="hhies-101" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="hhies-102" name="radio-hhies-10" class="d-input-none" value="2">
    <label for="hhies-102" class="chip chip-action chip-sm chip-choice">Parfois</label>
    <input type="radio" id="hhies-103" name="radio-hhies-10" class="d-input-none" value="0">
    <label for="hhies-103" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">HHIE-S</p>
      <output class="score-output" id="hhiesScore">0</output>
    </div>
    <p id="hhiesText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote>
  <p>
    <a href="https://pubmed.ncbi.nlm.nih.gov/3169401/" rel="external nofollow noopener">Lichtenstein MJ, Bess FH, Logan SA. Diagnostic performance of the hearing handicap inventory for the elderly (screening version) against differing definitions of hearing loss. Ear Hear. 1988 Aug;9(4):208-11. doi: 10.1097/00003446-198808000-00006. PMID: 3169401.</a>
    et <a href="https://dumas.ccsd.cnrs.fr/dumas-03019986" rel="external nofollow noopener">Duchêne J. Validation et évaluation de la version française du
      questionnaire de dépistage du handicap auditif HHIE-S (Hearing Handicap Inventory for the Elderly-Screening)
      chez l’adulte de plus de 60 ans. Sciences du Vivant [q-bio]. 2020. dumas-03019986</a>
  </p>
</blockquote>
{{ $script := `
  // Score HHIE-S by djibe
  window.addEventListener( 'load', event => {
    const scorehhies = document.getElementById('hhiesScore')
    const texthhies = document.getElementById('hhiesText');
    [...document.querySelectorAll('#score-hhies input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calchhies() ) })
    const calchhies = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-hhies input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 10) {
          scorehhies.innerHTML = score
          if (score <= 8) { texthhies.innerHTML = 'Pas de déficience auditive' }
          else if (score >= 10 && score <= 16) { texthhies.innerHTML = 'Proposer un bilan auditif<br>Risque de déficience: 74,5 %<br>61 % de risque qu’il soit appareillable' }
          else if (score >= 18) { texthhies.innerHTML = 'Proposer une consultation ORL sans délai<br>Risque de déficience: 94 %<br>88 % de risque qu’il soit appareillable' }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>