<div class="mt-4" id="score-hit6">
  <p>Le questionnaire <dfn><abbr title="Headache Impact Test" lang="en">HIT-6™</abbr></dfn> (<span lang="en">Headache Impact Test 6</span>) a été conçu pour vous aider à décrire et à exprimer
    ce que vous ressentez et ce que vous ne pouvez pas faire à cause de vos maux de tête.</p>
  <fieldset>
    <legend>1. Lorsque vous avez des maux de tête, la douleur est-elle intense&nbsp;?</legend>
    <input type="radio" id="hit6-11" name="radio-hit6-1" class="d-input-none" value="6" required>
    <label for="hit6-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-12" name="radio-hit6-1" class="d-input-none" value="8">
    <label for="hit6-12" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-13" name="radio-hit6-1" class="d-input-none" value="10">
    <label for="hit6-13" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-14" name="radio-hit6-1" class="d-input-none" value="11">
    <label for="hit6-14" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-15" name="radio-hit6-1" class="d-input-none" value="13">
    <label for="hit6-15" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>2. Votre capacité à effectuer vos activités quotidiennes habituelles, y compris les tâches ménagères, le travail, les études ou les activités avec les autres, est-elle limitée à cause de vos maux de tête&nbsp;?</legend>
    <input type="radio" id="hit6-21" name="radio-hit6-2" class="d-input-none" value="6" required>
    <label for="hit6-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-22" name="radio-hit6-2" class="d-input-none" value="8">
    <label for="hit6-22" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-23" name="radio-hit6-2" class="d-input-none" value="10">
    <label for="hit6-23" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-24" name="radio-hit6-2" class="d-input-none" value="11">
    <label for="hit6-24" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-25" name="radio-hit6-2" class="d-input-none" value="13">
    <label for="hit6-25" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>3. Lorsque vous avez des maux de tête, souhaiteriez-vous avoir la possibilité de vous allonger&nbsp;?</legend>
    <input type="radio" id="hit6-31" name="radio-hit6-3" class="d-input-none" value="6" required>
    <label for="hit6-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-32" name="radio-hit6-3" class="d-input-none" value="8">
    <label for="hit6-32" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-33" name="radio-hit6-3" class="d-input-none" value="10">
    <label for="hit6-33" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-34" name="radio-hit6-3" class="d-input-none" value="11">
    <label for="hit6-34" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-35" name="radio-hit6-3" class="d-input-none" value="13">
    <label for="hit6-35" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>4. Au cours de ces 4 dernières semaines, vous êtes vous senti(e) trop fatigué(e) pour travailler ou effectuer vos activités quotidiennes à cause de vos maux de tête&nbsp;?</legend>
    <input type="radio" id="hit6-41" name="radio-hit6-4" class="d-input-none" value="6" required>
    <label for="hit6-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-42" name="radio-hit6-4" class="d-input-none" value="8">
    <label for="hit6-42" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-43" name="radio-hit6-4" class="d-input-none" value="10">
    <label for="hit6-43" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-44" name="radio-hit6-4" class="d-input-none" value="11">
    <label for="hit6-44" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-45" name="radio-hit6-4" class="d-input-none" value="13">
    <label for="hit6-45" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>5. Au cours de ces 4 dernières semaines, avez-vous éprouvé un sentiment de "ras-le-bol" ou d'agacement à cause de vos maux de tête&nbsp;?</legend>
    <input type="radio" id="hit6-51" name="radio-hit6-5" class="d-input-none" value="6" required>
    <label for="hit6-51" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-52" name="radio-hit6-5" class="d-input-none" value="8">
    <label for="hit6-52" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-53" name="radio-hit6-5" class="d-input-none" value="10">
    <label for="hit6-53" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-54" name="radio-hit6-5" class="d-input-none" value="11">
    <label for="hit6-54" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-55" name="radio-hit6-5" class="d-input-none" value="13">
    <label for="hit6-55" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>6. Au cours de ces 4 dernières semaines, votre capacité à vous concentrer sur votre travail ou vos activités quotidiennes a-t-elle été limitée à cause de vos maux de tête&nbsp;?</legend>
    <input type="radio" id="hit6-61" name="radio-hit6-6" class="d-input-none" value="6" required>
    <label for="hit6-61" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="hit6-62" name="radio-hit6-6" class="d-input-none" value="8">
    <label for="hit6-62" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="hit6-63" name="radio-hit6-6" class="d-input-none" value="10">
    <label for="hit6-63" class="chip chip-action chip-sm chip-choice">De temps en temps</label>
    <input type="radio" id="hit6-64" name="radio-hit6-6" class="d-input-none" value="11">
    <label for="hit6-64" class="chip chip-action chip-sm chip-choice">Très souvent</label>
    <input type="radio" id="hit6-65" name="radio-hit6-6" class="d-input-none" value="13">
    <label for="hit6-65" class="chip chip-action chip-sm chip-choice">Tout le temps</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score HIT-6™</p>
      <output class="score-output" id="hit6Score">0</output>
    </div>
    <p id="hit6Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://pubmed.ncbi.nlm.nih.gov/14651414/" rel="external nofollow noopener">Bayliss MS, Dewey JE, Dunlap I, et al. A study of the feasibility of Internet administration of a computerized health survey: the headache impact test (HIT). Qual Life Res. 2003;12(8):953-961. doi:10.1023/a:1026167214355</a> et
  <a href="https://pubmed.ncbi.nlm.nih.gov/20819842/" rel="external nofollow noopener">Yang M, Rendas-Baum R, Varon SF, Kosinski M. Validation of the Headache Impact Test (HIT-6™) across episodic and chronic migraine. Cephalalgia. 2011;31(3):357-367. doi:10.1177/0333102410379890</a></p>
</blockquote>
{{ $script := `
  // Score HIT-6™ by djibe
  window.addEventListener( 'load', event => {
    const scoreHit6 = document.getElementById('hit6Score')
    const textHit6 = document.getElementById('hit6Text');
    [...document.querySelectorAll('#score-hit6 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcHit6() ) })
    const calcHit6 = () => {
      let score = 0
      const checkedElems = document.querySelectorAll('#score-hit6 input[type=\"radio\"]:checked')
      if (checkedElems.length === 6) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scoreHit6.innerHTML = score
        textHit6.innerHTML = score + ' points (min 36, max 78)<br>Un score plus élevé objective<br>un impact marqué sur la qualité de vie'
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>