
<dl>
  <dt>Grade I</dt>
  <dd>Mobilité faciale et tonus normaux</dd>
</dl>
<hr>
<dl>
  <dt>Grade II</dt>
  <dd>
    Dysfonction légère.
    <ul>
      <li>Au repos: visage symétrique et tonus normal</li>
      <li>
        Aux mouvements: légère asymétrie sans contracture avec présence
        possible de discrètes syncinésies.
      </li>
    </ul>
  </dd>
</dl>
<hr>
<dl>
  <dt>Grade III</dt>
  <dd>
    Dysfonction modérée.
    <ul>
      <li>Au repos: visage symétrique et tonus normal</li>
      <li>
        Aux mouvements: diminution globale de la mobilité avec asymétrie non
        défigurante, fermeture oculaire complète avec effort, spasmes et
        syncinésies modérées.
      </li>
    </ul>
  </dd>
</dl>
<hr>
<dl>
  <dt>Grade IV</dt>
  <dd>
    Dysfonction modérée à sévère.
    <ul>
      <li>Au repos: symétrie globalement conservée, tonus normal</li>
      <li>
        Aux mouvements: asymétrie importante et/ou défigurante, fermeture
        oculaire incomplète même avec effort, syncinésies ou spasmes sévères.
      </li>
    </ul>
  </dd>
</dl>
<hr>
<dl>
  <dt>Grade V</dt>
  <dd>
    Dysfonction sévère.
    <ul>
      <li>Au repos: asymétrie évidente et diminution du tonus</li>
      <li>
        Aux mouvements: mobilité à peine perceptible au niveau de l’œil et de
        la bouche.<br />À ce stade, pas de syncinésie ni spasme possible.
      </li>
    </ul>
  </dd>
</dl>
<hr>
<dl>
  <dt>Grade VI</dt>
  <dd>Paralysie faciale complète, aucun mouvement.</dd>
</dl>
<blockquote class="mt-4">
  <p>
    House JW, Brackmann DE. Facial nerve grading system. Otolaryngology Head
    Neck Surgery 1985;93:146-7.
  </p>
</blockquote>