<form class="mt-4" id="score-iief5" autocomplete="off">
  <p>Le questionnaire IIEF-5 (<span lang="en">Simplified International Index of Erectile Function</span>) pour l'évaluation d'un adulte présentant une dysfonction érectile.<br>
  Le questionnaire peut être utilisé pour une auto-évaluation.</p>
  <p>Ce questionnaire IIEF-5 permet d'évaluer votre fonction sexuelle au cours des six derniers mois.</p>
  <hr>
  <p>Au cours des 6 derniers mois:</p>
  <p class="text-black-secondary"><strong>Notice</strong><br>Rarement = beaucoup moins que la moitié du temps<br>Quelquefois = environ la moitié du temps<br>La plupart du temps = beaucoup plus que la moitié du temps</p>
  <fieldset>
    <legend>1. À quel point étiez-vous sûr de pouvoir avoir une érection et de la maintenir&nbsp;?</legend>
    <input type="radio" id="iief5-11" name="radio-iief5-1" class="d-input-none" value="1" required>
    <label for="iief5-11" class="chip chip-action chip-sm chip-choice">Pas sûr du tout</label>
    <input type="radio" id="iief5-12" name="radio-iief5-1" class="d-input-none" value="2">
    <label for="iief5-12" class="chip chip-action chip-sm chip-choice">Pas très sûr</label>
    <input type="radio" id="iief5-13" name="radio-iief5-1" class="d-input-none" value="3">
    <label for="iief5-13" class="chip chip-action chip-sm chip-choice">Moyennement sûr</label>
    <input type="radio" id="iief5-14" name="radio-iief5-1" class="d-input-none" value="4">
    <label for="iief5-14" class="chip chip-action chip-sm chip-choice">Sûr</label>
    <input type="radio" id="iief5-15" name="radio-iief5-1" class="d-input-none" value="5">
    <label for="iief5-15" class="chip chip-action chip-sm chip-choice">Très sûr</label>
  </fieldset>
  <fieldset>
    <legend>2. Lorsque vous avez eu des érections à la suite de stimulations sexuelles, avec quelle fréquence votre pénis a-t-il été suffisamment rigide (dur) pour permettre la pénétration&nbsp;?</legend>
    <input type="radio" id="iief5-21" name="radio-iief5-2" class="d-input-none" value="0" required>
    <label for="iief5-21" class="chip chip-action chip-sm chip-choice">Je n'ai pas été stimulé sexuellement</label>
    <input type="radio" id="iief5-22" name="radio-iief5-2" class="d-input-none" value="1">
    <label for="iief5-22" class="chip chip-action chip-sm chip-choice">Presque jamais ou jamais</label>
    <input type="radio" id="iief5-23" name="radio-iief5-2" class="d-input-none" value="2">
    <label for="iief5-23" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="iief5-24" name="radio-iief5-2" class="d-input-none" value="3">
    <label for="iief5-24" class="chip chip-action chip-sm chip-choice">Quelquefois</label>
    <input type="radio" id="iief5-25" name="radio-iief5-2" class="d-input-none" value="4">
    <label for="iief5-25" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="iief5-26" name="radio-iief5-2" class="d-input-none" value="5">
    <label for="iief5-26" class="chip chip-action chip-sm chip-choice">Presque tout le temps ou tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>3. Lorsque vous avez essayé d'avoir des rapports sexuels, avec quelle fréquence avez-vous pu rester en érection après avoir pénétré votre partenaire&nbsp;?</legend>
    <input type="radio" id="iief5-31" name="radio-iief5-3" class="d-input-none" value="0" required>
    <label for="iief5-31" class="chip chip-action chip-sm chip-choice">Je n'ai pas essayé d'avoir de rapports sexuels</label>
    <input type="radio" id="iief5-32" name="radio-iief5-3" class="d-input-none" value="1">
    <label for="iief5-32" class="chip chip-action chip-sm chip-choice">Presque jamais ou jamais</label>
    <input type="radio" id="iief5-33" name="radio-iief5-3" class="d-input-none" value="2">
    <label for="iief5-33" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="iief5-34" name="radio-iief5-3" class="d-input-none" value="3">
    <label for="iief5-34" class="chip chip-action chip-sm chip-choice">Quelquefois</label>
    <input type="radio" id="iief5-35" name="radio-iief5-3" class="d-input-none" value="4">
    <label for="iief5-35" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="iief5-36" name="radio-iief5-3" class="d-input-none" value="5">
    <label for="iief5-36" class="chip chip-action chip-sm chip-choice">Presque tout le temps ou tout le temps</label>
  </fieldset>
  <fieldset>
    <legend>4. Pendant vos rapports sexuels, à quel point vous a-t-il été difficile de rester en érection jusqu'à la fin de ces rapports&nbsp;?</legend>
    <input type="radio" id="iief5-41" name="radio-iief5-4" class="d-input-none" value="0" required>
    <label for="iief5-41" class="chip chip-action chip-sm chip-choice">Je n'ai pas essayé d'avoir de rapports sexuels</label>
    <input type="radio" id="iief5-42" name="radio-iief5-4" class="d-input-none" value="1">
    <label for="iief5-42" class="chip chip-action chip-sm chip-choice">Extrêmement difficile</label>
    <input type="radio" id="iief5-43" name="radio-iief5-4" class="d-input-none" value="2">
    <label for="iief5-43" class="chip chip-action chip-sm chip-choice">Très difficile</label>
    <input type="radio" id="iief5-44" name="radio-iief5-4" class="d-input-none" value="3">
    <label for="iief5-44" class="chip chip-action chip-sm chip-choice">Difficile</label>
    <input type="radio" id="iief5-45" name="radio-iief5-4" class="d-input-none" value="4">
    <label for="iief5-45" class="chip chip-action chip-sm chip-choice">Un peu difficile</label>
    <input type="radio" id="iief5-46" name="radio-iief5-4" class="d-input-none" value="5">
    <label for="iief5-46" class="chip chip-action chip-sm chip-choice">Pas difficile</label>
  </fieldset>
  <fieldset>
    <legend>5. Lorsque vous avez essayé d'avoir des rapports sexuels, avec quelle fréquence en avez-vous été satisfait&nbsp;?</legend>
    <input type="radio" id="iief5-51" name="radio-iief5-5" class="d-input-none" value="0" required>
    <label for="iief5-51" class="chip chip-action chip-sm chip-choice">Je n'ai pas essayé d'avoir de rapports sexuels</label>
    <input type="radio" id="iief5-52" name="radio-iief5-5" class="d-input-none" value="1">
    <label for="iief5-52" class="chip chip-action chip-sm chip-choice">Presque jamais ou jamais</label>
    <input type="radio" id="iief5-53" name="radio-iief5-5" class="d-input-none" value="2">
    <label for="iief5-53" class="chip chip-action chip-sm chip-choice">Rarement</label>
    <input type="radio" id="iief5-54" name="radio-iief5-5" class="d-input-none" value="3">
    <label for="iief5-54" class="chip chip-action chip-sm chip-choice">Quelquefois</label>
    <input type="radio" id="iief5-55" name="radio-iief5-5" class="d-input-none" value="4">
    <label for="iief5-55" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="iief5-56" name="radio-iief5-5" class="d-input-none" value="5">
    <label for="iief5-56" class="chip chip-action chip-sm chip-choice">Presque tout le temps ou tout le temps</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score IIEF5&trade;</p>
      <output class="score-output" id="iief5Score">0</output>
    </div>
    <p id="iief5Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</form>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://www.nature.com/articles/3900472" rel="external nofollow noopener">Rosen RC. et al. Development and evaluation of an abridged, 5-item version of the International Index of Erectile Function (IIEF-5) as a diagnostic tool for erectile dysfunction. Int J Impot Res. 1999.</a></p>
  <small>D'après Urofrance score IIEF5</small>
</blockquote>
{{ $script := `
  // Score IIEF-5 by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreiief5 = document.getElementById('iief5Score')
    const textiief5 = document.getElementById('iief5Text');
    [...document.querySelectorAll('#score-iief5 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => { calcIief5() }) })
    const calcIief5 = () => {
      let score = 0
      const checkedElems = document.querySelectorAll('#score-iief5 input[type=\"radio\"]:checked')
      if (checkedElems.length === 5) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scoreiief5.innerHTML = score
        if (score <= 4) { textiief5.innerHTML = "Non interprétable" }
        else if (score >= 5 && score <= 10) { textiief5.innerHTML = "Trouble de l'érection sévère" }
        else if (score >= 11 && score <= 15) { textiief5.innerHTML = "Trouble de l'érection modéré" }
        else if (score >= 16 && score <= 20) { textiief5.innerHTML = "Trouble de l'érection léger" }
        else if (score >= 21) { textiief5.innerHTML = "Fonction érectile normale" }
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>