<div class="mt-4" id="score-ipss">
  <p>Le questionnaire <dfn><abbr title="International Prostate Score Symptom" lang="en">IPSS</abbr></dfn> (<span lang="en">International Prostate Score Symptom</span>)
    pour l’évaluation d’un adulte présentant une hypertrophie bénigne de la prostate.</p>
  <p>Au cours du dernier mois:</p>
  <fieldset>
    <legend>1. Avec quelle fréquence avez-vous eu la sensation que votre vessie n’était pas complètement vidée après avoir uriné ?</legend>
    <input type="radio" id="ipss-11" name="radio-ipss-1" class="d-input-none" value="0" required>
    <label for="ipss-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-12" name="radio-ipss-1" class="d-input-none" value="1">
    <label for="ipss-12" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-13" name="radio-ipss-1" class="d-input-none" value="2">
    <label for="ipss-13" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-14" name="radio-ipss-1" class="d-input-none" value="3">
    <label for="ipss-14" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-15" name="radio-ipss-1" class="d-input-none" value="4">
    <label for="ipss-15" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-16" name="radio-ipss-1" class="d-input-none" value="5">
    <label for="ipss-16" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>2. Avec quelle fréquence avez-vous eu besoin d’uriner moins de 2 heures après avoir fini d’uriner ?</legend>
    <input type="radio" id="ipss-21" name="radio-ipss-2" class="d-input-none" value="0" required>
    <label for="ipss-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-22" name="radio-ipss-2" class="d-input-none" value="1">
    <label for="ipss-22" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-23" name="radio-ipss-2" class="d-input-none" value="2">
    <label for="ipss-23" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-24" name="radio-ipss-2" class="d-input-none" value="3">
    <label for="ipss-24" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-25" name="radio-ipss-2" class="d-input-none" value="4">
    <label for="ipss-25" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-26" name="radio-ipss-2" class="d-input-none" value="5">
    <label for="ipss-26" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>3. Avec quelle fréquence avez-vous eu une interruption du jet d’urine, c’est-à-dire démarrage de la miction puis arrêt puis redémarrage ?</legend>
    <input type="radio" id="ipss-31" name="radio-ipss-3" class="d-input-none" value="0" required>
    <label for="ipss-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-32" name="radio-ipss-3" class="d-input-none" value="1">
    <label for="ipss-32" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-33" name="radio-ipss-3" class="d-input-none" value="2">
    <label for="ipss-33" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-34" name="radio-ipss-3" class="d-input-none" value="3">
    <label for="ipss-34" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-35" name="radio-ipss-3" class="d-input-none" value="4">
    <label for="ipss-35" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-36" name="radio-ipss-3" class="d-input-none" value="5">
    <label for="ipss-36" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>4. Après avoir ressenti le besoin d’uriner, avec quelle fréquence avez-vous eu des difficultés à vous retenir d’uriner ?</legend>
    <input type="radio" id="ipss-41" name="radio-ipss-4" class="d-input-none" value="0" required>
    <label for="ipss-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-42" name="radio-ipss-4" class="d-input-none" value="1">
    <label for="ipss-42" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-43" name="radio-ipss-4" class="d-input-none" value="2">
    <label for="ipss-43" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-44" name="radio-ipss-4" class="d-input-none" value="3">
    <label for="ipss-44" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-45" name="radio-ipss-4" class="d-input-none" value="4">
    <label for="ipss-45" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-46" name="radio-ipss-4" class="d-input-none" value="5">
    <label for="ipss-46" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>5. Avec quelle fréquence avez-vous eu une diminution de la taille ou de la force du jet d’urine ?</legend>
    <input type="radio" id="ipss-51" name="radio-ipss-5" class="d-input-none" value="0" required>
    <label for="ipss-51" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-52" name="radio-ipss-5" class="d-input-none" value="1">
    <label for="ipss-52" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-53" name="radio-ipss-5" class="d-input-none" value="2">
    <label for="ipss-53" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-54" name="radio-ipss-5" class="d-input-none" value="3">
    <label for="ipss-54" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-55" name="radio-ipss-5" class="d-input-none" value="4">
    <label for="ipss-55" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-56" name="radio-ipss-5" class="d-input-none" value="5">
    <label for="ipss-56" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>6. Avec quelle fréquence avez-vous dû vous forcer ou pousser pour commencer à uriner ?</legend>
    <input type="radio" id="ipss-61" name="radio-ipss-6" class="d-input-none" value="0" required>
    <label for="ipss-61" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-62" name="radio-ipss-6" class="d-input-none" value="1">
    <label for="ipss-62" class="chip chip-action chip-sm chip-choice">1/5</label>
    <input type="radio" id="ipss-63" name="radio-ipss-6" class="d-input-none" value="2">
    <label for="ipss-63" class="chip chip-action chip-sm chip-choice">1/3</label>
    <input type="radio" id="ipss-64" name="radio-ipss-6" class="d-input-none" value="3">
    <label for="ipss-64" class="chip chip-action chip-sm chip-choice">1/2</label>
    <input type="radio" id="ipss-65" name="radio-ipss-6" class="d-input-none" value="4">
    <label for="ipss-65" class="chip chip-action chip-sm chip-choice">2/3</label>
    <input type="radio" id="ipss-66" name="radio-ipss-6" class="d-input-none" value="5">
    <label for="ipss-66" class="chip chip-action chip-sm chip-choice">Presque toujours</label>
  </fieldset>
  <fieldset>
    <legend>7. Combien de fois par nuit, en moyenne, vous êtes-vous levé pour uriner (entre le moment de votre coucher
      le soir et celui de  votre lever définitif le matin ?</legend>
    <input type="radio" id="ipss-71" name="radio-ipss-7" class="d-input-none" value="0" required>
    <label for="ipss-71" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="ipss-72" name="radio-ipss-7" class="d-input-none" value="1">
    <label for="ipss-72" class="chip chip-action chip-sm chip-choice">1 fois</label>
    <input type="radio" id="ipss-73" name="radio-ipss-7" class="d-input-none" value="2">
    <label for="ipss-73" class="chip chip-action chip-sm chip-choice">2 fois</label>
    <input type="radio" id="ipss-74" name="radio-ipss-7" class="d-input-none" value="3">
    <label for="ipss-74" class="chip chip-action chip-sm chip-choice">3 fois</label>
    <input type="radio" id="ipss-75" name="radio-ipss-7" class="d-input-none" value="4">
    <label for="ipss-75" class="chip chip-action chip-sm chip-choice">4 fois</label>
    <input type="radio" id="ipss-76" name="radio-ipss-7" class="d-input-none" value="5">
    <label for="ipss-76" class="chip chip-action chip-sm chip-choice">5 fois</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score IPSS</p>
      <output class="score-output" id="ipssScore">0</output>
    </div>
    <p id="ipssText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<div>
  <p>Évaluation de la qualité de vie liée aux symptômes urinaires</p>
  <fieldset>
    <legend>Si vous deviez vivre le restant de votre vie avec cette manière d’uriner, diriez-vous que vous en seriez:</legend>
    <input type="radio" id="ipss-81" name="radio-ipss-8" class="d-input-none" value="0" required>
    <label for="ipss-81" class="chip chip-action chip-sm chip-choice">Très satisfait (0)</label>
    <input type="radio" id="ipss-82" name="radio-ipss-8" class="d-input-none" value="1">
    <label for="ipss-82" class="chip chip-action chip-sm chip-choice">Satisfait (1)</label>
    <input type="radio" id="ipss-83" name="radio-ipss-8" class="d-input-none" value="2">
    <label for="ipss-83" class="chip chip-action chip-sm chip-choice">Plutôt satisfait (2)</label>
    <input type="radio" id="ipss-84" name="radio-ipss-8" class="d-input-none" value="3">
    <label for="ipss-84" class="chip chip-action chip-sm chip-choice">Partagé (3)</label>
    <input type="radio" id="ipss-85" name="radio-ipss-8" class="d-input-none" value="4">
    <label for="ipss-85" class="chip chip-action chip-sm chip-choice">Plutôt ennuyé (4)</label>
    <input type="radio" id="ipss-86" name="radio-ipss-8" class="d-input-none" value="5">
    <label for="ipss-86" class="chip chip-action chip-sm chip-choice">Ennuyé (5)</label>
    <input type="radio" id="ipss-87" name="radio-ipss-8" class="d-input-none" value="6">
    <label for="ipss-87" class="chip chip-action chip-sm chip-choice">Très ennuyé (6)</label>
  </fieldset>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://pubmed.ncbi.nlm.nih.gov/1279218/" rel="external nofollow noopener">Barry MJ, Fowler FJ Jr, O’Leary MP, et al. The American Urological Association symptom index for benign prostatic hyperplasia. The Measurement Committee of the American Urological Association. J Urol. 1992;148(5):1549-1564.</a></p>
  <small>D’après Urofrance score IPSS</small>
</blockquote>
{{ $script := `
  // Score IPSS by djibe
  window.addEventListener( 'load', event => {
    const scoreIpss = document.getElementById('ipssScore')
    const textIpss = document.getElementById('ipssText');
    [...document.querySelectorAll('#score-ipss input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcIpss() ) })
    const calcIpss = () => {
      let score = 0
      const checkedElems = document.querySelectorAll('#score-ipss input[type=\"radio\"]:checked')
      if (checkedElems.length === 7) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scoreIpss.innerHTML = score
        if (score <= 7) { textIpss.innerHTML = "Symptômes légers" }
        else if (score >= 8 && score <= 19) { textIpss.innerHTML = "Symptômes modérés" }
        else if (score >= 20) { textIpss.innerHTML = "Symptômes sévères" }
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>