<form class="my-4" id="score-irls" autocomplete="off">
  <fieldset>
    <legend>1. Quelle est votre appréciation du désagrément provoqué par le syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio11" name="radio1" class="d-input-none" value="4" required>
    <label for="radio11" class="chip chip-action chip-sm chip-choice">Très important</label>
    <input type="radio" id="radio12" name="radio1" class="d-input-none" value="3">
    <label for="radio12" class="chip chip-action chip-sm chip-choice">Important</label>
    <input type="radio" id="radio13" name="radio1" class="d-input-none" value="2">
    <label for="radio13" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio14" name="radio1" class="d-input-none" value="1">
    <label for="radio14" class="chip chip-action chip-sm chip-choice">Léger</label>
    <input type="radio" id="radio15" name="radio1" class="d-input-none" value="0">
    <label for="radio15" class="chip chip-action chip-sm chip-choice">Inexistant</label>
  </fieldset>
  <fieldset>
    <legend>2. Dans quelle mesure avez-vous besoin de bouger à cause du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio21" name="radio2" class="d-input-none" value="4" required>
    <label for="radio21" class="chip chip-action chip-sm chip-choice">Très grand besoin</label>
    <input type="radio" id="radio22" name="radio2" class="d-input-none" value="3">
    <label for="radio22" class="chip chip-action chip-sm chip-choice">Grand besoin</label>
    <input type="radio" id="radio23" name="radio2" class="d-input-none" value="2">
    <label for="radio23" class="chip chip-action chip-sm chip-choice">Moyennement besoin</label>
    <input type="radio" id="radio24" name="radio2" class="d-input-none" value="1">
    <label for="radio24" class="chip chip-action chip-sm chip-choice">Légèrement besoin</label>
    <input type="radio" id="radio25" name="radio2" class="d-input-none" value="0">
    <label for="radio25" class="chip chip-action chip-sm chip-choice">Pas besoin</label>
  </fieldset>
  <fieldset>
    <legend>3. Dans quelle mesure le désagrément de vos jambes s’améliore-t-il lorsque vous bougez&nbsp;?</legend>
    <input type="radio" id="radio31" name="radio3" class="d-input-none" value="4" required>
    <label for="radio31" class="chip chip-action chip-sm chip-choice">Aucune amélioration</label>
    <input type="radio" id="radio32" name="radio3" class="d-input-none" value="3">
    <label for="radio32" class="chip chip-action chip-sm chip-choice">Légère amélioration</label>
    <input type="radio" id="radio33" name="radio3" class="d-input-none" value="2">
    <label for="radio33" class="chip chip-action chip-sm chip-choice">Moyenne amélioration</label>
    <input type="radio" id="radio34" name="radio3" class="d-input-none" value="1">
    <label for="radio34" class="chip chip-action chip-sm chip-choice">Amélioration complète ou presque</label>
  </fieldset>
  <fieldset>
    <legend>4. Dans quelle mesure votre sommeil est-il perturbé par le syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio41" name="radio4" class="d-input-none" value="4" required>
    <label for="radio41" class="chip chip-action chip-sm chip-choice">Très fortement perturbé</label>
    <input type="radio" id="radio42" name="radio4" class="d-input-none" value="3">
    <label for="radio42" class="chip chip-action chip-sm chip-choice">Fortement perturbé</label>
    <input type="radio" id="radio43" name="radio4" class="d-input-none" value="2">
    <label for="radio43" class="chip chip-action chip-sm chip-choice">Modérément perturbé</label>
    <input type="radio" id="radio44" name="radio4" class="d-input-none" value="1">
    <label for="radio44" class="chip chip-action chip-sm chip-choice">Légèrement perturbé</label>
    <input type="radio" id="radio45" name="radio4" class="d-input-none" value="0">
    <label for="radio45" class="chip chip-action chip-sm chip-choice">Pas perturbé</label>
  </fieldset>
  <fieldset>
    <legend>5. Quelle est l’importance de votre fatigue ou somnolence à cause du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio51" name="radio5" class="d-input-none" value="4" required>
    <label for="radio51" class="chip chip-action chip-sm chip-choice">Très importante</label>
    <input type="radio" id="radio52" name="radio5" class="d-input-none" value="3">
    <label for="radio52" class="chip chip-action chip-sm chip-choice">Importante</label>
    <input type="radio" id="radio53" name="radio5" class="d-input-none" value="2">
    <label for="radio53" class="chip chip-action chip-sm chip-choice">Modérée</label>
    <input type="radio" id="radio54" name="radio5" class="d-input-none" value="1">
    <label for="radio54" class="chip chip-action chip-sm chip-choice">Légère</label>
    <input type="radio" id="radio55" name="radio5" class="d-input-none" value="0">
    <label for="radio55" class="chip chip-action chip-sm chip-choice">Inexistante</label>
  </fieldset>
  <fieldset>
    <legend>6. Quelle est la gravité de votre syndrome des jambes sans repos, considéré dans son ensemble&nbsp;?</legend>
    <input type="radio" id="radio61" name="radio6" class="d-input-none" value="4" required>
    <label for="radio61" class="chip chip-action chip-sm chip-choice">Très grave</label>
    <input type="radio" id="radio62" name="radio6" class="d-input-none" value="3">
    <label for="radio62" class="chip chip-action chip-sm chip-choice">Grave</label>
    <input type="radio" id="radio63" name="radio6" class="d-input-none" value="2">
    <label for="radio63" class="chip chip-action chip-sm chip-choice">Moyennement grave</label>
    <input type="radio" id="radio64" name="radio6" class="d-input-none" value="1">
    <label for="radio64" class="chip chip-action chip-sm chip-choice">Légèrement grave</label>
    <input type="radio" id="radio65" name="radio6" class="d-input-none" value="0">
    <label for="radio65" class="chip chip-action chip-sm chip-choice">Pas du tout grave</label>
  </fieldset>
  <fieldset>
    <legend>7. À quelle fréquence souffrez-vous du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio71" name="radio7" class="d-input-none" value="4" required>
    <label for="radio71" class="chip chip-action chip-sm chip-choice">Très souvent: 6 à 7 j/semaine</label>
    <input type="radio" id="radio72" name="radio7" class="d-input-none" value="3">
    <label for="radio72" class="chip chip-action chip-sm chip-choice">Souvent: 4 à 5 j/semaine</label>
    <input type="radio" id="radio73" name="radio7" class="d-input-none" value="2">
    <label for="radio73" class="chip chip-action chip-sm chip-choice">Parfois: 2 à 3 j/semaine</label>
    <input type="radio" id="radio74" name="radio7" class="d-input-none" value="1">
    <label for="radio74" class="chip chip-action chip-sm chip-choice">Rarement: 1 j/semaine</label>
    <input type="radio" id="radio75" name="radio7" class="d-input-none" value="0">
    <label for="radio75" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>8. Lorsque vous souffrez du syndrome des jambes sans repos, combien de temps durent ces symptômes au cours d’une journée normale&nbsp;?</legend>
    <input type="radio" id="radio81" name="radio8" class="d-input-none" value="4" required>
    <label for="radio81" class="chip chip-action chip-sm chip-choice">8 heures ou +</label>
    <input type="radio" id="radio82" name="radio8" class="d-input-none" value="3">
    <label for="radio82" class="chip chip-action chip-sm chip-choice">3 à 8 heures</label>
    <input type="radio" id="radio83" name="radio8" class="d-input-none" value="2">
    <label for="radio83" class="chip chip-action chip-sm chip-choice">1 à 3 heures</label>
    <input type="radio" id="radio84" name="radio8" class="d-input-none" value="1">
    <label for="radio84" class="chip chip-action chip-sm chip-choice">Moins d'1 heure</label>
    <input type="radio" id="radio85" name="radio8" class="d-input-none" value="0">
    <label for="radio85" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>9. Quelle est l’influence exercée par le syndrome des jambes sans repos sur l’exercice de vos tâches quotidiennes dans votre vie familiale, sociale ou professionnelle&nbsp;?</legend>
    <input type="radio" id="radio91" name="radio9" class="d-input-none" value="4" required>
    <label for="radio91" class="chip chip-action chip-sm chip-choice">Très grande influence</label>
    <input type="radio" id="radio92" name="radio9" class="d-input-none" value="3">
    <label for="radio92" class="chip chip-action chip-sm chip-choice">Grande influence</label>
    <input type="radio" id="radio93" name="radio9" class="d-input-none" value="2">
    <label for="radio93" class="chip chip-action chip-sm chip-choice">Moyenne influence</label>
    <input type="radio" id="radio94" name="radio9" class="d-input-none" value="1">
    <label for="radio94" class="chip chip-action chip-sm chip-choice">Légère influence</label>
    <input type="radio" id="radio95" name="radio9" class="d-input-none" value="0">
    <label for="radio95" class="chip chip-action chip-sm chip-choice">Pas d'influence</label>
  </fieldset>
  <fieldset>
    <legend>10. Quelle est l’influence exercée par le syndrome des jambes sans repos sur votre humeur&nbsp;?</legend>
    <input type="radio" id="radio101" name="radio10" class="d-input-none" value="4" required>
    <label for="radio101" class="chip chip-action chip-sm chip-choice">Très grande influence</label>
    <input type="radio" id="radio102" name="radio10" class="d-input-none" value="3">
    <label for="radio102" class="chip chip-action chip-sm chip-choice">Grande influence</label>
    <input type="radio" id="radio103" name="radio10" class="d-input-none" value="2">
    <label for="radio103" class="chip chip-action chip-sm chip-choice">Moyenne influence</label>
    <input type="radio" id="radio104" name="radio10" class="d-input-none" value="1">
    <label for="radio104" class="chip chip-action chip-sm chip-choice">Légère influence</label>
    <input type="radio" id="radio105" name="radio10" class="d-input-none" value="0">
    <label for="radio105" class="chip chip-action chip-sm chip-choice">Pas d'influence</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score IRLS</p>
      <output class="score-output" id="irlsScore">0</output>
    </div>
    <p id="irlsText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</form>
{{ $script := `
  // Score IRLS by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreIRLS = document.getElementById('irlsScore')
    const textIRLS = document.getElementById('irlsText');
    [...document.querySelectorAll('#score-irls input[type=\"radio\"]')].forEach((IRLSElem) => { IRLSElem.addEventListener('click', () => {
      irls()
    }) })
    const irls = () => {
      let score = 0
      const irlsElemsChecked = document.querySelectorAll('#score-irls input[type=\"radio\"]:checked')
        irlsElemsChecked.forEach(irlsElemChecked => {
        score += parseInt(irlsElemChecked.value, 10)
        if (irlsElemsChecked.length === 10) {
          scoreIRLS.innerHTML = score
          if (score <= 10) {
            textIRLS.innerHTML = "<b>SJSR léger</b><br>Règles d'hygiène<br>et traitement opiacé à la demande"
          } else if (score >= 11 && score <= 20) {
            textIRLS.innerHTML = "<b>SJSR modéré</b><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          } else if (score >= 21 && score <= 30) {
            textIRLS.innerHTML = "<b>SJSR sévère</b><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          } else if (score >= 31) {
            textIRLS.innerHTML = "<b>SJSR très sévère</b><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          }
        } else {
          textIRLS.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script>{{ $script | safeJS }}</script>