<div class="my-4" id="score-irls">
  <h4>Score IRLS</h4>
  <p>L'<dfn><abbr title="IRLSSSG rating scale" lang="en">IRLS</abbr></dfn> (<span lang="en">IRLSSSG rating scale</span>) permet de quantifier la sévérité du syndrome des jambes sans repos.</p>
  <fieldset>
    <legend>1. Quelle est votre appréciation du désagrément provoqué par le syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio-irls-11" name="radio-irls-1" class="d-input-none" value="4" required>
    <label for="radio-irls-11" class="chip chip-action chip-sm chip-choice">Très important</label>
    <input type="radio" id="radio-irls-12" name="radio-irls-1" class="d-input-none" value="3">
    <label for="radio-irls-12" class="chip chip-action chip-sm chip-choice">Important</label>
    <input type="radio" id="radio-irls-13" name="radio-irls-1" class="d-input-none" value="2">
    <label for="radio-irls-13" class="chip chip-action chip-sm chip-choice">Modéré</label>
    <input type="radio" id="radio-irls-14" name="radio-irls-1" class="d-input-none" value="1">
    <label for="radio-irls-14" class="chip chip-action chip-sm chip-choice">Léger</label>
    <input type="radio" id="radio-irls-15" name="radio-irls-1" class="d-input-none" value="0">
    <label for="radio-irls-15" class="chip chip-action chip-sm chip-choice">Inexistant</label>
  </fieldset>
  <fieldset>
    <legend>2. Dans quelle mesure avez-vous besoin de bouger à cause du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio-irls-21" name="radio-irls-2" class="d-input-none" value="4" required>
    <label for="radio-irls-21" class="chip chip-action chip-sm chip-choice">Très grand besoin</label>
    <input type="radio" id="radio-irls-22" name="radio-irls-2" class="d-input-none" value="3">
    <label for="radio-irls-22" class="chip chip-action chip-sm chip-choice">Grand besoin</label>
    <input type="radio" id="radio-irls-23" name="radio-irls-2" class="d-input-none" value="2">
    <label for="radio-irls-23" class="chip chip-action chip-sm chip-choice">Moyennement besoin</label>
    <input type="radio" id="radio-irls-24" name="radio-irls-2" class="d-input-none" value="1">
    <label for="radio-irls-24" class="chip chip-action chip-sm chip-choice">Légèrement besoin</label>
    <input type="radio" id="radio-irls-25" name="radio-irls-2" class="d-input-none" value="0">
    <label for="radio-irls-25" class="chip chip-action chip-sm chip-choice">Pas besoin</label>
  </fieldset>
  <fieldset>
    <legend>3. Dans quelle mesure le désagrément de vos jambes s'améliore-t-il lorsque vous bougez&nbsp;?</legend>
    <input type="radio" id="radio-irls-31" name="radio-irls-3" class="d-input-none" value="4" required>
    <label for="radio-irls-31" class="chip chip-action chip-sm chip-choice">Aucune amélioration</label>
    <input type="radio" id="radio-irls-32" name="radio-irls-3" class="d-input-none" value="3">
    <label for="radio-irls-32" class="chip chip-action chip-sm chip-choice">Légère amélioration</label>
    <input type="radio" id="radio-irls-33" name="radio-irls-3" class="d-input-none" value="2">
    <label for="radio-irls-33" class="chip chip-action chip-sm chip-choice">Moyenne amélioration</label>
    <input type="radio" id="radio-irls-34" name="radio-irls-3" class="d-input-none" value="1">
    <label for="radio-irls-34" class="chip chip-action chip-sm chip-choice">Amélioration complète ou presque</label>
  </fieldset>
  <fieldset>
    <legend>4. Dans quelle mesure votre sommeil est-il perturbé par le syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio-irls-41" name="radio-irls-4" class="d-input-none" value="4" required>
    <label for="radio-irls-41" class="chip chip-action chip-sm chip-choice">Très fortement perturbé</label>
    <input type="radio" id="radio-irls-42" name="radio-irls-4" class="d-input-none" value="3">
    <label for="radio-irls-42" class="chip chip-action chip-sm chip-choice">Fortement perturbé</label>
    <input type="radio" id="radio-irls-43" name="radio-irls-4" class="d-input-none" value="2">
    <label for="radio-irls-43" class="chip chip-action chip-sm chip-choice">Modérément perturbé</label>
    <input type="radio" id="radio-irls-44" name="radio-irls-4" class="d-input-none" value="1">
    <label for="radio-irls-44" class="chip chip-action chip-sm chip-choice">Légèrement perturbé</label>
    <input type="radio" id="radio-irls-45" name="radio-irls-4" class="d-input-none" value="0">
    <label for="radio-irls-45" class="chip chip-action chip-sm chip-choice">Pas perturbé</label>
  </fieldset>
  <fieldset>
    <legend>5. Quelle est l'importance de votre fatigue ou somnolence à cause du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio-irls-51" name="radio-irls-5" class="d-input-none" value="4" required>
    <label for="radio-irls-51" class="chip chip-action chip-sm chip-choice">Très importante</label>
    <input type="radio" id="radio-irls-52" name="radio-irls-5" class="d-input-none" value="3">
    <label for="radio-irls-52" class="chip chip-action chip-sm chip-choice">Importante</label>
    <input type="radio" id="radio-irls-53" name="radio-irls-5" class="d-input-none" value="2">
    <label for="radio-irls-53" class="chip chip-action chip-sm chip-choice">Modérée</label>
    <input type="radio" id="radio-irls-54" name="radio-irls-5" class="d-input-none" value="1">
    <label for="radio-irls-54" class="chip chip-action chip-sm chip-choice">Légère</label>
    <input type="radio" id="radio-irls-55" name="radio-irls-5" class="d-input-none" value="0">
    <label for="radio-irls-55" class="chip chip-action chip-sm chip-choice">Inexistante</label>
  </fieldset>
  <fieldset>
    <legend>6. Quelle est la gravité de votre syndrome des jambes sans repos, considéré dans son ensemble&nbsp;?</legend>
    <input type="radio" id="radio-irls-61" name="radio-irls-6" class="d-input-none" value="4" required>
    <label for="radio-irls-61" class="chip chip-action chip-sm chip-choice">Très grave</label>
    <input type="radio" id="radio-irls-62" name="radio-irls-6" class="d-input-none" value="3">
    <label for="radio-irls-62" class="chip chip-action chip-sm chip-choice">Grave</label>
    <input type="radio" id="radio-irls-63" name="radio-irls-6" class="d-input-none" value="2">
    <label for="radio-irls-63" class="chip chip-action chip-sm chip-choice">Moyennement grave</label>
    <input type="radio" id="radio-irls-64" name="radio-irls-6" class="d-input-none" value="1">
    <label for="radio-irls-64" class="chip chip-action chip-sm chip-choice">Légèrement grave</label>
    <input type="radio" id="radio-irls-65" name="radio-irls-6" class="d-input-none" value="0">
    <label for="radio-irls-65" class="chip chip-action chip-sm chip-choice">Pas du tout grave</label>
  </fieldset>
  <fieldset>
    <legend>7. À quelle fréquence souffrez-vous du syndrome des jambes sans repos&nbsp;?</legend>
    <input type="radio" id="radio-irls-71" name="radio-irls-7" class="d-input-none" value="4" required>
    <label for="radio-irls-71" class="chip chip-action chip-sm chip-choice">Très souvent: 6 à 7 j/semaine</label>
    <input type="radio" id="radio-irls-72" name="radio-irls-7" class="d-input-none" value="3">
    <label for="radio-irls-72" class="chip chip-action chip-sm chip-choice">Souvent: 4 à 5 j/semaine</label>
    <input type="radio" id="radio-irls-73" name="radio-irls-7" class="d-input-none" value="2">
    <label for="radio-irls-73" class="chip chip-action chip-sm chip-choice">Parfois: 2 à 3 j/semaine</label>
    <input type="radio" id="radio-irls-74" name="radio-irls-7" class="d-input-none" value="1">
    <label for="radio-irls-74" class="chip chip-action chip-sm chip-choice">Rarement: 1 j/semaine</label>
    <input type="radio" id="radio-irls-75" name="radio-irls-7" class="d-input-none" value="0">
    <label for="radio-irls-75" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>8. Lorsque vous souffrez du syndrome des jambes sans repos, combien de temps durent ces symptômes au cours d'une journée normale&nbsp;?</legend>
    <input type="radio" id="radio-irls-81" name="radio-irls-8" class="d-input-none" value="4" required>
    <label for="radio-irls-81" class="chip chip-action chip-sm chip-choice">8 heures ou +</label>
    <input type="radio" id="radio-irls-82" name="radio-irls-8" class="d-input-none" value="3">
    <label for="radio-irls-82" class="chip chip-action chip-sm chip-choice">3 à 8 heures</label>
    <input type="radio" id="radio-irls-83" name="radio-irls-8" class="d-input-none" value="2">
    <label for="radio-irls-83" class="chip chip-action chip-sm chip-choice">1 à 3 heures</label>
    <input type="radio" id="radio-irls-84" name="radio-irls-8" class="d-input-none" value="1">
    <label for="radio-irls-84" class="chip chip-action chip-sm chip-choice">Moins d'1 heure</label>
    <input type="radio" id="radio-irls-85" name="radio-irls-8" class="d-input-none" value="0">
    <label for="radio-irls-85" class="chip chip-action chip-sm chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>9. Quelle est l'influence exercée par le syndrome des jambes sans repos sur l'exercice de vos tâches quotidiennes dans votre vie familiale, sociale ou professionnelle&nbsp;?</legend>
    <input type="radio" id="radio-irls-91" name="radio-irls-9" class="d-input-none" value="4" required>
    <label for="radio-irls-91" class="chip chip-action chip-sm chip-choice">Très grande influence</label>
    <input type="radio" id="radio-irls-92" name="radio-irls-9" class="d-input-none" value="3">
    <label for="radio-irls-92" class="chip chip-action chip-sm chip-choice">Grande influence</label>
    <input type="radio" id="radio-irls-93" name="radio-irls-9" class="d-input-none" value="2">
    <label for="radio-irls-93" class="chip chip-action chip-sm chip-choice">Moyenne influence</label>
    <input type="radio" id="radio-irls-94" name="radio-irls-9" class="d-input-none" value="1">
    <label for="radio-irls-94" class="chip chip-action chip-sm chip-choice">Légère influence</label>
    <input type="radio" id="radio-irls-95" name="radio-irls-9" class="d-input-none" value="0">
    <label for="radio-irls-95" class="chip chip-action chip-sm chip-choice">Pas d'influence</label>
  </fieldset>
  <fieldset>
    <legend>10. Quelle est l'influence exercée par le syndrome des jambes sans repos sur votre humeur&nbsp;?</legend>
    <input type="radio" id="radio-irls-101" name="radio-irls-10" class="d-input-none" value="4" required>
    <label for="radio-irls-101" class="chip chip-action chip-sm chip-choice">Très grande influence</label>
    <input type="radio" id="radio-irls-102" name="radio-irls-10" class="d-input-none" value="3">
    <label for="radio-irls-102" class="chip chip-action chip-sm chip-choice">Grande influence</label>
    <input type="radio" id="radio-irls-103" name="radio-irls-10" class="d-input-none" value="2">
    <label for="radio-irls-103" class="chip chip-action chip-sm chip-choice">Moyenne influence</label>
    <input type="radio" id="radio-irls-104" name="radio-irls-10" class="d-input-none" value="1">
    <label for="radio-irls-104" class="chip chip-action chip-sm chip-choice">Légère influence</label>
    <input type="radio" id="radio-irls-105" name="radio-irls-10" class="d-input-none" value="0">
    <label for="radio-irls-105" class="chip chip-action chip-sm chip-choice">Pas d'influence</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score IRLS</p>
      <output class="score-output" id="irlsScore">0</output>
    </div>
    <p id="irlsText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
{{ $script := `
  // Score IRLS by djibe
  window.addEventListener( 'load', event => {
    const scoreIRLS = document.getElementById('irlsScore')
    const textIRLS = document.getElementById('irlsText');
    [...document.querySelectorAll('#score-irls input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcIrls() ) })
    const calcIrls = () => {
      let score = 0
      const irlsElemsChecked = document.querySelectorAll('#score-irls input[type=\"radio\"]:checked')
        irlsElemsChecked.forEach(irlsElemChecked => {
        score += parseInt(irlsElemChecked.value, 10)
        if (irlsElemsChecked.length === 10) {
          scoreIRLS.innerHTML = score
          if (score <= 10) {
            textIRLS.innerHTML = "<strong>SJSR léger</strong><br>Règles d'hygiène<br>et traitement opiacé à la demande"
          } else if (score >= 11 && score <= 20) {
            textIRLS.innerHTML = "<strong>SJSR modéré</strong><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          } else if (score >= 21 && score <= 30) {
            textIRLS.innerHTML = "<strong>SJSR sévère</strong><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          } else if (score >= 31) {
            textIRLS.innerHTML = "<strong>SJSR très sévère</strong><br>Règles d'hygiène<br>et avis du médecin du sommeil"
          }
        } else {
          textIRLS.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>