<div class="my-4" id="score-lequesne">
  <p>L’indice algo-fonctionnel de Lequesne est utile pour le suivi de la coxarthrose et évaluer le seuil
    pour envisager une prothèse de hanche (indice ≥ 10-12).</p>
  <hr>
  <p class="lead">Douleur ou gêne</p>
    <fieldset>
    <legend>Nocturne</legend>
    <input type="radio" id="radio-lequesne-11" name="radio-lequesne-1" class="d-input-none" value="0" required>
    <label for="radio-lequesne-11" class="chip chip-action chip-sm chip-choice">Aucune</label>
    <input type="radio" id="radio-lequesne-12" name="radio-lequesne-1" class="d-input-none" value="1">
    <label for="radio-lequesne-12" class="chip chip-action chip-sm chip-choice">Seulement aux mouvements et dans certaines postures</label>
    <input type="radio" id="radio-lequesne-13" name="radio-lequesne-1" class="d-input-none" value="2">
    <label for="radio-lequesne-13" class="chip chip-action chip-sm chip-choice">Même immobile, sans bouger</label>
  </fieldset>
  <fieldset>
    <legend>Dérouillage matinal</legend>
    <input type="radio" id="radio-lequesne-21" name="radio-lequesne-2" class="d-input-none" value="0" required>
    <label for="radio-lequesne-21" class="chip chip-action chip-sm chip-choice">Aucun ou inférieur à 1 minute</label>
    <input type="radio" id="radio-lequesne-22" name="radio-lequesne-2" class="d-input-none" value="1">
    <label for="radio-lequesne-22" class="chip chip-action chip-sm chip-choice">Entre une et 15 minutes</label>
    <input type="radio" id="radio-lequesne-23" name="radio-lequesne-2" class="d-input-none" value="2">
    <label for="radio-lequesne-23" class="chip chip-action chip-sm chip-choice">Plus d’un quart d’heure</label>
  </fieldset>
  <fieldset>
    <legend>Rester debout ou piétiner sur place 1/2 heure augmente-t-il la douleur ?</legend>
    <input type="radio" id="radio-lequesne-31" name="radio-lequesne-3" class="d-input-none" value="0" required>
    <label for="radio-lequesne-31" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-lequesne-32" name="radio-lequesne-3" class="d-input-none" value="1">
    <label for="radio-lequesne-32" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <fieldset>
    <legend>Douleur à la marche</legend>
    <input type="radio" id="radio-lequesne-41" name="radio-lequesne-4" class="d-input-none" value="0" required>
    <label for="radio-lequesne-41" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-lequesne-42" name="radio-lequesne-4" class="d-input-none" value="1">
    <label for="radio-lequesne-42" class="chip chip-action chip-sm chip-choice">Seulement après quelque distance</label>
    <input type="radio" id="radio-lequesne-43" name="radio-lequesne-4" class="d-input-none" value="2">
    <label for="radio-lequesne-43" class="chip chip-action chip-sm chip-choice">Dès le début de la marche et de façon croissante</label>
  </fieldset>
  <fieldset>
    <legend>Souffrez-vous à la station assise prolongée (2 heures) avant de vous relever ?</legend>
    <input type="radio" id="radio-lequesne-51" name="radio-lequesne-5" class="d-input-none" value="0" required>
    <label for="radio-lequesne-51" class="chip chip-action chip-sm chip-choice">Non</label>
    <input type="radio" id="radio-lequesne-52" name="radio-lequesne-5" class="d-input-none" value="1">
    <label for="radio-lequesne-52" class="chip chip-action chip-sm chip-choice">Oui</label>
  </fieldset>
  <hr>
  <p class="lead">Périmètre de marche</p>
  <fieldset>
    <legend>Périmètre (quelle que soit la douleur)</legend>
    <input type="radio" id="radio-lequesne-61" name="radio-lequesne-6" class="d-input-none" value="0" required>
    <label for="radio-lequesne-61" class="chip chip-action chip-sm chip-choice">Illimité</label>
    <input type="radio" id="radio-lequesne-62" name="radio-lequesne-6" class="d-input-none" value="1">
    <label for="radio-lequesne-62" class="chip chip-action chip-sm chip-choice">Limité mais supérieur à 1 km</label>
    <input type="radio" id="radio-lequesne-63" name="radio-lequesne-6" class="d-input-none" value="2">
    <label for="radio-lequesne-63" class="chip chip-action chip-sm chip-choice">Environ 1 km (environ 15 minutes)</label>
    <input type="radio" id="radio-lequesne-64" name="radio-lequesne-6" class="d-input-none" value="3">
    <label for="radio-lequesne-64" class="chip chip-action chip-sm chip-choice">500 à 900 mètres (environ 8 à 15 minutes)</label>
    <input type="radio" id="radio-lequesne-65" name="radio-lequesne-6" class="d-input-none" value="4">
    <label for="radio-lequesne-65" class="chip chip-action chip-sm chip-choice">300 à 500 mètres</label>
    <input type="radio" id="radio-lequesne-66" name="radio-lequesne-6" class="d-input-none" value="5">
    <label for="radio-lequesne-66" class="chip chip-action chip-sm chip-choice">100 à 300 mètres</label>
  </fieldset>
  <fieldset>
    <legend>Aides nécessaires</legend>
    <input type="radio" id="radio-lequesne-71" name="radio-lequesne-7" class="d-input-none" value="0" required>
    <label for="radio-lequesne-71" class="chip chip-action chip-sm chip-choice">Aucune canne ou béquille nécessaire</label>
    <input type="radio" id="radio-lequesne-72" name="radio-lequesne-7" class="d-input-none" value="1">
    <label for="radio-lequesne-72" class="chip chip-action chip-sm chip-choice">Une canne ou une béquille est nécessaire</label>
    <input type="radio" id="radio-lequesne-73" name="radio-lequesne-7" class="d-input-none" value="2">
    <label for="radio-lequesne-73" class="chip chip-action chip-sm chip-choice">Deux cannes ou deux béquilles sont nécessaires</label>
  </fieldset>
  <hr>
  <p class="lead">Autres difficultés de la vie quotidienne</p>
  <fieldset>
    <legend>Pouvez-vous monter ou descendre un étage ?</legend>
    <input type="radio" id="radio-lequesne-81" name="radio-lequesne-8" class="d-input-none" value="0" required>
    <label for="radio-lequesne-81" class="chip chip-action chip-sm chip-choice">Sans difficulté</label>
    <input type="radio" id="radio-lequesne-82" name="radio-lequesne-8" class="d-input-none" value="0.5">
    <label for="radio-lequesne-82" class="chip chip-action chip-sm chip-choice">Assez facilement</label>
    <input type="radio" id="radio-lequesne-83" name="radio-lequesne-8" class="d-input-none" value="1">
    <label for="radio-lequesne-83" class="chip chip-action chip-sm chip-choice">Avec difficulté</label>
    <input type="radio" id="radio-lequesne-84" name="radio-lequesne-8" class="d-input-none" value="1.5">
    <label for="radio-lequesne-84" class="chip chip-action chip-sm chip-choice">Avec beaucoup de difficulté</label>
    <input type="radio" id="radio-lequesne-85" name="radio-lequesne-8" class="d-input-none" value="2">
    <label for="radio-lequesne-85" class="chip chip-action chip-sm chip-choice">Impossible</label>
  </fieldset>
  <fieldset>
    <legend>Pouvez-vous enfiler vos chaussettes par devant ?</legend>
    <input type="radio" id="radio-lequesne-91" name="radio-lequesne-9" class="d-input-none" value="0" required>
    <label for="radio-lequesne-91" class="chip chip-action chip-sm chip-choice">Sans difficulté</label>
    <input type="radio" id="radio-lequesne-92" name="radio-lequesne-9" class="d-input-none" value="0.5">
    <label for="radio-lequesne-92" class="chip chip-action chip-sm chip-choice">Assez facilement</label>
    <input type="radio" id="radio-lequesne-93" name="radio-lequesne-9" class="d-input-none" value="1">
    <label for="radio-lequesne-93" class="chip chip-action chip-sm chip-choice">Avec difficulté</label>
    <input type="radio" id="radio-lequesne-94" name="radio-lequesne-9" class="d-input-none" value="1.5">
    <label for="radio-lequesne-94" class="chip chip-action chip-sm chip-choice">Avec beaucoup de difficulté</label>
    <input type="radio" id="radio-lequesne-95" name="radio-lequesne-9" class="d-input-none" value="2">
    <label for="radio-lequesne-95" class="chip chip-action chip-sm chip-choice">Impossible</label>
  </fieldset>
  <fieldset>
    <legend>Pouvez-vous ramasser un objet par terre ?</legend>
    <input type="radio" id="radio-lequesne-101" name="radio-lequesne-10" class="d-input-none" value="0" required>
    <label for="radio-lequesne-101" class="chip chip-action chip-sm chip-choice">Sans difficulté</label>
    <input type="radio" id="radio-lequesne-102" name="radio-lequesne-10" class="d-input-none" value="0.5">
    <label for="radio-lequesne-102" class="chip chip-action chip-sm chip-choice">Assez facilement</label>
    <input type="radio" id="radio-lequesne-103" name="radio-lequesne-10" class="d-input-none" value="1">
    <label for="radio-lequesne-103" class="chip chip-action chip-sm chip-choice">Avec difficulté</label>
    <input type="radio" id="radio-lequesne-104" name="radio-lequesne-10" class="d-input-none" value="1.5">
    <label for="radio-lequesne-104" class="chip chip-action chip-sm chip-choice">Avec beaucoup de difficulté</label>
    <input type="radio" id="radio-lequesne-105" name="radio-lequesne-10" class="d-input-none" value="2">
    <label for="radio-lequesne-105" class="chip chip-action chip-sm chip-choice">Impossible</label>
  </fieldset>
  <fieldset>
    <legend>Pouvez-vous sortir d’une voiture, d’un fauteuil profond ?</legend>
    <input type="radio" id="radio-lequesne-111" name="radio-lequesne-11" class="d-input-none" value="0" required>
    <label for="radio-lequesne-111" class="chip chip-action chip-sm chip-choice">Sans difficulté</label>
    <input type="radio" id="radio-lequesne-112" name="radio-lequesne-11" class="d-input-none" value="0.5">
    <label for="radio-lequesne-112" class="chip chip-action chip-sm chip-choice">Assez facilement</label>
    <input type="radio" id="radio-lequesne-113" name="radio-lequesne-11" class="d-input-none" value="1">
    <label for="radio-lequesne-113" class="chip chip-action chip-sm chip-choice">Avec difficulté</label>
    <input type="radio" id="radio-lequesne-114" name="radio-lequesne-11" class="d-input-none" value="1.5">
    <label for="radio-lequesne-114" class="chip chip-action chip-sm chip-choice">Avec beaucoup de difficulté</label>
    <input type="radio" id="radio-lequesne-115" name="radio-lequesne-11" class="d-input-none" value="2">
    <label for="radio-lequesne-115" class="chip chip-action chip-sm chip-choice">Impossible</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Score</p>
      <output class="score-output" id="lequesneScore">0</output>
    </div>
    <p id="lequesneText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="mt-4">
  <p lang="en">
    Lequesne MG, Mery C, Samson M, Gerard P. Indexes of severity for osteoarthritis of the hip and knee. Validation--value in comparison with other assessment tests. Scand J Rheumatol Suppl. 1987;65:85-89. doi:10.3109/03009748709102182
  </p>
</blockquote>
{{ $script := `
  // Score Lequesne by djibe
  window.addEventListener( 'load', event => {
    const scorelequesne = document.getElementById('lequesneScore')
    const textlequesne = document.getElementById('lequesneText');
    [...document.querySelectorAll('#score-lequesne input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calclequesne() ) })
    const calclequesne = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-lequesne input[type=\"radio\"]:checked')
        elemsChecked.forEach(elemChecked => {
        score += parseFloat(elemChecked.value, 10)
        if (elemsChecked.length === 11) {
          scorelequesne.innerHTML = score
          if (score <= 4) {
            textlequesne.innerHTML = "Handicap modeste ou pas de handicap"
          }
          else if (score >= 5 && score <= 7) {
            textlequesne.innerHTML = "Handicap modeste ou pas de handicap"
          }
          else if (score >= 8 && score <= 9) {
            textlequesne.innerHTML = "Handicap important"
          }
          else if (score == 10) {
            textlequesne.innerHTML = "Handicap important<br>Une chirurgie peut être indiquée"
          }
          else if (score >= 11 && score <= 13) {
            textlequesne.innerHTML = "Handicap très important<br>Avis orthopédique pour prothèse"
          }
          else if (score >= 14) {
            textlequesne.innerHTML = "Handicap extrême, insupportable<br>Avis orthopédique pour prothèse"
          }
        } else {
          textlequesne.innerHTML = "Veuillez répondre à toutes les questions"
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>