<p lang="en">Migraine Treatment Optimization Questionnaire (M-TOQ-5 in primary care).<br>
Traduction non officielle par Dr JB Fron.</p>
<div class="custom-control custom-checkbox">
  <input type="checkbox" id="mtoq1" class="custom-control-input" value="1">
  <label class="custom-control-label" for="mtoq1">Êtes-vous capable de reprendre rapidement vos activités normales (travail, famille, loisirs, activités sociales) après avoir pris votre médicament contre la migraine&nbsp;?</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" id="mtoq2" class="custom-control-input" value="1">
  <label class="custom-control-label" for="mtoq2">Pouvez-vous compter sur votre médicament contre la migraine pour soulager votre douleur dans les 2h pour la plupart des crises&nbsp;?</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" id="mtoq3" class="custom-control-input" value="1">
  <label class="custom-control-label" for="mtoq3">Est-ce qu'une seule dose de votre médicament contre la migraine soulage habituellement votre mal de tête et le fait disparaître pendant au moins 24h&nbsp;?</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" id="mtoq4" class="custom-control-input" value="1">
  <label class="custom-control-label" for="mtoq4">Êtes-vous suffisamment à l'aise avec votre médicament contre la migraine pour pouvoir planifier vos activités quotidiennes&nbsp;?</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" id="mtoq5" class="custom-control-input" value="1">
  <label class="custom-control-label" for="mtoq5">Tolérez-vous bien le médicament contre la migraine ?</label>
</div>
<div class="alert bg-light d-md-flex">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">Score STOP-BANG</p>
    <output class="score-output" id="stopbangScore">0</output>
  </div>
  <p id="stopbangText" class="lead m-auto">Faible risque de SAOS</p>
</div>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://doi.org/10.1111%2Fj.1468-2982.2008.01786.x" rel="external nofollow noopener">Lipton RB et al. Validity and reliability of the Migraine-Treatment Optimization Questionnaire. Cephalalgia Int J. Headache 2009;29:751–9.</a>
  </p>
</blockquote>
{{ $script := `
  // Score STOP-BANG by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreStopBang = document.getElementById('stopbangScore')
    const textStopBang = document.getElementById('stopbangText')
    const checkboxHomme = document.getElementById('stopbang7')
    const checkboxObesite = document.getElementById('stopbang5')
    const checkboxTourCou = document.getElementById('stopbang8')
    const messageTourCou = document.getElementById('message-tour-cou');
    [...document.querySelectorAll('#score-stop-bang input[type=\"checkbox\"]')].forEach((elem) => { elem.addEventListener('click', () => {
      messageSexe()
      stopBang()
    }) })
    const messageSexe = () => {
      checkboxHomme.checked ? messageTourCou.innerHTML = 43 : messageTourCou.innerHTML = 41
    }
    const stopBang = () => {
      let score = 0
      let majeur = 0
      const elemsChecked = document.querySelectorAll('#score-stop-bang input[type=\"checkbox\"]:checked')
      elemsChecked.forEach(elemChecked => {
        if (elemChecked.classList.contains('stopbang-majeur')) {
          majeur += 1
        }
        score += parseInt(elemChecked.value, 10)
        scoreStopBang.innerHTML = score
        if (majeur >= 2 && checkboxHomme.checked
        || majeur >= 2 && checkboxObesite.checked
        || majeur >= 2 && checkboxTourCou.checked
        || score >= 5 && score <= 8) {
          textStopBang.innerHTML = '<strong>Risque élevé</strong> de SAOS'
        } else if (score <= 2) {
          textStopBang.innerHTML = '<strong>Faible risque</strong> de SAOS'
        } else if (score >= 3 && score <= 4) {
          textStopBang.innerHTML = '<strong>Risque moyen</strong> de SAOS'
        }
      })
      if (elemsChecked.length === 0) {
        scoreStopBang.innerHTML = 0
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>
