<p>Doit être utilisé à partir de 15 ans.<br>
  Réaliser le TDR si score &ge; 2 <span class="text-muted">(VPN 95%)</span>.
</p>
<div class="alert border rounded-lg mb-4 mb-lg-5" id="score-mcisaac" style="max-width: 768px">
  <div class="row">
    <div class="col-12 col-md-9">
      <input type="checkbox" id="temperature" class="d-input-none" value="1">
      <label for="temperature" class="chip chip-action chip-filter">T° &gt; 38°C</label>
      <input type="checkbox" id="cough" class="d-input-none" value="1">
      <label for="cough" class="chip chip-action chip-filter">Absence de toux</label>
      <input type="checkbox" id="adp" class="d-input-none" value="1">
      <label for="adp" class="chip chip-action chip-filter">ADP cervicales antérieures douloureuses</label>
      <input type="checkbox" id="tonsils" class="d-input-none" value="1">
      <label for="tonsils" class="chip chip-action chip-filter">Amygdales augmentées de volume/exsudat</label>
      <input type="checkbox" id="age" class="d-input-none" value="-1">
      <label for="age" class="chip chip-action chip-filter">Âge &ge; 45 ans</label>
    </div>
    <div class="col-12 col-md-3">
      <p class="typography-overline letter-spacing-normal text-black-secondary mt-4 mt-md-0 mb-1">Score de Mac Isaac</p>
      <output id="counter" class="font-weight-bold mb-0" style="font-size: 3rem;line-height: 1.2">0</output>
      <p id="explainMcIsaac" class="typography-body-2 mb-0">Origine virale</p>
    </div>
  </div>
</div>
{{ $script := `
  // Score de Mac Isaac by djibe
  let score = 0;
  const Text = document.getElementById('explainMcIsaac');
  [...document.querySelectorAll('#score-mcisaac input[type=\"checkbox\"]')].forEach(function(checkbox) {
    checkbox.addEventListener('change', function(e) {
      e.target.checked ? score += parseInt(e.target.value, 10) : score -= parseInt(e.target.value, 10)
      document.getElementById('counter').innerHTML = score
      score >= 2 ? Text.innerHTML = 'Faire un TDR' : Text.innerHTML = 'Origine virale'
    })
  })` }}
<script>{{ $script | safeJS }}</script>