<div id="score-mdq">
  <h4 class="typography-headline-6">Mood Disorder Questionnaire <abbr lang="en" title="Mood Disorder Questionnaire">MDQ</abbr> la maladie bipolaire</h4>
  <p>Questionnaire couramment utilisé lorsqu’on soupçonne la présence de bipolarité de type I ou II.</p>
  <p>Avez-vous déjà connu une période dans votre vie où vous n’avez pas été comme vous êtes d’habitude, et où …</p>
  <fieldset class="mt-4">
    <legend>1. Vous vous êtes senti tellement bien, tellement excité que les autres ont
      pensé que vous n’étiez pas comme vous êtes normalement, ou tellement
      excité que cela vous a amené des problèmes ?</legend>
    <input type="radio" id="mdq-11" name="radio-mdq-1" class="d-input-none" value="1" required>
    <label for="mdq-11" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-12" name="radio-mdq-1" class="d-input-none" value="0">
    <label for="mdq-12" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>2. Vous avez été irritable au point de crier après les gens ou de provoquer des disputes ou des bagarres ?</legend>
    <input type="radio" id="mdq-21" name="radio-mdq-2" class="d-input-none" value="1" required>
    <label for="mdq-21" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-22" name="radio-mdq-2" class="d-input-none" value="0">
    <label for="mdq-22" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>3. Vous avez eu beaucoup plus confiance en vous que d’habitude ?</legend>
    <input type="radio" id="mdq-31" name="radio-mdq-3" class="d-input-none" value="1" required>
    <label for="mdq-31" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-32" name="radio-mdq-3" class="d-input-none" value="0">
    <label for="mdq-32" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>4. Vous avez dormi beaucoup moins sans vraiment ressentir que vous manquiez de sommeil ?</legend>
    <input type="radio" id="mdq-41" name="radio-mdq-4" class="d-input-none" value="1" required>
    <label for="mdq-41" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-42" name="radio-mdq-4" class="d-input-none" value="0">
    <label for="mdq-42" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>5. Vous avez parlé plus vite ou beaucoup plus que d’habitude ?</legend>
    <input type="radio" id="mdq-51" name="radio-mdq-5" class="d-input-none" value="1" required>
    <label for="mdq-51" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-52" name="radio-mdq-5" class="d-input-none" value="0">
    <label for="mdq-52" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>6. Vos pensées sont allées très vite et vous avez été incapable de les ralentir ?</legend>
    <input type="radio" id="mdq-61" name="radio-mdq-6" class="d-input-none" value="1" required>
    <label for="mdq-61" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-62" name="radio-mdq-6" class="d-input-none" value="0">
    <label for="mdq-62" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>7. Vous avez été facilement distrait par tout ce qui se passait autour de vous,
      au point d’avoir du mal à vous concentrer ou à maintenir la direction de vos pensées ?</legend>
    <input type="radio" id="mdq-71" name="radio-mdq-7" class="d-input-none" value="1" required>
    <label for="mdq-71" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-72" name="radio-mdq-7" class="d-input-none" value="0">
    <label for="mdq-72" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>8. Vous avez eu beaucoup plus d’énergie que d’habitude ?</legend>
    <input type="radio" id="mdq-81" name="radio-mdq-8" class="d-input-none" value="1" required>
    <label for="mdq-81" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-82" name="radio-mdq-8" class="d-input-none" value="0">
    <label for="mdq-82" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>9. Vous avez été beaucoup plus actif ou vous avez fait beaucoup plus de choses que d’habitude ?</legend>
    <input type="radio" id="mdq-91" name="radio-mdq-9" class="d-input-none" value="1" required>
    <label for="mdq-91" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-92" name="radio-mdq-9" class="d-input-none" value="0">
    <label for="mdq-92" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>10. Vous avez été beaucoup plus sociable ou extraverti que d’habitude, par ex:
      vous avez téléphoné à des amis au milieu de la nuit ?</legend>
    <input type="radio" id="mdq-101" name="radio-mdq-10" class="d-input-none" value="1" required>
    <label for="mdq-101" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-102" name="radio-mdq-10" class="d-input-none" value="0">
    <label for="mdq-102" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>11. Vous avez été beaucoup plus intéressé par le sexe que d’habitude ?</legend>
    <input type="radio" id="mdq-111" name="radio-mdq-11" class="d-input-none" value="1" required>
    <label for="mdq-111" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-112" name="radio-mdq-11" class="d-input-none" value="0">
    <label for="mdq-112" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>12. Vous avez fait des choses inhabituelles pour vous ou que les autres
      auraient pu trouver excessives, bizarres ou risquées ?</legend>
    <input type="radio" id="mdq-121" name="radio-mdq-12" class="d-input-none" value="1" required>
    <label for="mdq-121" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-122" name="radio-mdq-12" class="d-input-none" value="0">
    <label for="mdq-122" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <fieldset class="mt-4">
    <legend>13. Vous avez dépensé beaucoup d’argent au point de vous amener des
      problèmes, à vous ou à votre famille ?</legend>
    <input type="radio" id="mdq-131" name="radio-mdq-13" class="d-input-none" value="1" required>
    <label for="mdq-131" class="chip chip-action chip-sm chip-choice">Oui</label>
    <input type="radio" id="mdq-132" name="radio-mdq-13" class="d-input-none" value="0">
    <label for="mdq-132" class="chip chip-action chip-sm chip-choice">Non</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">mdq</p>
      <output class="score-output" id="mdqScore">0</output>
    </div>
    <p id="mdqText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote lang="en">
  <p>
    <a href="" rel="external nofollow noopener">
      </a>
  </p>
</blockquote>
{{ $script := `
  // Score mdq by djibe
  window.addEventListener( 'load', event => {
    const scoremdq = document.getElementById('mdqScore')
    const textmdq = document.getElementById('mdqText');
    [...document.querySelectorAll('#score-mdq input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcmdq() ) })
    const calcmdq = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-mdq input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 6) {
          scoremdq.innerHTML = score
          if (score >= 2) { textmdq.innerHTML = "Risque élevé d’usage problématique" }
          if (score >= 3) { textmdq.innerHTML += "<br>Proposer un accompagnement pour l’arrêt" }
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>