<dl class="border-bottom">
  <dt>mMRC Stade 0</dt>
  <dd>Dyspnée pour des efforts soutenus (montée de 2 étages).</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 1</dt>
  <dd>Dyspnée lors de la marche rapide ou en pente.</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 2</dt>
  <dd>Dyspnée à la marche sur terrain plat en suivant quelqu'un de son âge.</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 3</dt>
  <dd>
    Dyspnée obligeant à s'arrêter pour reprendre son souffle après quelques
    minutes ou une centaine de mètres sur terrain plat.
  </dd>
</dl>
<dl>
  <dt>mMRC Stade 4</dt>
  <dd>Dyspnée au moindre effort.</dd>
</dl>
<blockquote lang="en" class="mt-4">
  <p>Fletcher et al. Standardized Questionaries on Respiratory Symptoms. (1960). British Medical Journal, 2(5213), 1665.</p>
  <p>
    <a
      href="https://thorax.bmj.com/content/54/7/581"
      rel="external nofollow noopener"
      >Bestall et al. Usefulness of the Medical Research Council (MRC) dyspnoea
      scale as a measure of disability in patients with chronic obstructive
      pulmonary disease. Thorax. 1999.</a>
  </p>
</blockquote>