<p>L’échelle de dyspnée modifiée du Medical Research Council (mMRC) est validée pour
  l’évaluation subjective de la dyspnée associée à la BPCO.</p>
<dl class="border-bottom">
  <dt>mMRC Stade 0</dt>
  <dd>Dyspnée pour des efforts soutenus (montée de 2 étages).</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 1</dt>
  <dd>Dyspnée lors de la marche rapide ou en pente.</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 2</dt>
  <dd>Dyspnée à la marche sur terrain plat en suivant quelqu’un de son âge.</dd>
</dl>
<dl class="border-bottom">
  <dt>mMRC Stade 3</dt>
  <dd>
    Dyspnée obligeant à s’arrêter pour reprendre son souffle après quelques
    minutes ou une centaine de mètres sur terrain plat.
  </dd>
</dl>
<dl>
  <dt>mMRC Stade 4</dt>
  <dd>Dyspnée au moindre effort.</dd>
</dl>
<blockquote lang="en" class="mt-4">
  <p>ATS (1982) Am Rev Respir Dis. Nov;126(5):952-6</p>
</blockquote>