<dl>
  <dt>mMRC 0</dt>
  <dd>Dyspnée pour des efforts soutenus (montée de 2 étages).</dd>
</dl>
<hr>
<dl>
  <dt>mMRC 1</dt>
  <dd>Dyspnée lors de la marche rapide ou en pente.</dd>
</dl>
<hr>
<dl>
  <dt>mMRC 2</dt>
  <dd>Dyspnée à la marche sur terrain plat en suivant quelqu'un de son âge.</dd>
</dl>
<hr>
<dl>
  <dt>mMRC 3</dt>
  <dd>Dyspnée obligeant à s'arrêter pour reprendre son souffle après quelques minutes ou une centaine de mètres sur terrain plat.</dd>
</dl>
<hr>
<dl>
  <dt>mMRC 4</dt>
  <dd>Dyspnée au moindre effort.</dd>
</dl>
<blockquote class="mt-4">
  <p>
    Fletcher & al. Standardized Questionaries on Respiratory Symptoms. (1960). British Medical Journal, 2(5213), 1665.
  </p>
</blockquote>