<p>L’échelle Medical Research Council motor power scale (<dfn><abbr title="Medical Research Council">MRC</abbr></dfn>) est validée pour
  l’évaluation subjective de la force musculaire (testing moteur) sur une échelle de 0 à 5 pour chacun des muscles suivants:
  deltoïde, biceps, brachial, triceps, fléchisseurs des poignets, fléchisseurs et extenseurs des doigts, psoas,
  abducteur et adducteurs de hanche, quadriceps, extenseurs et fléchisseurs de pied, extenseurs et fléchisseurs du cou.
</p>
<dl class="border-bottom">
  <dt>MRC 0</dt>
  <dd>Aucune contraction visible.</dd>
</dl>
<dl class="border-bottom">
  <dt>MRC 1</dt>
  <dd>Contraction visible sans mouvement du membre (inexistant pour la flexion de la hanche).</dd>
</dl>
<dl class="border-bottom">
  <dt>MRC 2</dt>
  <dd>Mouvement du membre mais pas contre la pesanteur.</dd>
</dl>
<dl class="border-bottom">
  <dt>MRC 3</dt>
  <dd>Mouvement contre la pesanteur sur (presque) toute la plage de mouvement.</dd>
</dl>
<dl class="border-bottom">
  <dt>MRC 4</dt>
  <dd>Mouvement contre la pesanteur et contre la résistance.</dd>
</dl>
<dl>
  <dt>MRC 5</dt>
  <dd>Force normale.</dd>
</dl>
<blockquote lang="en" class="mt-4">
  <p><a href="https://onlinelibrary.wiley.com/doi/10.1002/mus.880141111" rel="external nofollow noopener">
    Kleyweg RP, van der Meché FG, Schmitz PI. Interobserver agreement in the assessment of muscle strength and functional abilities in Guillain-Barré syndrome. Muscle Nerve. 1991;14(11):1103-1109. doi:10.1002/mus.880141111
  </a></p>
</blockquote>