<dl>
  <dt>NYHA I</dt>
  <dd>Aucune limitation d'activité.</dd>
  <dd>
    Absence de dyspnée, palpitations ou fatigue pour les efforts habituels :
    aucune gêne n’est ressentie dans la vie courante.
  </dd>
</dl>
<hr>
<dl>
  <dt>NYHA II</dt>
  <dd>Limitation d'activité légère à modérée.</dd>
  <dd>
    Dyspnée, palpitations ou fatigue pour des efforts importants habituels, tels
    que la marche rapide ou en côte ou la montée des escaliers (&ge; 2 étages).
  </dd>
</dl>
<hr>
<dl>
  <dt>NYHA III</dt>
  <dd>Limitation d'activité marquée survenant au moindre effort.</dd>
  <dd>
    Dyspnée, palpitations ou fatigue pour des efforts peu intenses de la vie
    courante, tels que la marche en terrain plat ou la montée des escaliers
    (&lt; 2 étages).
  </dd>
</dl>
<hr>
<dl>
  <dt>NYHA IV</dt>
  <dd>Gêne au moindre effort et/ou au repos.</dd>
  <dd>
    Dyspnée, palpitations ou fatigue permanente de repos ou pour des efforts
    minimes (ex. s’habiller).
  </dd>
</dl>
<blockquote class="mt-4">
  <p>
    Hurst Hurst JW, Morris DC, Alexander RW. The use of the New York Heart
    Association's classification of cardiovascular disease as part of the
    patient's complete Problem List. Clin Cardiol. JW, Morris DC, Alexander RW.
  </p>
</blockquote>