<h4 class="card-title">Échelle de performance (PS) de l’OMS (ECOG-PS)</h4>
<p>Dite aussi échelle de performance <dfn><abbr title="Eastern Cooperative Oncology Group">ECOG</abbr></dfn> (<dfn><abbr title="Eastern Cooperative Oncology Group Performance Status">ECOG-PS</abbr></dfn>),
  de l’Eastern Cooperative Oncology Group ou échelle de Zubrod.</p>
<p>L’échelle de performance de l’OMS est une échelle de référence pour évaluer la santé générale et le niveau d’activité d’un patient.</p>
<dl class="border-bottom">
  <dt>OMS 0</dt>
  <dd>Aucune limitation, état fonctionnel identique à celui pré-morbide.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 1</dt>
  <dd>Restriction aux activités physiques, mais ambulant et capable d’effectuer des travaux légers ou sédentaires (ex: travaux ménagers, travail de bureau).</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 2</dt>
  <dd>Ambulant et capable de prendre soin de sa personne mais incapable de travailler; actif pour plus de 50 % de la journée.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 3</dt>
  <dd>Capacité très limitée de prendre soin de sa personne; confiné au lit ou au fauteuil pour plus de 50 % de la journée.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 4</dt>
  <dd>Incapacité totale; ne peut prendre soin de sa personne; confiné au fauteuil ou au lit.</dd>
</dl>
<dl>
  <dt>OMS 5</dt>
  <dd>Décédé.</dd>
</dl>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://journals.lww.com/amjclinicaloncology/abstract/1982/12000/toxicity_and_response_criteria_of_the_eastern.14.aspx" rel="external nofollow noopener">Oken, Martin M. M.D.a; Creech, Richard H. M.D.b; Tormey, Douglass C. M.D.,
      Oken MM, Creech RH, Tormey DC, Horton J, Carbone PP et al.,
      Toxicity and response criteria of the Eastern Cooperative Oncology Group.
      American Journal of Clinical Oncology 5(6):p 649-656, December 1982.</a>
  </p>
</blockquote>