<div id="score-pedt">
  <h3 class="card-title mb-2">Score PEDT - Premature Ejaculation Diagnostic Tool</h3>
  <p>Score <abbr title="Premature Ejaculation Diagnostic Tool" lang="en">PEDT</abbr> (<span lang="en">Premature Ejaculation Diagnostic Tool</span>) pour l’évaluation de l’éjaculation précoce.</p>
  <p>Ce questionnaire analyse la présence d’éjaculation précoce pendant les rapports sexuels. L’éjaculation précoce est la dysfonction sexuelle masculine la plus répandue. Ce questionnaire ne remplace pas un examen médical et ne doit pas être considéré comme définitif. Les résultats du test doivent toujours être discutés avec un professionnel de santé.</p>
  <fieldset>
    <legend>1. À quel point vous est-il difficile de retarder votre éjaculation ?</legend>
    <input type="radio" id="pedt-11" name="radio-pedt-1" class="d-input-none" value="0" required>
    <label for="pedt-11" class="chip chip-action chip-sm chip-choice">Pas facile du tout</label>
    <input type="radio" id="pedt-12" name="radio-pedt-1" class="d-input-none" value="1">
    <label for="pedt-12" class="chip chip-action chip-sm chip-choice">Un peu difficile</label>
    <input type="radio" id="pedt-13" name="radio-pedt-1" class="d-input-none" value="2">
    <label for="pedt-13" class="chip chip-action chip-sm chip-choice">Assez difficile</label>
    <input type="radio" id="pedt-14" name="radio-pedt-1" class="d-input-none" value="3">
    <label for="pedt-14" class="chip chip-action chip-sm chip-choice">Très difficile</label>
    <input type="radio" id="pedt-15" name="radio-pedt-1" class="d-input-none" value="4">
    <label for="pedt-15" class="chip chip-action chip-sm chip-choice">Extrêmement difficile</label>
  </fieldset>
  <fieldset>
    <legend>2. Votre éjaculation se produit-elle avant que vous ne le souhaitiez ?</legend>
    <input type="radio" id="pedt-21" name="radio-pedt-2" class="d-input-none" value="0" required>
    <label for="pedt-21" class="chip chip-action chip-sm chip-choice">Jamais ou presque</label>
    <input type="radio" id="pedt-22" name="radio-pedt-2" class="d-input-none" value="1">
    <label for="pedt-22" class="chip chip-action chip-sm chip-choice">Quelques fois</label>
    <input type="radio" id="pedt-23" name="radio-pedt-2" class="d-input-none" value="2">
    <label for="pedt-23" class="chip chip-action chip-sm chip-choice">La moitié du temps</label>
    <input type="radio" id="pedt-24" name="radio-pedt-2" class="d-input-none" value="3">
    <label for="pedt-24" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="pedt-25" name="radio-pedt-2" class="d-input-none" value="4">
    <label for="pedt-25" class="chip chip-action chip-sm chip-choice">Presque toujours ou toujours</label>
  </fieldset>
  <fieldset>
    <legend>3. Éjaculez -vous suite à une très faible stimulation ?</legend>
    <input type="radio" id="pedt-31" name="radio-pedt-3" class="d-input-none" value="0" required>
    <label for="pedt-31" class="chip chip-action chip-sm chip-choice">Jamais ou presque</label>
    <input type="radio" id="pedt-32" name="radio-pedt-3" class="d-input-none" value="1">
    <label for="pedt-32" class="chip chip-action chip-sm chip-choice">Quelques fois</label>
    <input type="radio" id="pedt-33" name="radio-pedt-3" class="d-input-none" value="2">
    <label for="pedt-33" class="chip chip-action chip-sm chip-choice">La moitié du temps</label>
    <input type="radio" id="pedt-34" name="radio-pedt-3" class="d-input-none" value="3">
    <label for="pedt-34" class="chip chip-action chip-sm chip-choice">La plupart du temps</label>
    <input type="radio" id="pedt-35" name="radio-pedt-3" class="d-input-none" value="4">
    <label for="pedt-35" class="chip chip-action chip-sm chip-choice">Presque toujours ou toujours</label>
  </fieldset>
  <fieldset>
    <legend>4. Vous sentez -vous frustré d’éjaculer avant le moment souhaité ?</legend>
    <input type="radio" id="pedt-41" name="radio-pedt-4" class="d-input-none" value="0" required>
    <label for="pedt-41" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
    <input type="radio" id="pedt-42" name="radio-pedt-4" class="d-input-none" value="1">
    <label for="pedt-42" class="chip chip-action chip-sm chip-choice">Légèrement</label>
    <input type="radio" id="pedt-43" name="radio-pedt-4" class="d-input-none" value="2">
    <label for="pedt-43" class="chip chip-action chip-sm chip-choice">Modérément</label>
    <input type="radio" id="pedt-44" name="radio-pedt-4" class="d-input-none" value="3">
    <label for="pedt-44" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="pedt-45" name="radio-pedt-4" class="d-input-none" value="4">
    <label for="pedt-45" class="chip chip-action chip-sm chip-choice">Extrêmement</label>
  </fieldset>
  <fieldset>
    <legend>5. Vous sentez -vous affecté par l’insatisfaction sexuelle générée chez votre partenaire ?</legend>
    <input type="radio" id="pedt-51" name="radio-pedt-5" class="d-input-none" value="0" required>
    <label for="pedt-51" class="chip chip-action chip-sm chip-choice">Pas du tout</label>
    <input type="radio" id="pedt-52" name="radio-pedt-5" class="d-input-none" value="1">
    <label for="pedt-52" class="chip chip-action chip-sm chip-choice">Légèrement</label>
    <input type="radio" id="pedt-53" name="radio-pedt-5" class="d-input-none" value="2">
    <label for="pedt-53" class="chip chip-action chip-sm chip-choice">Modérément</label>
    <input type="radio" id="pedt-54" name="radio-pedt-5" class="d-input-none" value="3">
    <label for="pedt-54" class="chip chip-action chip-sm chip-choice">Beaucoup</label>
    <input type="radio" id="pedt-55" name="radio-pedt-5" class="d-input-none" value="4">
    <label for="pedt-55" class="chip chip-action chip-sm chip-choice">Extrêmement</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score PEDT</p>
      <output class="score-output" id="pedtScore">0</output>
    </div>
    <p id="pedtText" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="mt-4">
  <p><a href="https://pubmed.ncbi.nlm.nih.gov/17275165/" rel="external nofollow noopener">Symonds T, Perelman MA, Althof S, et al. Development and validation of a premature ejaculation diagnostic tool. Eur Urol. 2007;52(2):565-573. doi:10.1016/j.eururo.2007.01.028</a>
  </p>
</blockquote>
{{ $script := `
  // Score PEDT by djibe
  window.addEventListener( 'load', event => {
    const scorepedt = document.getElementById('pedtScore')
    const textpedt = document.getElementById('pedtText');
    [...document.querySelectorAll('#score-pedt input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => { calcpedt() }) })
    const calcpedt = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('#score-pedt input[type=\"radio\"]:checked')
      elemsChecked.forEach(elemChecked => {
        score += parseInt(elemChecked.value, 10)
        if (elemsChecked.length === 5) {
          scorepedt.innerHTML = score
          // TODO:
          if (score <= 8) {
            textpedt.innerHTML = "Absence d’éjaculation précoce"
          } else if (score >= 9 && score <= 10) {
            textpedt.innerHTML = 'Éjaculation précoce probable'
          } else if (score >= 11) {
            textpedt.innerHTML = 'Éjaculation précoce'
          }
        } else {
          textpedt.innerHTML = 'Veuillez répondre à toutes les questions'
        }
      })
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>