<dl class="border-bottom">
  <dt>OMS 0</dt>
  <dd>Activité normale.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 1</dt>
  <dd>Activité physique diminuée mais patient ambulatoire et capable de mener un travail.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 2</dt>
  <dd>Malade ambulatoire et capable de prendre soin de lui-même mais incapable de travailler. Alité ou en chaise
    moins de 50 % de son temps de veille.</dd>
</dl>
<dl class="border-bottom">
  <dt>OMS 3</dt>
  <dd>Capable seulement de quelques soins, alité ou en chaise de plus de 50 % de son temps de veille.</dd>
</dl>
<dl>
  <dt>OMS 4</dt>
  <dd>Alité en permanence. Nécessite une aide permanente.</dd>
</dl>
<blockquote class="mt-4">
  <p>Échelle de l’OMS de l’état général ou <em lang="en">Performance Status</em> (PS)</p>
</blockquote>