<div id="score-phq4">
  <p>L’auto-questionnaire <dfn><abbr title="4-Item Patient Health Questionnaire for Depression and Anxiety" lang="en">PHQ-4</abbr></dfn> (<span lang="en">Patient Health Questionnaire 4</span>) pour l’évaluation d’un adulte présentant des symptômes dépressifs et anxieux.
    Il combine les questionnaires PHQ-2 et GAD-2.</p>
  <p>Au cours des 2 dernières semaines, à quelle fréquence avez-vous été dérangé(e) par les problèmes suivants&nbsp;?</p>
  <fieldset>
    <legend>1. Sentiment de nervosité, d’anxiété ou de tension</legend>
    <input type="radio" id="phq4-11" name="radio-anxiety-1" class="d-input-none" value="0" required>
    <label for="phq4-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq4-12" name="radio-anxiety-1" class="d-input-none" value="1">
    <label for="phq4-12" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq4-13" name="radio-anxiety-1" class="d-input-none" value="2">
    <label for="phq4-13" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq4-14" name="radio-anxiety-1" class="d-input-none" value="3">
    <label for="phq4-14" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>2. Incapable d’arrêter de vous inquiéter ou de contrôler vos inquiétudes</legend>
    <input type="radio" id="phq4-21" name="radio-anxiety-2" class="d-input-none" value="0" required>
    <label for="phq4-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq4-22" name="radio-anxiety-2" class="d-input-none" value="1">
    <label for="phq4-22" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq4-23" name="radio-anxiety-2" class="d-input-none" value="2">
    <label for="phq4-23" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq4-24" name="radio-anxiety-2" class="d-input-none" value="3">
    <label for="phq4-24" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>3. Peu d’intérêt ou de plaisir à faire les choses</legend>
    <input type="radio" id="phq4-31" name="radio-depression-1" class="d-input-none" value="0" required>
    <label for="phq4-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq4-32" name="radio-depression-1" class="d-input-none" value="1">
    <label for="phq4-32" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq4-33" name="radio-depression-1" class="d-input-none" value="2">
    <label for="phq4-33" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq4-34" name="radio-depression-1" class="d-input-none" value="3">
    <label for="phq4-34" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>4. Sentiment de tristesse, de déprime ou de désespoir</legend>
    <input type="radio" id="phq4-41" name="radio-depression-2" class="d-input-none" value="0" required>
    <label for="phq4-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq4-42" name="radio-depression-2" class="d-input-none" value="1">
    <label for="phq4-42" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq4-43" name="radio-depression-2" class="d-input-none" value="2">
    <label for="phq4-43" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq4-44" name="radio-depression-2" class="d-input-none" value="3">
    <label for="phq4-44" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score PHQ-4</p>
      <output class="score-output" id="phq4Score">0</output>
    </div>
    <p id="phq4Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://pubmed.ncbi.nlm.nih.gov/19616305/" rel="external nofollow noopener">Löwe B, Wahl I, Rose M, et al. A 4-item measure of depression and anxiety: validation and standardization of the Patient Health Questionnaire-4 (PHQ-4) in the general population. J Affect Disord. 2010;122(1-2):86-95. doi:10.1016/j.jad.2009.06.019</a></p>
</blockquote>
{{ $script := `
  // Questionnaire PHQ-4 by djibe
  window.addEventListener( 'load', event => {
    const scorephq4 = document.getElementById('phq4Score')
    const textphq4 = document.getElementById('phq4Text');
    [...document.querySelectorAll('#score-phq4 input[type="radio"]')].forEach((elem) => { elem.addEventListener('click', () => calcphq4() ) })
    const calcphq4 = () => {
      let score = 0
      let anxietyText = ''
      let depressionText = ''
      const checkedElems = document.querySelectorAll('#score-phq4 input[type="radio"]:checked')
      if (checkedElems.length === 4) {
        const checkedAnxiety1 = document.querySelector('#score-phq4 input[name="radio-anxiety-1"]:checked')
        const checkedAnxiety2 = document.querySelector('#score-phq4 input[name="radio-anxiety-2"]:checked')
        let anxietyValue = parseInt(checkedAnxiety1.value, 10) + parseInt(checkedAnxiety2.value, 10)
        if (anxietyValue >= 3) { anxietyText = '<br>Anxiété probable'}
        const checkedDepression1 = document.querySelector('#score-phq4 input[name="radio-depression-1"]:checked')
        const checkedDepression2 = document.querySelector('#score-phq4 input[name="radio-depression-2"]:checked')
        let depressionValue = parseInt(checkedDepression1.value, 10) + parseInt(checkedDepression2.value, 10)
        if (depressionValue >= 3) { depressionText = '<br>Dépression probable'}
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scorephq4.innerHTML = score
        if (score <= 2) { textphq4.innerHTML = "Pas de détresse psychologique" }
        else if (score >= 3 && score <= 5) { textphq4.innerHTML = "Détresse psychologique légère" + anxietyText + depressionText}
        else if (score >= 6 && score <= 8) { textphq4.innerHTML = "<strong>Détresse psychologique modérée</strong>" + anxietyText + depressionText }
        else if (score >= 9 && score <= 12) { textphq4.innerHTML = "<strong>Détresse psychologique grave</strong>" + anxietyText + depressionText}
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>