<div id="score-phq9">
  <p>Auto-questionnaire <dfn><abbr title="9-Item Patient Health Questionnaire for Depression" lang="en">PHQ-9</abbr></dfn> (<span lang="en">9-Item Patient Health Questionnaire</span>) pour l’évaluation d’un adulte présentant des symptômes dépressifs.</p>
  <p>Ce questionnaire peut: aider à identifier une dépression (dont post-partum), évaluer la sévérité de l’EDC et réadapter le traitement.</p>
  <p>Au cours des 2 dernières semaines, selon quelle fréquence avez-vous été gêné(e) par les problèmes suivants ?</p>
  <fieldset>
    <legend>1. Peu d’intérêt ou de plaisir à faire les choses</legend>
    <input type="radio" id="phq9-11" name="radio-phq9-1" class="d-input-none" value="0" required>
    <label for="phq9-11" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-12" name="radio-phq9-1" class="d-input-none" value="1">
    <label for="phq9-12" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-13" name="radio-phq9-1" class="d-input-none" value="2">
    <label for="phq9-13" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-14" name="radio-phq9-1" class="d-input-none" value="3">
    <label for="phq9-14" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>2. Être triste, déprimé(e) ou désespéré(e)</legend>
    <input type="radio" id="phq9-21" name="radio-phq9-2" class="d-input-none" value="0" required>
    <label for="phq9-21" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-22" name="radio-phq9-2" class="d-input-none" value="1">
    <label for="phq9-22" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-23" name="radio-phq9-2" class="d-input-none" value="2">
    <label for="phq9-23" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-24" name="radio-phq9-2" class="d-input-none" value="3">
    <label for="phq9-24" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>3. Difficultés à s’endormir ou à rester endormi(e), ou dormir trop</legend>
    <input type="radio" id="phq9-31" name="radio-phq9-3" class="d-input-none" value="0" required>
    <label for="phq9-31" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-32" name="radio-phq9-3" class="d-input-none" value="1">
    <label for="phq9-32" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-33" name="radio-phq9-3" class="d-input-none" value="2">
    <label for="phq9-33" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-34" name="radio-phq9-3" class="d-input-none" value="3">
    <label for="phq9-34" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>4. Se sentir fatigué(e) ou manquer d’énergie</legend>
    <input type="radio" id="phq9-41" name="radio-phq9-4" class="d-input-none" value="0" required>
    <label for="phq9-41" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-42" name="radio-phq9-4" class="d-input-none" value="1">
    <label for="phq9-42" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-43" name="radio-phq9-4" class="d-input-none" value="2">
    <label for="phq9-43" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-44" name="radio-phq9-4" class="d-input-none" value="3">
    <label for="phq9-44" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>5. Avoir peu d’appétit ou manger trop</legend>
    <input type="radio" id="phq9-51" name="radio-phq9-5" class="d-input-none" value="0" required>
    <label for="phq9-51" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-52" name="radio-phq9-5" class="d-input-none" value="1">
    <label for="phq9-52" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-53" name="radio-phq9-5" class="d-input-none" value="2">
    <label for="phq9-53" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-54" name="radio-phq9-5" class="d-input-none" value="3">
    <label for="phq9-54" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>6. Avoir une mauvaise opinion de soi-même, ou avoir le sentiment d’être nul(le), ou d’avoir déçu sa famille ou s’être déçu(e) soi-même</legend>
    <input type="radio" id="phq9-61" name="radio-phq9-6" class="d-input-none" value="0" required>
    <label for="phq9-61" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-62" name="radio-phq9-6" class="d-input-none" value="1">
    <label for="phq9-62" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-63" name="radio-phq9-6" class="d-input-none" value="2">
    <label for="phq9-63" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-64" name="radio-phq9-6" class="d-input-none" value="3">
    <label for="phq9-64" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>7. Avoir du mal à se concentrer, par exemple, pour lire le journal ou regarder la télévision</legend>
    <input type="radio" id="phq9-71" name="radio-phq9-7" class="d-input-none" value="0" required>
    <label for="phq9-71" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-72" name="radio-phq9-7" class="d-input-none" value="1">
    <label for="phq9-72" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-73" name="radio-phq9-7" class="d-input-none" value="2">
    <label for="phq9-73" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-74" name="radio-phq9-7" class="d-input-none" value="3">
    <label for="phq9-74" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>8. Bouger ou parler si lentement que les autres auraient pu le remarquer. Ou au contraire, être si agité(e) que vous avez eu du mal à tenir en place par rapport à d’habitude</legend>
    <input type="radio" id="phq9-81" name="radio-phq9-8" class="d-input-none" value="0" required>
    <label for="phq9-81" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-82" name="radio-phq9-8" class="d-input-none" value="1">
    <label for="phq9-82" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-83" name="radio-phq9-8" class="d-input-none" value="2">
    <label for="phq9-83" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-84" name="radio-phq9-8" class="d-input-none" value="3">
    <label for="phq9-84" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset>
    <legend>9. Penser qu’il vaudrait mieux mourir ou envisager de vous faire du mal d’une manière ou d’une autre</legend>
    <input type="radio" id="phq9-91" name="radio-phq9-9" class="d-input-none" value="0" required>
    <label for="phq9-91" class="chip chip-action chip-sm chip-choice">Jamais</label>
    <input type="radio" id="phq9-92" name="radio-phq9-9" class="d-input-none" value="1">
    <label for="phq9-92" class="chip chip-action chip-sm chip-choice">Plusieurs jours</label>
    <input type="radio" id="phq9-93" name="radio-phq9-9" class="d-input-none" value="2">
    <label for="phq9-93" class="chip chip-action chip-sm chip-choice">Plus de la moitié des jours</label>
    <input type="radio" id="phq9-94" name="radio-phq9-9" class="d-input-none" value="3">
    <label for="phq9-94" class="chip chip-action chip-sm chip-choice">Presque tous les jours</label>
  </fieldset>
  <fieldset class="d-none">
    <legend>À quel point ce(s) problème(s) a-t-il (ont-ils) rendu votre travail, vos tâches à la maison ou votre capacité à vous entendre avec les autres difficiles ?</legend>
    <input type="radio" id="phq9-101" name="radio-phq9-10" class="d-input-none" value="0" required>
    <label for="phq9-101" class="chip chip-action chip-sm chip-choice">Pas du tout difficile(s)</label>
    <input type="radio" id="phq9-102" name="radio-phq9-10" class="d-input-none" value="1">
    <label for="phq9-102" class="chip chip-action chip-sm chip-choice">Assez difficile(s)</label>
    <input type="radio" id="phq9-103" name="radio-phq9-10" class="d-input-none" value="2">
    <label for="phq9-103" class="chip chip-action chip-sm chip-choice">Très difficile(s)</label>
    <input type="radio" id="phq9-104" name="radio-phq9-10" class="d-input-none" value="3">
    <label for="phq9-104" class="chip chip-action chip-sm chip-choice">Extrêmement difficile(s)</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score PHQ-9</p>
      <output class="score-output" id="phq9Score">0</output>
    </div>
    <p id="phq9Text" class="lead m-auto">Veuillez répondre à toutes les questions</p>
  </div>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1495268/" rel="external nofollow noopener">Kroenke K, Spitzer RL, Williams JBW. The PHQ-9: Validity of a brief depression severity measure. J G en Intern Med 2001;16:606-613</a></p>
  <p>Un score ≥ 10 a une sensibilité de 88% et spécificité de 88% pour un épisode dépressif majeur.</p>
</blockquote>
{{ $script := `
  // Questionnaire PHQ-9 by djibe
  window.addEventListener( 'load', event => {
    const scorephq9 = document.getElementById('phq9Score')
    const textphq9 = document.getElementById('phq9Text');
    [...document.querySelectorAll('#score-phq9 input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcPhq9() ) })
    const calcPhq9 = () => {
      let score = 0
      const checkedElems = document.querySelectorAll('#score-phq9 input[type=\"radio\"]:checked')
      if (checkedElems.length === 9) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scorephq9.innerHTML = score
        if (score <= 4) { textphq9.innerHTML = "Absence de dépression" }
        else if (score >= 5 && score <= 9) { textphq9.innerHTML = "Dépression légère" }
        else if (score >= 10 && score <= 14) { textphq9.innerHTML = "Dépression modérée" }
        else if (score >= 15 && score <= 19) { textphq9.innerHTML = "Dépression modérément sévère" }
        else if (score >= 20) { textphq9.innerHTML = "Dépression sévère" }
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>