<div class="mt-4" id="score-grio">
  <h3 class="card-title mb-3">Questionnaire des apports en calcium</h3>
  <p>Seuls les aliments riches en calcium les plus couramment consommés figurent dans ce questionnaire.
    Ce sont le lait, les fromages, les yaourts et les plats ou desserts à base de fromage ou de lait.</p>
  <p>Essayer de répondre en vous basant sur votre alimentation moyenne.</p>
  <fieldset class="mt-4">
    <legend>1. Lait (200 mL) = un bol ou un grand verre</legend>
    <input type="radio" id="grio-11" name="radio-grio-1" class="d-input-none" value="8">
    <label for="grio-11" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-12" name="radio-grio-1" class="d-input-none" value="4">
    <label for="grio-12" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-13" name="radio-grio-1" class="d-input-none" value="3">
    <label for="grio-13" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-14" name="radio-grio-1" class="d-input-none" value="2">
    <label for="grio-14" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-15" name="radio-grio-1" class="d-input-none" value="1">
    <label for="grio-15" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-16" name="radio-grio-1" class="d-input-none" value="0">
    <label for="grio-16" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <fieldset>
    <legend>2. Sandwich au fromage, quiche, croque-monsieur, soufflé au fromage ou plat au gratin</legend>
    <input type="radio" id="grio-21" name="radio-grio-2" class="d-input-none" value="9">
    <label for="grio-21" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-22" name="radio-grio-2" class="d-input-none" value="4">
    <label for="grio-22" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-23" name="radio-grio-2" class="d-input-none" value="3">
    <label for="grio-23" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-24" name="radio-grio-2" class="d-input-none" value="2">
    <label for="grio-24" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-25" name="radio-grio-2" class="d-input-none" value="1">
    <label for="grio-25" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-26" name="radio-grio-2" class="d-input-none" value="0">
    <label for="grio-26" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <fieldset>
    <legend>3. Fromage (1 part)</legend>
    <input type="radio" id="grio-31" name="radio-grio-3" class="d-input-none" value="8">
    <label for="grio-31" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-32" name="radio-grio-3" class="d-input-none" value="4">
    <label for="grio-32" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-33" name="radio-grio-3" class="d-input-none" value="3">
    <label for="grio-33" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-34" name="radio-grio-3" class="d-input-none" value="2">
    <label for="grio-34" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-35" name="radio-grio-3" class="d-input-none" value="1">
    <label for="grio-35" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-36" name="radio-grio-3" class="d-input-none" value="0">
    <label for="grio-36" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <fieldset>
    <legend>4. 1 yaourt</legend>
    <input type="radio" id="grio-41" name="radio-grio-4" class="d-input-none" value="6">
    <label for="grio-41" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-42" name="radio-grio-4" class="d-input-none" value="3">
    <label for="grio-42" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-43" name="radio-grio-4" class="d-input-none" value="2">
    <label for="grio-43" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-44" name="radio-grio-4" class="d-input-none" value="1">
    <label for="grio-44" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-45" name="radio-grio-4" class="d-input-none" value="0">
    <label for="grio-45" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-46" name="radio-grio-4" class="d-input-none" value="0">
    <label for="grio-46" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <fieldset>
    <legend>5. Fromage blanc (1 part)</legend>
    <input type="radio" id="grio-51" name="radio-grio-5" class="d-input-none" value="4">
    <label for="grio-51" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-52" name="radio-grio-5" class="d-input-none" value="2">
    <label for="grio-52" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-53" name="radio-grio-5" class="d-input-none" value="1">
    <label for="grio-53" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-54" name="radio-grio-5" class="d-input-none" value="0">
    <label for="grio-54" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-55" name="radio-grio-5" class="d-input-none" value="0">
    <label for="grio-55" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-56" name="radio-grio-5" class="d-input-none" value="0">
    <label for="grio-56" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <fieldset>
    <legend>6. Flan, riz au lait, gâteau de semoule, glace ou crème dessert</legend>
    <input type="radio" id="grio-61" name="radio-grio-6" class="d-input-none" value="7">
    <label for="grio-61" class="chip chip-action chip-sm chip-choice">2-3/jour</label>
    <input type="radio" id="grio-62" name="radio-grio-6" class="d-input-none" value="3">
    <label for="grio-62" class="chip chip-action chip-sm chip-choice">1/jour</label>
    <input type="radio" id="grio-63" name="radio-grio-6" class="d-input-none" value="2">
    <label for="grio-63" class="chip chip-action chip-sm chip-choice">5-6/semaine</label>
    <input type="radio" id="grio-64" name="radio-grio-6" class="d-input-none" value="1">
    <label for="grio-64" class="chip chip-action chip-sm chip-choice">3-4/semaine</label>
    <input type="radio" id="grio-65" name="radio-grio-6" class="d-input-none" value="0">
    <label for="grio-65" class="chip chip-action chip-sm chip-choice">1-2/semaine</label>
    <input type="radio" id="grio-66" name="radio-grio-6" class="d-input-none" value="0">
    <label for="grio-66" class="chip chip-action chip-sm chip-choice">Rarement</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center justify-content-evenly">
      <p class="typography-overline score-output-title">Apports calciques</p>
      <output class="score-output" id="grioScore">0</output>
    </div>
    <p id="grioText" class="lead m-auto">Veuillez répondre à au moins 1 question</p>
  </div>
</div>
<blockquote lang="en" class="blockquote my-4">
  <p class="mb-0"><a href="https://www.larevuedupraticien.fr/archive/elaboration-et-validation-dun-questionnaire-rapide-coconut-ca-destimation-des-apports" rel="external nofollow noopener">
    Archembault P et al. Elaboration et validation d'un questionnaire rapide (CocoNut Ca) d'estimation des apports calciques (valeur informationnelle et calcul de corrélation) comparativement à un entretien nutritionnel stand. La Revue du praticien Médecine générale 2005 ; 19 : 972-75.</a></p>
</blockquote>
{{ $script := `
  // Score CocoNut Ca by djibe
  window.addEventListener( 'load', event => {
    const scoregrio = document.getElementById('grioScore')
    const textgrio = document.getElementById('grioText');
    [...document.querySelectorAll('#score-grio input[type=\"radio\"]')].forEach((elem) => { elem.addEventListener('click', () => calcgrio() ) })
    const calcgrio = () => {
      let score = 0
      const text = "Apports couverts si:<br>- 10-18 ans ou ménopause ou homme +65 ans: 15 pts<br>- Grossesse: 12 pts<br>- Autres adulte: 10 pts"
      const checkedElems = document.querySelectorAll('#score-grio input[type=\"radio\"]:checked')
      if (checkedElems.length >= 1) {
        checkedElems.forEach(checkedElem => { score += parseInt(checkedElem.value, 10) })
        scoregrio.innerHTML = score
        if (score < 10) { textgrio.innerHTML = text + " <p>Score &lt; 10: risque de carence chez l'adolescente<br>ou la femme ménopausée.</p>" }
        else { textgrio.innerHTML = text }
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>