<div class="card-body" id="score-saos-diabete">
  <p class="my-4">Seules questions validées pour le dépistage du SAOS en cas de diabète.<br>Utilisable aussi en l'absence de diabète.</p>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete1" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete1">Ronflement régulier et gênant pour l’entourage</label>
    <p class="typography-caption text-black-secondary">Entendu à travers les portes ou coups de coude du partenaire.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete2" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete2">Arrêts respiratoires pendant le sommeil signalés pour l’entourage</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete3" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete3">Réveils avec impression de suffoquer</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete4" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete4">&gt; 1 lever nocturne pour uriner</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete5" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete5">Céphalées</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete6" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete6">Fatigue anormale la journée</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete7" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete7">Sommeil non réparateur</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="diabete8" class="custom-control-input" value="1">
    <label class="custom-control-label" for="diabete8">Somnolence diurne</label>
  </div>
  <blockquote class="blockquote my-4">
    <small class="mb-0"><a href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/position_sfd_splf_sfrms_saos_et_diab_mmm_2018.pdf" rel="external nofollow noopener">SFD, SFRMS, SPLF. Prise en charge du syndrome d'apnées obstructives du sommeil chez la personne vivant avec un diabète : contexte, dépistage, indications et modalités de traitement. MMM septembre 2018. (PDF)</a></small>
  </blockquote>
</div>
<div class="alert bg-light d-flex mb-0">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">Score</p>
    <output class="score-output" id="saosDiabeteScore">0</output>
  </div>
  <p id="saosDiabeteText" class="lead m-auto">Pas de recherche de SAOS</p>
</div>
{{ $script := `
  // Score depistage SAOS diabete by djibe
    document.addEventListener( 'DOMContentLoaded', event => {
    const scoreSaosDiabete = document.getElementById('saosDiabeteScore')
    const textSaosDiabete = document.getElementById('saosDiabeteText');
    [...document.querySelectorAll('#score-saos-diabete input[type="checkbox"]')].forEach((elem) => { elem.addEventListener('click', () => { saosDiabete() }) })
    const saosDiabete = () => {
      let score = 0
      const saosDiabeteElemsChecked = document.querySelectorAll('#score-saos-diabete input[type="checkbox"]:checked')
        saosDiabeteElemsChecked.forEach(saosDiabeteElemChecked => {
        score += parseInt(saosDiabeteElemChecked.value, 10)
        saosDiabeteScore.innerHTML = score
        if (score >= 3) {
          saosDiabeteText.innerHTML = 'Enregistrement du sommeil nécessaire'
        } else if (score < 3) {
          saosDiabeteText.innerHTML = 'Pas de recherche de SAOS'
        }
      })
      if (saosDiabeteElemsChecked.length === 0) {
        saosDiabeteScore.innerHTML = 0
        saosDiabeteText.innerHTML = 'Pas de recherche de SAOS'
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>
