<p>Le SCORE2 a peu de paramètres, les autres facteurs de risque suivant doivent être pris en considération, d’autant plus lorsque le risque est proche des seuils, pour reclassifier le niveau de risque cardiovasculaire:</p>
<ul>
<li>Paramètres démographiques
<ul>
<li>Hérédité cardiovasculaire (hommes avant 55 ans, femmes avant 60 ans)</li>
<li>Origines à haut risque (Asie du Sud ++)</li>
<li>Facteurs de stress psychosociaux</li>
<li>Précarité</li>
</ul>
</li>
<li>Paramètres cliniques
<ul>
<li>Stress</li>
<li>Obésité</li>
<li>Sédentarité</li>
<li>Migraine avec aura (<em>ESC 2021</em>)</li>
<li>Maladie inflammatoire</li>
<li>Trouble psychiatriques sévère</li>
<li>Ménopause précoce</li>
<li>Prééclampsie ou trouble hypertensif de la grossesse</li>
<li>VIH (RR 2)</li>
<li>Syndrome d’apnée obstructive du sommeil (SAHOS)</li>
<li>Greffe d’organe</li>
</ul>
</li>
<li>Biomarqueurs
<ul>
<li>CRPus constamment élevée (&gt; 2 mg/L)</li>
<li>Taux élevé de Lp(a) &gt; 50 mg/dL (&gt; 105 nmol/L)</li>
</ul>
</li>
<li>Imageries
<ul>
<li>Plaque artérielle carotidienne ou fémorale</li>
<li>Score calcique marqué (CAC score)<br>
Interprétation délicate sous traitement par statine.</li>
</ul>
</li>
</ul>