<p>Sévérité de l'obstruction bronchique après bronchodilatateur avec VEMS/CVF &lt; 70%.</p>
<dl>
  <dt>Stade I: léger</dt>
  <dd>VEMS &ge; 80% de la valeur prédite</dd>
</dl>
<hr>
<dl>
  <dt>Stade II: modéré</dt>
  <dd>50% &le; VEMS &lt; 80% de la valeur prédite</dd>
</dl>
<hr>
<dl>
  <dt>Stade III: sévère</dt>
  <dd>30% &le; VEMS &lt; 50% de la valeur prédite</dd>
</dl>
<hr>
<dl>
  <dt>Stade IV: très sévère</dt>
  <dd>VEMS &lt; de la valeur prédite</dd>
  <dd>ou VEMS &lt; 50% de la valeur prédite avec insuffisance respiratoire chronique grave</dd>
</dl>