<p>Sévérité de l’obstruction bronchique pour un trouble ventilatoire obstructif non réversible.</p>
<dl class="border-bottom">
  <dt>Gold 1: léger</dt>
  <dd>VEMS ≥ 80% de la valeur prédite</dd>
</dl>
<dl class="border-bottom">
  <dt>Gold 2: modéré</dt>
  <dd>50% ≤ VEMS &lt; 80% de la valeur prédite</dd>
</dl>
<dl class="border-bottom">
  <dt>Gold 3: sévère</dt>
  <dd>30% ≤ VEMS &lt; 50% de la valeur prédite</dd>
</dl>
<dl>
  <dt>Gold 4: très sévère</dt>
  <dd>VEMS &lt; 30% de la valeur prédite</dd>
</dl>
<blockquote class="mt-5">
  <p lang="en"><a href="https://goldcopd.org/2023-gold-report-2/" rel="external nofollow noopener">2023 Global Strategy for Prevention, Diagnosis and Management of COPD.</a></p>
</blockquote>