<p>Sévérité de l’obstruction bronchique pour un trouble ventilatoire obstructif non réversible.</p>
<dl class="border-bottom">
  <dt>GOLD 1: léger</dt>
  <dd>VEMS ≥ 80% de la valeur prédite</dd>
</dl>
<dl class="border-bottom">
  <dt>GOLD 2: modéré</dt>
  <dd>50% ≤ VEMS &lt; 80% de la valeur prédite</dd>
</dl>
<dl class="border-bottom">
  <dt>GOLD 3: sévère</dt>
  <dd>30% ≤ VEMS &lt; 50% de la valeur prédite</dd>
</dl>
<dl>
  <dt>GOLD 4: très sévère</dt>
  <dd>VEMS &lt; 30% de la valeur prédite</dd>
</dl>
<blockquote class="mt-5">
  <p lang="en"><a href="https://goldcopd.org/2025-gold-report/" rel="external nofollow noopener">GOLD. Global strategy for the diagnosis, management and prevention of Chronic obstructive pulmonary disease: 2025 Report. 2025.</a></p>
</blockquote>