<div class="card-body" id="score-stop-bang">
  <p class="mt-2 mb-4"><dfn><abbr title="Snoring-Tired-Observed-Pressure - BMI-Age-Neck size-Gender" lang="en">STOP-BANG</abbr></dfn>: score validé le plus puissant pour le dépistage des apnées du sommeil.<br>
  <strong>NB. Il ne doit pas être utilisé en cas de diabète.</strong></p>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang1" class="custom-control-input stopbang-majeur" value="1">
    <label class="custom-control-label" for="stopbang1">Ronfle fort</label>
    <p class="typography-caption text-black-secondary">Entendu à travers les portes ou coups de coude du partenaire.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang2" class="custom-control-input stopbang-majeur" value="1">
    <label class="custom-control-label" for="stopbang2">Fatigue pendant la journée</label>
    <p class="typography-caption text-black-secondary">Fatigué, épuisé ou somnolent (ex: s’endormir au volant).</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang3" class="custom-control-input stopbang-majeur" value="1">
    <label class="custom-control-label" for="stopbang3">Pauses respiratoires constatées</label>
    <p class="typography-caption text-black-secondary">Observation de pauses, étouffement ou suffocation pendant le sommeil.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang4" class="custom-control-input stopbang-majeur" value="1">
    <label class="custom-control-label" for="stopbang4">Hypertension artérielle</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang5" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang5">IMC ≥ 35 kg/m²</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang6" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang6">Âge ≥ 50 ans</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang7" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang7">Homme</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stopbang8" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang8">Tour de cou ≥ <span id="message-tour-cou">41</span> cm</label>
  </div>
</div>
<div class="alert bg-light d-md-flex">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline score-output-title">Score STOP-BANG</p>
    <output class="score-output" id="stopbangScore">0</output>
  </div>
  <p id="stopbangText" class="lead m-auto">Faible risque de SAOS</p>
</div>
<blockquote class="blockquote my-2 my-lg-4">
  <small class="mb-0" lang="en">
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4153119/" rel="external nofollow noopener">Chung F et al. J Clin Sleep Med. 2014 Sep 15; 10(9): 951–958.</a>
    et <a href="http://www.stopbang.ca/translation/pdf/frenchbe.pdf" rel="external nofollow noopener">STOP-BANG (BE-fre) 22MAY2015 FINAL (PDF)</a></small>
</blockquote>
{{ $script := `
  // Score STOP-BANG by djibe
  window.addEventListener( 'load', event => {
    const scoreStopBang = document.getElementById('stopbangScore')
    const textStopBang = document.getElementById('stopbangText')
    const checkboxHomme = document.getElementById('stopbang7')
    const checkboxObesite = document.getElementById('stopbang5')
    const checkboxTourCou = document.getElementById('stopbang8')
    const messageTourCou = document.getElementById('message-tour-cou');
    [...document.querySelectorAll('#score-stop-bang input[type=\"checkbox\"]')].forEach((elem) => { elem.addEventListener('click', () => {
      messageSexe()
      stopBang()
    }) })
    const messageSexe = () => {
      checkboxHomme.checked ? messageTourCou.innerHTML = 43 : messageTourCou.innerHTML = 41
    }
    const stopBang = () => {
      let score = 0
      let majeur = 0
      const elemsChecked = document.querySelectorAll('#score-stop-bang input[type=\"checkbox\"]:checked')
      elemsChecked.forEach(elemChecked => {
        if (elemChecked.classList.contains('stopbang-majeur')) {
          majeur += 1
        }
        score += parseInt(elemChecked.value, 10)
        scoreStopBang.innerHTML = score
        if (majeur >= 2 && checkboxHomme.checked
        || majeur >= 2 && checkboxObesite.checked
        || majeur >= 2 && checkboxTourCou.checked
        || score >= 5 && score <= 8) {
          textStopBang.innerHTML = '<strong>Risque élevé</strong> de SAOS'
        } else if (score <= 2) {
          textStopBang.innerHTML = '<strong>Faible risque</strong> de SAOS'
        } else if (score >= 3 && score <= 4) {
          textStopBang.innerHTML = '<strong>Risque moyen</strong> de SAOS'
        }
      })
      if (elemsChecked.length === 0) {
        scoreStopBang.innerHTML = 0
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>