<div class="card-body" id="score-stop">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stop1" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stop1">Ronfle fort</label>
    <p class="typography-caption text-black-secondary">Entendu à travers les portes ou coups de coude du partenaire.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stop2" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stop2">Fatigue pendant la journée</label>
    <p class="typography-caption text-black-secondary">Fatigué, épuisé ou somnolent (ex: s'endormir au volant).</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stop3" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang3">Pauses respiratoires constatées</label>
    <p class="typography-caption text-black-secondary">Observation de pauses, étouffement ou suffocation pendant le sommeil.</p>
  </div>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" id="stop4" class="custom-control-input" value="1">
    <label class="custom-control-label" for="stopbang4">HTA</label>
  </div>
</div>
<div class="alert bg-light d-flex mb-0">
  <div class="d-flex flex-column align-items-center">
    <p class="typography-overline text-black-secondary m-0" style="font-size:.75rem;line-height:initial">Score STOP</p>
    <span class="font-weight-bold" id="stopScore" style="font-size:2rem">0</span>
  </div>
  <p id="stopText" class="lead m-auto"></p>
</div>
<blockquote class="blockquote my-4">
  <p class="mb-0"><b>Bas risque</b> de SAOS</p>
</blockquote>
{{ $script := `
  // Score STOP by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreStop = document.getElementById('stopScore')
    const textStop = document.getElementById('stopText')
    const stopElems = document.querySelectorAll('#score-stop input[type=\"checkbox\"]')
    stopElems.forEach((stopElem) => { stopElem.addEventListener('click', () => {
      stop()
    }) })
    const stop = () => {
      let score = 0
      const stopElemsChecked = document.querySelectorAll('#score-stop input[type=\"checkbox\"]:checked')
        stopElemsChecked.forEach(rieteElemChecked => {
        score += parseInt(stopElemChecked.value, 10)
        scoreStop.innerHTML = score
        if (score >= 2) {
          textStop.innerHTML = '<b>Haut risque</b> de SAOS'
          break
        }
        textStop.innerHTML = '<b>Bas risque</b> de SAOS'
      })
      if (stopElemsChecked.length === 0) {
        scoreStop.innerHTML = 0
        textStop.innerHTML = 'Risque hémorragique <b>faible</b>'
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>