<div class="card card-tab my-3 my-xl-5 mw-640">
  <ul class="nav nav-tabs nav-justified" id="justifiedTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button aria-controls="wells-tab" aria-selected="true" class="nav-link active" data-toggle="tab" data-target="#wells-tab" id="wells" type="button" role="tab">Wells modifié</button></li>
    <li class="nav-item" role="presentation">
      <button aria-controls="constans-tab" aria-selected="false" class="nav-link" data-toggle="tab" data-target="#constans-tab" id="constans" type="button" role="tab">Constans</button></li>
    <li class="nav-item" role="presentation">
      <button aria-controls="grossesse" aria-selected="false" class="nav-link" data-toggle="tab" data-target="#grossesse-tab" id="grossesse" type="button" role="tab">Grossesse</button></li>
  </ul>
  <div class="tab-content" id="score-clinique-tvp">
    <div aria-labelledby="wells" class="tab-pane fade show active" id="wells-tab" role="tabpanel">
      <div class="card-body">
        <h4 class="card-title mt-2 mb-lg-4">Score de Wells modifié</h4>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells1" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells1">Cancer actif</label>
          <p class="typography-caption text-black-secondary">Traitement actif ou &lt; 6 mois ou palliatif.</p>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells2" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells2">Paralysie/parésie ou plâtre récent des MI</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells3" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells3">Alitement ≥ 3j ou chirurgie sous AG/régionale dans les 12 dernières semaines</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells4" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells4">Douleur localisée sur le trajet d’une veine profonde</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells5" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells5">Augmentation de volume de tout le MI</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells6" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells6">Augmentation de volume du mollet avec 3 cm de plus que sur l’asymptomatique</label>
          <p class="typography-caption text-black-secondary">Mesure à 10 cm sous la tubérosité tibiale.</p>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells7" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells7">Œdème prenant le godet confiné au MI symptomatique</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells8" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells8">Circulation collatérale veineuse superficielle (non variqueuse)</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells9" class="custom-control-input" value="1">
          <label class="custom-control-label" for="wells9">Antécédent de TVP documentée</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="wells10" class="custom-control-input" value="-2">
          <label class="custom-control-label" for="wells10">Alternative diagnostique au moins aussi probable que celui de TVP</label>
        </div>
      </div>
      <div class="alert bg-light d-flex mt-md-4 mb-0">
        <div class="d-flex flex-column align-items-center justify-content-evenly">
          <p class="typography-overline score-output-title">Score de Wells</p>
          <output class="score-output" id="wellsScore">0</output>
        </div>
        <p id="wellsText" class="lead m-auto"><strong>Probabilité faible</strong><br>Doser les D-dimères</p>
      </div>
    </div>
    <div aria-labelledby="constans" class="tab-pane fade" id="constans-tab" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title mt-2 mb-lg-4">Score de Constans</h4>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans1" class="custom-control-input" value="1">
          <label class="custom-control-label" for="constans1">Homme</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans2" class="custom-control-input" value="1">
          <label class="custom-control-label" for="constans2">Paralysie ou immobilisation du MI</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans3" class="custom-control-input" value="1">
          <label class="custom-control-label" for="constans3">Alitement &gt; 3 jours</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans4" class="custom-control-input" value="1">
          <label class="custom-control-label" for="constans4">Augmentation de volume du MI</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans5" class="custom-control-input" value="1">
          <label class="custom-control-label" for="constans5">Douleur unilatérale du MI</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="constans6" class="custom-control-input" value="-1">
          <label class="custom-control-label" for="constans6">Autre diagnostic au moins aussi plausible</label>
        </div>
      </div>
      <div class="alert bg-light d-flex mt-md-4 mb-0">
        <div class="d-flex flex-column align-items-center justify-content-evenly">
          <p class="typography-overline score-output-title">Score de Constans</p>
          <output class="score-output" id="constansScore">0</output>
        </div>
        <p id="constansText" class="lead m-auto"></p>
      </div>
    </div>
    <div aria-labelledby="grossesse" class="tab-pane fade" id="grossesse-tab" role="tabpanel">
      <div class="card-body">
      <h4 class="card-title mt-2">Score LEFt pendant la grossesse</h4>
      <h5 class="card-subtitle mb-lg-4" lang="en">Score Left Edema First trimester</h5>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="left1" class="custom-control-input" value="1">
          <label class="custom-control-label" for="left1">Symptômes au MI gauche</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="left2" class="custom-control-input" value="1">
          <label class="custom-control-label" for="left2">Différence de circonférence du mollet ≥ 2 cm</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="left3" class="custom-control-input" value="1">
          <label class="custom-control-label" for="left3">Premier trimestre de grossesse</label>
        </div>
      </div>
      <div class="alert bg-light d-flex mt-md-4 mb-0">
        <div class="d-flex flex-column align-items-center justify-content-evenly">
          <p class="typography-overline score-output-title">Score LEFt</p>
          <output class="score-output" id="leftScore">0</output>
        </div>
        <p id="leftText" class="lead m-auto"><strong>Probabilité faible</strong><br>Doser les D-dimères</p>
      </div>
    </div>
  </div>
</div>
{{ $script := `
  // Score de Wells modifié/Constans/LEFt by djibe
  window.addEventListener( 'load', event => {
    const scoreElem = document.getElementById('wellsScore')
    const textElem = document.getElementById('wellsText')
    const scoreConstans = document.getElementById('constansScore')
    const textConstans = document.getElementById('constansText')
    const scoreLeft = document.getElementById('leftScore')
    const textLeft = document.getElementById('leftText')
    const radioElems = document.querySelectorAll('#score-clinique-tvp input[type=\"checkbox\"]')
    const panels = document.querySelectorAll('.nav-tabs .nav-link')
    const textDefault = '<strong>Probabilité faible</strong><br>Doser les D-dimères'
    const textFort = '<strong>Probabilité forte</strong><br>Écho-doppler veineux<br>Anticoagulation immédiate'
    radioElems.forEach((radioElem) => { radioElem.addEventListener('click', () => {
      wells()
      constans()
      left()
    }) })
    // Reset counter on tab switch
    panels.forEach((panel) => { panel.addEventListener('click', () => reset() )})
    const reset = () => {
      radioElems.forEach(radio => {
        radio.checked = false
        scoreElem.innerHTML = 0
        textElem.innerHTML = textDefault
        scoreConstans.innerHTML = 0
        textConstans.innerHTML = textDefault
        scoreLeft.innerHTML = 0
        textLeft.innerHTML = textDefault
      })
    }
    const wells = () => {
      let score = 0
      const radioElemsChecked = document.querySelectorAll('#score-clinique-tvp input[type=\"checkbox\"]:checked')
        radioElemsChecked.forEach(radioChecked => {
        score += parseInt(radioChecked.value, 10)
        scoreElem.innerHTML = score
        if (score <= 1) {
          textElem.innerHTML = textDefault
        } else if (score >= 2) {
          textElem.innerHTML = textFort
        }
      })
      if (radioElemsChecked.length === 0) {
        scoreElem.innerHTML = 0
        textElem.innerHTML = textDefault
      }
    }
    const constans = () => {
      let score = 0
      const radioElemsChecked = document.querySelectorAll('#score-clinique-tvp input[type=\"checkbox\"]:checked')
        radioElemsChecked.forEach(radioChecked => {
        score += parseInt(radioChecked.value, 10)
        scoreConstans.innerHTML = score
        if (score <= 0) {
          textConstans.innerHTML = textDefault
        } else if (score >= 1 && score < 3) {
          textConstans.innerHTML = '<strong>Probabilité intermédiaire</strong><br>Doser les D-dimères'
        } else if (score >= 3) {
          textConstans.innerHTML = textFort
        }
        })
      if (radioElemsChecked.length === 0) {
        scoreConstans.innerHTML = 0
        textConstans.innerHTML = textDefault
      }
    }
    const left = () => {
      let score = 0
      const radioElemsChecked = document.querySelectorAll('#score-clinique-tvp input[type=\"checkbox\"]:checked')
        radioElemsChecked.forEach(radioChecked => {
        score += parseInt(radioChecked.value, 10)
        scoreLeft.innerHTML = score
        if (score === 0) {
          textLeft.innerHTML = textDefault
        } else if (score >= 1) {
          textLeft.innerHTML = textFort
        }
        })
      if (radioElemsChecked.length === 0) {
        scoreLeft.innerHTML = 0
        textLeft.innerHTML = textDefault
      }
    }
  })` }}
<script type="module">{{ $script | safeJS }}</script>