<div class="card card-body border shadow-none my-4">
  <h3 class="card-title">Questionnaire <abbr lang="en" title="Woman Abuse Screening Tool">WAST</abbr> pour le dépistage de violences faites aux femmes</h3>
  <p>Ces questions portent sur les 12 derniers mois</p>
  <p class="card-text mb-lg-5">Pour un score ≥ 5, la sensibilité et la spécificité sont supérieures à 95%.</p>
  <fieldset>
    <legend>1. En général, comment décririez-vous votre relation avec votre conjoint&nbsp;?</legend>
    <input type="radio" id="radio11" name="radio1" class="d-input-none" value="2" required>
    <label for="radio11" class="chip chip-action chip-choice">Très tendue</label>
    <input type="radio" id="radio12" name="radio1" class="d-input-none" value="1">
    <label for="radio12" class="chip chip-action chip-choice">Assez tendue</label>
    <input type="radio" id="radio13" name="radio1" class="d-input-none" value="0">
    <label for="radio13" class="chip chip-action chip-choice">Sans tension</label>
  </fieldset>
  <fieldset>
    <legend>2. Comment vous et votre conjoint arrivez-vous à résoudre vos disputes&nbsp;?</legend>
    <input type="radio" id="radio21" name="radio2" class="d-input-none" value="2" required>
    <label for="radio21" class="chip chip-action chip-choice">Très difficilement</label>
    <input type="radio" id="radio22" name="radio2" class="d-input-none" value="1">
    <label for="radio22" class="chip chip-action chip-choice">Assez difficilement</label>
    <input type="radio" id="radio23" name="radio2" class="d-input-none" value="0">
    <label for="radio23" class="chip chip-action chip-choice">Sans difficulté</label>
  </fieldset>
  <fieldset>
    <legend>3. Les disputes avec votre conjoint font-elles que vous vous sentez rabaissée ou que vous vous sentez dévalorisée&nbsp;?</legend>
    <input type="radio" id="radio31" name="radio3" class="d-input-none" value="2" required>
    <label for="radio31" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio32" name="radio3" class="d-input-none" value="1">
    <label for="radio32" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio33" name="radio3" class="d-input-none" value="0">
    <label for="radio33" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>4. Les disputes avec votre conjoint se terminent-elles par le fait d'être frappée, de recevoir des coups de pieds ou d'être poussée (bousculée)&nbsp;?</legend>
    <input type="radio" id="radio41" name="radio4" class="d-input-none" value="2" required>
    <label for="radio41" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio42" name="radio4" class="d-input-none" value="1">
    <label for="radio42" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio43" name="radio4" class="d-input-none" value="0">
    <label for="radio43" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>5. Vous-êtes vous déjà sentie effrayée par ce que votre conjoint dit ou fait&nbsp;?</legend>
    <input type="radio" id="radio51" name="radio5" class="d-input-none" value="2" required>
    <label for="radio51" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio52" name="radio5" class="d-input-none" value="1">
    <label for="radio52" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio53" name="radio5" class="d-input-none" value="0">
    <label for="radio53" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>6. Votre conjoint vous a-t-il déjà maltraitée physiquement&nbsp;?</legend>
    <input type="radio" id="radio61" name="radio6" class="d-input-none" value="2" required>
    <label for="radio61" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio62" name="radio6" class="d-input-none" value="1">
    <label for="radio62" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio63" name="radio6" class="d-input-none" value="0">
    <label for="radio63" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>7. Votre conjoint a-t-il déjà abusé de vous psychologiquement&nbsp;?</legend>
    <input type="radio" id="radio71" name="radio7" class="d-input-none" value="2" required>
    <label for="radio71" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio72" name="radio7" class="d-input-none" value="1">
    <label for="radio72" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio73" name="radio7" class="d-input-none" value="0">
    <label for="radio73" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <fieldset>
    <legend>8. Votre conjoint a-t-il déjà abusé de vous sexuellement&nbsp;?</legend>
    <input type="radio" id="radio81" name="radio8" class="d-input-none" value="2" required>
    <label for="radio81" class="chip chip-action chip-choice">Souvent</label>
    <input type="radio" id="radio82" name="radio8" class="d-input-none" value="1">
    <label for="radio82" class="chip chip-action chip-choice">Parfois</label>
    <input type="radio" id="radio83" name="radio8" class="d-input-none" value="0">
    <label for="radio83" class="chip chip-action chip-choice">Jamais</label>
  </fieldset>
  <div class="alert bg-light d-flex mt-md-4">
    <div class="d-flex flex-column align-items-center">
      <p class="typography-overline score-output-title">Score WAST</p>
      <output class="score-output" id="wastScore">0</output>
    </div>
    <p id="wastText" class="lead m-auto">Veuillez répondre aux 8 questions.</p>
  </div>
  </div>
{{ $script := `
  // Score WAST by djibe
  document.addEventListener( 'DOMContentLoaded', event => {
    const scoreElem = document.getElementById('wastScore')
    const textElem = document.getElementById('wastText')
    const radioElems = document.querySelectorAll('input[type="radio"]')
    radioElems.forEach((radioElem) => { radioElem.addEventListener('change', () => { countWast() }) })
    const countWast = () => {
      let score = 0
      const elemsChecked = document.querySelectorAll('input[type="radio"]:checked')
      if (elemsChecked.length >= 8) {
        elemsChecked.forEach(radioChecked => {
        score += parseInt(radioChecked.value, 10)
        scoreElem.innerHTML = score
        if (score >= 5) {
          textElem.innerHTML = 'Vous êtes potentiellement victime de violences conjugales'
        } else {
          textElem.innerHTML = 'Pas de signes de violences repérés'
        }
        })
      }
    }
  })` }}
<script>{{ $script | safeJS }}</script>