{{ define "main" }}
<div class="list-page">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <header class="fancy__header grid-1-2">
          <div class="title-container bg-article">
            <h1 class="small">{{ .Title }}</h1>
          </div>
          <div class="icon-container">
            <img src="/images/icons/articles.svg" class="img-fluid" alt="Articles en rapport avec la médecine générale" aria-hidden="true">
          </div>
        </header>
        <nav aria-label="Fil d'ariane" class="mt-4 mb-5">
          <ol class="breadcrumb">
            {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
          </ol>
        </nav>
      </div>
      <div class="col-12 grid-list">
      {{ range .Pages.ByPublishDate.Reverse }}
        <div class="card card-list article">
          <div class="card-img-top bg-article" style="background-image: url('/images/articles/{{.File.BaseFileName}}.webp')"></div>
          <div class="card-header">
            <h2 class="card-title"><a class="stretched-link text-reset" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Params.Subtitle}}<h3 class="card-subtitle">{{ . }}</h3>{{end}}
            <small class="text-black-secondary"><time datetime="{{partial "widgets/html-datetime.html" .}}">{{ .PublishDate | time.Format "2 Jan 2006" }}</time></small>
          </div>
        </div>
      {{ end }}
    </div>
    </div>
  </div>
</div>
{{ end }}