{{ $image := "" }}
{{ $imageURL := "" }}
{{ $external := false }}
{{ if (.Get "image") }}
  {{ if eq (.Get "image") "ministere" }}
    {{ $image = "ministere.webp" }}
  {{ else if eq (.Get "image") "pasteur"}}
    {{ $image = "pasteur.webp" }}
    {{ else if eq (.Get "image") "ameli"}}
    {{ $image = "ameli.webp" }}
  {{ else }}
    {{ $image = .Get "image" }}
    {{ $external = true }}
  {{ end }}
  {{ $imageURL = printf "/images/logos/%s" $image }}
{{ else }}
  {{ $imageURL = printf "/images/logos/external.svg" }}
  {{ $external = true }}
{{ end }}

<div class="card card-body card-primary-action rounded-lg d-inline-flex flex-row mw-248 mb-4 card-link-external {{ with .Get "class" }}{{ . }}{{ end }}">
  <img class="mr-4 card-icon rounded-circle {{ if not (.Get "image") }}svg-primary{{ end }}" src="{{ $imageURL }}" aria-hidden="true" {{with .Get "title" }}alt="Logo de {{.}}"{{else}}alt=""{{end}} loading="lazy" decoding="async">
  <div>
    <p class="typography-body-2 font-weight-bold"><a href="{{ .Get "url" }}" rel="external nofollow noopener" class="stretched-link text-reset">{{ .Get "title" | markdownify }}</a></p>
    {{ with .Get "subtitle" }}<p class="typography-body-2 mb-0">{{ . | markdownify }}</p>{{ end }}
  </div>
</div>