{{ $image := "" }}
{{ $imageURL := "" }}
{{ if (.Get "image") }}
  {{ if eq (.Get "image") "ministere" }}
    {{ $image = "ministere.webp" }}
  {{ else if eq (.Get "image") "pasteur"}}
    {{ $image = "pasteur.webp" }}
  {{ else }}
    {{ $image = .Get "image" }}
  {{ end }}
  {{ $imageURL = printf "/images/logos/%s" $image }}
{{ else }}
  {{ $imageURL = printf "/favicon.svg" }}
{{ end }}


<div class="card card-body card-primary-action flex-row mb-4" style="width: 250px;">
  <img class="mr-4 card-icon rounded-circle" src="{{ $imageURL }}" {{with .Get "subtitle" }}alt="Logo de {{.}}"{{else}}alt=""{{end}} loading="lazy" decoding="async">
  <div>
    <h3 class="typography-body-2 font-weight-bold"><a href="{{ .Get "url" }}" rel="external nofollow noopener" class="stretched-link text-reset">{{ .Get "title" }}</a></h3>
    {{ with .Get "subtitle" }}<h4 class="typography-body-2 mb-0">{{ . }}</h4>{{ end }}
  </div>
</div>