<div class="card card-body card-primary-action flex-row my-3" style="width: 250px;">
  <img src="{{ .Get "image" }}"
    class="mt-2 mr-4 rounded-lg" width="48px" height="48px"
    alt="{{ .Get "imageTitle" }}">
  <div>
  {{ with .Get "title" }}<h5 class="typography-body-2 font-weight-bold">{{ . }}</h5>{{ end }}
  {{ with .Get "subtitle" }}<h6 class="typography-body-2 mb-0">{{ . }}</h6>{{ end }}
  </div>
  {{ with .Get "url" }}<a href="{{ . }}" target="_blank" class="stretched-link"></a>{{ end }}
</div>