{{ $label := "" }}
  {{ with .Get "title" }}
    {{ $label = . }}
  {{ else }}
  {{ $label = "Fenêtre d'information contextuelle" }}
  {{ end }}

<div role="dialog" aria-modal="true" aria-label="{{ $label }}" class="modal fade" tabindex="-1" {{ with .Get "id" }}id="{{ . }}"{{ end }}>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable {{ with .Get "size" }}modal-{{ . }}{{ end }}">
    <div class="modal-content">
      <div class="modal-body">
        {{- with .Get "title" }}<h3 class="modal-title mb-4">{{ . }}</h3>{{ end -}}
        {{- .Inner -}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>