<div class="modal fade" tabindex="-1" {{ with .Get "id" }}id="{{ . }}"{{ end }}>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable {{ with .Get "size" }}modal-{{ . }}{{ end }}">
    <div class="modal-content">
      {{ with .Get "title" }}<div class="modal-header"><h4 class="modal-title">{{ . }}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>{{ end }}
      <div class="modal-body">{{ .Inner }}</div>
      <div class="modal-footer"><button type="button" class="btn btn-flat-primary" data-dismiss="modal">Fermer</button></div>
    </div>
  </div>
</div>