<div class="dropdown textfield-box w-50">
  <form id="custom-search" name="custom-search" method="post" action="" onsubmit="customSearchResults(); return false;"></form>
    <input type="search" data-toggle="dropdown" class="form-control" id="custom-search-field" name="search" value="" placeholder="Rechercher" autocomplete="off">
  <!-- <p><em>Search Section:</em><br>
      <input type="checkbox"name="section[]" value="site" checked="checked"> all<br>
      <input type="checkbox" name="section[]" value="post"> Blog<br>
      <input type="checkbox" name="section[]" value="other-section"> Other Section
  </p> -->
  </form>
  <div class="dropdown-menu" id="custom-search-results" style="width: 100%;"></div>
</div>
<script>
// CUSTOM AREA
let params = {
  json_src       : '/index.json', // for multiple sources: comma separated list of JSONarrays
  minlength      : 3,
  defaultsearch  : 'AND',
  sort_date      : 'DESC',
  autocomplete   : 1, // 0: form needs a submit button
  section_search : 0, // 1: needs checkboxes with name="section[]"
  badwords       : 'et,le,la,ceci,cela', //ignore this words
  json_wait      : '<a class="dropdown-item"><div class="progress-circular"><div class="progress-circular-wrapper"><div class="progress-circular-inner"><div class="progress-circular-left"><div class="progress-circular-spinner"></div></div><div class="progress-circular-gap"></div><div class="progress-circular-right"><div class="progress-circular-spinner"></div></div></div></div></div></a>',
  json_ready     : '<a class="dropdown-item">Enter a search term</a>',
  extern_icon    : ' (external link)', // marker for external links (optional)
  err_badstring  : '<a class="dropdown-item text-black-secondary">Entrer au-moins 3 caractères.</a>',
  err_noresult   : '<a class="dropdown-item text-black-secondary">Aucun résultat.</a>',
  err_norequest  : '<a class="dropdown-item text-black-secondary">Recherche de texte non implémentée.</p>',
  err_filefailed : '<a class="dropdown-item text-danger">Moteur de recherche introuvable.</a>',
  res_one_item   : '', // [CNT] RESULT
  res_more_items : '', // [CNT] RESULTS
  res_out_top    : '', // <ul>
  res_out_bottom : '', // </ul>
  res_item_tpl   : '<a class="dropdown-item" href="[URL]">[TITLE]</a>',
  add_searchlink : ''
};

// Translation of section name (optional)
let section_trans = {
  "post" : "Blog",
  // "other-section" : "Other Section"
};

let searchfield_weight = {
  "title"   : 5,
  "tags"    : 5,
  "summary" : 2,
  "content" : 1
};
// CUSTOM AREA END
</script>
<script src="/js/search.js"></script>