<figure class="figure mb-4">
  <video {{ with .Get "poster" }}poster="{{ . }}"{{ end }}
  {{ with .Get "width" }}width="{{ . }}"{{ else }} width="320"{{ end }}
  {{ with .Get "height" }}height="{{ . }}"{{ else }} height="240"{{ end }}
    preload="none"
    controls
  >{{ with .Get "mp4" }}
    <source
      src="{{ . }}"
      type="video/mp4"
    />
    {{ end }}
    {{ with .Get "webm" }}
    <source
      src="{{ . }}"
      type="video/webm"
    />
    {{ end }}
    Votre navigateur ne lit pas les vidéos.
  </video>
  {{ with .Get "description" }}
  <figcaption class="figure-caption">
    {{ . }}
  </figcaption>
  {{ end }}
</figure>
