<figure class="figure">
  <video {{ with .Get "poster" }}poster="{{ . }}"{{ end }} 
    width="320"
    height="240"
    preload="metadata"
    controls
  >{{ with .Get "mp4" }}
    <source
      src="{{ . }}"
      type="video/mp4"
    />
    {{ end }}
    {{ with .Get "webm" }}
    <source
      src="{{ . }}"
      type="video/webm"
    />
    {{ end }}
    Votre navigateur ne lit pas les vidéos.
  </video>
  {{ with .Get "description" }}
  <figcaption class="figure-caption">
    {{ . }}
  </figcaption>
  {{ end }}
</figure>
