<a
  lang="en"
  href="https://academic.oup.com/eurheartj/article/42/34/3227/6358713"
  rel="external nofollow noopener"
  >Visseren F. et al.; ESC Scientific Document Group. 2021 ESC Guidelines on
  cardiovascular disease prevention in clinical practice: Developed by the Task
  Force for cardiovascular disease prevention in clinical practice with
  representatives of the European Society of Cardiology and 12 medical societies
  With the special contribution of the European Association of Preventive
  Cardiology (EAPC). European Heart Journal. 2021.</a
>