<div
  class="card card-body card-primary-action rounded-lg d-inline-flex flex-row my-3 mr-3 mw-248"
>
  <img
    src="/images/logos/le-crat.png"
    class="mt-2 mr-4 rounded-lg"
    width="48"
    height="48"
    alt="Le Centre de Référence sur les Agents Tératogènes"
    loading="lazy"
    decoding="async"
  />
  <div>
    <h5 class="typography-body-2 font-weight-bold">Centre de Référence sur les Agents Tératogènes</h5>
    <h6 class="typography-body-2 mb-0">
      Risques des médicaments pendant grossesse et allaitement
    </h6>
  </div>
  <a
    href="https://lecrat.fr/"
    rel="external nofollow noopener"
    class="stretched-link"
  ></a>
</div>
