<div
  class="card card-body card-primary-action rounded-lg d-inline-flex flex-row my-3 mr-3"
  style="max-width: 250px"
>
  <img
    src="/images/logos/mes-droits-sociaux.webp"
    class="mt-2 mr-4 rounded-lg"
    style="object-fit: contain"
    width="48"
    height="48"
    alt="Mes Droits Sociaux, outil en ligne"
    loading="lazy"
    decoding="async"
  />
  <div>
    <h5 class="typography-body-2 font-weight-bold">
      <a
        href="https://www.mesdroitssociaux.gouv.fr/accueil/"
        target="_blank"
        rel="nofollow noopener"
        class="text-reset stretched-link"
        >Mes Droits Sociaux</a
      >
    </h5>
    <h6 class="typography-body-2 mb-0">
      L'ensemble des aides sociales selon les ressources.
    </h6>
  </div>
</div>