<div
  class="card card-body card-primary-action rounded-lg d-inline-flex flex-row my-3 mr-3 mw-248"
>
  <img
    src="/images/logos/tabac-info-service.webp"
    class="mt-2 mr-4 rounded-lg"
    width="48"
    height="48"
    alt="Tabac Info Service, l'appli"
    loading="lazy"
  >
  <div>
    <h5 class="typography-body-2 font-weight-bold">
      <a href="https://play.google.com/store/apps/details?id=fr.cnamts.tis"
      rel="external nofollow noopener"
      class="text-reset stretched-link"
      >Tabac Info Service</a>
    </h5>
    <h6 class="typography-body-2 mb-0">
      L'appli pour l'aide à l'arrêt (ou au 3989)
    </h6>
    <small class="text-muted">Aussi disponible sur iOS</small>
  </div>
</div>