<p>Le tableau précise les apports en calcium et non le calcium réellement absorbé par l’intestin.<br>
  L’absorption maximale est obtenue avec les produits laitiers et l’eau (30-40%, contre 65% pour le lait maternel).
  Le taux d’absorption digestif pour les autres aliments ne dépasse pas 20%, ne permettant pas de compter dessus. (Bacchetta 2022)
</p>
<p>Estimer les apports quotidiens en calcium avec le
  <a href="https://www.grio.org/espace-gp/calcul-apport-calcique-quotidien.php" rel="external nofollow noopener">questionnaire du GRIO</a>.</p>
<div class="data-table" role="region" aria-labelledby="table-calcium" tabindex="0">
  <table class="table table-sm" itemscope itemtype="https://schema.org/Table">
  <caption id="table-calcium" itemprop="about"><span class="font-weight-bold">Tableau.</span> Équivalences calciques d’après SFR 2018 ostéoporose</caption>
  <thead>
    <tr>
      <th scope="col">Aliment</th>
      <th scope="col" class="text-right">Portion</th>
      <th scope="col" class="text-right">Calcium (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="font-weight-bold table-active" colspan="3">Produits laitiers</td>
    </tr>
    <tr>
      <th scope="row">Verre de lait</th>
      <td class="text-right">100 mL</td>
      <td class="text-right">120</td>
    </tr>
    <tr>
      <th scope="row">Bol de lait</th>
      <td class="text-right">300 mL</td>
      <td class="text-right">360</td>
    </tr>
    <tr>
      <th scope="row">Yaourt, crème dessert</th>
      <td class="text-right">1</td>
      <td class="text-right">150</td>
    </tr>
    <tr>
      <th scope="row">Fromage blanc</th>
      <td class="text-right">100 g</td>
      <td class="text-right">95</td>
    </tr>
    <tr>
      <th scope="row">Petit suisse</th>
      <td class="text-right">1</td>
      <td class="text-right">28</td>
    </tr>
    <tr>
      <th scope="row">Fromage à pâte cuite</th>
      <td class="text-right">30 g</td>
      <td class="text-right">263</td>
    </tr>
    <tr>
      <th scope="row">Fromage à pâte molle</th>
      <td class="text-right">30 g</td>
      <td class="text-right">120</td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="3">Produits animaux</td>
    </tr>
    <tr>
      <th scope="row">Viande et poisson</th>
      <td class="text-right">120 g</td>
      <td class="text-right">15</td>
    </tr>
    <tr>
      <th scope="row">Oeuf</th>
      <td class="text-right">1</td>
      <td class="text-right">28</td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="3">Fruits et légumes</td>
    </tr>
    <tr>
      <th scope="row">Pommes de terre</th>
      <td class="text-right">200 g</td>
      <td class="text-right">20</td>
    </tr>
    <tr>
      <th scope="row">Frites</th>
      <td class="text-right">160 g</td>
      <td class="text-right">96</td>
    </tr>
    <tr>
      <th scope="row">Pâtes, semoule</th>
      <td class="text-right">50 g</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Légumes secs</th>
      <td class="text-right">75 g</td>
      <td class="text-right">53</td>
    </tr>
    <tr>
      <th scope="row">Légumes verts</th>
      <td class="text-right">200 g</td>
      <td class="text-right">94</td>
    </tr>
    <tr>
      <th scope="row">Fruit</th>
      <td class="text-right">150 mg</td>
      <td class="text-right">25</td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="3">Pains et chocolat</td>
    </tr>
    <tr>
      <th scope="row">Baguette</th>
      <td class="text-right">1</td>
      <td class="text-right">50</td>
    </tr>
    <tr>
      <th scope="row">Biscotte</th>
      <td class="text-right">10 g</td>
      <td class="text-right">4</td>
    </tr>
    <tr>
      <th scope="row">Chocolat au lait ou blanc</th>
      <td class="text-right">20 g</td>
      <td class="text-right">43</td>
    </tr>
    <tr>
      <th scope="row">Chocolat noir</th>
      <td class="text-right">20 g</td>
      <td class="text-right">13</td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="3">Boissons</td>
    </tr>
    <tr>
      <th scope="row">Vin, bière, cidre, jus de fruit</th>
      <td class="text-right">1</td>
      <td class="text-right">7</td>
    </tr>
    <tr>
      <th scope="row">Eau du robinet</th>
      <td class="text-right">100 mL</td>
      <td class="text-right">9</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Courmayeur, Hépar</th>
      <td>100 mL</td>
      <td class="text-right">55</td>
    </tr>
    <tr>
      <th scope="row">Contrex</th>
      <td>100 mL</td>
      <td class="text-right">46</td>
    </tr>
    <tr>
      <th scope="row">Badoit, Saint-Amand, Salvetat, Vittel</th>
      <td>100 mL</td>
      <td class="text-right">20</td>
    </tr>
    <tr>
      <th scope="row">Autres eaux</th>
      <td>100 mL</td>
      <td class="text-right">10</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p>
    <a href="https://doi.org/10.1016/j.rhum.2018.02.005" rel="external nofollow noopener"
      >Briot K et al. Actualisation 2018 des recommandations françaises du traitement de l’ostéoporose post-ménopausique. Revue du Rhumatisme. Volume 85. Issue 5. 2018.</a
    >
  </p>
</blockquote>