<div class="data-table" role="region" aria-labelledby="table-aod-fa" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-aod-fa" itemprop="about"><span class="font-weight-bold">Tableau.</span> Anticoagulants oraux directs pour la prévention thromboembolique de la fibrillation atriale en 2022</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Standard (mg)</th>
      <th scope="col" class="text-right">Allégée (mg)</th>
      <th scope="col" class="text-right">Réduite (mg)</th>
      <th scope="col">Quand réduire la dose</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Apixaban (x 2/j)</th>
      <td class="text-right">5</td>
      <td></td>
      <td class="text-right">2,5</td>
      <td>&ge; 2 parmi: âge &ge; 80, poids &le; 60 kg, créatininémie &ge; 133 µmol/L</td>
    </tr>
    <tr>
      <th scope="row">Dabigatran (x 2/j)</th>
      <td class="text-right">150</td>
      <td class="text-right">110</td>
      <td></td>
      <td>Âge &ge; 80, vérapamil ou risque hémorragique augmenté</td>
    </tr>
    <tr>
      <th scope="row">Rivaroxaban</th>
      <td class="text-right">20</td>
      <td></td>
      <td class="text-right">15</td>
      <td>Clairance 15-49 mL/min</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote class="my-2">
  <p>Prise unique quotidienne sauf mention contraire.</p>
  <p lang="en">
    <a href="https://doi.org/10.1093/eurheartj/ehaa612" rel="external nofollow noopener"
      >Hindricks 2020 ESC Guidelines for the diagnosis and management of atrial fibrillation.</a
    >
  </p>
</blockquote>
<p>Dabigatran: avaler avec un grand verre d'eau pendant le repas, ne pas s'allonger immédiatement.
  Ne pas ouvrir ou mâcher la gélule. (<em>Prescrire</em>)</p>