<div class="data-table" role="region" aria-labelledby="table-ara2" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-ara2" itemprop="about"><span class="font-weight-bold">Tableau.</span> Posologie des ARA2 de référence disponibles en France en 2022. Dr JB Fron d'après BDPM. HCT = hydrochlorothiazide</caption>
  <thead>
    <tr>
      <th scope="col">Classe</th>
      <th scope="col">Molécules</th>
      <th scope="col" class="text-right">Doses (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3">ARA2</th>
      <td>Candésartan</td>
      <td class="text-right">4, 8, 16, 32</td>
    </tr>
    <tr>
      <td>Losartan</td>
      <td class="text-right">50, 100</td>
    </tr>
    <tr>
      <td>Valsartan</td>
      <td class="text-right">40, 80, 160, sirop</td>
    </tr>
    <tr>
      <th scope="row" rowspan="3">ARA2 + TZD</th>
      <td>Candésartan/HCT</td>
      <td class="text-right">8/12,5, 16/12,5</td>
    </tr>
    <tr>
      <td>Losartan/HCT</td>
      <td class="text-right">50/12,5, 100/12,5, 100/25</td>
    </tr>
    <tr>
      <td>Valsartan/HCT</td>
      <td class="text-right">80/12,5, 160/12,5, 160/25</td>
    </tr>
    <tr>
      <th scope="row">ARA2 + ICa</th>
      <td>Valsartan/Amlodipine</td>
      <td class="text-right">5/80, 5/160, 10/160</td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>Titration:</strong> paliers mensuels jusqu'à atteindre la cible tensionnelle ou la dose maximale tolérée.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> PA-iono-urée-créatinine 1-2 semaine après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50%: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie &le; 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20-30%.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> voir les monographies<br>
  <strong>Précautions quand:</strong> hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data" rel="external nofollow noopener"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
</blockquote>