<!-- update 2026 -->
<div class="data-table" role="region" aria-labelledby="table-ara2" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-ara2" itemprop="about"><span class="font-weight-bold">Tableau.</span> Posologie des sartans de référence disponibles en
    France en 2026. Dr JB Fron d’après ESC et BDPM. HCT = hydrochlorothiazide</caption>
  <thead>
    <tr>
      <th scope="col">Classe</th>
      <th scope="col">Molécules</th>
      <th scope="col" class="text-right">Doses (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="3">ARA2</th>
      <td>Candésartan 🌍</td>
      <td class="text-right">4, 8, 16, 32</td>
    </tr>
    <tr>
      <td>Irbésartan</td>
      <td class="text-right">78, 150, 300</td>
    </tr>
    <tr>
      <td>Losartan</td>
      <td class="text-right">50, 100</td>
    </tr>
    <tr>
      <td>Telmisartan</td>
      <td class="text-right">40, 80</td>
    </tr>
    <tr>
      <td>Valsartan</td>
      <td class="text-right">40, 80, 160, <b>sirop</b></td>
    </tr>
    <tr>
      <th scope="row" rowspan="3">ARA2 + TZD</th>
      <td>Candésartan/HCT 🌍</td>
      <td class="text-right">8/12,5, 16/12,5</td>
    </tr>
    <tr>
      <td>Losartan/HCT</td>
      <td class="text-right">50/12,5, 100/12,5, 100/25 🌍</td>
    </tr>
    <tr>
      <td>Valsartan/HCT</td>
      <td class="text-right">80/12,5, 160/12,5, 160/25</td>
    </tr>
    <tr>
      <th scope="row">ARA2 + ICa</th>
      <td>Valsartan/Amlodipine</td>
      <td class="text-right">5/80, 5/160, 10/160</td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>Titration:</strong> paliers mensuels jusqu’à atteindre la cible tensionnelle ou la dose maximale tolérée.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> pression artérielle,ionogramme, urée, créatinine 1 à 2 semaine (2-4 selon <em>KDIGO</em>)
  après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50 %: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie ≤ 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou de fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20 à 30 %.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> voir les monographies<br>
  <strong>Précautions quand:</strong> femme en âge de procréer (contraception), hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>
<blockquote class="mt-4">
  <p lang="en">
    <a href="https://doi.org/10.1093/eurheartj/ehae178" rel="external nofollow noopener"
      >McEvoy J et al. 2024. Table S7.</a
    >
  </p>
  <p>
    <a href="https://kdigo.org/guidelines/diabetes-ckd/" rel="external nofollow noopener"
      >Kidney Disease: Improving Global Outcomes (KDIGO) Diabetes Work Group. KDIGO 2022 Clinical Practice Guideline for Diabetes Management in Chronic Kidney Disease. Kidney Int. 2022.</a
    >
  </p>
</blockquote>