<p>Bêta-2 agonistes de courte durée d’action</p>
<ul>
  <li>
    Salbutamol (albutérol)
    <ul>
      <li>
        <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/64720167/extrait#tab-rcp" rel="external nofollow noopener">Ventoline 100 µg</a> ou alternative en DCI<br>
        Nécessite coordination main-inspiration (<a href="https://splf.fr/portfolio-2/ventoline/" rel="external nofollow noopener">vidéo</a>). Efficacité maximale avec une <a href="https://splf.fr/portfolio-2/chambreinhalation/" rel="external nofollow noopener">chambre d’inhalation</a>.
      </li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/66086181/extrait#tab-rcp" rel="external nofollow noopener">Airomir Autohaler 100 µg</a> (<a href="https://splf.fr/portfolio-2/airomir/" rel="external nofollow noopener">Vidéo d’utilisation</a>)</li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/65779001/extrait#tab-rcp" rel="external nofollow noopener">Ventilastin Novolizer 100 µg</a> 🌍 (<a href="https://splf.fr/portfolio-2/ventilastin/" rel="external nofollow noopener">Vidéo d’utilisation</a>)</li>
      <li>Délai d’action: 5 minutes</li>
    </ul>
  </li>
  <li>
    Terbutaline<br>
    <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60961427/extrait#tab-rcp" rel="external nofollow noopener">Bricanyl Turbuhaler 500 µg</a> 🌍
  </li>
</ul>
<p><strong>Exacerbation d’asthme</strong><br>
  Dès les premiers symptômes, inhaler 1 à 2 bouffées.<br>
  Renouveler quelques minutes plus tard avec 4-10 bouffées si persistance des symptômes.<br>
  Répéter toutes les 20 minutes la première heure puis consulter si persistance.</p>
<p>Répéter 4 à 6 fois par jour en exacerbation.</p>
<hr>
<p><strong>Asthme d’effort:</strong> inhaler 1-2 bouffées juste avant l’effort.</p>
<hr>
<p><strong>Exacerbation de BPCO:</strong> 1-2 bouffées toutes les heures pendant 2-3 heures,<br>
puis toutes les 2 à 4 heures le temps de l’exacerbation (<em>GOLD 2025</em>).</p>