<p>Les Bêtabloquants au cours de l'insuffisance cardiaque.</p>
<p>Utilisés en première ligne en FEVG &lt; 40% avec dyspnée NYHA II-III.</p>
<div class="data-table" role="region" aria-labelledby="table-bb-ic" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-bb-ic" itemprop="about"><b>Tableau.</b> Posologie des BB dans l'insuffisance cardiaque d'après ESC 2016</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Débuter</th>
      <th scope="col" class="text-right">Cible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bisoprolol</th>
      <td class="text-right">1,25</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Carvédilol</th>
      <td class="text-right">3,125</td>
      <td class="text-right">25 x 2/j</td>
    </tr>
    <tr>
      <th scope="row">Métoprolol</th>
      <td class="text-right">12,5-25</td>
      <td class="text-right">200</td>
    </tr>
    <tr>
      <th scope="row">Nébivolol</th>
      <td class="text-right">1,25</td>
      <td class="text-right">10</td>
    </tr>
  </tbody>
  </table>
</div>
<p>Débuté en état stable, titration en doublant la dose toutes les 2 semaines jusqu'à atteindre la dose maximale (tolérée).<br>
Surveillance: fréquence cardiaque et pression artérielle.</p>
<p><strong>Contre-indications:</strong> asthme, BPCO sévère, bradycardie, hypotension symptomatique, BAV 2-3.</p>
<blockquote class="mt-5">
  <p class="font-italic">
    Doses en mg, 1 prise par jour sauf mention contraire
  </p>
  <p>
    <a href="https://www.escardio.org/static-file/Escardio/Guidelines/ehw128_Addenda.pdf"
      >2016 ESC Guidelines for the diagnosisand treatment of acute and chronic heartfailure – Web Addenda. Web Table 7.5</a
    >
  </p>
</blockquote>