<p>Les Bêtabloquants au cours de l'insuffisance cardiaque.</p>
<p>Utilisés en première ligne en FEVG &le; 40% avec dyspnée NYHA II-III.</p>
<div class="data-table" role="region" aria-labelledby="table-bb-ic" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-bb-ic" itemprop="about"><b>Tableau.</b> Posologie des bêtabloquants dans l'insuffisance cardiaque d'après ESC 2021</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Débuter (mg/j)</th>
      <th scope="col" class="text-right">Cible (mg/j)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bisoprolol</th>
      <td class="text-right">1,25</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Carvédilol</th>
      <td class="text-right">3,125 x 2/j</td>
      <td class="text-right">25 x 2/j</td>
    </tr>
    <tr>
      <th scope="row">Métoprolol succinate</th>
      <td class="text-right">12,5-25</td>
      <td class="text-right">200</td>
    </tr>
    <tr>
      <th scope="row">Nébivolol</th>
      <td class="text-right">1,25</td>
      <td class="text-right">10</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <small class="font-italic">
    1 prise par jour sauf mention contraire
  </small>
  <p>
    <a href="https://doi.org/10.1093/eurheartj/ehab368"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: Developed by the Task Force for the diagnosis and treatment of acute and chronic heart failure of the European Society of Cardiology (ESC) With the special contribution of the Heart Failure Association (HFA) of the ESC. European Heart Journal. 2021.</a
    >
  </p>
</blockquote>
<p><strong>Titration:</strong> doubler la dose toutes les 2 semaines jusqu'à atteindre la dose maximale tolérée.<br>
Surveillance: fréquence cardiaque et pression artérielle.</p>
<hr>
<p><strong>Contre-indications:</strong> BAV 2-3 sans pacemaker, ischémie critique (AOMI), relative dans l'asthme, allergie au produit.<br>
  Interdire: vérapamil, diltiazem.
Absence de contre-indication en BPCO (préférer biso ou métoprolol ou nébivolol).</p>
<hr>
<p><strong>Précautions:</strong> NYHA IV, exacerbation < 1 mois, hypotension < 90 mmHg, turgescence jugulaire, ascite.</p>
<p><strong>Interactions:</strong> digoxine, amiodarone, ivabradine.</p>