<div class="data-table" role="region" aria-labelledby="table-bradycardisant-fa" tabindex="0">
  <table class="table table-sm" itemscope itemtype="https://schema.org/Table">
  <caption id="table-bradycardisant-fa" itemprop="about"><span class="font-weight-bold">Tableau.</span> Bradycardisants utilisés pour la
    fibrillation atriale en 2024</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Dose habituelle (mg)</th>
      <th scope="col">Contre-indications</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="3" class="font-weight-bold">Bêtabloquants</th>
    </tr>
    <tr>
      <th scope="row">Aténolol</th>
      <td class="text-right">25-100</td>
      <td rowspan="4">Cardiosélectifs, à utiliser si asthme.<br>Contre-indiqués en IC aiguë ou bronchospasme sévère</td>
    </tr>
    <tr>
      <th scope="row" class="table-active">Bisoprolol</th>
      <td class="text-right">1,25-20</td>
    </tr>
    <tr>
      <th scope="row">Métoprolol (x 2/j)</th>
      <td class="text-right">25-100</td>
    </tr>
    <tr>
      <th scope="row" class="table-active">Métoprolol LP</th>
      <td class="text-right">50-400</td>
    </tr>
    <tr>
      <th scope="row">Carvédilol (x 2/j)</th>
      <td class="text-right">3,125-50</td>
      <td rowspan="2">Contre-indiqués si asthme + idem</td>
    </tr>
    <tr>
      <th scope="row">Nébivolol</th>
      <td class="text-right">2,5-10</td>
    </tr>
    <tr>
      <td colspan="3" class="font-weight-bold">Inhibiteurs calciques non dihydropyrinidiques</td>
    </tr>
    <tr>
      <th scope="row">Diltiazem (x 3/j)</th>
      <td class="text-right">60</td>
      <td rowspan="2">ICFEd. Adaptation selon fonction rénale et hépatique</td>
    </tr>
    <tr>
      <th scope="row">Diltiazem LP</th>
      <td class="text-right">360</td>
    </tr>
    <tr>
      <th scope="row">Vérapamil (x 3/j)</th>
      <td class="text-right">60</td>
      <td rowspan="2">Réduire la dose du dabigatran.<br>CI si ICFEd, adapt. selon fonction rénale/hépatique</td>
    </tr>
    <tr>
      <th scope="row">Vérapamil LP</th>
      <td class="text-right">480</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Digoxine</th>
      <td class="text-right">0,0625-0,25</td>
      <td>Surv. digoxinémie, adapt. fonction rénale</td>
    </tr>
    <tr>
      <th scope="row" class="font-weight-bold">Amiodarone</th>
      <td class="text-right">200</td>
      <td>Thyroïdopathie, en l’absence d’autre alternative</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote class="mt-2">
  <p><span class="font-weight-bold">ICFEd</span> = insuffisance cardiaque à fraction d’éjection diminuée. Prise unique quotidienne sauf mention contraire.</p>
  <p lang="en">
    <a href="https://doi.org/10.1093/eurheartj/ehaa612" rel="external nofollow noopener"
      >Hindricks 2020 ESC Guidelines for the diagnosis and management of atrial fibrillation.</a
    >
  </p>
</blockquote>