<ul>
  <li>Effervescent ou buvable<br>
  <strong>1000 mg/880 UI</strong> (Cacit Vitamine D3 ou Eptavit), <strong>500 mg/800 UI</strong> (Calcidose), 500 mg/400 UI (Calcidose, Calciforte).</li>
  <li>Comprimé à sucer ou croquer<br>
  1000 mg/800 UI (Calciprat, Fixical), 600 mg/400 UI (Natecal), 500 mg/1000 UI (Cacit Vitamine D3, Orocal Vitamine D3), 500 mg/440 UI (Cacit Vitamine D3), 500 mg/400 UI (Calciforte, Calciprat, Calcium Vitamine D3, Calperos D3, Densical, Fixical, Ideos, Orocal Vitamine D3), 500 mg/200 UI (Orocal Vitamine D3).</li>
  <li>Comprimé à avaler<br>
  Caltrate (600/400).</li>
</ul>