<ul class="list-group">
  <li><strong>Effervescent ou buvable</strong><br>
    <span class="text-black-secondary"><strong>1000 mg/880 UI</strong> (Cacit Vitamine D3 ou Eptavit); <strong>500 mg/800 UI</strong> (Calcidose); 500 mg/400 UI (Calcidose, Calciforte).</span></li>
  <li><strong>Comprimé à sucer ou croquer</strong><br>
    <span class="text-black-secondary">1000 mg/800 UI (Calciprat vitamine D3, Fixical); 600 mg/400 UI (Natecal); 500 mg/1000 UI (Cacit Vitamine D3, Orocal Vitamine D3); 500 mg/440 UI (Cacit Vitamine D3); 500 mg/400 UI (Calciforte, Calciprat, Calcium Vitamine D3, Calperos D3, Densical, Fixical, Ideos, Orocal Vitamine D3); 500 mg/200 UI (Orocal Vitamine D3).</span></li>
  <li><strong>Comprimé à avaler</strong><br>
    <span class="text-black-secondary">Caltrate vitamine D3 (600 mg/400 UI).</span></li>
</ul>