<ul>
  <li>
    Béclométasone
    <ul>
      <li>
        Beclospray <a href="">50</a> ou <a href="">250 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>
        <a href="">Bécotide 250 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>
        <a href="">Qvarspray 100 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li><a href="">Beclojet 250 µg</a> + chambre</li>
      <li><a href="">Ecobec Easi-breathe 250 µg</a></li>
      <li><a href="">Qvar Autohaler 100 µg</a></li>
      <li><a href="">Bemedrex Easyhaler 200 µg</a></li>
      <li>Miflasone Aerolizer <a href="">200</a> ou <a href="">400 µg</a></li>
    </ul>
  </li>
  <li>
    Budésonide
    <ul>
      <li>Miflonil Breezhaler <a href="">200</a> ou <a href="">400 µg</a></li>
      <li>Novopulmon Novolizer <a href="">200</a> ou <a href="">400 µg</a></li>
      <li>Pulmicort Turbuhaler <a href="">100</a>, <a href="">200</a> ou <a href="">400 µg</a></li>
    </ul>
  </li>
  <li>
    Ciclésonide<br>
    Alvesco <a href="">80</a> ou <a href="">160 µg</a>.<br>
    Nécessite coordination main-inspiration.
  </li>
  <li>
    Fluticasone
    <ul>
      <li>
        Flixotide <a href="">50</a>, <a href="">125</a> ou <a href="">250 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>
        Flixotide Diskus <a href="">100</a>, <a href="">250</a> ou <a href="">500 µg</a>
      </li>
    </ul>
  </li>
  <li>
    Mométasone
    <ul>
      <li>
        Asmanex Twisthaler <a href="">200</a> ou <a href="">400 µg</a>
      </li>
    </ul>
  </li>
</ul>
<hr class="my-3">
<p class="text-black-secondary mb-4">Rincer la bouche après inhalation.</p>