<div class="data-table">
  <table class="table mb-0">
    <thead>
      <tr>
        <th scope="col">Activité</th>
        <th scope="col">Pommade</th>
        <th scope="col">Crème</th>
        <th scope="col">Gel</th>
        <th scope="col">Mousse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-weight-bold">Très forte</th>
        <td>Dermoval, Diprolène</td>
        <td>Clarelux, Dermoval, Diprolène</td>
        <td>Dermoval</td>
        <td>Clarelux</td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Forte</th>
        <td>Betneval, Diprosone, Epitopic,<br>Flixovate, Locoïd, Nérisone</td>
        <td>Betneval, Diprosone, Efficort,<br> Flixovate , Locatop, Locoïd, Nérisone</td>
        <td>Topsyne</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Modérée</th>
        <td>Ultralan</td>
        <td>Locapred, Tridésonit</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Faible</th>
        <td></td>
        <td>Cortapaisyl, Cortisédermyl,<br> Dermofenac démangeaisons,<br> Hydrocortisone Kerapharm</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>