<!-- TODO: TF: CLOBEX et CLOBETASOL shampooing, Betesil emplatre -->
<div class="data-table" role="region" aria-labelledby="table-dc" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
    <caption id="table-dc" itemprop="about"><span class="font-weight-bold">Tableau.</span> Dermocorticoïdes disponibles en France en 2023. Dr JB Fron d’après BDPM</caption>
    <thead>
      <tr>
        <th scope="col">Activité</th>
        <th scope="col">Pommade</th>
        <th scope="col">Crème</th>
        <th scope="col">Lotion</th>
        <th scope="col">Mousse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-weight-bold">Très forte</th>
        <td>Dermoval, Diprolène</td>
        <td>Clarelux, Dermoval</td>
        <td></td>
        <td>Clarelux</td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Forte</th>
        <td>Betneval, Diprosone, Flixovate, Locoid, Nerisone</td>
        <td>Bethametasone, Betneval, Diprosone, Efficort, Epitopic, Flixovate, Locoid, Nerisone</td>
        <td>Betneval, Diprosone, Locoid</td>
        <td>Locoid</td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Modérée</th>
        <td></td>
        <td>Locapred, Locatop, Tridésonit</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row" class="font-weight-bold">Faible</th>
        <td></td>
        <td>Aphilan, Cortapaisyl,<br>Cortisédermyl, Dermofenac,<br>Hydrocortisone Kerapharm</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<h3 class="typography-headline-5">Prescription des dermocorticoïdes</h3>
<h4 class="typography-headline-6">Activité</h4>
<ul class="card-list-material">
  <li>Très forts<br>
    <span>Contre-indiqués: chez le nourrisson et le jeune enfant, le visage, les plis et le siège.</span></li>
  <li>Forts<br>
    <span>Sur le corps ou après 2 ans.</span></li>
  <li>Modérés<br>
    <span>Utilisés sur le visage, paupières, plis, zones génitales ou avant 2 ans.</span></li>
  <li>Faibles<br>
    <span>N’ont pas d’intérêt dans la dermatite atopique et le psoriasis.</span></li>
</ul>
<hr>
<h4 class="typography-headline-6">Galénique</h4>
<ul>
  <li>Crème: lésions suintantes et plis</li>
  <li>Pommades: lésions très sèches, lichénifiées</li>
  <li>Les préparations visant à diluer les dermocorticoïdes ne sont pas recommandées</li>
  <li>Optimisation: pansement occlusif couvrant (pansement ou hydrocolloïde) sur les paumes et plantes</li>
</ul>
<p><b>NB.</b> Pas de dose maximale connue dans la littérature pour cette classe thérapeutique: l’efficacité clinique est le critère majeur.</p>
<hr>
<h4 class="typography-headline-6">Usage</h4>
<ul>
  <li>Réservés aux poussées, choix selon âge, sévérité, site, étendue à traiter</li>
  <li>Application fine uniquement sur les lésions le soir<br>
    En fin d’application la peau doit être luisante et le produit ne doit plus se voir.<br>
    Règle de la phalangette: quantité de crème déposée sur la dernière phalange correspond à 0,5 g de produit et permet de couvrir une surface correspondant à 2 paumes de main d’adulte.</li>
  <li>Jusqu’à disparition de l’inflammation (souvent 1 à 3 semaines) puis arrêt brutal</li>
  <li>Application sur le visage limitée à 1 mois</li>
  <li>Compter le nombre de tubes</li>
</ul>
<hr>
<h4 class="typography-headline-6">Effets indésirables des dermocorticoïdes</h4>
<ul>
  <li>Atrophie cutanée: fragilité, ecchymoses, télangiectasies, vergetures (définitives)</li>
  <li>Dermite rosacéiforme du visage, aggravation d’une rosacée, dermite péri-orale</li>
  <li>Acné</li>
  <li>Infections cutanées (bactériennes, mycosiques, virales)</li>
  <li>Masque une dermatophytie, gale ou aggravation d’un herpès</li>
  <li>Paupières: glaucome, cataracte</li>
  <li>Traitement chronique: rebond à l’arrêt, dépendance</li>
  <li>Autres (réversibles le + souvent):<br>
    Hyperpigmentation de la peau, hypertrichose, sensibilisation</li>
</ul>
<blockquote class="blockquote">
  <p><a href="https://cedef.info/wp-content/uploads/2023/09/Item-330-%E2%80%94-Prescription-et-surveillance-des-anti-inflammatoires-steroidiens-et-non-steroidiens-aspects-dermatologiques_CompressPdf.pdf" rel="external nofollow noopener">
    CEDEF. Prescription et surveillance des anti-inflammatoires stéroïdiens et non stéroïdiens : aspects dermatologiques - Item 330. Annales de Dermatologie et de Vénéréologie - FMC. Volume 3. Issue 7. 2023.
  </a></p>
</blockquote>