<ul>
  <li><strong>Dulaglutide</strong> (1/sem; 86 €/m, <a href="https://www.youtube.com/watch?v=ou8SXm9Bpmc" rel="external nofollow">manipulation en vidéo</a>)<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2021/20210617151804/anx_151804_fr.pdf" rel="external nofollow">Trulicity</a> 0,75, 1,5, 3 et 4,5 mg (+ efficace sur l'HbA<sub>1c</sub>).
  </li>
  <li>Exénatide (79 €/m)
    <ul>
      <li><a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150073/anx_150073_fr.pdf" rel="external nofollow">Byetta</a> 5 ou 10 mg x 2/j</li>
      <li><a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150121/anx_150121_fr.pdf" rel="external nofollow">Byduréon 2 mg</a> x 1/sem</li>
    </ul>
  </li>
  <li><strong>Liraglutide (1/j; 100 €/m)</strong><br>
    <a href="https://ec.europa.eu/health/documents/community-register/2020/20200924149098/anx_149098_fr.pdf" rel="external nofollow noopener">Victoza</a> 0,6 puis 1,2 à 1,8 mg/j
  </li>
  <li><strong>Sémaglutide</strong> (1/sem; 86 €/m)<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf" rel="external nofollow noopener">Ozempic</a> 0,25 mg 1 SC/sem pendant 4 semaines, puis 0,5 mg.<br>
    Max 1 mg SC/sem (+ efficace sur l'HbA<sub>1c</sub>).
  </li>
</ul>
<p>Ne pas associer GLP1 et iDPP4.<br>
  Arrêt du traitement si baisse de l'HbA<sub>1c</sub> &lt; 0,5% à 3-6 mois, sauf maladie cardiovasculaire évoluée
  ou maladie rénale chronique où le traitement doit être maintenu.</p>
<p>Bénéfice cardiovasculaire démontré pour les molécules en <span class="font-weight-bold">gras</span> (niveau de preuve du sémaglutide moins élevé).</p>
<p>Molécules sûres chez l'insuffisant cardiaque: lixisénatide, liraglutide, sémaglutide, exénatide ER, dulaglutide, efpeglenatide.</p>
<p>Privilégier les plus efficaces sur la perte de poids chez le patient en obésité avec <strong>IMC ≥ 35 kg/m²</strong> (dula et sémaglutide).</p>
<p>Après 75 ans: uniquement sur avis spécialisé.</p>
<hr>
<p><strong>Contre-indication:</strong> l'insuffisance cardiaque n'en est pas une (<em>ADA 2023</em>, mais mentionnée à FE diminuée par la SFD en 2021).</p>
<p><strong>Effets indésirables:</strong> troubles digestifs en initiation, lithiases vésiculaires.</p>