<div class="alert alert-info">
  La prescription d’un AR GLP-1 doit être accompagnée d’un document Ameli Pro: lecture de la carte vitale ou NIR
  &gt; Accompagnement à la prescription &gt; Historique de mon patient &gt; Créer.
</div>
<p>🫀 = meilleure protection cardiovasculaire.</p>
<ul>
  <li><strong>Dulaglutide</strong> (1/sem; 86 €/m, <a href="https://www.youtube.com/watch?v=ou8SXm9Bpmc" rel="external nofollow">manipulation en vidéo</a>)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/trulicity-epar-product-information_fr.pdf" rel="external nofollow">Trulicity</a> 0,75, 1,5 🫀, 3 et 4,5 mg
    (+ efficace sur l’HbA<sub>1c</sub>, la perte de poids et le risque CV).
  </li>
  <li>Exénatide (79 €/m)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/bydureon-epar-product-information_fr.pdf" rel="external nofollow">Byduréon 2 mg</a> x 1/sem
  </li>
  <li><strong>Liraglutide (1/j; 100 €/m)</strong><br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/victoza-epar-product-information_fr.pdf" rel="external nofollow noopener">Victoza</a> 0,6 puis 1,2 à 1,8 mg/j 🫀
  </li>
  <li><strong>Sémaglutide</strong> (1/sem; 86 €/m)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/ozempic-epar-product-information_fr.pdf" rel="external nofollow noopener">Ozempic</a> 0,25 mg 1 SC/sem pendant 4 semaines,
    puis 0,5 mg/sem 4 semaines, puis 1 mg/sem (🫀 et maladie rénale).<br>
    Max 1 mg SC/semaine (+ efficace sur l’HbA<sub>1c</sub> et la perte de poids).<br>
    2,4 mg/sem non remboursé mais bénéfique si insuffisance cardiaque 💔.
  </li>
</ul>
<hr>
<p>Les AR GLP-1 sont particulièrement efficaces sur l’HbA<sub>1c</sub> chez les personnes d’origines asiatiques
  (chez qui les seuils de surpoids et d’obésité sont de 23 et 27,5 kg/m²).</p>
<p>Ne pas associer AR GLP1 et iDPP4.<br>
  Arrêt du traitement si baisse de l’HbA<sub>1c</sub> &lt; 0,5 % à 3-6 mois, sauf maladie cardiovasculaire évoluée
  ou maladie rénale chronique où le traitement doit être maintenu.</p>
<p>Bénéfice cardiovasculaire démontré pour les molécules en <span class="font-weight-bold">gras</span> (niveau de preuve du sémaglutide moins élevé).</p>
<p>Molécules sûres chez l’insuffisant cardiaque: lixisénatide, liraglutide, sémaglutide, exénatide ER, dulaglutide, efpeglenatide.</p>
<p>Privilégier les plus efficaces sur la perte de poids chez le patient en situation d’obésité avec <strong>IMC ≥ 35 kg/m²</strong> (dula et sémaglutide).</p>
<p>Après 75 ans: seulement chez le sujet en bonne santé avec vigilance sur l’état nutritionnel (expérience limitée).</p>
<p>Les AR GLP1 sont très efficaces chez les asiatiques, même sans surpoids.</p>
<hr>
<p><strong>Contre-indication:</strong> l’insuffisance cardiaque n’en est pas une (<em>ADA 2023</em>).</p>
<p><strong>Effets indésirables:</strong> troubles digestifs en initiation, lithiases vésiculaires.</p>