<ul>
  <li><b>Dulaglutide</b> (1/sem; 11,5€/j, <a href="https://www.youtube.com/watch?v=ou8SXm9Bpmc">manipulation en vidéo</a>)<br>
    Trulicity <a href="">0,75</a>, <a href="">1,5 mg</a>, <a href="">3 mg</a> et <a href="">4,5 mg</a>.
  </li>
  <li>Exénatide
    <ul>
      <li>Byetta <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150073/anx_150073_fr.pdf">5</a> et <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150073/anx_150073_fr.pdf">10 mg</a> (x 2/j; 2,6€/j)</li>
      <li>Byduréon <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150121/anx_150121_fr.pdf">2 mg</a> (x 1/sem; 2,7€/j)</li>
    </ul>
  </li>
  <li><b>Liraglutide (1/j; 8,7€/j)</b><br>
    Victoza <a href="https://ec.europa.eu/health/documents/community-register/2020/20200924149098/anx_149098_fr.pdf">6 mg/mL</a>
  </li>
  <li><b>Sémaglutide (1/sem; 2,82€/j)</b><br>
    Ozempic <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">0,25 mg</a> 1/sem pendant 4 semaines, puis <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">0,5 mg</a>.<br>
    Max <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">1 mg/sem</a>.
  </li>
</ul>
<p>Arrêt du traitement si baisse de l'HbA1c &lt; 0,5% à 3-6 mois, sauf maladie cardiovasculaire évoluée
  ou maladie rénale chronique où le traitement doit être maintenu.</p>
<p>Contre-indication: insuffisance cardiaque à FE diminuée.</p>
<p>Bénéfice cardiovasculaire démontré pour les molécules en gras.</p>