<ul>
  <li>Dulaglutide (1/sem, <a href="https://www.youtube.com/watch?v=ou8SXm9Bpmc">démo</a>)<br>
    Trulicity <a href="">0,75</a>, <a href="">1,5 mg</a>, <a href="">3 mg</a> et <a href="">4,5 mg</a>.
  </li>
  <li>Exénatide
    <ul>
      <li>Byetta <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150073/anx_150073_fr.pdf">5</a> et <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150073/anx_150073_fr.pdf">10 mg</a> (x 2/j)</li>
      <li>Byduréon <a href="https://ec.europa.eu/health/documents/community-register/2021/20210111150121/anx_150121_fr.pdf">2 mg</a> (x 1/sem)</li>
    </ul>
  </li>
  <li>Liraglutide (1/j)<br>
    Victoza <a href="https://ec.europa.eu/health/documents/community-register/2020/20200924149098/anx_149098_fr.pdf">6 mg/mL</a>
  </li>
  <li>Sémaglutide (1/sem)<br>
    Ozempic <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">0,25 mg</a> 1/sem pendant 4 semaines, puis <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">0,5 mg</a>.<br>
    Max <a href="https://ec.europa.eu/health/documents/community-register/2021/20210322150934/anx_150934_fr.pdf">1 mg/sem</a>.
  </li>
</ul>
<p>Arrêt du traitement si baisse de l'HbA1c &lt; 0,5% à 3-6 mois.</p>