<div class="data-table" role="region" aria-labelledby="table-gold" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
    <caption id="table-gold" itemprop="about"><span class="font-weight-bold">Tableau.</span> Groupes GOLD A, B et E et bronchodilatateur de choix de la BPCO. Dr JB Fron d’après GOLD 2025.</caption>
    <thead>
      <tr>
        <th scope="col">Exacerbations</th>
        <th scope="col" class="text-center">mMRC 0-1<br>CAT &lt; 10</th>
        <th scope="col" class="text-center">mMRC ≥ 2<br>CAT ≥ 10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">≥ 2 exacerbations<br>modérées<br>ou ≥ 1 hospitalisation</th>
        <td colspan="2" class="text-center"><a role="button" data-toggle="modal" href="#modal-ttt-laba-lama">LABA + LAMA</a> (groupe E)<br>+ <a role="button" data-toggle="modal" href="#modal-ttt-laba-lama-csi">CSI</a> si éosinophiles ≥ 300</td>
      </tr>
      <tr>
        <th scope="row">0-1 exacerbation<br>modérée</th>
        <td class="text-center"><a role="button" data-toggle="modal" href="#modal-ttt-laba">LABA</a> ou <a role="button" data-toggle="modal" href="#modal-ttt-lama">LAMA</a><br><span class="text-black-secondary">Groupe A</span></td>
        <td class="text-center"><a role="button" data-toggle="modal" href="#modal-ttt-laba-lama">LABA + LAMA</a><br><span class="text-black-secondary">Groupe B</span></td>
      </tr>
    </tbody>
  </table>
</div>