<div class="data-table" role="region" aria-labelledby="table-hnf" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
    <caption id="table-hnf" itemprop="about"><span class="font-weight-bold">Tableau.</span> Adaptation de l’héparinothérapie intraveineuse (HNF) selon le TCA. Dr JB Fron d’après ESC Pulmonary embolism 2019.</caption>
    <thead>
  <tr>
    <th scope="col">TCA</th>
    <th scope="col">Adaptation</th>
  </tr></thead>
<tbody>
  <tr>
    <th scope="row">&lt; 1,2</td>
    <td>Bolus 80 UI/kg, augmenter le débit de 4 UI/kg/h</td>
  </tr>
  <tr>
    <th scope="row">1,2 - 1,5</td>
    <td>Bolus 40 UI/kg, augmenter le débit de 2 UI/kg/h</td>
  </tr>
  <tr>
    <th scope="row">1,5 - 2,3</td>
    <td>Pas de changement</td>
  </tr>
  <tr>
    <th scope="row">2,3 - 3</td>
    <td>Réduire le débit de 2 UI/kg/h</td>
  </tr>
  <tr>
    <th scope="row">&gt; 3</td>
    <td>Arrêt 1 heure, réduire le débit de 3 UI/kg/h</td>
  </tr>
</tbody>
  </table>
</div>