<ul>
  <li><del>Saxagliptine</del>
    <ul>
      <li>Ne doit pas être utilisée (<em>SFD 2021</em>)</li>
      <li><a href="https://ec.europa.eu/health/documents/community-register/2021/20210309151141/anx_151141_fr.pdf" rel="external nofollow noopener">Onglyza 5 mg</a> x 1/j</li>
      <li>Avec metformine: <a href="https://ec.europa.eu/health/documents/community-register/2021/20210309151140/anx_151140_fr.pdf" rel="external nofollow noopener">Komboglyze 2,5/1000 mg</a> x 2/j</li>
    </ul>
  </li>
  <li><strong>Sitagliptine</strong>
    <ul>
      <li>Gliptine de référence (<em>SFD 2021</em>)</li>
      <li>Januvia ou Xelevia (50, 100 mg)<br>
      <a href="https://ec.europa.eu/health/documents/community-register/2020/20200228147389/anx_147389_fr.pdf" rel="external nofollow noopener">Januvia</a>/<a href="https://ec.europa.eu/health/documents/community-register/2021/20210521151959/anx_151959_fr.pdf" rel="external nofollow noopener">Xelevia</a> 100 mg x 1/j</li>
      <li>Avec metformine: <a href="https://www.ema.europa.eu/en/documents/product-information/janumet-epar-product-information_fr.pdf" rel="external nofollow noopener">Janumet</a>/<a href="https://ec.europa.eu/health/documents/community-register/2018/20180629141616/anx_141616_fr.pdf" rel="external nofollow noopener">Velmetia</a> 50/1000 mg x 2/j</li>
    </ul>
  </li>
  <li>Vildagliptine
    <ul>
      <li><a href="https://ec.europa.eu/health/documents/community-register/2021/20210621152156/anx_152156_fr.pdf" rel="external nofollow noopener">Galvus 50 mg</a> x 2/j</li>
      <li>Avec metformine: <a href="https://ec.europa.eu/health/documents/community-register/2021/20210621152266/anx_152266_fr.pdf" rel="external nofollow noopener">Eucreas 50/1000 mg</a> x 2/j</li>
    </ul>
  </li>
</ul>
<p>Arrêt du traitement si baisse de l'HbA1c &lt; 0,5% à 3-6 mois.</p>