<p>Les IEC au cours de l'insuffisance cardiaque.</p>
<p>Utilisés en première ligne en FEVG &lt; 40% avec dyspnée NYHA II-IV.</p>
<div class="data-table" role="region" aria-labelledby="table-iec-ic" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-iec-ic" itemprop="about"><b>Tableau.</b> Posologie des IEC dans l'insuffisance cardiaque d'après ESC 2016</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Débuter</th>
      <th scope="col" class="text-right">Cible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Captopril</th>
      <td class="text-right">6,25 x 3/j</td>
      <td class="text-right">50 x 3/j</td>
    </tr>
    <tr>
      <th scope="row">Enalapril</th>
      <td class="text-right">2,5 x 2/j</td>
      <td class="text-right">20 x 2/j</td>
    </tr>
    <tr>
      <th scope="row">Lisinopril</th>
      <td class="text-right">2,5-5</td>
      <td class="text-right">20-35</td>
    </tr>
    <tr>
      <th scope="row">Ramipril</th>
      <td class="text-right">2,5</td>
      <td class="text-right">10</td>
    </tr>
    <tr>
      <th scope="row">Trandolapril</th>
      <td class="text-right">0,5</td>
      <td class="text-right">4</td>
    </tr>
  </tbody>
  </table>
</div>
<p>Titration en doublant la dose toutes les 2 semaines jusqu'à atteindre la dose maximale (tolérée).<br>
Surveillance PA-iono-créat 1 semaine après chaque changement de dose.<br>
Arrêt ou diminution si augmentation &gt; 20-30%.</p>
<blockquote class="mt-5">
  <p class="font-italic">
    Doses en mg, 1 prise par jour sauf mention contraire
  </p>
  <p>
    <a href="https://www.escardio.org/static-file/Escardio/Guidelines/ehw128_Addenda.pdf"
      >2016 ESC Guidelines for the diagnosisand treatment of acute and chronic heartfailure – Web Addenda. Web Table 7.4</a
    >
  </p>
</blockquote>