<p>Les IEC au cours de l'insuffisance cardiaque.</p>
<p>Utilisés en première ligne en FEVG &le; 40% avec dyspnée NYHA II-IV.</p>
<div class="data-table" role="region" aria-labelledby="table-iec-ic" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-iec-ic" itemprop="about"><b>Tableau.</b> Posologie des IEC dans l'insuffisance cardiaque d'après la ESC 2021</caption>
  <thead>
    <tr>
      <th scope="col">Molécule</th>
      <th scope="col" class="text-right">Débuter (mg)</th>
      <th scope="col" class="text-right">Cible (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Captopril</th>
      <td class="text-right">6,25 x 3/j</td>
      <td class="text-right">50 x 3/j</td>
    </tr>
    <tr>
      <th scope="row">Enalapril</th>
      <td class="text-right">2,5 x 2/j</td>
      <td class="text-right">10-20 x 2/j</td>
    </tr>
    <tr>
      <th scope="row">Lisinopril</th>
      <td class="text-right">2,5-5</td>
      <td class="text-right">20-35</td>
    </tr>
    <tr>
      <th scope="row">Ramipril</th>
      <td class="text-right">2,5 x 2/j</td>
      <td class="text-right">5 x 2/j</td>
    </tr>
    <tr>
      <th scope="row">Trandolapril</th>
      <td class="text-right">0,5</td>
      <td class="text-right">4</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <small class="font-italic">
    1 prise par jour sauf mention contraire
  </small>
  <p lang="en">
    <a href="https://doi.org/10.1093/eurheartj/ehab368" rel="external nofollow noopener"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: Developed by the Task Force for the diagnosis and treatment of acute and chronic heart failure of the European Society of Cardiology (ESC) With the special contribution of the Heart Failure Association (HFA) of the ESC. European Heart Journal. 2021.</a
    > et
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
</blockquote>
<p><strong>Titration:</strong> doubler la dose toutes les 2 semaines jusqu'à atteindre la dose maximale tolérée.<br>
  <strong>Intolérance:</strong> en cas de toux, arrêter puis ré-introduire pour vérifier la causalité.<br>
  Intolérance avérée: substitution par ARA2 <em>candésartan</em> (cible 32 mg x 1/j) ou <em>valsartan</em> (cible 160 mg x 2/j). Maintenir une dose, même minime.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> PA-iono-urée-créatinine 1-2 semaine après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50%: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie &le; 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20-30%.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> voir les monographies<br>
  <strong>Précautions quand:</strong> hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>