<div class="data-table" role="region" aria-labelledby="table-iec" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-iec" itemprop="about"><b>Tableau.</b> Posologie des IEC de référence disponibles en France en 2021. Dr JB Fron d'après BDPM. HCT = hydrochlorothiazide</caption>
  <thead>
    <tr>
      <th scope="col">Classe</th>
      <th scope="col">Molécules</th>
      <th scope="col" class="text-right">Doses (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="4">IEC</th>
      <td>Captopril</td>
      <td class="text-right">25, 50, sirop</td>
    </tr>
    <tr>
      <td>Énalapril</td>
      <td class="text-right">5, 20</td>
    </tr>
    <tr>
      <td>Lisinopril</td>
      <td class="text-right">5, 20</td>
    </tr>
    <tr>
      <td>Ramipril</td>
      <td class="text-right">1,25, 2,5, 5, 10</td>
    </tr>
    <tr>
      <th scope="row" rowspan="4">IEC + TZD</th>
      <td>Captopril/HCT</td>
      <td class="text-right">50/25</td>
    </tr>
    <tr>
      <td>Énalapril/HCT</td>
      <td class="text-right">20/12,5</td>
    </tr>
    <tr>
      <td>Lisinopril/HCT</td>
      <td class="text-right">20/12,5</td>
    </tr>
    <tr>
      <td>Ramipril/HCT</td>
      <td class="text-right">5/12,5</td>
    </tr>
    <tr>
      <th scope="row" rowspan="2">IEC + ICa</th>
      <td>Énalapril/Lercanidipine</td>
      <td class="text-right">20/10, 20/20</td>
    </tr>
    <tr>
      <td>Ramipril/Amlodipine</td>
      <td class="text-right">5/5, 5/10, 10/5, 10/10</td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>Titration:</strong> paliers mensuels jusqu'à atteindre la cible tensionnelle ou la dose maximale tolérée.<br>
  <strong>Intolérance:</strong> en cas de toux, arrêter puis ré-introduire pour vérifier la causalité.<br>
  Intolérance avérée: substitution par ARA2.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> PA-iono-urée-créatinine 1-2 semaine après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50%: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie &le; 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20-30%.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> voir les monographies<br>
  <strong>Précautions quand:</strong> hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>
<blockquote>
  <p lang="en">
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data" rel="external nofollow noopener"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
</blockquote>