<!-- update 2026 -->
<div class="data-table" role="region" aria-labelledby="table-iec" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-iec" itemprop="about"><span class="font-weight-bold">Tableau.</span> Posologie des IEC de référence disponibles en France en 2026. Dr JB Fron d’après ESC et BDPM. HCT = hydrochlorothiazide</caption>
  <thead>
    <tr>
      <th scope="col">Classe</th>
      <th scope="col">Molécules</th>
      <th scope="col" class="text-right">Doses (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" rowspan="4">IEC</th>
      <td>Captopril</td>
      <td class="text-right">25, 50, sirop</td>
    </tr>
    <tr>
      <td>Énalapril</td>
      <td class="text-right">5, 20</td>
    </tr>
    <tr>
      <td>Lisinopril</td>
      <td class="text-right">5, 20</td>
    </tr>
    <tr>
      <td>Ramipril 🌍</td>
      <td class="text-right">1,25, 2,5, 5, 10</td>
    </tr>
    <tr>
      <th scope="row" rowspan="4">IEC + TZD</th>
      <td>Captopril/HCT</td>
      <td class="text-right"><mark title="Seul polypill dose max; polluant">50/25</mark></td>
    </tr>
    <tr>
      <td>Énalapril/HCT</td>
      <td class="text-right">20/12,5</td>
    </tr>
    <tr>
      <td>Lisinopril/HCT</td>
      <td class="text-right">20/12,5</td>
    </tr>
    <tr>
      <td>Ramipril/HCT</td>
      <td class="text-right">5/12,5</td>
    </tr>
    <tr>
      <th scope="row" rowspan="2">IEC + ICa</th>
      <td>Énalapril/Lercanidipine</td>
      <td class="text-right">20/10, 20/20</td>
    </tr>
    <tr>
      <td>Ramipril/Amlodipine</td>
      <td class="text-right">5/5, 5/10, 10/5, 10/10</td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>Titration:</strong> paliers mensuels jusqu’à atteindre la cible tensionnelle ou la dose maximale tolérée.<br>
  <strong>Intolérance:</strong> en cas de toux, arrêter puis ré-introduire pour vérifier la causalité.<br>
  Intolérance avérée: substituer par un sartan.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> PA-iono-urée-créatinine 1-2 semaine (2-4 selon <em>KDIGO</em>) après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50%: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie ≤ 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20-30%.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> grossesse + voir les monographies<br>
  <strong>Précautions quand:</strong> femme en âge de procréer (contraception), hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>
<hr class="my-3">
<p>Hyperkaliémie &gt; 5,5 mmol/L sous IEC: réévaluer les autres traitements, limiter les aliments riches en potassium,
   envisager un diurétique, bicarbonate de sodium ou résine échangeuse d’ions (KDIGO diabetes 2020)</p>
<blockquote lang="en">
  <p>
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data" rel="external nofollow noopener"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
  <p>
    <a href="https://kdigo.org/guidelines/diabetes-ckd/" rel="external nofollow noopener"
      >Kidney Disease: Improving Global Outcomes (KDIGO) Diabetes Work Group. KDIGO 2022 Clinical Practice Guideline for Diabetes Management in Chronic Kidney Disease. Kidney Int. 2022.</a
    >
  </p>
</blockquote>