<div class="data-table" role="region" aria-labelledby="table-iec" tabindex="0">
  <table class="table table-wrap table-hta" itemscope itemtype="https://schema.org/Table">
  <caption id="table-iec" itemprop="about"><b>Tableau.</b> Posologie des IEC de référence disponibles en France en 2021. Dr JB Fron d'après BDPM</caption>
  <thead>
    <tr>
      <th scope="col">Classe</th>
      <th scope="col">Molécules disponibles (mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">IEC</th>
      <td>Captopril 25, 50, sirop<br>Énalapril 5, 20<br>Lisinopril 5, 20<br>Ramipril 1,25, 2,5, 5, 10</td>
    </tr>
    <tr>
      <th scope="row">IEC + TZD</th>
      <td>Captopril/HCT 50/25<br>Énalapril/HCT 20/12,5<br>Lisinopril/HCT 20/12,5<br>Ramipril/HCT 5/12,5</td>
    </tr>
    <tr>
      <th scope="row">IEC + ICa</th>
      <td>Énalapril/Lercanidipine 20/10, 20/20<br>Ramipril/Amlodipine 5/5, 5/10, 10/5, 10/10</td>
    </tr>
  </tbody>
  </table>
</div>
<small>HCT: hydrochlorothiazide</small>
<p><strong>Titration:</strong> doubler la dose toutes les 2 semaines jusqu'à atteindre la dose maximale tolérée.<br>
  <strong>Intolérance:</strong> en cas de toux, arrêter puis ré-introduire pour vérifier la causalité.<br>
  Intolérance avérée: substitution par ARA2.</p>
<hr class="my-3">
<p><strong>Surveillance:</strong> PA-iono-urée-créatinine 1-2 semaine après chaque changement de dose puis tous les mois.<br>
Si augmentation de la créatinine &gt; 50%: diviser la posologie par 2 et contrôle du bilan rénal à 1-2 semaines.<br>
Une kaliémie &le; 5,5 mmol/L est acceptable.</p>
<p>Suspendre le traitement les jours de diarrhées ou fortes chaleurs.<br>
Le traitement augmente la créatininémie de 20-30%.</p>
<hr class="my-3">
<p>
  <strong>Contre-indications:</strong> voir les monographies<br>
  <strong>Précautions quand:</strong> hyperkaliémie, insuffisance rénale sévère, PAS &lt; 90 mmHg
</p>
<blockquote>
  <p>
    <a href="https://academic.oup.com/eurheartj/article/42/36/3599/6358045#supplementary-data"
      >McDonagh T et al. 2021 ESC Guidelines for the diagnosis and treatment of acute and chronic heart failure: supplementary data</a
    >
  </p>
</blockquote>
