<h5>Initier l'insuline</h5>
<ul>
  <li>Co-décision + suivi rapproché ETP avec une autonomie du patient</li>
  <li>Débuter: 6-10 UI (ou 0,1-0,2 UI/kg) en 1 injection SC<br>
  Adaptée à l'état physiologique et au déséquilibre glycémique.</li>
  <li>Pour viser 7% d'HbA1c, la glycémie au réveil doit être de 0,8-1,3 g/L</li>
  <li>Paliers de +1-2 UI tous les 3 jours selon la glycémie à jeun</li>
  <li>Analogue lent de préférence: Abasaglar&reg;<br>
  Moins chère des glargines U100.</li>
  <li>Autres traitements anti-hyperglycémiants: toujours conserver la metformine,
    préférer l'arrêt des autres sauf GLP1-RA/iSGLT2 efficace sur la perte de poids (&ge; 5%) ou
    maladie cardiovasculaire.</li>
  <li>Avis de l'endocrinologue possible à tout moment et systématique en cas de cible non atteinte 
    sous metformine + insuline basale</li>
  <li>Personne &ge; 75 ans: éviter risque hypoglycémique. Éviter l'association avec d'autres hypoglycémiants (SU, glinide)</li>
</ul>
<hr>
<h5>Matériel d'injection</h5>
<ul>
  <li>Aiguilles de 4 mm</li>
  <li>Conteneur d'aiguilles</li>
  <li>Lecteur de glycémie tous les 4 ans</li>
  <li>Autopiqueur annuel</li>
  <li>Insuline conservée au frigo</li>
</ul>
<hr>
<h5>Technique d'injection</h5>
<blockquote>
  <p>
    <a href=""
      ></a
    >
  </p>
</blockquote>
