<h4 class="typography-headline-6">Initier l'insuline</h4>
<ul>
  <li>Co-décision + suivi rapproché ETP avec une autonomie du patient (voire télésurveillance)</li>
  <li>Débuter: 6 à 10 UI (ou 0,1 à 0,2 UI/kg) en 1 injection SC le soir ou le matin (selon préférence)<br>
  Adaptée à l'état physiologique et au déséquilibre glycémique.</li>
  <li>Pour viser 7% d'HbA1c, la glycémie au réveil doit être entre 0,8 et 1,3 g/L</li>
  <li>Paliers de 2 UI tous les 3 jours selon la glycémie au réveil (paliers de 10% quand &gt; 40 UI/j)</li>
  <li>Analogue lent de préférence: Abasaglar&reg;<br>
  Moins chère des glargines U100.</li>
  <li>Autres traitements anti-hyperglycémiants: toujours conserver la metformine,
    réévaluer l'iDPP4 et arrêter les autres sauf GLP1/iSGLT2 efficace sur la perte de poids (&ge; 5%) ou
    maladie cardiovasculaire.</li>
  <li>Avis de l'endocrinologue possible à tout moment et systématique en cas de cible non atteinte 
    sous metformine + insuline basale</li>
</ul>
<hr>
<h4 class="typography-headline-6">Hypoglycémies</h4>
<p>Facteurs de risques d"hypoglycémies: association sulfamide ou glinide, patient âgé ou fragile, antécédents d'hypoglycémies, mauvaise perception, insuffisance rénale, dénutrition.</p>
<p>Préférer la glargine U300 ou la dégludec mais surtout le suivi spécialisé.</p>
<hr>
<h4 class="typography-headline-6">Matériel d'injection</h4>
<ul>
  <li>Aiguilles de 4 mm</li>
  <li>Conteneur d'aiguilles</li>
  <li>Lecteur de glycémie tous les 4 ans</li>
  <li>Autopiqueur annuel</li>
  <li>Insuline conservée au frigo</li>
</ul>
<blockquote>
  <p>
    <a href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/reco_dt2_sfd_2021.pdf" rel="external nofollow noopener"
      >Darmon P. et al. Prise de position de la Société Francophone du Diabète (SFD) sur les stratégies d'utilisation des traitements anti-hyperglycémiants dans le diabète de type 2 – 2021. Med Mal Metab; 15: 781-801. (PDF)</a
    >
  </p>
</blockquote>