<h4 class="typography-headline-6">Initier l'insuline</h4>
<ul>
  <li>Co-décision + suivi rapproché ETP avec une autonomie du patient</li>
  <li>Débuter: 6-10 UI (ou 0,1-0,2 UI/kg) en 1 injection SC<br>
  Adaptée à l'état physiologique et au déséquilibre glycémique.</li>
  <li>Pour viser 7% d'HbA1c, la glycémie au réveil doit être de 0,8-1,3 g/L</li>
  <li>Paliers de +1-2 UI tous les 3 jours selon la glycémie à jeun</li>
  <li>Analogue lent de préférence: Abasaglar&reg;<br>
  Moins chère des glargines U100.</li>
  <li>Autres traitements anti-hyperglycémiants: toujours conserver la metformine,
    préférer l'arrêt des autres sauf GLP1-RA/iSGLT2 efficace sur la perte de poids (&ge; 5%) ou
    maladie cardiovasculaire.</li>
  <li>Avis de l'endocrinologue possible à tout moment et systématique en cas de cible non atteinte 
    sous metformine + insuline basale</li>
  <li>Personne &ge; 75 ans: éviter risque hypoglycémique. Éviter l'association avec d'autres hypoglycémiants (SU, glinide)</li>
</ul>
<hr>
<h4 class="typography-headline-6">Matériel d'injection</h4>
<ul>
  <li>Aiguilles de 4 mm</li>
  <li>Conteneur d'aiguilles</li>
  <li>Lecteur de glycémie tous les 4 ans</li>
  <li>Autopiqueur annuel</li>
  <li>Insuline conservée au frigo</li>
</ul>
<blockquote>
  <p>
    <a href="https://www.sfdiabete.org/sites/www.sfdiabete.org/files/files/ressources/mmm_2019_ndeg8_prise_de_position_sfd_dt2_tt_v_finale.pdf"
      >Darmon P. et al. Prise de position de la Société Francophone du Diabète (SFD)
      sur la prise en charge médicamenteuse de l’hyperglycémie du patient diabétique
      de type 2 – 2019, Médecine des Maladies Métaboliques, Volume 13, Issue 8,
      2019, Pages 711-732, ISSN 957-2557.</a
    >
  </p>
</blockquote>