<div class="data-table" role="region" aria-labelledby="table-irsna-edc" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-irsna-edc" itemprop="about"><span class="font-weight-bold">Tableau.</span> Posologie des antidépresseurs inhibiteurs
    de la recapture de la sérotonine et de la noradrénaline (IRSN), disponibles en France en 2023 pour la dépression.
    Dr JB Fron d’après BDPM, ACP 2023, HAS 2017 et BAP 2010.</caption>
  <thead>
    <tr>
      <th scope="col">Molécule ayant l’AMM</th>
      <th scope="col" class="text-right">Introduction (mg/j)</th>
      <th scope="col" class="text-right">Max</th>
      <th scope="col">Grossesse</th>
      <th scope="col">Avantages</th>
      <th scope="col">Inconvénients</th>
    </tr>
  </thead>
  <tbody>
      <th scope="row">Duloxétine</th>
      <td class="text-right">60</td>
      <td class="text-right">120</td>
      <td>Non</td>
      <td>Efficace sur douleurs neuropathiques (DN), neuromusculaires</td>
      <td>Troubles digestifs, atteinte hépatique</td>
    </tr>
    <tr>
      <th scope="row">Milnacipran</th>
      <td class="text-right">2x50</td>
      <td class="text-right">100</td>
      <td>Non</td>
      <td>Efficace sur douleurs neuropathiques (DN), neuromusculaires</td>
      <td>Troubles digestifs, atteinte hépatique</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">Venlafaxine LP</th>
      <td class="text-right">75</td>
      <td class="text-right">375</td>
      <td>Oui</td>
      <td>Efficace sur DN, migraine, bouffées vasomotrices de ménopause</td>
      <td>HTA, sd de sevrage</td>
    </tr>
  </tbody>
  </table>
</div>
<hr class="my-3">
<p>Globalement: titration par paliers équivalents à la dose d'introduction, toutes les 1-2 semaines (BAP 2010).</p>
<p>Les effets indésirables fréquents à l’introduction (troubles digestifs, vertiges, agitation) s’améliorent le plus souvent
  sous 2 semaines.</p>
<p>Surveillance de la pression artérielle.</p>
<p>Effets indésirables de la classe: nausées, diarrhées, anorexie, agitation, insomnie, somnolence,
  troubles sexuels, hyponatrémie, syndrome de sevrage à l’arrêt. Augmentation de la pression artérielle, tachycardie et troubles du rythme.</p>
<blockquote>
  <p>ACP 2023, HAS 2017 et BAP 2010</p>
</blockquote>