<ul>
  <li>Dapagliflozine<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2021/20210805152483/anx_152483_fr.pdf">Forxiga 10 mg</a> x 1/j<br>
    Avec metformine: <a href="https://ec.europa.eu/health/documents/community-register/2020/20200930149378/anx_149378_fr.pdf">Xigduo 5/1000 mg</a> x 2/j
  </li>
  <li><b>Empagliflozine</b><br>
    <a href="https://ec.europa.eu/health/documents/community-register/2021/20210617152140/anx_152140_fr.pdf">Jardiance 10</a> à <a href="https://ec.europa.eu/health/documents/community-register/2021/20210617152140/anx_152140_fr.pdf">25 mg</a> x 1/j
  </li>
</ul>
<p>Arrêt du traitement si baisse de l'HbA1c &lt; 0,5% à 3-6 mois (sauf maladie cardiovasculaire évoluée
  ou maladie rénale chronique où l'on maintient le traitement).</p>
<p>Molécules pour l'insuffisant cardiaque: dapagliflozine, empagliflozine à 10 mg/j (sotagliflozine non disponible en France).</p>