<div class="data-table" role="region" aria-labelledby="table-isrs-edc" tabindex="0">
  <table class="table table-wrap" itemscope itemtype="https://schema.org/Table">
  <caption id="table-isrs-edc" itemprop="about"><span class="font-weight-bold">Tableau.</span> Posologies des antidépresseurs inhibiteurs sélectifs de la recapture de la sérotonine (ISRS ou IRS) de référence disponibles en France en 2023 pour le traitement de l’épisode dépressif caractérisé.
    Dr JB Fron d’après BDPM, ACP 2023, HAS 2017 et BAP 2010.</caption>
    <thead>
      <tr>
        <th scope="col">Molécule ayant l’AMM</th>
        <th scope="col" class="text-right">Introduction (mg/j)</th>
        <th scope="col" class="text-right">Max</th>
        <th scope="col">Grossesse</th>
        <th scope="col">Avantages</th>
        <th scope="col">Inconvénients</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Citalopram</th>
        <td class="text-right">20</td>
        <td class="text-right">40</td>
        <td>Oui</td>
        <td></td>
        <td>Allong QTc</td>
      </tr>
      <tr>
        <th scope="row">Escitalopram</th>
        <td class="text-right">10</td>
        <td class="text-right">20</td>
        <td>Oui</td>
        <td>Peu d’interactions, sûr chez l’insuffisant cardiaque</td>
        <td>Allong QTc, demie-dose âgé</td>
      </tr>
      <tr>
        <th scope="row">Fluoxétine</th>
        <td class="text-right">20</td>
        <td class="text-right">60-80</td>
        <td>Oui</td>
        <td>Le plus étudié chez l'enfant</td>
        <td>Interactions</td>
      </tr>
      <tr>
        <th scope="row">Fluvoxamine</th>
        <td class="text-right">50</td>
        <td class="text-right">300</td>
        <td></td>
        <td></td>
        <td>Interactions</td>
      </tr>
      <tr>
        <th scope="row">Paroxétine</th>
        <td class="text-right">20</td>
        <td class="text-right">50</td>
        <td>Oui</td>
        <td>Ancienneté</td>
        <td>Prise de poids, sédation, interactions, sd de sevrage</td>
      </tr>
      <tr>
        <th scope="row">Sertraline</th>
        <td class="text-right">50</td>
        <td class="text-right">200</td>
        <td>Oui</td>
        <td>Ancienneté et peu d’interactions,<br>sûr chez l’insuffisant cardiaque</td>
        <td>Troubles digestifs</td>
      </tr>
    </tbody>
  </table>
</div>
<hr class="my-3">
<p>Pas de bilan paraclinique systématique (<em>CNEP</em>).</p>
<p>Surveiller la natrémie 1 semaine après l’introduction et à chaque changement de dose.</p>
<p>Les effets indésirables fréquents à l’introduction (troubles digestifs, vertiges, agitation) s’améliorent le plus souvent
  sous 2 semaines.</p>
<p>Effets indésirables de la classe: nausées, diarrhées, anorexie, agitation, insomnie, somnolence,
  troubles sexuels, hyponatrémie, syndrome de sevrage à l’arrêt.</p>
<blockquote lang="en">
  <p>HAS 2017, BAP 2010</p>
</blockquote>