<ul>
  <li>
    Formotérol + béclométasone
    <ul>
      <li>
        Formodual ou Innovair 6/100 µg<br />
        Nécessite coordination main-inspiration.
      </li>
      <li>Formodual ou Innovair Nexthaler 6/100 µg</li>
    </ul>
  </li>
  <li>
    Formotérol + budésonide
    <ul>
      <li>
        Symbicort Rapihaler 6/200 µg<br />
        Nécessite coordination main-inspiration.
      </li>
      <li>Duoresp Spiromax 4,5/160 µg ou 9/320 µg</li>
      <li>Gibiter Easyhaler 4,5/160 ou 9/320 µg</li>
      <li>Symbicort Turbuhaler 6/200 ou 12/400 µg</li>
    </ul>
  </li>
  <li>
    <strong>Salmétérol + fluticasone</strong><br />
    Seretide Diskus 50/100, 50/250 ou 50/500 µg.<br />
    Traitement de référence selon <em>Prescrire</em>.
  </li>
  <li>
    Vilantérol + fluticasone<br />
    Relvar ou Revinity Ellipta 22/92 µg
  </li>
</ul>