<ul>
  <li>
    Formotérol + béclométasone<br>
    <span class="text-black-secondary">Traitement de référence de l’asthme de l’adulte; autorisé chez l’enfant scolarisé 🧒.</span>
    <ul>
      <li>
        Béclométasone/formotérol <a href="https://bdpm.ansm.sante.fr/medicament/64896432/extrait#tab-rcp" rel="external nofollow noopener">100/6</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>
        Formodual ou Innovair <a href="https://bdpm.ansm.sante.fr/medicament/60130062/extrait#tab-rcp" rel="external nofollow noopener">100/6</a> ou <a href="https://bdpm.ansm.sante.fr/medicament/68340034/extrait#tab-rcp" rel="external nofollow noopener">200/6 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>Formodual ou Innovair Nexthaler <a href="https://bdpm.ansm.sante.fr/medicament/63389629/extrait#tab-rcp" rel="external nofollow noopener">100/6</a> ou <a href="https://bdpm.ansm.sante.fr/medicament/64495254/extrait#tab-rcp" rel="external nofollow noopener">200/6 µg</a></li>
    </ul>
  </li>
  <li>
    <mark>Formotérol + budésonide</mark><br>
    <span class="text-black-secondary">Traitement de référence de l’asthme; autorisé chez l’enfant scolarisé 🧒.</span>
    <ul>
      <li>
        Symbicort Rapihaler <a href="https://bdpm.ansm.sante.fr/medicament/65082080/extrait#tab-rcp" rel="external nofollow noopener">100/3 µg</a> et <a href="https://bdpm.ansm.sante.fr/medicament/66057945/extrait#tab-rcp" rel="external nofollow noopener">200/6 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li>Duoresp Spiromax <a href="https://ec.europa.eu/health/documents/community-register/2020/20200713148441/anx_148441_fr.pdf" rel="external nofollow noopener">160/4,5 µg</a> ou <a href="https://ec.europa.eu/health/documents/community-register/2020/20200713148441/anx_148441_fr.pdf" rel="external nofollow noopener">320/9 µg</a></li>
      <li>Gibiter Easyhaler <a href="https://bdpm.ansm.sante.fr/medicament/64579414/extrait#tab-rcp" rel="external nofollow noopener">160/4,5</a> ou <a href="https://bdpm.ansm.sante.fr/medicament/65441590/extrait#tab-rcp" rel="external nofollow noopener">320/9 µg</a></li>
      <li>Symbicort Turbuhaler <a href="https://bdpm.ansm.sante.fr/medicament/67916395/extrait#tab-rcp" rel="external nofollow noopener">100/6</a>, <a href="https://bdpm.ansm.sante.fr/medicament/61237448/extrait#tab-rcp" rel="external nofollow noopener">200/6</a> ou <a href="https://bdpm.ansm.sante.fr/medicament/64275087/extrait#tab-rcp" rel="external nofollow noopener">400/12 µg</a></li>
      <li>Âge: doses faibles | moyennes | élevées (en µg/j)</li>
      <li>Asthme 6-11 ans: 100-200 | 200-400 | 400-800</li>
    </ul>
  </li>
  <li>
    Indacatérol + mométasone<br>
    Atectura Breezhaler <a href="https://ec.europa.eu/health/documents/community-register/2020/20200530148013/anx_148013_fr.pdf" rel="external nofollow noopener">125/62,5</a>, 125/127,5 et 125/260 µg
  </li>
  <li>
    Salmétérol + fluticasone<br>
    <span class="text-black-secondary">Traitement de référence de la BPCO selon <em>Prescrire</em>; autorisé chez l’enfant scolarisé 🧒.</span>
    <ul>
      <li>Seretide Diskus <a href="https://bdpm.ansm.sante.fr/medicament/67546191/extrait#tab-rcp" rel="external nofollow noopener">100/50</a>, <a href="https://bdpm.ansm.sante.fr/medicament/61572165/extrait#tab-rcp" rel="external nofollow noopener">250/50</a> ou <a href="https://bdpm.ansm.sante.fr/medicament/60569419/extrait#tab-rcp" rel="external nofollow noopener">500/50 µg</a></li>
      <li>Âge: doses faibles | moyennes | élevées (en µg/j)</li>
      <li>Asthme 6-11 ans: 50-100 | 100-250 | 250-500</li>
    </ul>
  </li>
  <li>
    Vilantérol + fluticasone
    <ul>
      <li>Relvar Ellipta <a href="https://www.ema.europa.eu/fr/documents/product-information/relvar-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">92/22</a> ou <a href="https://www.ema.europa.eu/fr/documents/product-information/relvar-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">184/22 µg</a></li>
      <li>Revinty Ellipta <a href="https://www.ema.europa.eu/fr/documents/product-information/revinty-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">92/22</a> ou <a href="https://www.ema.europa.eu/fr/documents/product-information/revinty-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">184/22 µg</a></li>
    </ul>
  </li>
</ul>
<hr class="my-3">
<p class="text-black-secondary">Rincer la bouche après inhalation.</p>
<p class="text-black-secondary">Des inhalateurs séparés de LABA et CSI peuvent être utilisés pour la béclométasone ou le budésonide (privilégier la chambre d’inhalation).</p>
<hr class="my-3">
<p>Éléments de la balance bénéfice-risque des CSI: asthme, exacerbations fréquentes, pneumonies, éosinophilie.</p>