<ul>
  <li>
    Formotérol + glycopyrronium + béclométasone<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2021/20210407151230/anx_151230_fr.pdf">Trimbow 87/5/9 µg.</a><br>
    Nécessite coordination main-inspiration.
  </li>
  <li>
    Vilantérol + uméclidinium + fluticasone<br />
    <a href="https://ec.europa.eu/health/documents/community-register/2020/20200109146955/anx_146955_fr.pdf">Elebrato</a> ou <a href="https://ec.europa.eu/health/documents/community-register/2020/20200221147413/anx_147413_fr.pdf">Trelegy Ellipta 22/55/92 µg</a>
  </li>
</ul>
<p>Rincer la bouche après inhalation.</p>