<ul>
  <li>
    Fénotérol + ipratropium (2 à 4/j)<br>
    <a href="https://bdpm.ansm.sante.fr/medicament/62652340/extrait#tab-rcp" rel="external nofollow noopener">Bronchodual 50/20 µg.</a>
  </li>
  <li>
    Indacatérol + glycopyrronium (1/j)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/ultibro-breezhaler-epar-product-information_fr.pdf" rel="external nofollow noopener">Ultibro Breezhaler 85/43 µg</a>
  </li>
  <li>
    Olodatérol + tiotropium (1/j)<br>
    <a href="https://bdpm.ansm.sante.fr/medicament/63620349/extrait#tab-rcp" rel="external nofollow noopener">Spiolto Respimat 2,5/2,5 µg.</a><br>
    Nécessite coordination main-inspiration.
  </li>
  <li>
    Vilantérol + uméclidinium (1/j)
    <ul>
      <li><a href="https://www.ema.europa.eu/fr/documents/product-information/anoro-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">Anoro Ellipta 55/22 µg</a></li>
      <li><a href="https://www.ema.europa.eu/fr/documents/product-information/laventair-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">Laventair Ellipta 55/22 µg</a></li>
    </ul>
  </li>
</ul>