<ul>
  <li>
    Formotérol + glycopyrronium + béclométasone (remb. 30 %, prescription initiale par pneumologue)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/trimbow-epar-product-information_fr.pdf" rel="external nofollow noopener">Trimbow 88/5/9 µg.</a><br>
    Nécessite coordination main-inspiration.
  </li>
  <li>
    Formotérol + glycopyrronium + budésonide (remb. 30 %, EFR avant, consultation pneumologique l’année suivant la première prescription)<br>
    <a href="https://www.ema.europa.eu/fr/documents/product-information/trixeo-aerosphere-epar-product-information_fr.pdf" rel="external nofollow noopener">Trixeo Aerosphere 5/7,2/160 µg.</a>
  </li>
  <li>
    Vilantérol + uméclidinium + fluticasone (remb. 30 %, EFR avant, consultation pneumologique l’année suivant la première prescription)
    <ul>
      <li><a href="https://www.ema.europa.eu/fr/documents/product-information/elebrato-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">Elebrato Ellipta 22/55/92 µg</a></li>
      <li><a href="https://www.ema.europa.eu/fr/documents/product-information/trelegy-ellipta-epar-product-information_fr.pdf" rel="external nofollow noopener">Trelegy Ellipta 22/55/92 µg</a></li>
    </ul>
  </li>
</ul>
<p class="text-reset">Rincer la bouche après inhalation.</p>