<ul>
  <li>
    <strong>Formotérol</strong>
    <ul>
      <li>LABA de référence selon <em>Prescrire</em></li>
      <li>
        Formoair 12 µg<br />
        Nécessite coordination main-inspiration.
      </li>
      <li>Asmelor Novolizer 12 µg</li>
      <li>Foradil Aerolizer 12 µg</li>
    </ul>
  </li>
  <li>
    Indacatérol<br />
    Onbrez Breezhaler 150 ou 300 µg
  </li>
  <li>
    Olodatérol<br />
    Striverdi Respimat 2,5 µg<br />
    Nécessite coordination main-inspiration.
  </li>
  <li>
    <strong>Salmétérol</strong>
    <ul>
      <li>LABA de référence selon <em>Prescrire</em></li>
      <li>
        Serevent 25 µg<br />
        Nécessite coordination main-inspiration.
      </li>
      <li>Serevent Diskus 50 µg</li>
    </ul>
  </li>
</ul>