<ul>
  <li>
    Glycopyrronium<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2020/20201209150108/anx_150108_fr.pdf" rel="external nofollow noopener">Seebri Breezhaler 44 µg</a>
  </li>
  <li>
    <strong>Tiotropium</strong>
    <ul>
      <li>LAMA de référence selon <em>Prescrire</em></li>
      <li>
        <a href="https://bdpm.ansm.sante.fr/medicament/62828920/extrait#tab-rcp" rel="external nofollow noopener">Spiriva Respimat 2,5 µg</a><br>
        Nécessite coordination main-inspiration.
      </li>
      <li><a href="https://bdpm.ansm.sante.fr/medicament/60363967/extrait#tab-rcp" rel="external nofollow noopener">Spiriva Handihaler 18 µg</a><br>
      <strong>1 inhalation/j à heure fixe</strong>.</li>
    </ul>
  </li>
  <li>
    Uméclidinium<br>
    <a href="https://ec.europa.eu/health/documents/community-register/2020/20200924149303/anx_149303_fr.pdf" rel="external nofollow noopener">Incruse 55 µg</a>
  </li>
</ul>
<hr class="my-3">
<p>Bénéfice fonctionnel et de qualité de vie similaire aux LABA mais supériorité du tiotropium pour la prévention des exacerbations (SPLF 2021).</p>
<p>Effets indésirables classiques: vision trouble, mydriase, glaucome aigu,
  sécheresse buccale et oculaire, nausées, constipation, RGO, dysurie, bradycardie suivie de tachycardie,
  confusion, troubles de la mémoire et du comportement</p>
<p>Augmentation des évènements cardiovasculaires à long terme.</p>