<ul>
  <li>Antalgiques en abus chronique</li>
  <li>Antibiotiques<br>
  Aminosides, bêtalactamines, céphalosporines, fluoroquinolones, sulfamides, rifampicine, vancomycine.</li>
  <li>Anticancéreux<br>
  5-FU, ant-VEGF, bléomycine, cisplatine, gemcitabine, méthotrexate, mitomycine.</li>
  <li>Amphotéricine B</li>
  <li>Antiparasitaires<br>
  Pentamidine, quinine.</li>
  <li>Antirhumatismaux<br>
  AINS, allopurinol, biphosphonate IV.</li>
  <li>Antiviraux<br>
  Aciclovir, adéfovir, foscarnet, ganciclovir, ténofovir.</li>
  <li>Immunosuppresseurs<br>
  Ciclosporine, interféron, IL-2, tacrolimus, immunoglobulines.</li>
  <li>Cardiovasculaire<br>
  IEC/ARA2, aliskiren, dextran, diurétique de l'anse ou thiazidique, méthyldopa.</li>
  <li>Digestif<br>
  IPP, anti-H2, mésalazine.</li>
  <li>Hémostase<br>
  Clopidogrel, héparine, strptokinase, ténectéplase, warfarine.</li>
  <li>Endocrinien<br>
  Estrogènes, PTU.</li>
  <li>Neurologique<br>
  Carbamazépine, dérivés ergotés, lithium, phénytoïne, acide valproïque.</li>
</ul>
<blockquote>
  <p>
    <a href="https://www.vidal.fr/maladies/recommandations/prescription-et-populations-particulieres-medicaments-et-fonction-renale-4044.html"
      >Vidal. Principaux médicaments néphrotoxiques et lésions rénales induites. Néphrotoxicité des médicaments.</a
    >
  </p>
</blockquote>