<p>13 substances à &quot;marge thérapeutique étroite&quot; permettant de mentionner &quot;non substituable&quot; (<a href="https://www.legifrance.gouv.fr/eli/arrete/2019/11/12/SSAS1932504A/jo/texte">Arrêté du 12/11/2019</a>)</p>
<ul>
  <li>Antiépileptiques
  <ul>
  <li>Lamotrigine</li>
  <li>Lévétiracétam</li>
  <li>Prégabaline</li>
  <li>Topiramate</li>
  <li>Valproate de sodium</li>
  <li>Zonisamide</li>
  </ul>
  </li>
  <li>Immunosuppresseurs
  <ul>
  <li>Azathioprine</li>
  <li>Ciclosporine</li>
  <li>Mycophénolate sodique</li>
  <li>Mycophénolate mofétil</li>
  </ul>
  </li>
  <li>Lévothyroxine</li>
  <li>Buprénorphine</li>
  <li>Antinéoplasique évérolimus</li>
</ul>