<p>Traitement indiqué pour la fracture vertébrale si T-score ≤ -1:</p>
<ul>
  <li>Alendronate<br><span class="x">70 mg/sem ou 10 mg/j</span></li>
  <li>
    Risédronate<br><span class="x"
      >35 mg/sem ou 5 mg/j ou 75 mg 2 jours de suite 1 fois par mois</span
    >
  </li>
  <li>
    Zolédronate<br><span class="x"
      >5 mg IVL annuel avec ostéodensitométrie 1 an après la 3<sup>e</sup>
      perfusion</span
    >
  </li>
  <li>
    Raloxifène (faible risque de fracture périphérique)<br><span class="x"
      >60 mg/j (max 70 ans)</span
    >
  </li>
  <li>
    Romosozumab<br><span class="x"
      >Femme ménopausée &lt; 75 ans sans risque cardiovasculaire</span
    >
  </li>
  <li>
    Tériparatide (≥ 2 fractures vertébrales)<br><span class="x"
      >20 µg/j. Doit être prolongé par BP ou dénosumab</span
    >
  </li>
  <li>
    Traitement hormonal de la ménopause (THM)<br><span class="x"
      >Entre 50 et 60 ans si syndrome climatérique invalidant</span
    >
  </li>
</ul>
<p>
  Le dénosumab est utilisé en 2<sup>e</sup> intention en relais des
  bisphosphonates.
</p>
