<div class="data-table" role="region" aria-labelledby="table-pansements" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-pansements" itemprop="about"><span class="font-weight-bold">Tableau.</span> Choix du pansement selon le type de plaie.</caption>
  <thead>
    <tr>
      <th scope="col">Phase</th>
      <th scope="col">Plaie</th>
      <th scope="col">Pansement</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" scope="row">Toutes phases<br>(traitement non séquentiel)</th>
      <td>Chronique</td>
      <td>Hydrocolloïde</td>
    </tr>
    <tr>
      <td>Aiguë</td>
      <td>Hydrocellulaire³, hydrofibre³</td>
    </tr>
    <tr>
      <th rowspan="2" scope="row">Détersion<br>(traitement séquentiel)</th>
      <td>Chronique</td>
      <td>Alginate³, hydrogel</td>
    </tr>
    <tr>
      <td>Aiguë</td>
      <td>²</td>
    </tr>
    <tr>
      <th rowspan="2" scope="row">Bourgeonnement<br>(traitement séquentiel)</th>
      <td>Chronique</td>
      <td>Interface, hydrocellulaire³, vaseliné</td>
    </tr>
    <tr>
      <td>Aiguë</td>
      <td>Vaseliné</td>
    </tr>
    <tr>
      <th rowspan="2" scope="row">Épidermisation<br>(traitement séquentiel)<br></th>
      <td>Chronique</td>
      <td>Interface, hydrocolloïde</td>
    </tr>
    <tr>
      <td>Aiguë</td>
      <td>Interface</td>
    </tr>
  </tbody>
  </table>
</div>
<p>³: plaie très exsudative ; ² : aucun élément ne permet de recommander un
  type de pansement ; vaseliné = tulle gras</p>
<hr>
<h4 h4 class="typography-headline-6">Situations spécifiques</h4>
<p>Selon HAS 2011 et Euro-Pharmat:</p>
<ul>
  <li>Nécrose: hydrogel</li>
  <li>Peau fragile (maladie bulleuse): interface</li>
  <li>Prévention de l’infection: ²</li>
  <li>Plaie infectée: ² selon HAS, alginate ou hydrofibre selon Euro-Pharmat</li>
  <li>Plaie hémorragique: alginate</li>
  <li>Saignement cutané ou muqueux en cas de trouble de l’hémostase: Coalgan®</li>
  <li>Plaie malodorante: au charbon activé</li>
  <li>Hyperbourgeonnement: tulle gras et dermocorticoïde d’activité modérée</li>
</ul>
<hr>
<h4 class="typography-headline-6">Fiches de bon usage des pansements</h4>
<ul>
  <li><a href="https://www.euro-pharmat.com//pansements/download/182/93/50" rel="external nofollow noopener">Alginates</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/181/94/50" rel="external nofollow noopener">Charbon actif</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/178/191/50" rel="external nofollow noopener">Hydrocellulaire</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/179/192/50" rel="external nofollow noopener">Hydrocolloïde</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/177/193/50" rel="external nofollow noopener">Hydrofibre</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/176/194/50" rel="external nofollow noopener">Hydrogel</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/175/195/50" rel="external nofollow noopener">Interface</a></li>
  <li><a href="https://www.euro-pharmat.com//pansements/download/181/94/50" rel="external nofollow noopener">Vaseliné</a></li>
</ul>
<blockquote class="my-2">
  <p lang="en">
    <a href="https://www.has-sante.fr/upload/docs/application/pdf/2009-01/pansements_synthese_rapport.pdf" rel="external nofollow noopener"
      >HAS. Les pansements. Indications et utilisations recommandées. 2011. (PDF)</a
    >
  </p>
</blockquote>