<!-- Requirements: traitements/repulsifs -->
<ul>
  <li>Méthodes recommandées
  <ul>
  <li>Moustiquaire imprégnée d'insecticide (lit, berceau, poussette) dans les zones impaludées</li>
  <li>Moustiquaire non imprégnée (si insecticide impossible)</li>
  <li>Moustiquaires aux fenêtres et portes</li>
  <li><a role="button" data-toggle="modal" href="#modal-repulsifs" class="data-tooltip" title="Afficher dans une fenêtre de dialogue">Répulsifs cutanés</a> sur les parties non couvertes par les vêtements couvrants</li>
  </ul>
  </li>
  <li>Méthodes d'appoint
  <ul>
  <li>Diffuseur électrique et bombes d'intérieur</li>
  <li>Raquettes électriques</li>
  <li>Climatisation</li>
  <li>Ventilation</li>
  <li>Serpentin fumigène d'extérieur</li>
  </ul>
  </li>
</ul>