<h4 class="typography-headline-6">Caractéristiques d'une psychothérapie de soutien</h4>
<p>Une psychothérapie de soutien comprend:</p>
<ul>
<li>Empathie, confiance et soutien avec écoute active</li>
<li>Des actions:
<ul>
<li>un travail de réflexion: clarifier les problématiques, travailler sur l'histoire du sujet, ses émotions, ses perceptions, aider à la résolution de problèmes, etc., dans une dimension directive de conseil, d'information et d'explications</li>
<li>une restauration des investissements et des projets</li>
<li>une programmation précise de rendez-vous dans ce cadre</li>
</ul>
</li>
<li>Des collaborations:
<ul>
<li>une vérification et un maintien de l'alliance thérapeutique avec le patient</li>
<li>une relation collaborative impliquant le patient, le conjoint et/ou l'entourage de manière adaptée à la situation, et impliquant la construction d'objectifs communs</li>
<li>une prise en charge psychosociale si nécessaire</li>
<li>des aménagements du travail si nécessaire</li>
</ul>
</li>
</ul>
<blockquote>
<p>– <em>HAS. Épisode dépressif caractérisé de l'adulte : prise en charge en soins de premier recours. 2017.</em></p>
</blockquote>