<ul>
  <li>Régime pauvre en graisses animales, viandes rouges et transformées</li>
  <li>Huile d'olive, colza ou noix</li>
  <li>Légumes à chaque repas, légumineuses, fruits frais (+200 g/j)</li>
  <li>Fruits à coque (ex. noix, 30 g/j sans sel)</li>
  <li>Blé et céréales complètes</li>
  <li>Poissons x 2/semaine, dont 1 gras</li>
  <li>Consommation limitée en lait et produits laitiers</li>
  <li>Déconseiller: sodas, pâtisseries, sucreries, pains industriels, pâtes à tartiner</li>
</ul>
<blockquote class="mt-5">
  <p>AHA Stroke 2021, ESC CCS 2019 et ESC Hypertension 2018</p>
</blockquote>