<p>Caractéristiques du régime méditerranéen et d'une alimentation saine:</p>
<ul>
  <li>Régime pauvre en graisses animales, viandes rouges et transformées (viande max 350-500 g/sem)</li>
  <li>Huile d'olive, colza ou noix</li>
  <li>Légumes à chaque repas (+200 g/j), légumineuses, fruits frais (+200 g/j)</li>
  <li>Fruits à coque (ex. noix, 30 g/j sans sel)</li>
  <li>Blé et céréales complètes</li>
  <li>Poissons x 1-2/semaine, dont 1 gras</li>
  <li>Consommation limitée en lait et produits laitiers</li>
  <li>Déconseiller: sodas, jus de fruits, pâtisseries, sucreries, pains industriels, pâtes à tartiner</li>
  <li>Limiter l'alcool à 100 g/semaine (10 verres) et le sel à 5 g/j</li>
</ul>
<blockquote class="mt-5">
  <p>AHA Stroke 2021, ESC CVD 2021 et CCS 2019</p>
  <p><a href="https://www.bmj.com/content/380/bmj-2022-072003"> Karam G et al. Comparison of seven popular structured dietary programmes and risk of mortality and major cardiovascular events in patients at increased cardiovascular risk: systematic review and network meta-analysis. BMJ. 2023.</a></p>
</blockquote>