<div class="data-table" role="region" aria-labelledby="table-repulsifs" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-repulsifs" itemprop="about"><span class="font-weight-bold">Tableau.</span>
    Répulsifs disponibles pour la protection contre les piqûres d’arthropodes d’après Debboun M et al 2015.</caption>
  <thead>
    <tr>
      <th scope="col">Substance</th>
      <th scope="col" class="text-right">Concentrations ([C] en %)</th>
      <th scope="col">[C] si enfant</th>
      <th scope="col">[C] si grossesse</th>
      <th scope="col">Avantages</th>
      <th scope="col">Inconvénients</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DEET</th>
      <td class="text-right">30-50</td>
      <td>1-2 ans: 10%<br>puis normal</td>
      <td>≤ 30%</td>
      <td>Recul d’utilisation</td>
      <td>Huileux<br>Altère les plastiques<br>Irrite les yeux</td>
    </tr>
    <tr>
      <th scope="row">IR3535</th>
      <td class="text-right">20-35</td>
      <td>6-24 mois: 10-20% puis 35%</td>
      <td>≤ 20%</td>
      <td>Faible odeur<br>Non huileux<br>N’altère pas les plastiques<br>Efficace contre tiques</td>
      <td>Durée moindre sur<br>Anophèles quand ≤ 20%</td>
    </tr>
    <tr>
      <th scope="row">Icaridine</th>
      <td class="text-right">20-25</td>
      <td>+2 ans: 10-25 %</td>
      <td>≤ 20%</td>
      <td>Large spectre<br>Faible odeur<br>N’altère pas les plastiques</td>
      <td>Moins efficace<br>sur tiques, certaines anophèles<br>et culicoïdes</td>
    </tr>
    <tr>
      <th scope="row">Huile d’Eucalyptus dora<br>hydratée cyclisée</th>
      <td class="text-right">10-30</td>
      <td>À partir de 3 ans</td>
      <td>≤ 10%</td>
      <td>Large spectre</td>
      <td>Évaluation partielle<br>Durée moindre<br>Odeur forte<br>Irrite les yeux</td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote>
  <p lang="en">
    <a href="" rel="external nofollow noopener"
      >Répulsifs disponibles pour la protection contre les piqûres d’arthropodes. D’apres Debboun M., Frances SP., Strickman DA.
      Insect repellents handbook, CRC Press 2015 <!--TODO: HCSP 2022 n°23,30--></a
    >
  </p>
</blockquote>