<p>Anticholinergiques de courte durée d’action</p>
<ul>
  <li>
    Glycopyrronium<br>
    <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/69941269/extrait#tab-rcp-et-notice" rel="external nofollow noopener">Seebri Breezhaler 44 µg</a>
  </li>
  <li>
    Ipratropium<br>
    <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/66698997/extrait#tab-rcp" rel="external nofollow noopener">Atrovent 20 µg</a>
  </li>
  <li>
    Tiotropium
    <ul>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60363967/extrait#tab-rcp" rel="external nofollow noopener">Spiriva 18 µg</a></li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/62828920/extrait#tab-rcp" rel="external nofollow noopener">Spiriva Respimat 2,5 µg</a></li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61893609/extrait#tab-rcp" rel="external nofollow noopener">Tiotropium Eolip 18 µg</a></li>
      <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/63653114/extrait#tab-rcp" rel="external nofollow noopener">Tiotropium Viatris 18 µg</a></li>
    </ul>
  </li>
  <li>
    Uméclidinium<br>
    <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/68964304/extrait#tab-rcp-et-notice" rel="external nofollow noopener">Incruse Ellipta 55 µg</a>
  </li>
</ul>