<p>Aide au choix de la statine selon la réduction de LDL cholestérol visée.</p>
<div class="data-table" role="region" aria-labelledby="table-statines" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-statines" itemprop="about"><span class="font-weight-bold">Tableau.</span> Intensité des statines sur la réduction du LDL cholestérol (ACC/AHA)</caption>
  <thead>
    <tr>
      <th scope="col">Statine</th>
      <th scope="col" class="text-right">&lt; 30%</th>
      <th scope="col" class="text-right">30-49%</th>
      <th scope="col" class="text-right">≥ 50%</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Atorvastatine</th>
      <td></td>
      <td class="text-right">10-20</td>
      <td class="text-right">40-80</td>
    </tr>
    <tr>
      <th scope="row">Fluvastatine</th>
      <td class="text-right">20-40</td>
      <td class="text-right">40x2 ou LP 80</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Pitavastatine</th>
      <td class="text-right">1</td>
      <td class="text-right">2-4</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Pravastatine</th>
      <td class="text-right">10-20</td>
      <td class="text-right">40-80<br></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Rosuvastatine</th>
      <td></td>
      <td class="text-right">5-10</td>
      <td class="text-right">20-40</td>
    </tr>
    <tr>
      <th scope="row">Simvastatine</th>
      <td class="text-right">10</td>
      <td class="text-right">20-40</td>
      <td></td>
    </tr>
  </tbody>
  </table>
</div>
<p><strong>Contrôle du LDL 4-12 semaines</strong> après chaque changement de dose puis annuellement (<em>ADA 2023</em>).</p>
<p>Chez un diabétique +75 ans déjà traité par statine, il est raisonnable de poursuivre le traitement. Il pourrait être raisonnable de le faire s’il n’est pas traité (<em>ADA 2023</em>).</p>
<hr>
<ul>
  <li><b>Tolérance:</b> rosuvastatine et pravastatine (moins d’interactions) sont les mieux tolérées. (mais rosu induit plus de diabète qu’atorvastatine, <a href="https://www.bmj.com/content/383/bmj-2023-075837" rel="external nofollow noopener">Yong-Joon 2023</a>)</li>
  <li>Contre-indication à la prise de <strong>pamplemousse</strong></li>
  <li>En cas de myopathie ou rhabdomyolyse: suspendre puis réintroduire à faible dose (fonctionne dans 70-90 % des cas).</li>
  <li>En cas d’intolérance avérée, recours au fénofibrate</li>
</ul>
<p>Atorvastatine: possible en cas d’insuffisance rénale sévère (élimination hépatique). Contraception œstroprogestative: augmentation des concentrations en estrogènes.</p>
<p>Cibles non atteintes et risque cardiovasculaire élevé: ajouter l’ézétimibe (+ ator: Liptruzet®, Reselip® ; + rosu: Liporosa®, Suvreza®, Twicor®) voire les anti-PCSK9 sur avis cardiologique en cas de risque cardiovasculaire très élevé.</p>
<blockquote class="mt-5">
  <p class="font-italic">Doses en mg</p>
  <p lang="en">
    <a href="https://www.ncbi.nlm.nih.gov/books/NBK583661/" rel="external nofollow noopener"
      >Chou R et al. Statin Use for the Prevention of Cardiovascular Disease in Adults: A Systematic Review for the U.S. Preventive Services Task Force. Rockville (MD): Agency for Healthcare Research and Quality (US); 2022 Aug. (Evidence Syntheses, No. 219.) Table 1, Statin Dosing and ACC/AHA Classification of Intensity.</a
    > et ESC 2019 diabetes
  </p>
</blockquote>