<div class="data-table" role="region" aria-labelledby="table-statines" tabindex="0">
  <table class="table" itemscope itemtype="https://schema.org/Table">
  <caption id="table-statines" itemprop="about"><b>Tableau.</b> Intensité des statines sur la réduction du LDL cholestérol (ACC/AHA)</caption>
  <thead>
    <tr>
      <th scope="col">Statine</th>
      <th scope="col" class="text-right">&lt; 30%</th>
      <th scope="col" class="text-right">30-49%</th>
      <th scope="col" class="text-right">&ge; 50%</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Atorvastatine</th>
      <td></td>
      <td class="text-right">10-20</td>
      <td class="text-right">40-80</td>
    </tr>
    <tr>
      <th scope="row">Fluvastatine</th>
      <td class="text-right">20-40</td>
      <td class="text-right">40x2 ou LP 80</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Pitavastatine</th>
      <td class="text-right">1</td>
      <td class="text-right">2-4</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Pravastatine</th>
      <td class="text-right">10-20</td>
      <td class="text-right">40-80<br></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Rosuvastatine</th>
      <td></td>
      <td class="text-right">5-10</td>
      <td class="text-right">20-40</td>
    </tr>
    <tr>
      <th scope="row">Simvastatine</th>
      <td class="text-right">10</td>
      <td class="text-right">20-40</td>
      <td></td>
    </tr>
  </tbody>
  </table>
</div>
<blockquote class="mt-5">
  <p class="font-italic">
    Doses en mg
  </p>
  <p>
    <a href="https://www.ncbi.nlm.nih.gov/books/NBK396417/table/ch1.t1/"
      >Chou R, Dana T, Blazina I, et al. Statin Use for the Prevention of Cardiovascular Disease in Adults: A Systematic Review for the U.S. Preventive Services Task Force [Internet]. Rockville (MD): Agency for Healthcare Research and Quality (US); 2016 Nov. (Evidence Syntheses, No. 139.) Table 1, Statin Dosing and ACC/AHA Classification of Intensity. </a
    >
  </p>
</blockquote>