<ul>
  <li>Glibenclamide (éviter selon SFD 2025) <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/64922382/extrait#tab-rcp" rel="external nofollow noopener">2,5</a> ou <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/65433693/extrait#tab-rcp" rel="external nofollow noopener">5 mg</a> (Daonil, gén). <strong>Risque d’hypoglycémie ++</strong><br>
    Max 5 mg x 3/j.<br>
    Avec metformine: Glucovance <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/68942820/extrait#tab-rcp" rel="external nofollow noopener">500/2,5 mg</a>, <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/65940127/extrait#tab-rcp" rel="external nofollow noopener">500/5 mg</a> ou <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/63079915/extrait#tab-rcp" rel="external nofollow noopener">1000/5 mg.</a>
  </li>
  <li>Gliclazide <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/61138546/extrait#tab-rcp" rel="external nofollow noopener">30</a>, <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/68153561/extrait#tab-rcp" rel="external nofollow noopener">60</a> ou <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60707699/extrait#tab-rcp" rel="external nofollow noopener">80 mg</a><br>
    Max 120 mg le matin.</li>
  <li>Glimépiride <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/69506459/extrait#tab-rcp" rel="external nofollow noopener">1</a>, <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/65988645/extrait#tab-rcp" rel="external nofollow noopener">2</a>, <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/65035230/extrait#tab-rcp" rel="external nofollow noopener">3</a> ou <a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/68887103/extrait#tab-rcp" rel="external nofollow noopener">4 mg</a> (Amarel, gén)<br>
    Max 6 mg le matin.</li>
</ul>
<p>Arrêt du traitement si baisse de l’HbA1c &lt; 0,5% à 3-6 mois et cible non atteinte,<br>
  hypoglycémies répétées, insulinothérapie ou insuffisance rénale sévère.</p>
<p>Glimépiride et gliclazide ont une sûreté cardiovasculaire prouvée (<em>ESC 2023</em>).</p>
<hr>
<p>Éviter les sulfamides si:</p>
<ul>
  <li>+75 ans</li>
  <li>Conduite de véhicule</li>
  <li>Antécédents d’hypoglycémie</li>
  <li>Mauvaise perception des hypoglycémies</li>
  <li>Insuffisance rénale chronique</li>
  <li>Repas irréguliers</li>
</ul>
<p>L’auto-surveillance glycémique (ASG) peut être utile pour détecter des hypoglycémies.</p>
<hr>
<p class="mb-2">Effets indésirables: hypoglycémies (glibenclamide ++), prise de poids.<br>
La sécurité cardiovasculaire est moins bien établie que pour les iDDP4, iSGLT2 et RA GLP-1.</p>