<div
  class="data-table"
  role="region"
  tabindex="0"
  aria-labelledby="caption-immunization"
>
  <table
    id="table-immunization"
    itemscope=""
    itemtype="https://schema.org/Table"
    class="table table-wrap"
  >
    <caption id="caption-immunization" itemprop="about">
      <b>Tableau.</b>
      Âges limites du rattrapage vaccinal systématique en population générale
      selon le Calendrier vaccinal
    </caption>
    <thead>
      <tr>
        <th scope="col">Pathologie</th>
        <th scope="col" style="text-align: center">Âge limite de rattrapage</th>
        <th scope="col">Rattrapages étendus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Coqueluche</th>
        <td style="text-align: center">39 ans</td>
        <td>
          <a href="/recommandations/coqueluche/">Grossesse voire cocooning</a>
        </td>
      </tr>
      <tr>
        <th scope="row">Haemophilus</th>
        <td style="text-align: center">5 ans</td>
        <td><a href="/recommandations/asplenie/">Asplénie</a></td>
      </tr>
      <tr>
        <th scope="row">Hépatite B</th>
        <td style="text-align: center">15 ans</td>
        <td><a href="/recommandations/hepatite-b/">Hépatite B</a></td>
      </tr>
      <tr>
        <th scope="row">Méningocoque ACWY</th>
        <td style="text-align: center">Nourrisson: 24 mois (obligatoire)<br>
          (35 mois recommandés <em>HAS 2025</em>)<br>
          Adolescent: 24 ans</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Méningocoque B</th>
        <td style="text-align: center">Nourrisson: 24 mois (obligatoire)<br>
          (4 ans recommandés <em>HAS 2025</em>)<br>
          Adolescent: 15-24 ans souhaitant se faire vacciner (<em>HAS 2024</em>)</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Papillomavirus (HPV)</th>
        <td style="text-align: center">26 ans (<em>HAS 2025</em>)</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Pneumocoque</th>
        <td style="text-align: center">23 mois</td>
        <td>+65 ans, asplénie, BPCO, cancer, diabète …</td>
      </tr>
      <tr>
        <th scope="row">Rotavirus</th>
        <td style="text-align: center">4 mois</td>
        <td>Doit être terminé avant 24 semaines</td>
      </tr>
      <tr>
        <th scope="row">Rougeole<br>Oreillons<br>Rubéole</th>
        <td style="text-align: center">44 ans</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tuberculose</th>
        <td style="text-align: center"></td>
        <td>Lire <a href="/recommandations/tuberculose/">tuberculose</a></td>
      </tr>
      <tr>
        <th scope="row">Varicelle</th>
        <td style="text-align: center">18 ans</td>
        <td><a href="/recommandations/varicelle/">Autour d’un cas</a></td>
      </tr>
      <tr>
        <th scope="row">Zona</th>
        <td style="text-align: center">Aucune</td>
        <td><a href="/recommandations/zona/">À partir de 65 ans</a></td>
      </tr>
    </tbody>
  </table>
</div>
