<ul>
  <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/62756524/extrait#tab-rcp" rel="external nofollow noopener">Avaxim 160®</a><br>
  1 dose avec rappel à 6-12 mois (max 3 ans).</li>
  <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/60386414/extrait#tab-rcp" rel="external nofollow noopener">Havrix 1440®</a><br>
  1 dose avec rappel à 6-12 mois (max 5 ans).</li>
  <li><a href="https://base-donnees-publique.medicaments.gouv.fr/medicament/62087670/extrait#tab-rcp" rel="external nofollow noopener">Vaqta 50®</a><br>
  1 dose avec rappel à 6-18 mois.</li>
</ul>