<h4>Nouvelle primo-vaccination pneumocoque</h4>
<ul>
  <li>0-2 ans: voir <a href="/recommandations/examens-suivi-nourrisson/" rel="external nofollow noopener">Vaccins du nourrisson</a></li>
  <li>2-17: voir Calendrier vaccinal</li>
  <li>18 ans et plus: <a href="https://www.ema.europa.eu/fr/documents/product-information/prevenar-20-epar-product-information_fr.pdf" rel="external nofollow noopener">Prevenar20®</a> ou Capvaxive (bientôt) dose unique</li>
</ul>
<p>Cas des +18 ans ayant reçu Prevenar13® et/ou Pneumovax®:</p>
<ul>
  <li>Ayant reçu 1 seule dose de Prevenar13®/Pneumovax®: <a href="https://www.ema.europa.eu/fr/documents/product-information/prevenar-20-epar-product-information_fr.pdf" rel="external nofollow noopener">Prevenar20®</a> dose unique</li>
  <li>Ayant reçu le schéma Prevenar13® puis Pneumovax®: <a href="https://www.ema.europa.eu/fr/documents/product-information/prevenar-20-epar-product-information_fr.pdf" rel="external nofollow noopener">Prevenar20®</a> dose unique au moins 5 ans après le Pneumovax®</li>
</ul>